Repository primer/react, pull requests merged in 2020-04, with the labels that each got.

#736 Extract Dialog header into separate component
  docs/content/Dialog.md
  index.d.ts
  src/Dialog.js
  src/__tests__/Dialog.js
  src/__tests__/__snapshots__/Dialog.js.snap
Labels: major release

#716 Heading update (new default level and updated docs)
  docs/content/Heading.md
  index.d.ts
  src/Heading.js
  src/__tests__/Heading.js
Labels: fr-skip, major release

#729 Dropdown Refactor 🧹
  docs/content/Details.md
  docs/content/Dropdown.md
  index.d.ts
  src/Details.js
  src/Dropdown.js
  src/__tests__/Dropdown.js
  src/__tests__/__snapshots__/Dropdown.js.snap
Labels: major release, status: review needed

#600 SelectMenu
  docs/content/Buttons.md
  docs/content/SelectMenu.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  index.d.ts
  package.json
  src/ButtonTableList.js
  src/SelectMenu/SelectMenu.js
  src/SelectMenu/SelectMenuContext.js
  src/SelectMenu/SelectMenuDivider.js
  src/SelectMenu/SelectMenuFilter.js
  src/SelectMenu/SelectMenuFooter.js
  src/SelectMenu/SelectMenuHeader.js
  src/SelectMenu/SelectMenuItem.js
  src/SelectMenu/SelectMenuList.js
  src/SelectMenu/SelectMenuModal.js
  src/SelectMenu/SelectMenuTab.js
  src/SelectMenu/SelectMenuTabPanel.js
  src/SelectMenu/SelectMenuTabs.js
  src/SelectMenu/hooks/useKeyboardNav.js
  src/SelectMenu/index.js
  src/TextInput.js
  src/__tests__/SelectMenu.js
  src/__tests__/__snapshots__/TextInput.js.snap
  src/index.js
  src/utils/testing.js
  yarn.lock
Labels: major release

#735 Minor Release Tracking PR (currently 17.1.0)
  index.d.ts
  package.json
Labels: minor release

#769 Remove "Segoe UI Symbol" from font stack
  src/theme.js
Labels: major release

#751 More Visual Refresh Tweaks
  package.json
  src/ButtonStyles.js
  src/Label.js
  src/SelectMenu/SelectMenuHeader.js
  src/SelectMenu/SelectMenuList.js
  src/SelectMenu/SelectMenuTab.js
  src/SelectMenu/SelectMenuTabPanel.js
  src/SelectMenu/SelectMenuTabs.js
  src/SideNav.js
  src/UnderlineNav.js
  src/__tests__/__snapshots__/Button.js.snap
  src/__tests__/__snapshots__/Dropdown.js.snap
  src/__tests__/__snapshots__/Label.js.snap
  src/__tests__/__snapshots__/LabelGroup.js.snap
  src/__tests__/__snapshots__/SideNav.js.snap
  src/__tests__/__snapshots__/UnderlineNavLink.js.snap
  src/theme.js
  yarn.lock
Labels: minor release

#783 Fix typo 'Dropdown.Caret.propTpyes' to 'Dropdown.Caret.propTypes'
  src/Dropdown.js
Labels: fr-skip

#772 `text-align: center` on base button styles
  src/ButtonStyles.js
Labels: fr-skip, status: review needed
