Repository primer/react, pull requests merged in 2020-05, with the labels that each got.

#777 Flash refresh + Refactor
  docs/content/Flash.md
  index.d.ts
  src/Flash.js
  src/__tests__/Flash.js
  src/__tests__/__snapshots__/Flash.js.snap
  src/theme.js
  src/utils/deprecate.js
Labels: major release

#787 Allow SelectMenu.Item to be `a` or `button`
  docs/content/SelectMenu.md
  index.d.ts
  src/SelectMenu/SelectMenuItem.js
  src/__tests__/SelectMenu.js
Labels: minor release, status: review needed

#773 Avatar Changes
  docs/content/Avatar.mdx
  docs/content/AvatarStack.mdx
  index.d.ts
  src/Avatar.js
  src/AvatarPair.js
  src/AvatarStack.js
  src/__tests__/Avatar.js
  src/__tests__/__snapshots__/Avatar.js.snap
  src/__tests__/__snapshots__/AvatarStack.js.snap
  src/utils/testing.js
Labels: status: wip

#819 Fix system styles for buttons
  src/Button/Button.js
  src/Button/ButtonBase.js
  src/Button/ButtonDanger.js
  src/Button/ButtonOutline.js
  src/Button/ButtonPrimary.js
Labels: patch release
