Repository primer/react, pull requests merged in 2020-02, with the labels that each got.

#684 Fix .nvmrc syntax
  .nvmrc
Labels: developer experience

#687 Breadcrumb follow ups
  docs/content/Breadcrumbs.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  index.d.ts
  src/Breadcrumbs.js
  src/__tests__/BreadcrumbItem.js
  src/__tests__/Breadcrumbs.js
  src/__tests__/__snapshots__/BreadcrumbItem.js.snap
  src/index.js
Labels: minor release

#683 Release 15.2.4
  .nvmrc
  package.json
  src/Button.js
Labels: patch release

#693 Fix React error about bad links
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: docs
