Repository primer/react, pull requests merged in 2020-03, with the labels that each got.

#697 Refresh ✨
  docs/content/Label.md
  docs/package.json
  docs/yarn.lock
  package.json
  src/BorderBox.js
  src/Button.js
  src/ButtonBase.js
  src/ButtonDanger.js
  src/ButtonGroup.js
  src/ButtonOutline.js
  src/ButtonPrimary.js
  src/ButtonStyles.js
  src/Dropdown.js
  src/FilteredSearch.js
  src/Label.js
  src/SideNav.js
  src/StateLabel.js
  src/SubNav.js
  src/TabNav.js
  src/TextInput.js
  src/UnderlineNav.js
  src/__tests__/__snapshots__/BreadcrumbItem.js.snap
  src/__tests__/__snapshots__/Button.js.snap
  src/__tests__/__snapshots__/Dropdown.js.snap
  src/__tests__/__snapshots__/FilterListItem.js.snap
  src/__tests__/__snapshots__/Label.js.snap
  src/__tests__/__snapshots__/LabelGroup.js.snap
  src/__tests__/__snapshots__/PointerBox.js.snap
  src/__tests__/__snapshots__/SideNav.js.snap
  src/__tests__/__snapshots__/StateLabel.js.snap
  src/__tests__/__snapshots__/SubNavLink.js.snap
  src/__tests__/__snapshots__/TextInput.js.snap
  src/__tests__/__snapshots__/UnderlineNavLink.js.snap
  src/theme.js
Labels: major release

#714 Fix small spelling typo
  docs/content/getting-started.md
Labels: fr-skip

#715 Small typo fixes to PR template
  .github/pull_request_template.md
Labels: fr-skip

#704 Update Dropdown title type
  docs/content/Dropdown.md
  index.d.ts
  src/Dropdown.js
Labels: minor release

#712 [FIX] Remove z-index on focused button
  src/ButtonStyles.js
  src/__tests__/__snapshots__/Button.js.snap
  src/__tests__/__snapshots__/Dropdown.js.snap
Labels: minor release, status: wip

#719 Add Grid type definitions
  index.d.ts
Labels: minor release

#700 Timeline Component! 🔮
  docs/content/Timeline.md
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  index.d.ts
  package.json
  src/Timeline.js
  src/__tests__/Timeline.js
  src/__tests__/__snapshots__/Timeline.js.snap
  src/index.js
Labels: fr-skip, minor release

#720 Minor Release Tracking Issue
  index.d.ts
  package.json
  src/UnderlineNav.js
  src/__tests__/__snapshots__/BreadcrumbItem.js.snap
  src/__tests__/__snapshots__/FilterListItem.js.snap
  src/__tests__/__snapshots__/SubNavLink.js.snap
  src/__tests__/__snapshots__/UnderlineNavLink.js.snap
  src/theme.js
Labels: minor release

#727 Update UnderlineNav.Link prop type
  src/UnderlineNav.js
Labels: minor release

#662 Fix maxWidths in theme not being applied
  src/theme.js
Labels: major release

#703 feat(Popover): Add Popover component
  .github/workflows/bundlesize.yml
  docs/content/Popover.md
  docs/package.json
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  docs/yarn.lock
  index.d.ts
  package.json
  src/Popover.js
  src/__tests__/Popover.js
  src/__tests__/__snapshots__/BreadcrumbItem.js.snap
  src/__tests__/__snapshots__/FilterListItem.js.snap
  src/__tests__/__snapshots__/Popover.js.snap
  src/__tests__/__snapshots__/SubNavLink.js.snap
  src/__tests__/__snapshots__/UnderlineNavLink.js.snap
  src/index.js
  src/theme.js
Labels: minor release

#733 fix: SideNav.Link types is missing `selected`
  index.d.ts
Labels: minor release
