Repository primer/react, pull requests merged in 2021-11, with the labels that each got.

#1553 "fixes" a tsc error. Adds ts-toolbelt
  package-lock.json
  package.json
  src/__tests__/KeyPaths.types.test.ts
  src/utils/types/KeyPaths.ts
Labels: skip changeset

#1554 Fixes a TypeScript error in Button stories
  src/stories/Button.stories.tsx
Labels: skip changeset

#1551 Ensure that the build script returns an error code when a subcommand fails
  script/build
Labels: skip changeset

#1556 Add leadingVisual examples to Storybook for the Token component
  src/stories/Token.stories.tsx
Labels: skip changeset

#1587 Set our script to run with max-warnings=0
  docs/src/@primer/gatsby-theme-doctocat/components/hero.js
  docs/src/@primer/gatsby-theme-doctocat/components/live-preview-wrapper.js
  migrating.md
  package.json
  src/__tests__/TextInputWithTokens.test.tsx
Labels: skip changeset

#1586 Fix an AnchoredOverlay test to clean up snapshots
  src/__tests__/AnchoredOverlay.test.tsx
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
Labels: skip changeset

#1517 ActionList Composable API
  .changeset/tall-moles-smoke.md
  docs/content/ActionList2.mdx
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  package-lock.json
  package.json
  src/ActionList2/Description.tsx
  src/ActionList2/Divider.tsx
  src/ActionList2/Group.tsx
  src/ActionList2/Header.tsx
  src/ActionList2/Item.tsx
  src/ActionList2/LinkItem.tsx
  src/ActionList2/List.tsx
  src/ActionList2/Selection.tsx
  src/ActionList2/Visuals.tsx
  src/ActionList2/index.ts
  src/__tests__/ActionList2.test.tsx
  src/__tests__/__snapshots__/ActionList2.test.tsx.snap
  src/__tests__/utils/__snapshots__/createSlots.test.tsx.snap
  src/__tests__/utils/createSlots.test.tsx
  src/stories/ActionList2.stories.tsx
  src/sx.ts
  src/theme-preval.js
  src/unreleased.ts
  src/utils/create-slots.tsx
  src/utils/use-force-update.ts
Labels: react

#1594 Fix typos in TypeScript docs
  docs/content/getting-started.md
Labels: docs, skip changeset

#1599 ActionList: Better label & description for Item
  .changeset/action-list-description-a11y.md
  src/ActionList2/Item.tsx
  src/stories/ActionList2.stories.tsx
Labels: a11y, react

#1603 ActionList: Add keyboard accessibility
  .changeset/actionlist-keyboard-a11y.md
  src/ActionList2/Item.tsx
  src/stories/ActionList2.stories.tsx
Labels: a11y, react

#1610 Set up a next_major release
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
Labels: skip changeset

#1609 Rename unreleased to drafts to avoid confusion
  .changeset/young-ties-fix.md
  docs/content/ActionList2.mdx
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  src/drafts.ts
Labels: docs, react

#1618 Fix a few typescript issues in ActionList2 stories
  src/stories/ActionList2.stories.tsx
Labels: skip changeset

#1588 Separate typechecking and building type declarations
  .github/workflows/ci.yml
  package.json
  script/build
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Labels: skip changeset

#1532 New Button component
  src/Dialog/Dialog.tsx
  src/NewButton/button-counter.tsx
  src/NewButton/button.tsx
  src/NewButton/index.ts
  src/NewButton/types.ts
  src/__tests__/NewButton.test.tsx
  src/__tests__/__snapshots__/NewButton.test.tsx.snap
  src/drafts.ts
  src/index.ts
  src/stories/NewButton.stories.tsx
Labels: react, skip changeset

#1623 Button: Fix icon-only button
  src/NewButton/button.tsx
  src/__tests__/NewButton.test.tsx
  src/__tests__/__snapshots__/NewButton.test.tsx.snap
Labels: skip changeset

#1624 Update ActionList2.mdx
  docs/content/ActionList2.mdx
Labels: skip changeset

#1601 ActionList: Use icon instead of input for multiple selection
  .changeset/action-list-selection-a11y.md
  src/ActionList/Item.tsx
  src/ActionList2/Item.tsx
  src/ActionList2/Selection.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: a11y, react

#1629 ActionList: Visual update for disabled Items
  .changeset/actionlist-disabled-items.md
  src/ActionList2/Description.tsx
  src/ActionList2/Item.tsx
Labels: react

#1626 Create `ComponentChecklist` component
  docs/content/Box.mdx
  docs/src/component-checklist.js
Labels: react, skip changeset

#1486 Add focus and hover colors to all themes in Item using functional variables
  .changeset/serious-donkeys-clean.md
  package-lock.json
  package.json
  src/ActionList/Item.tsx
  src/__tests__/__snapshots__/ActionList.test.tsx.snap
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: react

#1627 Remove the ts-ignore, use merge.all and fix the sxprop
  src/NewButton/button.tsx
  src/__tests__/__snapshots__/NewButton.test.tsx.snap
Labels: react, skip changeset

#1598 ActionList: Correct semantics for Groups
  .changeset/action-list-groups-a11y.md
  docs/content/ActionList2.mdx
  src/ActionList2/Group.tsx
  src/ActionList2/List.tsx
  src/stories/ActionList2.stories.tsx
Labels: a11y, react

#1636 Exclude the next_major changeset release from canary releases.
  .github/workflows/release_canary.yml
Labels: skip changeset

#1612 Release Tracking (next)
  .changeset/pre.json
  CHANGELOG.md
  package.json
Labels: skip changeset

#1637 Revert "Release Tracking (next)"
  .changeset/pre.json
  CHANGELOG.md
  package.json
Labels: skip changeset

#1642 Remove workflow configurations for next_major
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
Labels: skip changeset

#1645 Updates doctocat dependency to 3.0.1
  docs/package-lock.json
  docs/package.json
Labels: skip changeset

#1606 Add Checkbox form component
  .changeset/angry-zebras-whisper.md
  docs/content/Checkbox.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/Checkbox.tsx
  src/__tests__/Checkbox.test.tsx
  src/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/index.ts
  src/stories/Checkbox.stories.tsx
Labels: minor release, new component

#1653 Snapshot test theme-preval.js
  src/__tests__/__snapshots__/themePreval.test.ts.snap
  src/__tests__/themePreval.test.ts
Labels: skip changeset

#1602 ActionList: test stories for axe violations
  src/ActionList2/List.tsx
  src/__tests__/ActionList2.test.tsx
  src/stories/ActionList2.stories.tsx
  src/utils/testing.tsx
Labels: a11y, react, skip changeset

#1656 Create component status page
  docs/content/ActionList2.mdx
  docs/content/Avatar.mdx
  docs/content/AvatarStack.mdx
  docs/content/BranchName.md
  docs/content/Breadcrumbs.md
  docs/content/Buttons.md
  docs/content/CircleBadge.md
  docs/content/CircleOcticon.md
  docs/content/CounterLabel.md
  docs/content/Details.md
  docs/content/Dialog.md
  docs/content/Dialog2.mdx
  docs/content/Dropdown.md
  docs/content/DropdownMenu.mdx
  docs/content/FilterList.md
  docs/content/FilteredSearch.md
  docs/content/Flash.md
  docs/content/FormGroup.md
  docs/content/Header.md
  docs/content/Heading.md
  docs/content/Label.md
  docs/content/LabelGroup.md
  docs/content/Link.md
  docs/content/Overlay.mdx
  docs/content/Pagehead.md
  docs/content/Pagination.md
  docs/content/PointerBox.md
  docs/content/Popover.md
  docs/content/Portal.mdx
  docs/content/Position.md
  docs/content/ProgressBar.mdx
  docs/content/SelectMenu.md
  docs/content/SideNav.md
  docs/content/StateLabel.md
  docs/content/StyledOcticon.md
  docs/content/SubNav.md
  docs/content/TabNav.md
  docs/content/Text.md
  docs/content/TextInput.md
  docs/content/TextInputTokens.mdx
  docs/content/Timeline.md
  docs/content/Tooltip.md
  docs/content/Truncate.md
  docs/content/UnderlineNav.md
  docs/content/status.mdx
  docs/src/@primer/gatsby-theme-doctocat/mdx-components.js
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  docs/src/component-statuses.js
Labels: docs, react, skip changeset

#1662 ActionList v2: Add component maturity checklist
  docs/content/ActionList2.mdx
Labels: docs, react, skip changeset

#1663 ActionList v2: 100% test coverage
  src/ActionList2/Header.tsx
  src/ActionList2/Item.tsx
  src/__tests__/ActionList2.test.tsx
  src/stories/ActionList2.stories.tsx
  src/utils/testing.tsx
Labels: react, skip changeset

#1668 ActionList: Fix multiple selection svg by overriding global shape-rendering for github.com
  .changeset/actionlist-fix-selection-rendering.md
  src/ActionList/Item.tsx
  src/ActionList2/Selection.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: patch release, react

#1669 Rename "component statuses" to "component status"
  docs/content/status.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: skip changeset

#1644 Removes mentions of styled system props from the CONTRIBUTING doc.
  contributor-docs/CONTRIBUTING.md
Labels: skip changeset
