Repository primer/react, pull requests merged in 2021-12, with the labels that each got.

#1619 Composable ActionMenu draft
  .changeset/composable-actionmenu.md
  docs/content/drafts/ActionList2.mdx
  docs/content/drafts/ActionMenu2.mdx
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  src/ActionList2/Divider.tsx
  src/ActionList2/Item.tsx
  src/ActionList2/List.tsx
  src/ActionList2/MenuContext.tsx
  src/ActionList2/Selection.tsx
  src/ActionMenu2.tsx
  src/drafts.ts
  src/stories/ActionMenu2.stories.tsx
Labels: API, react

#1672 Add workflow to automate component status board updates
  .github/workflows/statuses.yml
  .gitignore
  package-lock.json
  package.json
  script/component-status-project/build.ts
  script/component-status-project/deploy.rb
  tsconfig.build.json
  tsconfig.json
Labels: skip changeset

#1670 Update component checklist
  docs/src/component-checklist.js
Labels: skip changeset

#1538 bump typescript package to latest version
  .changeset/typescript-bump.md
  package-lock.json
  package.json
Labels: dependencies

#1681 Update to node 16
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
  .nvmrc
  package.json
Labels: react, skip changeset

#1671 Introduces a PropsTable docs component
  docs/content/Link.md
  docs/content/Link.mdx
  docs/content/TextInput.md
  docs/content/TextInput.mdx
  docs/src/@primer/gatsby-theme-doctocat/mdx-components.js
  docs/src/props-table.js
  docs/src/props.js
Labels: skip changeset

#1691 Use reusable release_canary workflow
  .github/workflows/release_canary.yml
Labels: skip changeset

#1694 Use reusable release workflows
  .github/workflows/release.yml
  .github/workflows/release_candidate.yml
Labels: skip changeset

#1675 ActionMenu.Overlay for ActionMenu v2
  .changeset/actionmenu-overlay.md
  docs/content/drafts/ActionMenu2.mdx
  src/ActionList2/ActionListContainerContext.tsx
  src/ActionList2/Item.tsx
  src/ActionList2/List.tsx
  src/ActionList2/MenuContext.tsx
  src/ActionList2/Selection.tsx
  src/ActionMenu2.tsx
  src/hooks/index.ts
  src/stories/ActionMenu2.stories.tsx
Labels: react

#1699 ActionList v2 Docs: Remove copy pasta line from story
  docs/content/drafts/ActionList2.mdx
Labels: docs, react, skip changeset

#1693 Remove dead links from the CONTRIBUTING table of contents
  contributor-docs/CONTRIBUTING.md
Labels: skip changeset

#1702 Update component docs (AnchoredOverlay, Avatar, AvatarStack, Box, BranchName, Breadcrumbs)
  .changeset/polite-trees-wink.md
  docs/content/AnchoredOverlay.mdx
  docs/content/Avatar.mdx
  docs/content/AvatarPair.mdx
  docs/content/AvatarStack.mdx
  docs/content/Box.mdx
  docs/content/BranchName.md
  docs/content/BranchName.mdx
  docs/content/Breadcrumbs.mdx
  docs/src/@primer/gatsby-theme-doctocat/mdx-components.js
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  docs/src/props-table.js
  src/BranchName.tsx
  src/__tests__/__snapshots__/BranchName.test.tsx.snap
Labels: react

#1676 Rename npm package to `@primer/react`
  .changeset/rude-vans-guess.md
  README.md
  docs/components/constants.js
  docs/content/Autocomplete.mdx
  docs/content/Avatar.mdx
  docs/content/AvatarPair.mdx
  docs/content/AvatarStack.mdx
  docs/content/Box.mdx
  docs/content/BranchName.mdx
  docs/content/Breadcrumbs.mdx
  docs/content/Link.mdx
  docs/content/Portal.mdx
  docs/content/SelectMenu.md
  docs/content/Spinner.mdx
  docs/content/TextInput.mdx
  docs/content/TextInputWithTokens.mdx
  docs/content/Token.mdx
  docs/content/drafts/ActionList2.mdx
  docs/content/drafts/ActionMenu2.mdx
  docs/content/getting-started.md
  docs/content/index.md
  docs/content/primer-theme.md
  docs/content/ssr.mdx
  docs/content/theme-reference.md
  docs/content/theming.md
  docs/gatsby-config.js
  docs/src/@primer/gatsby-theme-doctocat/components/hero.js
  docs/src/@primer/gatsby-theme-doctocat/components/live-preview-wrapper.js
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  docs/src/@primer/gatsby-theme-doctocat/mdx-components.js
  docs/src/component-checklist.js
  docs/src/component-statuses.js
  docs/src/props-table.js
  docs/src/props.js
  package-lock.json
  package.json
  src/drafts.ts
Labels: react, do not merge

#1705 Move deprecated components to a folder
  docs/content/deprecated/BorderBox.md
  docs/content/deprecated/Dialog.md
  docs/content/deprecated/Dropdown.md
  docs/content/deprecated/Flex.md
  docs/content/deprecated/Grid.md
  docs/content/deprecated/Position.md
  docs/content/deprecated/SelectMenu.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: docs, react, skip changeset

#1674 ActionMenu v2: Add a note about note using it for selection
  docs/content/drafts/ActionMenu2.mdx
Labels: skip changeset

#1683 Visual testing: Add chromatic to the repo
  .github/workflows/visual_testing.yml
  package-lock.json
  package.json
Labels: skip changeset

#1719 Add side effects false to package.json
  package.json
Labels: skip changeset

#1723 Bump Doctocat to 3.1.0
  docs/package-lock.json
  docs/package.json
  package-lock.json
Labels: skip changeset

#1659 Button: enhancements with ButtonLink and IconButton
  src/NewButton/button-base.tsx
  src/NewButton/button-link.tsx
  src/NewButton/button.tsx
  src/NewButton/icon-button.tsx
  src/NewButton/index.ts
  src/NewButton/styles.ts
  src/NewButton/types.ts
  src/__tests__/NewButton.test.tsx
  src/__tests__/__snapshots__/NewButton.test.tsx.snap
  src/stories/NewButton.stories.tsx
Labels: react, skip changeset

#1725 ActionMenu v2: 100% test coverage
  src/ActionList2/Selection.tsx
  src/ActionMenu2.tsx
  src/__tests__/ActionMenu2.test.tsx
  src/__tests__/__snapshots__/ActionMenu2.test.tsx.snap
Labels: react, skip changeset

#1734 Button v2 - Fix font family
  .changeset/tiny-cows-fold.md
  src/NewButton/styles.ts
  src/__tests__/__snapshots__/NewButton.test.tsx.snap
Labels: react

#1661 Text Input enhancements
  .changeset/clever-shrimps-search.md
  docs/content/TextInput.mdx
  src/TextInput.tsx
  src/TextInputWithTokens.tsx
  src/_TextInputWrapper.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/stories/TextInput.stories.tsx
Labels: react

#1726 Chromatic: auto accept main as baseline
  .github/workflows/visual_testing.yml
Labels: react, skip changeset

#1738 Rename github_token to gh_token to reusuable workflows
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
Labels: skip changeset

#1724 Export FocusKeys enum
  src/hooks/useFocusZone.ts
Labels: skip changeset

#1744 Add component ids to component pages
  docs/content/AnchoredOverlay.mdx
  docs/content/Autocomplete.mdx
  docs/content/AvatarPair.mdx
  docs/content/AvatarStack.mdx
  docs/content/Box.mdx
  docs/content/BranchName.mdx
  docs/content/Breadcrumbs.mdx
  docs/content/Buttons.md
  docs/content/Checkbox.md
  docs/content/CircleBadge.md
  docs/content/CircleOcticon.md
  docs/content/CounterLabel.md
  docs/content/Details.md
  docs/content/DropdownMenu.mdx
  docs/content/FilterList.md
  docs/content/FilteredSearch.md
  docs/content/Flash.md
  docs/content/FormGroup.md
  docs/content/Header.md
  docs/content/Heading.md
  docs/content/Label.md
  docs/content/LabelGroup.md
  docs/content/Link.mdx
  docs/content/Overlay.mdx
  docs/content/Pagehead.md
  docs/content/Pagination.md
  docs/content/PointerBox.md
  docs/content/Popover.md
  docs/content/Portal.mdx
  docs/content/ProgressBar.mdx
  docs/content/Radio.md
  docs/content/SelectPanel.mdx
  docs/content/SideNav.md
  docs/content/StateLabel.md
  docs/content/StyledOcticon.md
  docs/content/SubNav.md
  docs/content/TabNav.md
  docs/content/Text.md
  docs/content/TextInput.mdx
  docs/content/TextInputWithTokens.mdx
  docs/content/Timeline.md
  docs/content/Token.mdx
  docs/content/Tooltip.md
  docs/content/Truncate.md
  docs/content/UnderlineNav.md
  docs/content/deprecated/BorderBox.md
  docs/content/deprecated/Flex.md
  docs/content/deprecated/Grid.md
  docs/content/deprecated/Position.md
Labels: skip changeset

#1714 Docs: Add deprecation section on Dialog to use Dialog2
  docs/content/deprecated/Dialog.md
Labels: docs, react, skip changeset

#1678 Propose a new file structure (ADR)
  contributor-docs/adrs/adr-XXX-file-structure.md
Labels: react, skip changeset

#1740 Update prop norm ADR to status: adopted
  contributor-docs/adrs/adr-003-prop-norms.md
Labels: skip changeset

#1748 metadata: Add componentId to ActionList and ActionMenu for status page
  docs/content/ActionList.mdx
  docs/content/ActionMenu.mdx
  docs/content/drafts/ActionList2.mdx
  docs/content/drafts/ActionMenu2.mdx
Labels: react, skip changeset

#1749 Hotfix: Fix status page by add missing status on ActionMenu v1
  docs/content/ActionMenu.mdx
Labels: skip changeset

#1717 Update component docs (CircleBadge, Flash)
  docs/content/CircleBadge.md
  docs/content/CircleBadge.mdx
  docs/content/Flash.md
  docs/content/Flash.mdx
  docs/src/props-table.js
Labels: skip changeset

#1611 Input field components - text, checkbox, radio
  .changeset/afraid-tips-smile.md
  docs/content/Checkbox.md
  docs/content/ChoiceInputField.mdx
  docs/content/InputField.mdx
  docs/content/Radio.md
  docs/package-lock.json
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  package-lock.json
  package.json
  src/Autocomplete/AutocompleteInput.tsx
  src/Autocomplete/AutocompleteMenu.tsx
  src/ChoiceInputField.tsx
  src/InputField/InputField.tsx
  src/InputField/_InputFieldCaption.tsx
  src/InputField/_InputFieldLabel.tsx
  src/InputField/_InputFieldValidation.tsx
  src/InputField/index.ts
  src/InputField/slots.ts
  src/_ChoiceInputLeadingVisual.tsx
  src/_InputCaption.tsx
  src/_InputLabel.tsx
  src/_InputValidation.tsx
  src/_ValidationAnimationContainer.tsx
  src/_VisuallyHidden.tsx
  src/__tests__/ChoiceInputField.test.tsx
  src/__tests__/InputField.test.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/index.ts
  src/stories/ChoiceInputField.stories.tsx
  src/stories/InputField.stories.tsx
  src/utils/types/FormValidationStatus.ts
Labels: react

#1634 Docs for the new button
  docs/content/drafts/Button2.mdx
  docs/content/drafts/IconButton.mdx
  docs/content/drafts/LinkButton.mdx
  src/Button2/Button.tsx
  src/Button2/Button2.stories.tsx
  src/Button2/ButtonBase.tsx
  src/Button2/ButtonCounter.tsx
  src/Button2/ButtonLink.tsx
  src/Button2/IconButton.tsx
  src/Button2/LinkButton.tsx
  src/Button2/index.ts
Labels: react, skip changeset

#1708 Update component docs (Header, Radio, Checkbox, Heading, Label, LabelGroup)
  docs/content/Checkbox.mdx
  docs/content/Header.mdx
  docs/content/Heading.md
  docs/content/Heading.mdx
  docs/content/Label.md
  docs/content/Label.mdx
  docs/content/LabelGroup.md
  docs/content/LabelGroup.mdx
  docs/content/Radio.mdx
Labels: skip changeset

#1754 Fix title and subtitle tag for Dialog2 and ConfirmationDialog
  .changeset/dialogs-title-tag.md
  src/Dialog/ConfirmationDialog.tsx
  src/Dialog/Dialog.tsx
Labels: patch release, accessibility, react
