Repository primer/react, pull requests merged in 2022-05, with the labels that each got.

#2053 Namespace UnderlineNav
  .changeset/quick-toys-fly.md
  package-lock.json
  src/UnderlineNav.tsx
  src/__tests__/UnderlineNav.test.tsx
  src/__tests__/__snapshots__/UnderlineNav.test.tsx.snap
  src/__tests__/__snapshots__/UnderlineNavLink.test.tsx.snap
Labels: patch release

#2058 Implement NavList component (part 1)
  .changeset/breezy-cooks-destroy.md
  docs/content/NavList.mdx
  src/ActionList/Visuals.tsx
  src/NavList/NavList.test.tsx
  src/NavList/NavList.tsx
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/NavList/index.ts
  src/drafts/index.ts
Labels: react

#2048 ThemeProvider: Fix theme sync with system settings
  .changeset/wicked-boats-allow.md
  .storybook/preview.js
  src/ThemeProvider.tsx
  src/stories/ThemeProvider.stories.tsx
Labels: patch release, react

#2064 Implement NavList.SubNav
  .changeset/strong-nails-sip.md
  docs/content/ActionList.mdx
  docs/content/NavList.mdx
  package-lock.json
  package.json
  src/ActionList/Item.tsx
  src/ActionList/LinkItem.tsx
  src/NavList/NavList.stories.tsx
  src/NavList/NavList.test.tsx
  src/NavList/NavList.tsx
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/PageLayout/PageLayout.stories.tsx
  src/utils/test-matchers.tsx
Labels: react

#2063 Update issue templates for this repo to include redirects to pattern …
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new_component_proposal_template.md
Labels: skip changeset

#2080 ActionMenu: adjust width based on padding
  src/ActionList/Item.tsx
  src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: bug, skip changeset

#2091 Uncomment docs deployment guard
  .github/workflows/deploy_production.yml
Labels: docs, react, skip changeset

#2092 Revert accessible Tooltip + IconButton
  .changeset/iconbutton-default-tooltip.md
  .changeset/improved-tooltip.md
  docs/content/IconButton.mdx
  docs/content/Tooltip.md
  docs/content/Tooltip.mdx
  package-lock.json
  package.json
  src/Button/Button.stories.tsx
  src/Button/IconButton.tsx
  src/Button/types.ts
  src/Tooltip.tsx
  src/Tooltip/index.tsx
  src/_TextInputInnerAction.tsx
  src/__tests__/ActionMenu.test.tsx
  src/__tests__/Button.test.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/Tooltip.test.tsx
  src/__tests__/Tooltip.types.test.tsx
  src/__tests__/__snapshots__/Button.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/Tooltip.test.tsx.snap
  src/__tests__/hooks/useAnchoredPosition.test.tsx
  src/index.ts
  src/stories/ActionMenu/fixtures.stories.tsx
  src/stories/Tooltip.stories.tsx
  src/stories/Tooltip/examples.stories.tsx
  src/stories/Tooltip/fixtures.stories.tsx
  src/stories/behaviors-anchored-position.stories.tsx
Labels: react

#2056 Release tracking
  .changeset/breezy-cooks-destroy.md
  .changeset/cold-pillows-protect.md
  .changeset/dry-feet-attack.md
  .changeset/empty-geese-return.md
  .changeset/gentle-countries-rest.md
  .changeset/grumpy-crabs-compete.md
  .changeset/happy-brooms-swim.md
  .changeset/silent-falcons-exist.md
  .changeset/six-mirrors-call.md
  .changeset/strong-nails-sip.md
  .changeset/tame-swans-rush.md
  .changeset/wicked-boats-allow.md
  CHANGELOG.md
  package.json
Labels: patch release

#2095 Set aria-multiselectable in SelectPanel
  .changeset/slimy-rabbits-try.md
  src/SelectPanel/SelectPanel.tsx
Labels: react

#2093 Reduce storybook build time in CI to < 2 mins
  .storybook/main.js
  package-lock.json
  package.json
Labels: docs, skip changeset

#2081 Adds draft SegmentedControl docs
  docs/content/SegmentedControl.mdx
Labels: skip changeset
