Repository primer/react, pull requests merged in 2022-07, with the labels that each got.

#2177 Skip commonjs transform for storybook
  babel.config.js
  package-lock.json
  package.json
  script/build-storybook
Labels: react, skip changeset

#2171 Updated StateLabel to include `issueClosedNotPlanned` and fix `issueClosed` colour
  .changeset/chilly-frogs-act.md
  docs/content/StateLabel.md
  src/StateLabel.tsx
  src/__tests__/StateLabel.test.tsx
  src/__tests__/__snapshots__/StateLabel.test.tsx.snap
Labels: react

#2164 SegmentedControl variant prop
  .changeset/pretty-students-judge.md
  docs/content/SegmentedControl.mdx
  package-lock.json
  package.json
  src/SegmentedControl/SegmentedControl.test.tsx
  src/SegmentedControl/SegmentedControl.tsx
  src/SegmentedControl/SegmentedControlButton.tsx
  src/SegmentedControl/SegmentedControlIconButton.tsx
  src/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
  src/SegmentedControl/examples.stories.tsx
  src/SegmentedControl/fixtures.stories.tsx
  src/SegmentedControl/getSegmentedControlStyles.ts
  src/__tests__/hooks/useMatchMedia.test.tsx
  src/hooks/useMatchMedia.ts
  src/utils/types/ViewportRangeKeys.ts
Labels: react

#2174 PageLayout: Implement responsive `hidden` prop
  .changeset/empty-garlics-clean.md
  docs/content/PageLayout.mdx
  package.json
  src/PageLayout/PageLayout.test.tsx
  src/PageLayout/PageLayout.tsx
  src/__tests__/hooks/useResponsiveValue.test.tsx
  src/__tests__/hooks/useResponsiveValues.types.test.tsx
  src/hooks/useMedia.ts
  src/hooks/useResponsiveValue.ts
Labels: react

#2166 Button should respect polymorphic as prop
  .changeset/odd-donuts-raise.md
  docs/content/Button.mdx
  src/Button/Button.stories.tsx
  src/Button/Button.tsx
  src/Button/types.ts
  src/__tests__/Button.test.tsx
Labels: react

#2172 [passion week] Interaction tests with storybook's play function
  .github/workflows/storybook-tests.yml
  .storybook/main.js
  contributor-docs/storybook-tests.md
  package-lock.json
  package.json
  src/stories/Autocomplete.stories.tsx
Labels: skip changeset

#2190 Upgrade `user-event` to v14
  package-lock.json
  package.json
  src/SegmentedControl/SegmentedControl.test.tsx
  src/__tests__/Autocomplete.test.tsx
  src/__tests__/Checkbox.test.tsx
  src/__tests__/CheckboxGroup.test.tsx
  src/__tests__/Overlay.test.tsx
  src/__tests__/RadioGroup.test.tsx
  src/__tests__/TabNav.test.tsx
  src/__tests__/Textarea.test.tsx
  src/__tests__/ToggleSwitch.test.tsx
  src/__tests__/deprecated/ChoiceFieldset.test.tsx
  src/__tests__/hooks/useOnOutsideClick.test.tsx
Labels: 💓collab, dependencies, react, skip changeset

#2198 PageLayout: Update `divider` prop responsive API
  .changeset/spotty-parents-cheat.md
  docs/content/PageLayout.mdx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
Labels: react

#2199 PageLayout: Update `position` responsive prop API
  .changeset/fair-tips-travel.md
  docs/content/PageLayout.mdx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
Labels: react
