Repository primer/react, pull requests merged in 2022-06, with the labels that each got.

#2106 Tests: Add tests for lockfile version
  src/__tests__/lockfile-version.test.ts
  tsconfig.json
Labels: skip changeset

#2112 Export NavList from the main bundle
  .changeset/stale-hounds-notice.md
  docs/content/NavList.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/ActionList/Divider.tsx
  src/ActionList/index.ts
  src/NavList/NavList.tsx
  src/index.ts
Labels: react

#2123 Fix CI for Node 16.15.1
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_production.yml
  package-lock.json
Labels: skip changeset

#1722 ADR: Parallel drafts track & plan for deprecated components
  contributor-docs/adrs/adr-005.md
Labels: react, skip changeset

#1703 ADR 004: Strict props or Composite components
  contributor-docs/adrs/adr-004-children-as-api.md
Labels: react, skip changeset

#2128 Fixed an issue with ButtonDanger Not defined.
  docs/content/Details.md
Labels: docs, react, skip changeset

#2120 Deprecate SideNav in favor of NavList
  .changeset/small-donkeys-provide.md
  docs/content/deprecated/SideNav.md
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/SideNav.tsx
Labels: patch release, react

#2137 Explicitly declare workflow permissions for previews
  .github/workflows/deploy_preview.yml
Labels: skip changeset

#2099 ActionMenu: a11y fixes (batch 1)
  .changeset/anchored-overlay-clever-mails-roll.md
  src/AnchoredOverlay/AnchoredOverlay.tsx
  src/__tests__/ActionMenu.test.tsx
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/__tests__/__snapshots__/SelectPanel.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/DropdownMenu.test.tsx.snap
  src/stories/ActionList/examples.stories.tsx
  src/stories/ActionList/fixtures.stories.tsx
  src/stories/ActionMenu/examples.stories.tsx
  src/stories/ActionMenu/fixtures.stories.tsx
Labels: accessibility, react

#2105 ActionMenu: Replace typeahead with mnemonics
  .changeset/gold-falcons-shake.md
  src/ActionMenu.tsx
  src/__tests__/hooks/useMnemonics.test.tsx
  src/hooks/index.ts
  src/hooks/useMnemonics.ts
  src/hooks/useTypeaheadFocus.ts
  src/stories/ActionMenu/fixtures.stories.tsx
Labels: accessibility, react

#2144 SplitPageLayout API
  docs/content/SplitPageLayout.mdx
Labels: react, skip changeset
