Repository primer/react, pull requests merged in 2022-08, with the labels that each got.

#2024 ActionMenu: Remove focus trap + Fix initial focus
  .changeset/actionmenu-remove-focus-trap.md
  src/ActionMenu.tsx
  src/__tests__/ActionMenu.test.tsx
  src/__tests__/hooks/useMenuInitialFocus.test.tsx
  src/hooks/index.ts
  src/hooks/useMenuInitialFocus.ts
  src/hooks/useMenuKeyboardNavigation.ts
  src/stories/ActionMenu/fixtures.stories.tsx
Labels: accessibility, react

#2185 Default ConfirmationDialog to focusing `cancel` when the confirmation is a dangerous one
  .changeset/lucky-pianos-yell.md
  src/Dialog/ConfirmationDialog.tsx
  src/__tests__/ConfirmationDialog.test.tsx
Labels: 💓collab, react

#2201 PageLayout: Add `padding` prop to subcomponents
  .changeset/funny-roses-impress.md
  docs/content/PageLayout.mdx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
Labels: react

#2157 Add `InlineAutocomplete` component
  .changeset/cuddly-bags-sort.md
  @types/@koddsson/index.d.ts
  @types/@koddsson/textarea-caret/index.d.ts
  docs/content/drafts/InlineAutocomplete.mdx
  docs/package-lock.json
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  jest.config.js
  package-lock.json
  package.json
  src/FormControl/FormControl.tsx
  src/drafts/InlineAutocomplete/InlineAutocomplete.stories.tsx
  src/drafts/InlineAutocomplete/InlineAutocomplete.test.tsx
  src/drafts/InlineAutocomplete/InlineAutocomplete.tsx
  src/drafts/InlineAutocomplete/_AutocompleteSuggestions.tsx
  src/drafts/InlineAutocomplete/index.ts
  src/drafts/InlineAutocomplete/types.ts
  src/drafts/InlineAutocomplete/utils.ts
  src/drafts/hooks/useCombobox.ts
  src/drafts/hooks/useSyntheticChange.ts
  src/drafts/index.ts
Labels: 💓collab, react, a11y-eng-secondary

#2211 PageLayout: Fix containerWidth default value in docs
  docs/content/PageLayout.mdx
Labels: skip changeset

#2040 docs: fix typos
  docs/content/ActionMenu.mdx
  docs/content/Autocomplete.mdx
  docs/content/FormControl.mdx
  docs/content/drafts/Dialog.mdx
Labels: react, skip changeset

#2213 restore contributor stats to docs footer
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_production.yml
Labels: react, skip changeset

#2207 Deployment previews for forks
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
Labels: react, skip changeset

#2220 Update SegmentedControl to improve the experience for assistive technologies
  .changeset/old-experts-applaud.md
  src/SegmentedControl/SegmentedControl.test.tsx
  src/SegmentedControl/SegmentedControl.tsx
  src/SegmentedControl/SegmentedControlButton.tsx
  src/SegmentedControl/SegmentedControlIconButton.tsx
  src/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
  src/SegmentedControl/getSegmentedControlStyles.ts
Labels: react

#2142 Draft component for Underline Nav
  docs/content/drafts/UnderlineNav2.mdx
  src/UnderlineNav2/UnderlineNav.stories.tsx
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/UnderlineNav2/UnderlineNav.tsx
  src/UnderlineNav2/UnderlineNavContext.tsx
  src/UnderlineNav2/UnderlineNavLink.tsx
  src/UnderlineNav2/index.ts
  src/UnderlineNav2/types.ts
  src/drafts/index.ts
  src/hooks/useResizeObserver.ts
Labels: skip changeset

#2217 Remove duplicate jest-matchmedia-mock
  package.json
Labels: skip changeset

#2182 Add `MarkdownEditor` and `MarkdownViewer` components
  .changeset/fluffy-cycles-shave.md
  @types/fzy-js/index.d.ts
  docs/content/drafts/MarkdownEditor.mdx
  docs/content/drafts/MarkdownViewer.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  jest.config.js
  package-lock.json
  package.json
  src/_InputLabel.tsx
  src/drafts/InlineAutocomplete/InlineAutocomplete.tsx
  src/drafts/InlineAutocomplete/types.ts
  src/drafts/InlineAutocomplete/utils.ts
  src/drafts/MarkdownEditor/Actions.tsx
  src/drafts/MarkdownEditor/Label.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.stories.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.tsx
  src/drafts/MarkdownEditor/Toolbar.tsx
  src/drafts/MarkdownEditor/_Footer.tsx
  src/drafts/MarkdownEditor/_FormattingTools.tsx
  src/drafts/MarkdownEditor/_MarkdownEditorContext.ts
  src/drafts/MarkdownEditor/_MarkdownInput.tsx
  src/drafts/MarkdownEditor/_SavedReplies.tsx
  src/drafts/MarkdownEditor/_ViewSwitch.tsx
  src/drafts/MarkdownEditor/_useFileHandling.ts
  src/drafts/MarkdownEditor/_useIndenting.ts
  src/drafts/MarkdownEditor/_useListEditing.ts
  src/drafts/MarkdownEditor/index.ts
  src/drafts/MarkdownEditor/markdown-toolbar-element.d.ts
  src/drafts/MarkdownEditor/suggestions/_useEmojiSuggestions.tsx
  src/drafts/MarkdownEditor/suggestions/_useMentionSuggestions.tsx
  src/drafts/MarkdownEditor/suggestions/_useReferenceSuggestions.tsx
  src/drafts/MarkdownEditor/suggestions/index.ts
  src/drafts/MarkdownEditor/utils.ts
  src/drafts/MarkdownViewer/MarkdownViewer.stories.tsx
  src/drafts/MarkdownViewer/MarkdownViewer.test.tsx
  src/drafts/MarkdownViewer/MarkdownViewer.tsx
  src/drafts/MarkdownViewer/_useLinkInterception.ts
  src/drafts/MarkdownViewer/_useListInteraction.ts
  src/drafts/MarkdownViewer/index.ts
  src/drafts/hooks/useCombobox.ts
  src/drafts/hooks/useDynamicTextareaHeight.ts
  src/drafts/hooks/useIgnoreKeyboardActionsWhileComposing.test.tsx
  src/drafts/hooks/useIgnoreKeyboardActionsWhileComposing.ts
  src/drafts/hooks/useSafeAsyncCallback.ts
  src/drafts/hooks/useSyntheticChange.ts
  src/drafts/hooks/useUnifiedFileSelect.ts
  src/drafts/index.ts
  src/drafts/utils/character-coordinates.ts
Labels: 💓collab, react

#2192 Removes link to deprecated ChoiceFieldset component from docs
  docs/content/Checkbox.mdx
  docs/content/Radio.mdx
Labels: skip changeset

#2227 Removes 'loading' prop from Segmented Control docs
  docs/content/drafts/SegmentedControl.mdx
Labels: skip changeset

#2226 Enable chromatic for all builds without approval (to see if we need to replace or upgrade)
  .github/workflows/visual_testing.yml
Labels: skip changeset

#2212 PageLayout.Pane: Add `sticky` prop
  .changeset/serious-pots-confess.md
  docs/content/PageLayout.mdx
  docs/content/SplitPageLayout.mdx
  package-lock.json
  package.json
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/PageLayout.test.tsx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/PageLayout/useStickyPaneHeight.ts
  src/Placeholder.tsx
Labels: react

#2233 Add source repo check for deploy_preview_fork
  .github/workflows/deploy_preview_forks.yml
Labels: skip changeset

#2205 Include React 18 in peerDependencies
  .changeset/giant-hotels-love.md
  package-lock.json
  package.json
Labels: react

#2230 docs(contributing): update contributing docs with install instructions
  contributor-docs/CONTRIBUTING.md
  script/setup
Labels: skip changeset

#2239 Implement SplitPageLayout
  .changeset/four-jeans-travel.md
  docs/content/PageLayout.mdx
  docs/content/SplitPageLayout.mdx
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/PageLayout.tsx
  src/SplitPageLayout/SplitPageLayout.stories.tsx
  src/SplitPageLayout/SplitPageLayout.test.tsx
  src/SplitPageLayout/SplitPageLayout.tsx
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
  src/SplitPageLayout/index.ts
  src/drafts/index.ts
Labels: react

#2232 Add stickyTop prop to PageLayout.Pane
  .changeset/fuzzy-windows-divide.md
  docs/content/PageLayout.mdx
  docs/content/SplitPageLayout.mdx
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/useStickyPaneHeight.ts
Labels: react

#2240 PageLayout.Pane: `stickyTop` bug fixes
  src/PageLayout/PageLayout.tsx
  src/PageLayout/useStickyPaneHeight.ts
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: skip changeset

#2222 Make interaction tests for UnderlineNav
  src/UnderlineNav2/examples.stories.tsx
  src/UnderlineNav2/interactions.stories.tsx
Labels: skip changeset

#2223 ADR 009: Guidelines for interaction tests in primer-react
  contributor-docs/adrs/adr-009-interaction-tests.md
Labels: skip changeset

#2253 chore(project): update caniuse database
  package-lock.json
Labels: skip changeset

#2242 Update FilteredSearch docs and fix the z-index issue
  .changeset/nice-apples-collect.md
  docs/content/FilteredSearch.md
  src/FilteredSearch.tsx
  src/__tests__/__snapshots__/FilteredSearch.test.tsx.snap
Labels: docs, react

#2269 Add UnderlineNav draft component to docs
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: skip changeset

#2188 Support ReactNode in ActionMenu.Overlay
  .changeset/shiny-hairs-wait.md
  docs/content/ActionMenu.mdx
  src/ActionMenu.tsx
Labels: react

#2268 Fix storybook urls and improve docs
  docs/content/Autocomplete.mdx
  docs/content/Checkbox.mdx
  docs/content/CheckboxGroup.mdx
  docs/content/FilteredSearch.md
  docs/content/IconButton.mdx
  docs/content/Label.mdx
  docs/content/PageLayout.mdx
Labels: docs, react, skip changeset

#2138 SelectPanel: Accessibility remediation
  .changeset/grumpy-carrots-admire.md
  docs/content/SelectPanel.mdx
  docs/content/deprecated/ActionList.mdx
  src/Autocomplete/AutocompleteMenu.tsx
  src/FilteredActionList/FilteredActionList.tsx
  src/SelectPanel/SelectPanel.tsx
  src/__tests__/SelectPanel.test.tsx
  src/__tests__/SelectPanel.types.test.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/SelectPanel.test.tsx.snap
  src/__tests__/deprecated/ActionList.test.tsx
  src/__tests__/deprecated/__snapshots__/ActionList.test.tsx.snap
  src/deprecated/ActionList/Divider.tsx
  src/deprecated/ActionList/Group.tsx
  src/deprecated/ActionList/Item.tsx
  src/deprecated/ActionList/List.tsx
  src/deprecated/ActionMenu.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
  src/stories/SelectPanel.stories.tsx
  src/stories/deprecated/ActionList.stories.tsx
Labels: accessibility, react

#2290 chore: narrow typescript range in consumer test
  consumer-test/package.json
  package-lock.json
Labels: skip changeset

#2287 refactor: inline react-polymorphic
  .eslintrc.json
  package-lock.json
  package.json
  src/ActionList/Item.tsx
  src/ActionList/LinkItem.tsx
  src/ActionList/List.tsx
  src/Autocomplete/AutocompleteInput.tsx
  src/Button/ButtonBase.tsx
  src/Button/LinkButton.tsx
  src/NavList/NavList.tsx
  src/Overlay.tsx
  src/TextInput.tsx
  src/UnderlineNav2/UnderlineNavLink.tsx
  src/deprecated/ActionList/Item.tsx
  src/utils/polymorphic.ts
Labels: skip changeset

#2241 Add interaction tests for pagelayout sticky
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/interaction.stories.tsx
Labels: skip changeset

#2266 ActionMenu: Fix keyboard navigation for ActionMenu inside Overlay
  .changeset/actionmenu-reenable-focus-trap.md
  src/ActionMenu.tsx
  src/stories/ActionMenu/fixtures.stories.tsx
Labels: accessibility, react
