Repository primer/react, pull requests merged in 2022-03, with the labels that each got.

#1914 Menu: Fix typeahead with leading visuals
  .changeset/slimy-garlics-wash.md
  src/hooks/useTypeaheadFocus.ts
Labels: bug, react

#1917 Move remaining deprecated components to src/deprecated
  src/__tests__/BorderBox.test.tsx
  src/__tests__/Dropdown.test.tsx
  src/__tests__/Dropdown.types.test.tsx
  src/__tests__/Flex.test.tsx
  src/__tests__/Grid.test.tsx
  src/__tests__/Position.test.tsx
  src/__tests__/SelectMenu.test.tsx
  src/__tests__/SelectMenu.types.test.tsx
  src/deprecated/BorderBox.tsx
  src/deprecated/Dropdown.tsx
  src/deprecated/Flex.tsx
  src/deprecated/Grid.tsx
  src/deprecated/Position.tsx
  src/deprecated/SelectMenu/SelectMenu.tsx
  src/deprecated/SelectMenu/SelectMenuContext.tsx
  src/deprecated/SelectMenu/SelectMenuDivider.tsx
  src/deprecated/SelectMenu/SelectMenuFilter.tsx
  src/deprecated/SelectMenu/SelectMenuFooter.tsx
  src/deprecated/SelectMenu/SelectMenuHeader.tsx
  src/deprecated/SelectMenu/SelectMenuItem.tsx
  src/deprecated/SelectMenu/SelectMenuList.tsx
  src/deprecated/SelectMenu/SelectMenuLoadingAnimation.tsx
  src/deprecated/SelectMenu/SelectMenuModal.tsx
  src/deprecated/SelectMenu/SelectMenuTab.tsx
  src/deprecated/SelectMenu/SelectMenuTabPanel.tsx
  src/deprecated/SelectMenu/SelectMenuTabs.tsx
  src/deprecated/SelectMenu/hooks/useKeyboardNav.js
  src/deprecated/SelectMenu/index.ts
  src/deprecated/index.ts
Labels: react, skip changeset

#1916 Various fixes for v35
  contributor-docs/CONTRIBUTING.md
  docs/content/Autocomplete.mdx
  docs/content/Header.mdx
  docs/content/core-concepts.md
  docs/content/getting-started.md
  docs/content/philosophy.md
  docs/content/system-props.mdx
  docs/content/theming.md
  src/deprecated/DropdownMenu/DropdownButton.tsx
Labels: skip changeset

#1921 Add align prop on ActionMenu.Overlay to pass through to AnchoredOverlay
  .changeset/actionmenu-add-align-prop.md
  docs/content/ActionMenu.mdx
  docs/content/AnchoredOverlay.mdx
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  src/ActionMenu.tsx
  src/stories/ActionMenu/fixtures.stories.tsx
Labels: react

#1913 Fix theming with SSR with CSRF safe approach
  .changeset/safe-ssr-theming.md
  src/ThemeProvider.tsx
Labels: bug, react

#1922 ActionMenu.Button: Fix spacing between text and caret
  .changeset/actionmenu-button-caret-spacing.md
  src/ActionMenu.tsx
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
Labels: react

#1931 v35: Update ActionMenu docs to use PropsTable + Fix outdated example
  docs/content/ActionMenu.mdx
Labels: docs, react, skip changeset

#1915 Button: Update active styles + use them for aria-expanded
  .changeset/healthy-dots-chew.md
  src/Button/styles.ts
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/__snapshots__/Button.test.tsx.snap
  src/stories/ActionMenu/examples.stories.tsx
Labels: react

#1936 ThemeProvider: Fix setColorMode
  .changeset/pretty-cougars-walk.md
  src/ThemeProvider.tsx
Labels: react

#1923 Improves some form component descriptions in docs
  docs/content/CheckboxGroup.mdx
  docs/content/FormControl.mdx
  docs/content/RadioGroup.mdx
Labels: skip changeset

#1937 v35: Remove type aliases for ActionList
  src/ActionList/Description.tsx
  src/ActionList/Group.tsx
  src/ActionList/Item.tsx
  src/ActionList/LinkItem.tsx
  src/ActionList/List.tsx
  src/ActionList/Selection.tsx
  src/ActionList/Visuals.tsx
  src/ActionList/index.ts
  src/index.ts
Labels: react, skip changeset

#1938 Fixes for v35
  src/Token/index.ts
  src/index.ts
Labels: skip changeset

#1940 Changeset updates for v35
  .changeset/heavy-points-marry.md
  .changeset/many-roses-hammer.md
  .changeset/nervous-pets-sleep.md
  .changeset/olive-bears-act.md
Labels: skip changeset

#1946 Restore commit attribution to changelog and minor tweaking
  CHANGELOG.md
Labels: skip changeset

#1957 Add todo for removing components deprecated in v35.0.0.0
  src/deprecated/index.ts
Labels: react, skip changeset

#1959 Fix TextInput types
  .changeset/loud-schools-own.md
  src/Autocomplete/AutocompleteInput.tsx
  src/TextInput.tsx
  src/TextInputWithTokens.tsx
  src/__tests__/FormControl.test.tsx
  src/__tests__/SelectMenu.types.test.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/TextInput.types.test.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/__tests__/deprecated/InputField.test.tsx
  src/deprecated/SelectMenu/SelectMenuFilter.tsx
  src/stories/FormControl.stories.tsx
  src/stories/Overlay.stories.tsx
  src/stories/TextInputWithTokens.stories.tsx
Labels: react

#1975 Docs: Remove LinkButton from navigation
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: docs, react, skip changeset

#1982 Fixed minor typos under the Button component docs
  docs/content/Button.mdx
Labels: docs, skip changeset

#1945 Icon button fixes: Removes iconLabel and adds aria-label to the type
  .changeset/large-owls-dance.md
  docs/content/Button.mdx
  docs/content/IconButton.mdx
  src/Button/Button.stories.tsx
  src/Button/IconButton.tsx
  src/Button/types.ts
  src/__tests__/Button.test.tsx
  src/__tests__/__snapshots__/Button.test.tsx.snap
  src/stories/Tooltip.stories.tsx
Labels: status: review needed

#1983 update ActionList status to beta :)
  docs/content/ActionList.mdx
Labels: docs, react, skip changeset

#1920 Text input loading state
  .changeset/smooth-lemons-brake.md
  docs/content/TextInput.mdx
  docs/content/TextInputWithTokens.mdx
  src/TextInput.tsx
  src/TextInputWithTokens.tsx
  src/_TextInputInnerVisualSlot.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/TextInputWithTokens.test.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/stories/TextInput.stories.tsx
  src/stories/TextInputWithTokens.stories.tsx
Labels: react

#1973 PageLayout: Use HTML5 landmark elements
  .changeset/brown-maps-yawn.md
  docs/content/PageLayout.mdx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
Labels: accessibility, react

#1933 Add ToggleSwitch component
  .changeset/stupid-carrots-jam.md
  docs/content/ToggleSwitch.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  package-lock.json
  package.json
  src/Autocomplete/AutocompleteMenu.tsx
  src/ToggleSwitch.tsx
  src/__tests__/ToggleSwitch.test.tsx
  src/__tests__/__snapshots__/ToggleSwitch.test.tsx.snap
  src/__tests__/__snapshots__/themePreval.test.ts.snap
  src/hooks/useOverlay.tsx
  src/index.ts
  src/stories/Switch/examples.stories.tsx
  src/stories/Switch/fixtures.stories.tsx
  src/theme-preval.js
Labels: react

#1999 Move chromatic key to secrets
  .github/workflows/visual_testing.yml
Labels: skip changeset

#2000 fix(docs): button and overlay doc link
  docs/content/ActionMenu.mdx
Labels: docs, skip changeset

#1984 ActionMenu: Remove focus trap
  .changeset/actionmenu-remove-focus-trap.md
  src/ActionMenu.tsx
  src/__tests__/ActionMenu.test.tsx
  src/__tests__/hooks/useMenuInitialFocus.test.tsx
  src/hooks/index.ts
  src/hooks/useMenuInitialFocus.ts
  src/hooks/useMenuKeyboardNavigation.ts
  src/hooks/useTypeaheadFocus.ts
  src/stories/ActionMenu/fixtures.stories.tsx
Labels: accessibility, react

#2001 Fix chromatic timeout
  .storybook/main.js
Labels: react, skip changeset

#1947 Add trailingAction to TextInput
  .changeset/chatty-moose-wait.md
  docs/content/TextInput.mdx
  src/FormControl/FormControl.tsx
  src/TextInput.tsx
  src/_InputLabel.tsx
  src/_TextInputInnerAction.tsx
  src/_TextInputWrapper.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ChoiceFieldset.test.tsx.snap
  src/stories/TextInput.stories.tsx
Labels: react

#2003 Docs: mark ActionMenu as beta
  docs/content/ActionMenu.mdx
Labels: docs, react, skip changeset
