Repository primer/react, pull requests merged in 2022-01, with the labels that each got.

#1727 Add lint-staged and husky for precommit linting.
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: skip changeset

#1757 ActionList v2 Divider: Make divider aria-hidden
  .changeset/stupid-bikes-look.md
  src/ActionList2/Divider.tsx
Labels: accessibility, react

#1758 AnchoredOverlay: Add aria-expanded to anchor
  .changeset/actionmenu2-aria-expanded.md
  docs/content/drafts/ActionMenu2.mdx
  src/AnchoredOverlay/AnchoredOverlay.tsx
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/__snapshots__/ActionMenu2.test.tsx.snap
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/__tests__/__snapshots__/DropdownMenu.test.tsx.snap
  src/__tests__/__snapshots__/SelectPanel.test.tsx.snap
  src/stories/ActionMenu2.stories.tsx
Labels: accessibility, react

#1770 Add aria-hidden to InputLabel required asterisk
  .changeset/breezy-coats-play.md
  docs/content/InputField.mdx
  src/_InputLabel.tsx
Labels: bug, accessibility, react

#1774 Visual testing: Reduce number of snapshots based on dependency graph
  .github/workflows/visual_testing.yml
Labels: react, skip changeset

#1776 ActionList2: Add example with repository links
  src/stories/ActionList2.stories.tsx
Labels: react, skip changeset

#1775 Visual testing: Add environment with approval step
  .github/workflows/visual_testing.yml
Labels: react, skip changeset

#1782 docs: add storybook addon for html snippets
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/Breadcrumbs.tsx
  src/Header.tsx
  src/SideNav.tsx
  src/SubNav.tsx
  src/TabNav.tsx
  src/UnderlineNav.tsx
Labels: react, skip changeset

#1709 Docs: Update ActionList2 status for test coverage
  docs/content/drafts/ActionList2.mdx
  src/__tests__/ActionMenu2.test.tsx
Labels: skip changeset

#1780 Docs: Add component status checklist to ActionMenu v2
  docs/content/drafts/ActionMenu2.mdx
Labels: docs, react, skip changeset

#1755 chore: update storybook dep and fix avatarstack story example
  package-lock.json
  src/stories/AvatarStack.stories.tsx
Labels: skip changeset

#1657 Adds a component to support checkbox and radio groups
  .changeset/twenty-needles-sit.md
  docs/content/ChoiceFieldset.mdx
  docs/content/ChoiceInputField.mdx
  docs/content/Radio.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/Autocomplete/AutocompleteMenu.tsx
  src/ChoiceFieldset/ChoiceFieldCaption.tsx
  src/ChoiceFieldset/ChoiceFieldLabel.tsx
  src/ChoiceFieldset/ChoiceFieldset.tsx
  src/ChoiceFieldset/ChoiceFieldsetDescription.tsx
  src/ChoiceFieldset/ChoiceFieldsetLegend.tsx
  src/ChoiceFieldset/ChoiceFieldsetList.tsx
  src/ChoiceFieldset/ChoiceFieldsetListContext.tsx
  src/ChoiceFieldset/ChoiceFieldsetListItem.tsx
  src/ChoiceFieldset/ChoiceFieldsetValidation.tsx
  src/ChoiceFieldset/index.ts
  src/_ChoiceInputLeadingVisual.tsx
  src/_InputCaption.tsx
  src/_InputLabel.tsx
  src/_InputValidation.tsx
  src/__tests__/ChoiceFieldset.test.tsx
  src/__tests__/__snapshots__/ChoiceFieldset.test.tsx.snap
  src/index.ts
  src/stories/ChoiceFieldset.stories.tsx
Labels: react

#1737 Component docs updates: Autocomplete, Button, CounterLabel, TextInputWithTokens, all 3 token components
  docs/content/Autocomplete.mdx
  docs/content/Buttons.md
  docs/content/Buttons.mdx
  docs/content/CounterLabel.md
  docs/content/CounterLabel.mdx
  docs/content/TextInputWithTokens.mdx
  docs/content/Token.mdx
  src/__tests__/Autocomplete.test.tsx
Labels: skip changeset

#1787 Update label `componentId`
  docs/content/Label.mdx
Labels: skip changeset

#1759 ActionMenu2: Add aria-labelledby to ActionList
  .changeset/actionmenu2-aria-labelledby.md
  docs/content/AnchoredOverlay.mdx
  src/ActionList2/ActionListContainerContext.tsx
  src/ActionList2/List.tsx
  src/ActionMenu2.tsx
  src/AnchoredOverlay/AnchoredOverlay.tsx
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/__snapshots__/ActionMenu2.test.tsx.snap
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/__tests__/__snapshots__/DropdownMenu.test.tsx.snap
  src/__tests__/__snapshots__/SelectPanel.test.tsx.snap
Labels: accessibility, react

#1806 Temporarily hide form field layout components from React docs sidebar
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: skip changeset

#1799 Storybook: Create 2 category of stories for ActionList2: Examples & Fixtures)
  src/__tests__/ActionList2.test.tsx
  src/stories/ActionList2/examples.stories.tsx
  src/stories/ActionList2/fixtures.stories.tsx
Labels: react, skip changeset

#1808 Docs: Add alternative for deprecated Dropdown
  docs/content/deprecated/Dropdown.md
Labels: docs, react, skip changeset

#1779 ActionMenu v2: Use Button v2 as ActionMenu.Button + caret
  .changeset/actionmenu2-use-button2-as-anchor.md
  docs/content/drafts/ActionMenu2.mdx
  src/ActionMenu2.tsx
  src/__tests__/__snapshots__/ActionMenu2.test.tsx.snap
  src/stories/ActionMenu2.stories.tsx
Labels: docs, react

#1735 Drafts: Composable DropdownMenu v2
  .changeset/composable-dropdownmenu.md
  docs/content/drafts/DropdownMenu2.mdx
  docs/package-lock.json
  docs/package.json
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  src/ActionList2/ActionListContainerContext.tsx
  src/ActionList2/Item.tsx
  src/ActionList2/Selection.tsx
  src/DropdownMenu2.tsx
  src/__tests__/DropdownMenu2.test.tsx
  src/__tests__/__snapshots__/DropdownMenu2.test.tsx.snap
  src/drafts.ts
  src/stories/DropdownMenu2.stories.tsx
Labels: react

#1804 Fixes PointerBox caret not styling correctly using sx props
  .changeset/thick-parents-wonder.md
  docs/content/PointerBox.md
  src/PointerBox.tsx
  src/__tests__/PointerBox.test.tsx
  src/__tests__/__snapshots__/PointerBox.test.tsx.snap
Labels: react

#1822 Stories: Split stories for ActionMenu and DropdownMenu
  src/DropdownMenu2.tsx
  src/__tests__/ActionMenu2.test.tsx
  src/__tests__/DropdownMenu2.test.tsx
  src/stories/ActionMenu2/examples.stories.tsx
  src/stories/ActionMenu2/fixtures.stories.tsx
  src/stories/DropdownMenu2/examples.stories.tsx
  src/stories/DropdownMenu2/fixtures.stories.tsx
Labels: accessibility, react, skip changeset

#1824 Overlay: Attach escape handler to overlay container
  .changeset/big-lions-mix.md
  src/__tests__/Overlay.test.tsx
  src/hooks/useOnEscapePress.ts
  src/hooks/useOverlay.tsx
  src/stories/Overlay.stories.tsx
Labels: patch release, accessibility, react

#1785 Docs: Remove drafts silliness from examples
  .eslintrc.json
  docs/content/drafts/ActionList2.mdx
  docs/content/drafts/ActionMenu2.mdx
  docs/content/drafts/Button2.mdx
  docs/content/drafts/IconButton.mdx
  docs/content/drafts/LinkButton.mdx
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: docs, react, skip changeset
