Repository primer/react, pull requests merged in 2022-10, with the labels that each got.

#2384 ActionMenu - mark API as stable
  docs/content/ActionMenu.mdx
Labels: react, skip changeset

#2409 Codespaces broken due to invalid config
  .devcontainer/devcontainer.json
Labels: skip changeset

#2412 Add Storybook Storysource addon
  .storybook/main.js
  package-lock.json
  package.json
  src/Button/Button.stories.tsx
  src/stories/Overlay.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/deprecated/Button.stories.tsx
Labels: skip changeset

#2335 docs(SelectPanel): update docs with keyboard interactions
  docs/content/SelectPanel.mdx
Labels: skip changeset

#2386 docs(storybook): update builder to webpack 5
  .gitignore
  .storybook/main.js
  examples/nextjs/package-lock.json
  package-lock.json
  package.json
  src/Button/Button.stories.tsx
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/interaction.stories.tsx
  src/SegmentedControl/examples.stories.tsx
  src/drafts/InlineAutocomplete/InlineAutocomplete.stories.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.stories.tsx
  src/drafts/MarkdownViewer/MarkdownViewer.stories.tsx
  src/stories/ActionMenu/examples.stories.tsx
  src/stories/ActionMenu/fixtures.stories.tsx
  src/stories/Autocomplete.stories.tsx
  src/stories/AvatarStack.stories.tsx
  src/stories/Checkbox.stories.tsx
  src/stories/CheckboxGroup/examples.stories.tsx
  src/stories/CheckboxGroup/fixtures.stories.tsx
  src/stories/Dialog.stories.tsx
  src/stories/IssueLabelToken.stories.tsx
  src/stories/Label.stories.tsx
  src/stories/Overlay.stories.tsx
  src/stories/ProfileToken.stories.tsx
  src/stories/Radio.stories.tsx
  src/stories/RadioGroup/examples.stories.tsx
  src/stories/RadioGroup/fixtures.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/Switch/examples.stories.tsx
  src/stories/Switch/fixtures.stories.tsx
  src/stories/TextInput.stories.tsx
  src/stories/TextInputWithTokens.stories.tsx
  src/stories/Textarea.stories.tsx
  src/stories/Token.stories.tsx
  src/stories/deprecated/ActionMenu.stories.tsx
  src/stories/deprecated/Button.stories.tsx
  src/stories/useAnchoredPosition.stories.tsx
  src/utils/story-helpers.tsx
Labels: skip changeset

#2393 fix(button): Typo outline button variant
  .changeset/orange-pumas-develop.md
  src/Button/Button.stories.tsx
  src/Button/styles.ts
  src/__tests__/__snapshots__/Button.test.tsx.snap
Labels: react

#2364 Update `MarkdownViewer` docs to not imply that it styles the content
  docs/content/drafts/MarkdownViewer.mdx
Labels: skip changeset

#2312 Dependency updates
  .github/workflows/check_for_changeset.yml
  .github/workflows/ci.yml
  .github/workflows/consumer_test.yml
  .github/workflows/deploy_production.yml
  .github/workflows/pull_request.yml
  .github/workflows/size.yml
  .github/workflows/stale.yml
  .github/workflows/statuses.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/visual_testing.yml
Labels: skip changeset

#2398 Change decision for ADR-008-experimental-components
  contributor-docs/adrs/adr-008-experimental-components.md
Labels: react, skip changeset

#2463 docs(TreeView): remove navigation from label
  docs/content/TreeView.mdx
  src/TreeView/TreeView.stories.tsx
Labels: skip changeset

#2447 [UnderlineNav2]: Deprecate coarse input detection and its scroll behaviour (A11y sign-off remediations)
  .changeset/polite-dodos-behave.md
  .changeset/tough-peas-sort.md
  .changeset/witty-apples-think.md
  docs/content/drafts/UnderlineNav2.mdx
  src/UnderlineNav2/LoadingCounter.tsx
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/UnderlineNav2/UnderlineNav.tsx
  src/UnderlineNav2/UnderlineNavArrowButton.tsx
  src/UnderlineNav2/UnderlineNavContext.tsx
  src/UnderlineNav2/UnderlineNavItem.tsx
  src/UnderlineNav2/examples.stories.tsx
  src/UnderlineNav2/styles.ts
  src/UnderlineNav2/types.ts
Labels: accessibility

#2445 Update `Button` props to ensure they correctly type check
  .changeset/many-windows-hope.md
  src/ActionMenu.tsx
  src/Button/Button.tsx
  src/Button/types.ts
  src/SegmentedControl/SegmentedControlButton.tsx
  src/SegmentedControl/SegmentedControlIconButton.tsx
  src/_TextInputInnerAction.tsx
  src/__tests__/Button.types.test.tsx
  src/drafts/MarkdownEditor/_ViewSwitch.tsx
  src/stories/ActionMenu/fixtures.stories.tsx
Labels: 💓collab, react

#2467 Align status component table to primer.style/status table
  .changeset/orange-chairs-add.md
  docs/content/deprecated/Buttons.mdx
  docs/content/status.mdx
  docs/src/component-statuses.js
Labels: docs

#2480 ci: split ci workflow into distinct jobs
  .github/workflows/ci.yml
Labels: skip changeset

#2486 Typo fix
  docs/content/CounterLabel.mdx
Labels: skip changeset
