Repository primer/react, pull requests merged in 2022-02, with the labels that each got.

#1810 ActionMenu2 + DropdownMenu2: Initial focus is based on key used to open menu
  .changeset/menus-initial-focus.md
  src/ActionMenu2.tsx
  src/AnchoredOverlay/AnchoredOverlay.tsx
  src/DropdownMenu2.tsx
  src/__tests__/hooks/useMenuInitialFocus.test.tsx
  src/hooks/index.ts
  src/hooks/useMenuInitialFocus.ts
Labels: accessibility, react

#1828 ActionMenu2 + DropdownMenu2: Keyboard functionality for wrapping through options
  .changeset/long-students-breathe.md
  src/ActionMenu2.tsx
  src/DropdownMenu2.tsx
Labels: accessibility, react

#1812 Add Textarea component
  .changeset/happy-books-attack.md
  docs/content/Textarea.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/Checkbox.tsx
  src/Radio.tsx
  src/Textarea.tsx
  src/_InputValidation.tsx
  src/_TextInputWrapper.tsx
  src/__tests__/Textarea.test.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/__tests__/__snapshots__/Textarea.test.tsx.snap
  src/index.ts
  src/stories/Textarea.stories.tsx
  src/utils/types/FormValidationStatus.ts
Labels: react

#1805 Improve docs consistency for Overlay, PageHead, Pagination, Popover, Portal, ProgressBar components
  docs/content/Overlay.mdx
  docs/content/Pagehead.md
  docs/content/Pagination.md
  docs/content/Popover.md
  docs/content/Portal.mdx
  docs/content/ProgressBar.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: react, skip changeset

#1813 PageLayout API
  docs/content/drafts/PageLayout.mdx
Labels: skip changeset

#1837 Bump "version" in package-lock.json
  package-lock.json
Labels: skip changeset

#1841 Add history dependency
  package-lock.json
  package.json
Labels: skip changeset

#1771 Can now export from @primer/react/drafts
  docs/content/drafts/ActionList2.mdx
  docs/content/drafts/ActionMenu2.mdx
  docs/content/drafts/Button2.mdx
  docs/content/drafts/IconButton.mdx
  docs/content/drafts/LinkButton.mdx
  drafts/package.json
  package-lock.json
  package.json
  src/drafts/index.ts
Labels: react, skip changeset

#1820 Implement PageLayout component
  .changeset/pink-flowers-raise.md
  .storybook/preview.js
  docs/content/drafts/PageLayout.mdx
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/index.ts
  src/Placeholder.tsx
  src/drafts/index.ts
Labels: react

#1844 Docs: Fix bad merge that brought back docs silliness for DropdownMenu
  docs/content/drafts/DropdownMenu2.mdx
Labels: docs, react, skip changeset

#1856 Revert "Overlay: Attach escape handler to overlay container (#1824)"
  .changeset/revert-1824.md
  src/__tests__/Overlay.test.tsx
  src/hooks/useOnEscapePress.ts
  src/hooks/useOverlay.tsx
  src/stories/Overlay.stories.tsx
Labels: react

#1861 Escape on nested Overlays
  src/__tests__/Overlay.test.tsx
  src/hooks/useOnEscapePress.ts
  src/hooks/useOverlay.tsx
  src/stories/Overlay.stories.tsx
Labels: react, skip changeset

#1826 Remove unnecessary label title
  .changeset/slow-fireants-shave.md
  src/_InputLabel.tsx
  src/__tests__/InputField.test.tsx
Labels: react

#1866 Add changelog for #1861
  .changeset/fix-escape-on-nested-overlays.md
Labels: react

#1869 chore(package-lock): remove git conflict, invalid versions
  package-lock.json
Labels: skip changeset

#1848 Merge DropdownMenu2 into ActionMenu2
  .changeset/drafts-dropdownmenu2-merged-into-actionmenu2.md
  docs/content/drafts/ActionMenu2.mdx
  src/ActionList2/ActionListContainerContext.tsx
  src/ActionList2/Item.tsx
  src/ActionList2/List.tsx
  src/ActionList2/Selection.tsx
  src/ActionMenu2.tsx
  src/DropdownMenu2.tsx
  src/__tests__/ActionMenu2.test.tsx
  src/__tests__/DropdownMenu2.test.tsx
  src/stories/ActionList2/examples.stories.tsx
  src/stories/ActionMenu2/examples.stories.tsx
  src/stories/ActionMenu2/fixtures.stories.tsx
  src/stories/Overlay.stories.tsx
  src/utils/types/AriaRole.ts
Labels: react

#1834 v2 Menus: Implement typeahead focus
  .changeset/menus-typeahead.md
  src/ActionMenu2.tsx
  src/DropdownMenu2.tsx
  src/__tests__/hooks/useMenuInitialFocus.test.tsx
  src/__tests__/hooks/useMenuTypeaheadFocus.test.tsx
  src/hooks/index.ts
  src/hooks/useMenuInitialFocus.ts
  src/hooks/useTypeaheadFocus.ts
  src/stories/ActionMenu2/fixtures.stories.tsx
Labels: accessibility, react

#1876 Fix ActionList group roles
  .changeset/drafts-actionlist-group-roles.md
  src/ActionList2/ActionListContainerContext.tsx
  src/ActionList2/Group.tsx
  src/ActionList2/Item.tsx
  src/ActionList2/List.tsx
  src/__tests__/ActionList2.test.tsx
  src/stories/ActionList2/examples.stories.tsx
  src/stories/ActionList2/fixtures.stories.tsx
  src/stories/ActionMenu2/examples.stories.tsx
  src/utils/testing.tsx
Labels: accessibility, react

#1868 Fixes mismatch in rendered output for theming with server side rendering
  .changeset/themeprovider-ssr-auto.md
  docs/content/theming.md
  src/ThemeProvider.tsx
Labels: bug, react

#1867 Add tests for PageLayout
  docs/content/drafts/PageLayout.mdx
  jest.config.js
  src/PageLayout/PageLayout.test.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
Labels: react, skip changeset

#1884 Change frequency for dependabot to weekly
  .github/dependabot.yml
Labels: skip changeset

#1885 Add `skip changeset` label to dependabot PRs
  .github/dependabot.yml
Labels: skip changeset

#1883 Prefix component with types exported from ActionList2 and ActionMenu2
  .changeset/actionlist2-actionmenu2-prefix-types.md
  src/ActionList2/index.ts
  src/ActionMenu2.tsx
Labels: react

#1887 Update release notes and add deprecation notices for SelectMenu and Dropdown
  .changeset/smooth-cameras-prove.md
  docs/content/deprecated/BorderBox.md
  docs/content/deprecated/Dialog.md
  docs/content/deprecated/Dropdown.md
  docs/content/deprecated/Flex.md
  docs/content/deprecated/Grid.md
  docs/content/deprecated/Position.md
  docs/content/deprecated/SelectMenu.md
  docs/package-lock.json
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  src/Dropdown.tsx
  src/SelectMenu/SelectMenu.tsx
Labels: skip changeset

#1906 Disable storybook HTML addon in non-prod environments
  .storybook/main.js
  package-lock.json
  package.json
Labels: skip changeset

#1898 Deprecate DropdownMenu v1 + Remove DropdownMenu v2
  .changeset/deprecate-dropdownmenu.md
  docs/content/ActionList.mdx
  docs/content/ActionMenu.mdx
  docs/content/deprecated/DropdownMenu.mdx
  docs/content/drafts/DropdownMenu2.mdx
  docs/src/@primer/gatsby-theme-doctocat/components/live-preview-wrapper.js
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/DropdownMenu2.tsx
  src/SelectPanel/SelectPanel.tsx
  src/__tests__/DropdownMenu2.test.tsx
  src/__tests__/__snapshots__/DropdownMenu2.test.tsx.snap
  src/__tests__/deprecated/DropdownMenu.test.tsx
  src/__tests__/deprecated/__snapshots__/DropdownMenu.test.tsx.snap
  src/deprecated/DropdownMenu/DropdownButton.tsx
  src/deprecated/DropdownMenu/DropdownMenu.tsx
  src/deprecated/DropdownMenu/index.ts
  src/deprecated/index.ts
  src/drafts/index.ts
  src/index.ts
  src/stories/DropdownMenu2/examples.stories.tsx
  src/stories/DropdownMenu2/fixtures.stories.tsx
  src/stories/Overlay.stories.tsx
  src/stories/SelectPanel.stories.tsx
  src/stories/deprecated/ActionMenu.stories.tsx
  src/stories/deprecated/DropdownMenu.stories.tsx
Labels: react

#1901 Fix lint issues in changelog.md for release branch
  .changeset/deprecate-actionlistv1-promote-actionlistv2.md
  .changeset/empty-pillows-hunt.md
  .changeset/smooth-cameras-prove.md
Labels: react

#1902 fix control value for anchored position storybook
  src/stories/useAnchoredPosition.stories.tsx
Labels: skip changeset

#1905 Spelling
  .storybook/preview.js
  CHANGELOG.md
  contributor-docs/adrs/adr-002-behavior-isolation.md
  docs/content/InputField.mdx
  docs/content/deprecated/SelectMenu.md
  docs/content/drafts/ActionMenu2.mdx
  docs/content/drafts/DropdownMenu2.mdx
  docs/content/drafts/PageLayout.mdx
  docs/content/linting.md
  docs/content/overriding-styles.mdx
  docs/content/theming.md
  docs/content/useOnOutsideClick.mdx
  docs/content/useOpenAndCloseFocus.mdx
  docs/gatsby-node.js
  src/ActionMenu.tsx
  src/ActionMenu2.tsx
  src/Autocomplete/AutocompleteInput.tsx
  src/DropdownMenu/DropdownMenu.tsx
  src/DropdownMenu2.tsx
  src/Label2.tsx
  src/PageLayout/PageLayout.tsx
  src/SelectMenu/SelectMenuItem.tsx
  src/TextInputWithTokens.tsx
  src/ThemeProvider.tsx
  src/__tests__/Autocomplete.test.tsx
  src/__tests__/Link.test.tsx
  src/__tests__/ThemeProvider.test.tsx
  src/__tests__/__snapshots__/Link.test.tsx.snap
  src/__tests__/__snapshots__/themePreval.test.ts.snap
  src/__tests__/hooks/useMenuTypeaheadFocus.test.tsx
  src/__tests__/themeGet.test.ts
  src/hooks/useTypeaheadFocus.ts
  src/stories/useAnchoredPosition.stories.tsx
  src/theme-preval.js
  src/utils/theme.js
  src/utils/types/Flatten.ts
Labels: react, skip changeset

#1909 Add next major to release workflow
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
Labels: skip changeset
