Repository primer/react, pull requests merged in 2022-12, with the labels that each got.

#2630 test(vrt): add TreeView vrt and aat tests
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-tritanopia-linux.png
  e2e/components/TreeView.test.ts
  script/generate-e2e-tests.js
Labels: skip changeset

#2627 UnderlineNav2: Update React router docs and add Next.js docs
  docs/content/drafts/UnderlineNav2.mdx
Labels: skip changeset

#2646 Actions: use `ruby/setup-ruby` - `actions/setup-ruby` is deprecated
  .github/workflows/statuses.yml
Labels: skip changeset

#2654 refactor(e2e): update generate script to use prettier config
  script/generate-e2e-tests.js
Labels: skip changeset

#2659 Refine 'as' prop type in button component and fix name of aria type
  .changeset/giant-horses-knock.md
  src/Button/ButtonBase.tsx
  src/Button/types.ts
Labels: 💓collab, a11y-eng-secondary

#2665 Actions: Update the syntax that indicates the latest version of Ruby on `Update Status Project` job
  .github/workflows/statuses.yml
Labels: skip changeset

#2640 Jdrush89/tree content visibility
  .changeset/swift-kiwis-sparkle.md
  docs/content/TreeView.mdx
  src/TreeView/TreeView.features.stories.tsx
  src/TreeView/TreeView.test.tsx
  src/TreeView/TreeView.tsx
  src/TreeView/useTypeahead.ts
Labels: component: tree view

#2686 ci(deploy_production): add --legacy-peer-deps to docs install
  .github/workflows/deploy_production.yml
Labels: skip changeset

#2687 [Docs] SelectPanel
  docs/content/SelectPanel.mdx
Labels: bug, docs, skip changeset

#2690 Updates documentation based on a11y feedback
  docs/content/Select.mdx
  docs/content/Tooltip.md
  src/stories/Tooltip.stories.tsx
Labels: skip changeset

#2695 Minor additional tooltip docs updates
  docs/content/Tooltip.md
Labels: skip changeset

#2661 feat(project): update project to use React 18
  .changeset/eight-peas-tan.md
  .changeset/strong-dolls-divide.md
  .eslintrc.json
  .github/workflows/ci.yml
  .storybook/main.js
  jest.config.js
  package-lock.json
  package.json
  script/set-react-version.js
  src/ActionList/ActionList.examples.stories.tsx
  src/ActionList/Group.tsx
  src/ActionList/Item.tsx
  src/ActionList/List.tsx
  src/ActionMenu.tsx
  src/AnchoredOverlay/AnchoredOverlay.tsx
  src/Autocomplete/Autocomplete.tsx
  src/Dialog/Dialog.tsx
  src/FilteredActionList/FilteredActionList.tsx
  src/NavList/NavList.tsx
  src/PageHeader/PageHeader.tsx
  src/Pagination/Pagination.tsx
  src/SelectPanel/SelectPanel.tsx
  src/TextInput.tsx
  src/TreeView/TreeView.tsx
  src/UnderlineNav2/UnderlineNav.tsx
  src/UnderlineNav2/UnderlineNavItem.tsx
  src/UnderlineNav2/features.stories.tsx
  src/UnderlineNav2/interactions.stories.tsx
  src/UnderlineNav2/types.ts
  src/__tests__/TextInputWithTokens.test.tsx
  src/__tests__/ThemeProvider.test.tsx
  src/deprecated/ActionList/Item.tsx
  src/deprecated/SelectMenu/SelectMenu.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.tsx
  src/drafts/hooks/useCombobox.ts
  src/hooks/useDialog.ts
  src/hooks/useId.ts
  src/stories/ActionMenu/fixtures.stories.tsx
  src/stories/deprecated/ActionMenu.stories.tsx
  src/stories/useFocusTrap.stories.tsx
  src/utils/create-slots.tsx
  src/utils/ssr.tsx
  src/utils/test-helpers.tsx
Labels: react

#2685 Setting overflow: auto without a media query to fix resizable pane bug.
  .changeset/cuddly-brooms-shake.md
  src/PageLayout/PageLayout.test.tsx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: react

#2593 Make resizable SplitPageLayout.Pane keyboard accessible.
  .changeset/selfish-clocks-hug.md
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: bug

#2590 Output component.json file for documentation purposes
  .github/workflows/ci.yml
  .vscode/settings.json
  docs/content/Button.mdx
  docs/content/TreeView.mdx
  docs/src/@primer/gatsby-theme-doctocat/mdx-components.js
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  docs/src/component-props.js
  docs/src/props.js
  generated/components.json
  package-lock.json
  package.json
  script/components-json/build.ts
  script/components-json/component.schema.json
  script/components-json/output.schema.json
  src/Button/Button.docs.json
  src/TreeView/TreeView.docs.json
Labels: skip changeset
