Repository primer/react, pull requests merged in 2022-11, with the labels that each got.

#2436 SegmentedControl story refactor (testing compositional story format)
  src/SegmentedControl/SegmentedControl.stories.tsx
  src/SegmentedControl/SegmentedControl.test.tsx
  src/SegmentedControl/SegmentedControlButton.stories.tsx
  src/SegmentedControl/SegmentedControlFeatures.stories.tsx
  src/SegmentedControl/SegmentedControlIconButton.stories.tsx
  src/SegmentedControl/examples.stories.tsx
  src/SegmentedControl/fixtures.stories.tsx
Labels: skip changeset

#2514 PageLayout: Use width prop to caluculate default width of resizable pane
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: skip changeset

#2512 test(Textarea): update controlled test to provide onChange
  src/__tests__/Textarea.test.tsx
Labels: skip changeset

#2515 test(Overlay): add spy for console.log() from stories
  src/__tests__/Overlay.test.tsx
Labels: skip changeset

#2516 test(ChoiceInputField): add mockImplementation to warning tests
  src/__tests__/deprecated/ChoiceInputField.test.tsx
Labels: skip changeset

#2503 TreeView: Create nested scroll container story
  src/TreeView/TreeView.stories.tsx
Labels: skip changeset, tree-view

#2521 TreeView: Fix unexpected scrolling
  .changeset/violet-plants-sip.md
  src/TreeView/TreeView.stories.tsx
  src/TreeView/TreeView.tsx
Labels: tree-view

#2518 TreeView: Remove loading indicator delay
  .changeset/wise-dogs-play.md
  src/TreeView/TreeView.stories.tsx
  src/TreeView/TreeView.tsx
Labels: tree-view

#2528 Disable TreeView `StressTest` story snapshot in Chromatic
  src/TreeView/TreeView.stories.tsx
Labels: skip changeset

#2523 TreeView: Performance improvements
  .changeset/tidy-olives-know.md
  src/TreeView/TreeView.stories.tsx
  src/TreeView/TreeView.tsx
Labels: tree-view

#2507 update storybook links due to format change
  docs/content/ActionList.mdx
  docs/content/ActionMenu.mdx
  docs/content/AnchoredOverlay.mdx
  docs/content/Autocomplete.mdx
  docs/content/Button.mdx
  docs/content/Checkbox.mdx
  docs/content/CheckboxGroup.mdx
  docs/content/FormControl.mdx
  docs/content/IconButton.mdx
  docs/content/Label.mdx
  docs/content/NavList.mdx
  docs/content/Overlay.mdx
  docs/content/PageLayout.mdx
  docs/content/Radio.mdx
  docs/content/RadioGroup.mdx
  docs/content/SegmentedControl.mdx
  docs/content/Select.mdx
  docs/content/SplitPageLayout.mdx
  docs/content/TextInput.mdx
  docs/content/TextInputWithTokens.mdx
  docs/content/Textarea.mdx
  docs/content/ToggleSwitch.mdx
  docs/content/Token.mdx
  docs/content/deprecated/Buttons.mdx
  docs/content/drafts/InlineAutocomplete.mdx
  docs/content/drafts/MarkdownEditor.mdx
  docs/content/drafts/UnderlineNav2.mdx
  src/stories/ActionList/fixtures.stories.tsx
Labels: skip changeset

#2531 Missing quotation mark on the mdx and remove broken component docs link
  docs/content/drafts/UnderlineNav2.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: skip changeset

#2403 Dont crash when importing markdown toolbar element
  src/drafts/MarkdownEditor/_FormattingTools.tsx
Labels: skip changeset

#2529 Add tests to enforce Storybook format
  src/TreeView/TreeView.features.stories.tsx
  src/TreeView/TreeView.stories.tsx
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2534 docs: add story sort function
  .storybook/preview.js
Labels: skip changeset

#2530 [Storybook] Format ActionList stories
  .storybook/preview.js
  src/ActionList/ActionList.examples.stories.tsx
  src/ActionList/ActionList.features.stories.tsx
  src/ActionList/ActionList.stories.tsx
  src/__tests__/ActionList.test.tsx
  src/stories/ActionList/examples.stories.tsx
  src/stories/ActionList/fixtures.stories.tsx
Labels: skip changeset

#2527 test(TabNav): remove nested <a> from test
  src/__tests__/TabNav.test.tsx
Labels: skip changeset

#2547 docs: enable fastRefresh and strictMode for storybook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/utils/story-helpers.tsx
Labels: skip changeset

#2513 test(Radio): update Radio test
  src/__tests__/Radio.test.tsx
  src/__tests__/__snapshots__/Radio.test.tsx.snap
Labels: skip changeset

#2526 test(ThemeProvider): update tests to catch console.error
  src/__tests__/ThemeProvider.test.tsx
Labels: skip changeset

#2557 Fix syntax errors in MarkdownEditor docs examples
  docs/content/drafts/MarkdownEditor.mdx
Labels: docs, skip changeset

#2550 UnderlineNav2: Remove focus zone and unnecessary 'Arrow keys' & 'Home' & 'End' button navigation support
  .changeset/pretty-seas-complain.md
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/UnderlineNav2/UnderlineNav.tsx
  src/UnderlineNav2/interactions.stories.tsx
Labels: accessibility

#2552 UnderlineNav2: Add aria-hidden and sr-only class support for a descriptive "More" button label
  .changeset/great-shirts-sort.md
  src/UnderlineNav2/UnderlineNav.tsx
  src/UnderlineNav2/__snapshots__/UnderlineNav.test.tsx.snap
  src/UnderlineNav2/interactions.stories.tsx
Labels: accessibility

#2553 UnderlineNav2: Only allow `Enter` and `Space` to select item
  .changeset/big-goats-deliver.md
  src/UnderlineNav2/UnderlineNavItem.tsx
Labels: accessibility

#2551 UnderlineNav2: Add aria-hidden and sr-only class support for descriptive counters
  .changeset/soft-sheep-glow.md
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/UnderlineNav2/UnderlineNav.tsx
  src/UnderlineNav2/UnderlineNavItem.tsx
  src/UnderlineNav2/__snapshots__/UnderlineNav.test.tsx.snap
  src/UnderlineNav2/interactions.stories.tsx
Labels: accessibility

#2562 Automatically assign release conductor
  .github/workflows/assign_release_conductor.yml
Labels: react, skip changeset

#2567 Add Storybook preview deploy button to PRs
  .github/workflows/deploy_preview.yml
Labels: skip changeset

#2560 test(MarkdownEditor): clean up tests that emit console.error
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
Labels: skip changeset

#2570 Add storybook decorator that shows/hides elements surrounding the component preview
  .storybook/manager.js
  .storybook/preview.js
  .storybook/src/accessibility-tool.tsx
  src/utils/story-helpers.tsx
Labels: skip changeset

#2569 Update condensed mode for Safari workaround
  .changeset/silent-vans-hammer.md
  src/drafts/MarkdownEditor/MarkdownEditor.tsx
Labels: 💓collab

#2580 ci: add vrt workflow for updating snapshots
  .github/workflows/vrt.yml
Labels: skip changeset

#2568 refactor(TreeView): update PageUp, PageDown to page-based movement
  src/TreeView/TreeView.tsx
  src/TreeView/usePageUpDown.ts
  src/TreeView/useRovingTabIndex.ts
Labels: skip changeset

#2589 Assert that component story titles start with Component/
  package-lock.json
  package.json
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2584 refactor(project): remove enzyme usage from test files
  package-lock.json
  package.json
  src/__tests__/CircleBadge.test.tsx
  src/__tests__/Details.test.tsx
  src/__tests__/SelectMenu.test.tsx
  src/__tests__/SideNav.test.tsx
  src/__tests__/SubNav.test.tsx
  src/__tests__/TabNav.test.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/Token.test.tsx
  src/__tests__/UnderlineNav.test.tsx
  src/utils/test-matchers.tsx
  src/utils/testing.tsx
Labels: skip changeset

#2594 Add primer/react version number to Storybook
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  package-lock.json
  package.json
Labels: skip changeset

#2588 Add examples of using TreeView with react-router and NextJS router.
  docs/content/TreeView.mdx
Labels: docs, skip changeset

#2561 docs(testing): Update testing contribution documentation
  contributor-docs/testing.md
  package.json
Labels: docs, skip changeset

#2607 Upgrade deploy preview to 16
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/deploy_production.yml
  .github/workflows/statuses.yml
Labels: skip changeset

#2571 Better syntax coloring
  README.md
Labels: skip changeset

#2609 docs(testing): Fix broken links and delete the old testing section
  contributor-docs/CONTRIBUTING.md
  contributor-docs/testing.md
Labels: skip changeset

#2613 Fix assign_release_conductor.yml
  .github/workflows/assign_release_conductor.yml
Labels: skip changeset

#2537 test(storybook): update test to require() stories
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2624 UnderlineNav2: Update `a11yReviewed` status to `true` 🎉
  docs/content/drafts/UnderlineNav2.mdx
Labels: skip changeset, do not merge
