Repository primer/react, pull requests merged in 2023-12, with the labels that each got.

#3929 SelectPanel2: Types!
  src/drafts/SelectPanel2/SelectPanel.stories.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: react, skip changeset

#4047 docs(overriding-styles): camelCase without uppercase initial
  docs/content/overriding-styles.mdx
Labels: skip changeset

#4050 Actionlist item docs improvements
  src/ActionList/ActionList.docs.json
  src/ActionList/ActionList.stories.tsx
  src/ActionMenu/ActionMenu.examples.stories.tsx
  src/ActionMenu/ActionMenu.features.stories.tsx
Labels: skip changeset

#4055 Move Dialog v1 unit tests to `__tests__` folder and update v1 stories
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-tritanopia-linux.png
  src/Dialog.stories.tsx
  src/__tests__/Dialog.test.tsx
  src/__tests__/__snapshots__/Dialog.test.tsx.snap
Labels: skip changeset

#4058 Let aria-required be undefined if not passed
  .changeset/light-frogs-leave.md
  src/TextInput/TextInput.tsx
  src/Textarea/Textarea.tsx
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/Textarea.test.tsx.snap
Labels: patch release

#4019 Docs: Fix default example for SelectPanel v1
  docs/content/SelectPanel.mdx
Labels: docs, skip changeset

#4065 ci: update deploy preview workflow
  .github/workflows/deploy_preview.yml
Labels: skip changeset

#4067 Move Autocomplete stories to a top-level story directory
  docs/content/Autocomplete.mdx
  src/Autocomplete/Autocomplete.stories.tsx
Labels: skip changeset

#4084 updates heading example to fix alignment with items
  docs/content/NavList.mdx
Labels: skip changeset

#4088 ci: remove storybook deployment from preview for forks
  .github/workflows/deploy_preview_forks.yml
Labels: skip changeset

#4054 chore(tsconfig): update config target and module detection
  package-lock.json
  package.json
  script/build
  src/Select/index.ts
  src/deprecated/UnderlineNav/index.ts
  tsconfig.json
Labels: skip changeset

#4102 SelectPanel2: Fix import for type resolution
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: skip changeset

#4104 SelectPanel2: Hot fix to unblock release
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: skip changeset
