Repository primer/react, pull requests merged in 2023-05, with the labels that each got.

#3197 Update TreeView.mdx
  docs/content/TreeView.mdx
Labels: skip changeset

#3239 test(e2e): add locators for contrast a11y checks
  e2e/components/Select.test.ts
Labels: skip changeset

#3227 Storybook & build setup for css
  .gitignore
  .storybook/main.js
  jest.config.js
  package-lock.json
  package.json
  rollup.config.js
  script/build
  src/__tests__/__snapshots__/exports.test.ts.snap
  src/drafts/CSSComponent/Component.stories.tsx
  src/drafts/CSSComponent/component.module.css
  src/drafts/CSSComponent/index.tsx
  src/drafts/index.ts
  src/global.d.ts
Labels: react, skip changeset

#3252 ci: update pages check in deploy_production workflow
  .github/workflows/deploy_production.yml
Labels: skip changeset

#3254 Mark `ActionMenu` as not reviewed for accessibility as sign-off review is still required
  docs/content/ActionMenu.mdx
  generated/components.json
  src/ActionMenu/ActionMenu.docs.json
Labels: skip changeset

#3262 Pass through FormControl.Label props
  .changeset/polite-chicken-fix.md
  src/FormControl/_FormControlLabel.tsx
  src/_InputLabel.tsx
  src/__tests__/FormControl.test.tsx
Labels: react

#3238 Theming for css with primitives
  .storybook/preview.js
  .storybook/primitives-v7.css
  .storybook/primitives-v8.css
  package-lock.json
  package.json
  src/BaseStyles.tsx
  src/SelectPanel/__snapshots__/SelectPanel.test.tsx.snap
  src/ThemeProvider.tsx
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/__tests__/__snapshots__/ConfirmationDialog.test.tsx.snap
  src/drafts/CSSComponent/component.module.css
  src/utils/story-helpers.tsx
Labels: react, skip changeset

#3267 Add back check for GroupContext in ActionList.Selection to fix issues introduced to github/github
  src/ActionList/Selection.tsx
Labels: skip changeset

#3269 fix(ActionList): update to read from group context if selectionVarian…
  src/ActionList/Item.tsx
Labels: skip changeset

#3271 refactor(ActionList): import merge from sx
  src/ActionList/Heading.tsx
Labels: skip changeset

#3265 Add contributing docs about SSR compatibility
  contributor-docs/CONTRIBUTING.md
Labels: skip changeset

#3243 refactor(project): remove theme-preval.js
  babel.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/__tests__/__snapshots__/themePreval.test.ts.snap
  src/__tests__/themePreval.test.ts
  src/theme-preval.js
  src/theme.ts
  src/utils/layout.ts
Labels: skip changeset

#3031 docs(DataTable): add example for no content
  generated/components.json
  src/DataTable/DataTable.docs.json
  src/DataTable/DataTable.features.stories.tsx
Labels: skip changeset

#3292 Update Pagination component snapshot
  src/__tests__/Pagination/__snapshots__/Pagination.test.tsx.snap
Labels: skip changeset

#3294 Update `release-schedule.yml` formatting that fails on the CI
  .github/workflows/release-schedule.yml
Labels: skip changeset

#3288 Updated Accessibility on ActionMenu Docs
  docs/content/ActionMenu.mdx
  src/ActionMenu/ActionMenu.examples.stories.tsx
  src/__tests__/ActionMenu.test.tsx
Labels: skip changeset

#3274 Add SRR compatibility to PR checklist
  .github/pull_request_template.md
Labels: skip changeset

#3308 Setup accessibility-alt-text-bot.yml workflow
  .github/workflows/accessibility-alt-text-bot.yml
Labels: skip changeset

#3298 docs: update to storybook v7
  .github/workflows/ci.yml
  .storybook/main.js
  .storybook/preview.js
  e2e/test-helpers/storybook.ts
  package-lock.json
  package.json
  script/build-storybook
  src/Button/Button.stories.tsx
  src/Button/IconButton.stories.tsx
  src/Button/LinkButton.stories.tsx
  src/SegmentedControl/SegmentedControlButton.stories.tsx
  src/SegmentedControl/SegmentedControlIconButton.stories.tsx
  src/__tests__/lockfile-version.test.ts
  src/drafts/Button2/Button.stories.tsx
Labels: skip changeset

#3318 ci: release notification
  .github/workflows/release-notification.yml
Labels: skip changeset

#3307 chore(dependencies): update @typescript-eslint/* dependencies
  package-lock.json
  package.json
Labels: dependencies, skip changeset

#3323 Update `PageLayout` docs around `<main>` usage
  docs/content/PageLayout.mdx
  generated/components.json
  src/PageLayout/PageLayout.docs.json
Labels: skip changeset

#3329 ci: update ci workflow to run against next-major branch
  .github/workflows/ci.yml
Labels: skip changeset

#3328 NavList: Fix group dividers
  src/NavList/NavList.stories.tsx
  src/NavList/NavList.tsx
  src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: skip changeset

#3278 Add PostCSS color var fallback for upcoming CSS work
  package-lock.json
  package.json
  rollup.config.js
  src/drafts/CSSComponent/component.module.css
Labels: skip changeset

#3333 ci(vrt): update build storybook step
  .github/workflows/vrt.yml
Labels: skip changeset

#3163 fix: prevent closing menu when `event.preventDefault()` is called on `ActionList.Item`'s `onSelect` handler
  .changeset/brave-cherries-march.md
  src/ActionList/ActionList.docs.json
  src/ActionList/Item.tsx
  src/ActionMenu/ActionMenu.examples.stories.tsx
  src/__tests__/ActionMenu.test.tsx
Labels: react

#3346 fix: prevent closing menu when `event.preventDefault()` is called on `ActionList.Item`'s `onSelect` handler by @gr2m
  .changeset/brave-cherries-march.md
  generated/components.json
  src/ActionList/ActionList.docs.json
  src/ActionList/Item.tsx
  src/ActionMenu/ActionMenu.examples.stories.tsx
  src/__tests__/ActionMenu.test.tsx
Labels: react
