Repository primer/react, pull requests merged in 2023-02, with the labels that each got.

#2825 feat(react): add DataTable component
  docs/content/drafts/DataTable.mdx
  generated/components.json
  src/DataTable/DataTable.docs.json
  src/DataTable/DataTable.stories.tsx
  src/DataTable/__tests__/DataTable.test.tsx
  src/DataTable/index.tsx
Labels: skip changeset

#2867 feat(DataTable): add TableContainer, Title, Subtitle
  .storybook/preview.js
  generated/components.json
  src/DataTable/DataTable.docs.json
  src/DataTable/DataTable.features.stories.tsx
  src/DataTable/DataTable.stories.tsx
  src/DataTable/__tests__/DataTable.test.tsx
  src/DataTable/index.tsx
Labels: skip changeset

#2866 chore(project): update rollup to v3
  package-lock.json
  package.json
  rollup.config.js
  script/build
Labels: skip changeset

#2871 docs(TabNav): add docs for TabNav and update entrypoint
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-dark-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-light-colorblind-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-light-linux.png
  .playwright/snapshots/components/TabNav.test.ts-snapshots/TabNav-Default-light-tritanopia-linux.png
  docs/content/TabNav.mdx
  e2e/components/TabNav.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/TabNav/TabNav.docs.json
  src/TabNav/TabNav.features.stories.tsx
  src/TabNav/TabNav.stories.tsx
  src/TabNav/TabNav.tsx
  src/TabNav/__tests__/TabNav.test.tsx
  src/TabNav/__tests__/TabNav.types.test.tsx
  src/TabNav/__tests__/__snapshots__/TabNav.test.tsx.snap
  src/TabNav/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2824 Check that .docs.json files have matching .stories.tsx files
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2786 ci(vrt): update vrt to use multiple runners
  .github/workflows/update-snapshots.yml
  .github/workflows/vrt.yml
Labels: skip changeset

#2876 refactor(BranchName): move files to folder, add e2e tests and stories
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-colorblind-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-colorblind-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-high-contrast-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-tritanopia-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-tritanopia-linux.png
  docs/content/BranchName.mdx
  e2e/components/BranchName.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/BranchName/BranchName.docs.json
  src/BranchName/BranchName.stories.tsx
  src/BranchName/BranchName.tsx
  src/BranchName/__tests__/BranchName.test.tsx
  src/BranchName/__tests__/BranchName.types.test.tsx
  src/BranchName/__tests__/__snapshots__/BranchName.test.tsx.snap
  src/BranchName/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2884 adds rollup output auto
  rollup.config.js
Labels: skip changeset

#2880 ci: add merge_group as trigger for CI workflow
  .github/workflows/ci.yml
Labels: skip changeset

#2879 ci: add cache option to setup node
  .github/workflows/ci.yml
  .github/workflows/vrt.yml
Labels: skip changeset

#2877 ci: update aat runner and upload axe results
  .github/workflows/ci.yml
Labels: skip changeset

#2882 refactor(Breadcrumbs): move files to folder, add e2e tests and stories
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-colorblind-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-dimmed-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-high-contrast-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-tritanopia-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-colorblind-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-colorblind-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-high-contrast-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-high-contrast-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-tritanopia-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-tritanopia-hover-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-tritanopia-linux.png
  docs/content/Breadcrumbs.mdx
  e2e/components/Breadcrumbs.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/Breadcrumbs/Breadcrumbs.docs.json
  src/Breadcrumbs/Breadcrumbs.stories.tsx
  src/Breadcrumbs/Breadcrumbs.tsx
  src/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  src/Breadcrumbs/__tests__/Breadcrumbs.types.test.tsx
  src/Breadcrumbs/__tests__/BreadcrumbsItem.test.tsx
  src/Breadcrumbs/__tests__/__snapshots__/Breadcrumbs.test.tsx.snap
  src/Breadcrumbs/__tests__/__snapshots__/BreadcrumbsItem.test.tsx.snap
  src/Breadcrumbs/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2890 Update source link for link component
  docs/content/Link.mdx
Labels: skip changeset

#2883 refactor(Flash): move files to folder, add e2e tests and stories
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-tritanopia-linux.png
  docs/content/Flash.mdx
  e2e/components/Flash.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/Flash/Flash.docs.json
  src/Flash/Flash.features.stories.tsx
  src/Flash/Flash.stories.tsx
  src/Flash/Flash.tsx
  src/Flash/__tests__/Flash.test.tsx
  src/Flash/__tests__/Flash.types.test.tsx
  src/Flash/__tests__/__snapshots__/Flash.test.tsx.snap
  src/Flash/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2769 PageHeader: Type fixes and add type tests
  src/PageHeader/PageHeader.tsx
  src/PageHeader/PageHeader.types.test.tsx
Labels: skip changeset

#2886 Docs: use sx instead of system props in Box examples
  docs/content/Box.mdx
Labels: docs, react, skip changeset

#2856 ADR 010: Merge drafts status into experimental
  contributor-docs/adrs/adr-010-drafts-are-experimental.md
Labels: react, skip changeset

#2891 Delete visual_testing.yml
  .github/workflows/visual_testing.yml
Labels: skip changeset

#2780 Create adr-011-snapshot-tests.md
  contributor-docs/adrs/adr-011-snapshot-tests.md
Labels: skip changeset

#2904 refactor(Avatar): move files to folder, add e2e tests and stories
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-dark-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-light-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-dark-colorblind-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-dark-dimmed-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-dark-high-contrast-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-dark-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-dark-tritanopia-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-light-colorblind-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-light-high-contrast-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-light-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-light-tritanopia-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-dark-colorblind-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-dark-dimmed-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-dark-high-contrast-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-dark-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-dark-tritanopia-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-light-colorblind-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-light-high-contrast-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-light-linux.png
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Square-light-tritanopia-linux.png
  docs/content/Avatar.mdx
  docs/content/Flash.mdx
  e2e/components/Avatar.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/Avatar/Avatar.docs.json
  src/Avatar/Avatar.features.stories.tsx
  src/Avatar/Avatar.stories.tsx
  src/Avatar/Avatar.tsx
  src/Avatar/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2733 Create deprecating-components.md
  contributor-docs/deprecating-components.md
Labels: skip changeset

#2906 refactor(AvatarPair): move files to folder, add e2e tests and stories
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-dark-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-light-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-dark-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-light-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Circle-light-tritanopia-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-dark-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-tritanopia-linux.png
  docs/content/AvatarPair.mdx
  e2e/components/AvatarPair.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/AvatarPair/AvatarPair.docs.json
  src/AvatarPair/AvatarPair.features.stories.tsx
  src/AvatarPair/AvatarPair.stories.tsx
  src/AvatarPair/AvatarPair.tsx
  src/AvatarPair/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2907 refactor(AvatarStack): move files to folder, add e2e tests and stories
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-dark-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-light-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Left-light-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-dark-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-light-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Align-Right-light-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-dark-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-light-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-dark-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-light-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-Playground-light-tritanopia-linux.png
  docs/content/AvatarStack.mdx
  e2e/components/AvatarStack.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/AvatarStack/AvatarStack.docs.json
  src/AvatarStack/AvatarStack.features.stories.tsx
  src/AvatarStack/AvatarStack.stories.tsx
  src/AvatarStack/AvatarStack.tsx
  src/AvatarStack/index.ts
  src/__tests__/storybook.test.tsx
  src/stories/AvatarStack.stories.tsx
Labels: skip changeset

#2908 Change merged ADR status to Approved
  contributor-docs/adrs/adr-010-drafts-are-experimental.md
Labels: skip changeset

#2921 Update storybook-tests.yml
  .github/workflows/storybook-tests.yml
Labels: skip changeset

#2918 UnderlineNav2: Rename stories
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/UnderlineNav2/UnderlineNav2.examples.stories.tsx
  src/UnderlineNav2/UnderlineNav2.features.stories.tsx
  src/UnderlineNav2/UnderlineNav2.interactions.stories.tsx
  src/UnderlineNav2/UnderlineNav2.stories.tsx
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2902 feat(DataTable): add sorting behavior
  src/DataTable/DataTable.features.stories.tsx
  src/DataTable/DataTable.stories.tsx
  src/DataTable/__tests__/DataTable.test.tsx
  src/DataTable/column.ts
  src/DataTable/index.tsx
  src/DataTable/row.ts
  src/DataTable/sorting.ts
  src/DataTable/useTable.ts
  src/DataTable/utils.ts
Labels: skip changeset

#2917 CounterLabel: Format stories, move file into folder and e2e tests
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-dark-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-light-colorblind-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-light-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-dark-colorblind-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-dark-dimmed-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-dark-high-contrast-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-dark-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-dark-tritanopia-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-light-colorblind-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-light-high-contrast-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-light-linux.png
  .playwright/snapshots/components/CounterLabel.test.ts-snapshots/CounterLabel-Primary-Theme-light-tritanopia-linux.png
  docs/content/CounterLabel.mdx
  e2e/components/CounterLabel.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/CounterLabel/CounterLabel.docs.json
  src/CounterLabel/CounterLabel.features.stories.tsx
  src/CounterLabel/CounterLabel.stories.tsx
  src/CounterLabel/CounterLabel.test.tsx
  src/CounterLabel/CounterLabel.tsx
  src/CounterLabel/CounterLabel.types.test.tsx
  src/CounterLabel/__snapshots__/CounterLabel.test.tsx.snap
  src/CounterLabel/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2932 2841 use githubaxe config as config for axe
  e2e/matchers/toHaveNoViolations.ts
Labels: skip changeset

#2931 Update file structure ADR
  contributor-docs/adrs/adr-012-file-structure.md
Labels: skip changeset

#2916 Add guidance on testing to the `Getting Started` docs
  docs/content/getting-started.md
Labels: skip changeset

#2943 TextInput: Add labels to loading indicator stories for `axe-clean`
  src/stories/TextInput.stories.tsx
Labels: skip changeset

#2937 TextArea: Resolve storybook axe violation that was caused by explicitly setting an id
  src/stories/Textarea.stories.tsx
Labels: skip changeset

#2944 Add Storybook link to PRC Link docs page
  docs/content/Link.mdx
Labels: docs, skip changeset

#2946 Add vscode snippets for story templates
  .vscode/default-story-template.code-snippets
  .vscode/feature-story-template.code-snippets
Labels: skip changeset

#2672 Create adr-xxx-behavior-isolation.md
  contributor-docs/adrs/adr-002-behavior-isolation.md
  contributor-docs/adrs/adr-010-behavior-isolation.md
Labels: skip changeset
