Repository primer/react, pull requests merged in 2023-11, with the labels that each got.

#3883 rm outlineButton from storybook
  src/Button/Button.stories.tsx
  src/stories/deprecated/Button.stories.tsx
Labels: skip changeset

#3870 ActionList: Checkbox inside disabled item should have not-allowed cusor
  .changeset/smart-bugs-occur.md
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-dark-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-light-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-light-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Multi-Select-light-tritanopia-linux.png
  src/ActionList/ActionList.features.stories.tsx
  src/ActionList/Item.tsx
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: patch release

#3896 upgrade popover-polyfill to latest
  package-lock.json
  package.json
Labels: skip changeset

#3844 Update pull request template to add integration tests with github/github checklist item
  .github/pull_request_template.md
Labels: skip changeset

#3914 Update Button.docs.json
  src/Button/Button.docs.json
Labels: skip changeset

#3917 Adds column configuration options to DataTable docs
  src/DataTable/DataTable.docs.json
  src/DataTable/column.ts
Labels: skip changeset

#3923 docs: update side-nav to include data table
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: skip changeset

#3927 Tooltip2: Mark Tooltip v2 as reviewed for accessibility 🎉
  src/drafts/Tooltip/Tooltip.docs.json
Labels: skip changeset

#3143 1885 bug splitpagelayoutpane needs to be able to consume heading 1
  .changeset/lucky-gifts-rule.md
  docs/content/SplitPageLayout.mdx
  src/PageLayout/PageLayout.features.stories.tsx
  src/PageLayout/PageLayout.tsx
  src/SplitPageLayout/SplitPageLayout.tsx
Labels: a11y-eng-secondary

#3928 SelectPanel2: Add warning and error messages
  src/drafts/SelectPanel2/SelectPanel.stories.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: skip changeset

#3922 docs(contributors): add ADR 018
  contributor-docs/adrs/adr-009-interaction-tests.md
  contributor-docs/adrs/adr-018-interaction-tests-revisited.md
Labels: skip changeset

#3853 Remove `jsx-a11y/click-events-have-key-events` and `jsx-a11y/no-static-element-interactions` disables
  docs/src/@primer/gatsby-theme-doctocat/live-code-scope.js
  src/TreeView/TreeView.test.tsx
  src/TreeView/TreeView.tsx
Labels: skip changeset

#3950 Docs: Tweak responsive example, add generated css
  docs/content/overriding-styles.mdx
Labels: docs, skip changeset

#3946 Link: Add inline prop to tag links inside a text block
  .changeset/selfish-beans-cheat.md
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-dark-colorblind-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-dark-dimmed-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-dark-high-contrast-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-dark-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-dark-tritanopia-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-light-colorblind-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-light-high-contrast-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-light-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Inline-light-tritanopia-linux.png
  e2e/components/Link.test.ts
  src/Link/Link.dev.stories.tsx
  src/Link/Link.docs.json
  src/Link/Link.features.stories.tsx
  src/Link/Link.stories.tsx
  src/Link/Link.tsx
  src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/__tests__/__snapshots__/SideNav.test.tsx.snap
Labels: update snapshots

#3961 SelectPanel2: Props for docs page
  docs/content/drafts/SelectPanel.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/drafts/SelectPanel2/SelectPanel.docs.json
Labels: docs, skip changeset

#3974 Fix dead link for overriding styles
  contributor-docs/CONTRIBUTING.md
Labels: docs, skip changeset

#3965 Adjust focus styling of `textarea` and `input`
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/__tests__/__snapshots__/Textarea.test.tsx.snap
  src/internal/components/TextInputWrapper.tsx
Labels: skip changeset
