Repository primer/react, pull requests merged in 2023-01, with the labels that each got.

#2740 Create docs migration tracking workflow
  .github/workflows/docs_migration.yml
  script/docs-migration.js
Labels: skip changeset

#2718 Prevent default clicking on markdown preview links when using `openLinksInNewTab`
  .changeset/empty-pots-cheer.md
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
  src/drafts/MarkdownViewer/MarkdownViewer.test.tsx
  src/drafts/MarkdownViewer/_useLinkInterception.ts
Labels: 💓collab

#2765 Remove shadow from `MarkdownEditor` `textarea`
  .changeset/cool-jeans-applaud.md
  src/drafts/MarkdownEditor/_MarkdownInput.tsx
Labels: 💓collab

#2764 chore(devcontainer): increase recommended specs
  .devcontainer/devcontainer.json
Labels: skip changeset

#2726 Introduce markdown linting
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .markdownlint-cli2.cjs
  README.md
  contributor-docs/CONTRIBUTING.md
  contributor-docs/adrs/adr-004-children-as-api.md
  contributor-docs/adrs/adr-005-box-sx.md
  contributor-docs/adrs/adr-008-experimental-components.md
  contributor-docs/component-contents-api-patterns.md
  contributor-docs/principles.md
  contributor-docs/testing.md
  docs/content/Details.md
  docs/content/FilterList.md
  docs/content/FilteredSearch.md
  docs/content/NavList.mdx
  docs/content/Overlay.mdx
  docs/content/PageLayout.mdx
  docs/content/Textarea.mdx
  docs/content/anchoredPosition.mdx
  docs/content/deprecated/ActionList.mdx
  docs/content/deprecated/ActionMenu.mdx
  docs/content/deprecated/BorderBox.md
  docs/content/deprecated/Dropdown.md
  docs/content/deprecated/DropdownMenu.mdx
  docs/content/deprecated/Flex.md
  docs/content/deprecated/Grid.md
  docs/content/deprecated/Position.md
  docs/content/deprecated/SideNav.md
  docs/content/focusZone.mdx
  docs/content/primer-theme.md
  migrating.md
  package-lock.json
  package.json
Labels: 💓collab, skip changeset

#2699 Release tracking
  .changeset/cool-jeans-applaud.md
  .changeset/cuddly-brooms-shake.md
  .changeset/cuddly-rules-taste.md
  .changeset/eight-peas-tan.md
  .changeset/empty-pots-cheer.md
  .changeset/flat-feet-sing.md
  .changeset/gentle-badgers-confess.md
  .changeset/great-feet-share.md
  .changeset/lazy-beans-move.md
  .changeset/nervous-apricots-search.md
  .changeset/nervous-snails-wink.md
  .changeset/ninety-bobcats-worry.md
  .changeset/odd-wasps-breathe.md
  .changeset/olive-parents-search.md
  .changeset/polite-bats-confess.md
  .changeset/poor-melons-share.md
  .changeset/proud-ants-fold.md
  .changeset/quiet-icons-obey.md
  .changeset/selfish-clocks-hug.md
  .changeset/shaggy-stingrays-fly.md
  .changeset/strong-dolls-divide.md
  CHANGELOG.md
  package.json
Labels: minor release

#2730 test(setup): setup failOnConsole
  package-lock.json
  package.json
  src/Button/ButtonBase.tsx
  src/SegmentedControl/SegmentedControl.test.tsx
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/__tests__/CheckboxGroup.test.tsx
  src/__tests__/CheckboxOrRadioGroup.test.tsx
  src/__tests__/ConfirmationDialog.test.tsx
  src/__tests__/FormControl.test.tsx
  src/__tests__/RadioGroup.test.tsx
  src/__tests__/TextInput.test.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
  src/drafts/MarkdownViewer/MarkdownViewer.test.tsx
  src/stories/CheckboxGroup/examples.stories.tsx
  src/stories/CheckboxGroup/fixtures.stories.tsx
  src/stories/RadioGroup/examples.stories.tsx
  src/stories/RadioGroup/fixtures.stories.tsx
  src/utils/test-matchers.tsx
Labels: skip changeset

#2766 Create SECURITY.md
  .github/SECURITY.md
Labels: skip changeset

#2754 ci: add size summary for package exports
  .github/workflows/ci.yml
  package-lock.json
  package.json
  script/get-export-sizes.js
Labels: skip changeset

#2783 test(e2e): update underline nav test to wait for visibility
  e2e/components/UnderlineNav.test.ts
Labels: skip changeset

#2772 ci(vrt): update vrt flow for updating snapshots
  .github/workflows/update-snapshots.yml
  .github/workflows/vrt.yml
Labels: skip changeset

#2790 Clean up MDX files
  docs/content/ActionList.mdx
  docs/content/Checkbox.mdx
  docs/content/CounterLabel.mdx
  docs/content/IconButton.mdx
  docs/content/PointerBox.mdx
  docs/content/Radio.mdx
  docs/content/SelectPanel.mdx
  docs/content/StyledOcticon.mdx
  docs/content/TextInputWithTokens.mdx
  docs/content/ToggleSwitch.mdx
  docs/content/drafts/Hidden.mdx
  docs/content/drafts/InlineAutocomplete.mdx
Labels: skip changeset

#2759 move defaultProps to function defaults
  .changeset/witty-camels-relate.md
  src/AnchoredOverlay/AnchoredOverlay.tsx
  src/Autocomplete/AutocompleteMenu.tsx
  src/Avatar.tsx
  src/BaseStyles.tsx
  src/Caret.tsx
  src/CircleBadge.tsx
  src/CircleOcticon.tsx
  src/Dialog.tsx
  src/Flash.tsx
  src/FormControl/FormControl.tsx
  src/Label.tsx
  src/Overlay.tsx
  src/Pagination/Pagination.tsx
  src/Popover.tsx
  src/ProgressBar.tsx
  src/SegmentedControl/SegmentedControl.tsx
  src/SideNav.tsx
  src/StateLabel.tsx
  src/StyledOcticon.tsx
  src/TextInput.tsx
  src/TextInputWithTokens.tsx
  src/ToggleSwitch.tsx
  src/Token/AvatarToken.tsx
  src/Token/IssueLabelToken.tsx
  src/Token/Token.tsx
  src/Token/TokenBase.tsx
  src/Token/_RemoveTokenButton.tsx
  src/Truncate.tsx
  src/_CheckboxOrRadioGroup/CheckboxOrRadioGroup.tsx
  src/_CheckboxOrRadioGroup/_CheckboxOrRadioGroupLabel.tsx
  src/_TextInputInnerAction.tsx
  src/_VisuallyHidden.tsx
  src/deprecated/ChoiceFieldset/ChoiceFieldsetList.tsx
  src/deprecated/Dropdown.tsx
  src/deprecated/Position.tsx
  src/deprecated/SelectMenu/SelectMenuItem.tsx
  src/deprecated/SelectMenu/SelectMenuModal.tsx
  src/stories/Autocomplete.stories.tsx
Labels: 💓collab

#2715 Add fixed `position` prop to Overlay
  .changeset/wild-bananas-doubt.md
  docs/content/Overlay.mdx
  src/Overlay.docs.json
  src/Overlay.tsx
  src/__tests__/Overlay.test.tsx
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/drafts/InlineAutocomplete/InlineAutocomplete.tsx
  src/stories/Overlay.stories.tsx
Labels: 💓collab

#2803 Migrate MDX prop docs to JSON (part 2)
  docs/content/AnchoredOverlay.mdx
  docs/content/Autocomplete.mdx
  docs/content/CircleOcticon.md
  docs/content/CircleOcticon.mdx
  docs/content/Details.mdx
  docs/content/Dialog.mdx
  docs/content/FilterList.md
  docs/content/FilterList.mdx
  docs/content/FilteredSearch.mdx
  docs/content/Heading.mdx
  docs/content/LabelGroup.mdx
  docs/content/Spinner.mdx
  docs/content/StateLabel.md
  docs/content/StateLabel.mdx
  docs/content/SubNav.mdx
  docs/content/TabNav.md
  docs/content/TabNav.mdx
  docs/content/Text.md
  docs/content/Text.mdx
  docs/content/Timeline.mdx
  docs/content/Token.mdx
  docs/content/Tooltip.md
  docs/content/Tooltip.mdx
  docs/content/Truncate.mdx
  docs/content/UnderlineNav.md
  docs/content/UnderlineNav.mdx
  docs/content/drafts/Dialog.mdx
  docs/content/drafts/MarkdownEditor.mdx
  docs/content/drafts/MarkdownViewer.mdx
  docs/content/drafts/UnderlineNav2.mdx
  docs/src/component-props.js
  generated/components.json
  script/components-json/component.schema.json
  src/AnchoredOverlay/AnchoredOverlay.docs.json
  src/Autocomplete/Autocomplete.docs.json
  src/CircleOcticon.docs.json
  src/Details.docs.json
  src/Dialog.docs.json
  src/Dialog/Dialog.docs.json
  src/FilterList.docs.json
  src/FilteredSearch.docs.json
  src/Heading.docs.json
  src/LabelGroup.docs.json
  src/Spinner.docs.json
  src/StateLabel.docs.json
  src/SubNav.docs.json
  src/TabNav.docs.json
  src/Text.docs.json
  src/Timeline.docs.json
  src/Token/Token.docs.json
  src/Tooltip.docs.json
  src/Truncate.docs.json
  src/UnderlineNav.docs.json
  src/UnderlineNav2/UnderlineNav2.docs.json
  src/drafts/MarkdownEditor/MarkdownEditor.docs.json
  src/drafts/MarkdownViewer/MarkdownViewer.docs.json
Labels: skip changeset

#2808 Fix forwardRef regression
  src/Avatar.tsx
  src/Flash.tsx
  src/Label.tsx
Labels: skip changeset

#2809 Fix Label `as` prop regression
  src/Label.tsx
Labels: skip changeset

#2810 Fix Truncate regressions
  src/Truncate.tsx
Labels: skip changeset

#2794 Update component checklist to reflect the component lifecycle
  docs/content/drafts/UnderlineNav2.mdx
  docs/src/component-checklist.js
Labels: skip changeset

#2811 Fix `as` type errors
  src/Avatar.tsx
  src/Flash.tsx
  src/Label.tsx
  src/Truncate.tsx
Labels: skip changeset

#2817 Fix the example in MarkdownEditor (#2816)
  docs/content/drafts/MarkdownEditor.mdx
Labels: skip changeset

#2822 Make storybook test more robust
  src/Button/Button.features.stories.tsx
  src/Button/Button.stories.tsx
  src/Button/IconButton.features.stories.tsx
  src/Button/IconButton.stories.tsx
  src/Button/LinkButton.features.stories.tsx
  src/Button/LinkButton.stories.tsx
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#2823 Fix Button e2e tests
  e2e/components/Button.test.ts
  e2e/components/IconButton.test.ts
  e2e/components/LinkButton.test.ts
  script/generate-e2e-tests.js
Labels: skip changeset

#2835 Update theming docs to ensure number of available themes is not incorrect
  docs/content/theming.md
Labels: skip changeset

#2826 chore(project): add eslint-plugin-storybook
  .eslintrc.json
  package-lock.json
  package.json
  src/ActionList/ActionList.examples.stories.tsx
  src/PageLayout/interaction.stories.tsx
  src/UnderlineNav2/features.stories.tsx
  src/stories/Portal.stories.tsx
  src/stories/deprecated/ActionList.stories.tsx
  src/stories/deprecated/ActionMenu.stories.tsx
  src/stories/deprecated/Button.stories.tsx
Labels: skip changeset
