Repository primer/react, pull requests merged in 2023-07, with the labels that each got.

#3463 chore: add release-blocker command
  .github/commands/release-blocker.yml
Labels: skip changeset

#3462 docs: add versioning guide
  contributor-docs/versioning.md
Labels: skip changeset

#3467 docs: fix textarea props description
  src/Textarea/Textarea.docs.json
Labels: skip changeset

#3469 Replace deprecated command with environment file
  .github/workflows/deploy_production.yml
Labels: skip changeset

#3477 chore(deps): update @types/node to v18
  package-lock.json
  package.json
Labels: skip changeset

#3475 Temporarily remove css components from drafts
  src/__tests__/__snapshots__/exports.test.ts.snap
  src/drafts/index.ts
Labels: skip changeset

#3080 ADR: Styling with css
  contributor-docs/adrs/adr-017-css.md
Labels: skip changeset, ADR

#3483 Revert "Address ToggleSwitch a11y feedback, take 2"
  .changeset/two-cycles-provide.md
  e2e/components/ToggleSwitch.test.ts
  generated/components.json
  src/ToggleSwitch/ToggleSwitch.tsx
  src/__tests__/ToggleSwitch.test.tsx
  src/__tests__/__snapshots__/ToggleSwitch.test.tsx.snap
Labels: skip changeset

#3372 3230 Refactor internal components - TextInputInnerAction
  src/TextInput/TextInput.tsx
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/internal/components/TextInputInnerAction.tsx
Labels: skip changeset

#3374 Updates Autocomplete documentation to show how to render in a Dialog
  docs/content/Autocomplete.mdx
  src/stories/Autocomplete.stories.tsx
Labels: skip changeset

#3488 chore: remove release blocker command
  .github/commands/release-blocker.yml
Labels: skip changeset

#3478 docs: update titles and order for storybook hierarchy
  .storybook/preview.js
  src/Overlay/Overlay.features.stories.tsx
  src/stories/deprecated/ActionList.stories.tsx
  src/stories/deprecated/ActionMenu.stories.tsx
  src/stories/deprecated/Button.stories.tsx
  src/stories/deprecated/DropdownMenu.stories.tsx
Labels: skip changeset

#3479 refactor: update components.json step to run at build time
  .github/workflows/ci.yml
  .gitignore
  generated/components.json
  script/build
Labels: skip changeset

#3494 chore: run formatters and sync package-lock
  contributor-docs/adrs/adr-017-css.md
  package-lock.json
Labels: skip changeset

#3449 Export Blankslate and BlankslateProps
  src/Blankslate/index.tsx
  src/__tests__/__snapshots__/exports.test.ts.snap
  src/drafts/index.ts
Labels: skip changeset

#3495 chore: leverage `clsx` for our conditional class names
  contributor-docs/adrs/adr-017-css.md
  package-lock.json
  package.json
  src/AvatarStack/AvatarStack.tsx
  src/Breadcrumbs/Breadcrumbs.tsx
  src/DataTable/Table.tsx
  src/Popover/Popover.tsx
  src/SideNav.tsx
  src/SubNav/SubNav.tsx
  src/TabNav/TabNav.tsx
  src/TextInput/TextInput.tsx
  src/Timeline/Timeline.tsx
  src/Tooltip.tsx
  src/TreeView/TreeView.tsx
  src/UnderlineNav/UnderlineNav.tsx
  src/deprecated/SelectMenu/SelectMenuTab.tsx
  src/drafts/CSSComponent/index.tsx
Labels: skip changeset

#3497 chore: remove generated/components.json
  generated/components.json
Labels: skip changeset

#3508 chore(deps-dev): bump `primer-changesets-cli` to 2.2.0
  package-lock.json
  package.json
Labels: skip changeset

#3509 chore(npm): add types packages as optional peer deps
  .github/workflows/consumer_test.yml
  consumer-test/App.tsx
  consumer-test/package.json
  package-lock.json
  package.json
Labels: skip changeset

#3506 ci: update changesets action to build generated/components.json
  .github/workflows/changesets.yml
Labels: skip changeset

#3507 ci: update ci workflow to remove app token requirement
  .github/workflows/ci.yml
Labels: skip changeset

#2986 [Looking for feedback] For ADRs, convert status into a table
  contributor-docs/adrs/adr-001-typescript.md
  contributor-docs/adrs/adr-002-behavior-isolation.md
  contributor-docs/adrs/adr-003-prop-norms.md
  contributor-docs/adrs/adr-004-children-as-api.md
  contributor-docs/adrs/adr-005-box-sx.md
  contributor-docs/adrs/adr-006-drafts.md
  contributor-docs/adrs/adr-008-experimental-components.md
  contributor-docs/adrs/adr-009-interaction-tests.md
  contributor-docs/adrs/adr-010-behavior-isolation.md
  contributor-docs/adrs/adr-010-drafts-are-experimental.md
  contributor-docs/adrs/adr-011-snapshot-tests.md
  contributor-docs/adrs/adr-012-development-warnings.md
  contributor-docs/adrs/adr-012-file-structure.md
Labels: react, skip changeset, ADR

#3513 build(deps): bump `primer-changesets-cli` to 2.2.1
  package-lock.json
  package.json
Labels: skip changeset

#3519 Format css files with prettier
  package.json
Labels: skip changeset

#3518 Let storybook be aware of postcss for `.module.css` files
  .storybook/main.js
  package-lock.json
  package.json
  postcss.config.js
  rollup.config.js
Labels: skip changeset

#3528 Delete components.json
  generated/components.json
Labels: skip changeset

#3535 Remove Storybook autodocs
  .storybook/main.js
Labels: skip changeset

#3534 Add `display: inline-block` to tooltip container
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-colorblind-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-dimmed-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-high-contrast-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-tritanopia-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-colorblind-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-high-contrast-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-tritanopia-open-linux.png
  e2e/components/Tooltip.test.ts
  script/generate-e2e-tests.js
  src/Tooltip.tsx
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/Tooltip.test.tsx.snap
  src/stories/Tooltip.stories.tsx
Labels: skip changeset

#3544 Remove `DropdownButton` and `DropdownMenu` from deprecated and update the usages across
  .changeset/nine-news-walk.md
  docs/content/deprecated/ActionList.mdx
  docs/content/deprecated/DropdownMenu.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/ActionList/Item.tsx
  src/SelectPanel/SelectPanel.tsx
  src/SelectPanel/__snapshots__/SelectPanel.test.tsx.snap
  src/__tests__/__snapshots__/exports.test.ts.snap
  src/__tests__/deprecated/DropdownMenu.test.tsx
  src/__tests__/deprecated/__snapshots__/DropdownMenu.test.tsx.snap
  src/deprecated/DropdownMenu/DropdownButton.tsx
  src/deprecated/DropdownMenu/DropdownMenu.tsx
  src/deprecated/DropdownMenu/index.ts
  src/deprecated/index.ts
  src/stories/deprecated/ActionMenu.stories.tsx
  src/stories/deprecated/DropdownMenu.stories.tsx
Labels: major release

#3543 chore(deps): update storybook deps to 7.1
  package-lock.json
  package.json
Labels: skip changeset

#3546 Stories: Add reproduction for conditional Dialog.Footer bug
  src/stories/Dialog.stories.tsx
Labels: skip changeset

#3087 3003 autocomplete when in dialog intercepts escape keypresses and click outside
  src/Autocomplete/AutocompleteOverlay.tsx
  src/__tests__/Autocomplete.test.tsx
  src/hooks/useDialog.ts
  src/stories/Autocomplete.stories.tsx
Labels: skip changeset

#3560 Fix source links
  docs/content/Checkbox.mdx
  docs/content/CircleBadge.mdx
  docs/content/CircleOcticon.mdx
  docs/content/Dialog.mdx
  docs/content/FilterList.mdx
  docs/content/FilteredSearch.mdx
  docs/content/Heading.mdx
  docs/content/LabelGroup.mdx
  docs/content/Overlay.mdx
  docs/content/Pagehead.md
  docs/content/PointerBox.mdx
  docs/content/Popover.md
  docs/content/ProgressBar.mdx
  docs/content/Radio.mdx
  docs/content/RelativeTime.mdx
  docs/content/SelectPanel.mdx
  docs/content/SubNav.mdx
  docs/content/TabNav.mdx
  docs/content/Text.mdx
  docs/content/TextInput.mdx
  docs/content/TextInputWithTokens.mdx
  docs/content/Textarea.mdx
  docs/content/Timeline.mdx
  docs/content/ToggleSwitch.mdx
  docs/content/Tooltip.mdx
  docs/content/Truncate.mdx
  docs/content/UnderlineNav.mdx
Labels: docs, skip changeset

#3545 fix(PageLayout): Remove `warning` for the deprecated `position` prop
  .changeset/hungry-spies-remember.md
  docs/content/PageLayout.mdx
  docs/content/SplitPageLayout.mdx
  src/PageLayout/PageLayout.docs.json
  src/PageLayout/PageLayout.tsx
  src/SplitPageLayout/SplitPageLayout.docs.json
  src/SplitPageLayout/SplitPageLayout.test.tsx
Labels: skip changeset

#3567 Revert "Upgrade styled-components to v5"
  .changeset/proud-rules-develop.md
  package-lock.json
  package.json
  src/CounterLabel/CounterLabel.tsx
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/SelectPanel/__snapshots__/SelectPanel.test.tsx.snap
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
  src/Token/TokenBase.tsx
  src/__tests__/Box.test.tsx
  src/__tests__/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/Box.test.tsx.snap
  src/__tests__/__snapshots__/Button.test.tsx.snap
  src/__tests__/__snapshots__/CircleBadge.test.tsx.snap
  src/__tests__/__snapshots__/ConfirmationDialog.test.tsx.snap
  src/__tests__/__snapshots__/Dialog.test.tsx.snap
  src/__tests__/__snapshots__/Dropdown.test.tsx.snap
  src/__tests__/__snapshots__/Popover.test.tsx.snap
  src/__tests__/__snapshots__/SelectMenu.test.tsx.snap
  src/__tests__/__snapshots__/SideNav.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/__tests__/__snapshots__/ToggleSwitch.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ActionList.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/Button.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ChoiceFieldset.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/DropdownMenu.test.tsx.snap
Labels: skip changeset

#3260 Remove components from draft and move UnderlineNav2 to main bundle
  .changeset/early-timers-speak.md
  docs/components/ThemeReferenceTree.js
  docs/content/TreeView.mdx
  docs/content/UnderlineNav.mdx
  docs/content/deprecated/UnderlineNav.mdx
  docs/content/drafts/PageHeader.mdx
  docs/content/drafts/UnderlineNav2.mdx
  docs/content/theme-reference.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  e2e/components/UnderlineNav--deprecated.test.ts
  e2e/components/UnderlineNav.test.ts
  examples/nextjs/src/components/Navigation.js
  script/generate-e2e-tests.js
  src/PageHeader/PageHeader.examples.stories.tsx
  src/PageHeader/PageHeader.features.stories.tsx
  src/PageHeader/PageHeader.stories.tsx
  src/UnderlineNav/LoadingCounter.tsx
  src/UnderlineNav/UnderlineNav.Item.stories.tsx
  src/UnderlineNav/UnderlineNav.devonly.stories.tsx
  src/UnderlineNav/UnderlineNav.docs.json
  src/UnderlineNav/UnderlineNav.examples.stories.tsx
  src/UnderlineNav/UnderlineNav.features.stories.tsx
  src/UnderlineNav/UnderlineNav.interactions.stories.tsx
  src/UnderlineNav/UnderlineNav.stories.tsx
  src/UnderlineNav/UnderlineNav.test.tsx
  src/UnderlineNav/UnderlineNav.tsx
  src/UnderlineNav/UnderlineNavContext.tsx
  src/UnderlineNav/UnderlineNavItem.tsx
  src/UnderlineNav/__snapshots__/UnderlineNav.test.tsx.snap
  src/UnderlineNav/index.ts
  src/UnderlineNav/styles.ts
  src/UnderlineNav/types.ts
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/UnderlineNav2/UnderlineNav.tsx
  src/UnderlineNav2/UnderlineNav2.docs.json
  src/UnderlineNav2/UnderlineNav2.features.stories.tsx
  src/UnderlineNav2/UnderlineNav2.stories.tsx
  src/UnderlineNav2/__snapshots__/UnderlineNav.test.tsx.snap
  src/UnderlineNav2/index.ts
  src/__tests__/__snapshots__/UnderlineNavLink.test.tsx.snap
  src/__tests__/__snapshots__/exports.test.ts.snap
  src/deprecated/UnderlineNav/UnderlineNav.docs.json
  src/deprecated/UnderlineNav/UnderlineNav.features.stories.tsx
  src/deprecated/UnderlineNav/UnderlineNav.stories.tsx
  src/deprecated/UnderlineNav/UnderlineNav.test.tsx
  src/deprecated/UnderlineNav/UnderlineNav.tsx
  src/deprecated/UnderlineNav/UnderlineNav.types.test.tsx
  src/deprecated/UnderlineNav/UnderlineNavLink.test.tsx
  src/deprecated/UnderlineNav/index.ts
  src/deprecated/index.ts
  src/drafts/index.ts
  src/index.ts
Labels: major release
