Repository primer/react, pull requests merged in 2023-04, with the labels that each got.

#3070 chore(project): update @playwright/test dependency
  package-lock.json
  package.json
Labels: skip changeset

#3083 chore(dev-deps): bump @testing-library/dom and @testing-library/react
  package-lock.json
  package.json
  script/set-react-version.js
Labels: skip changeset

#3118 refactor(CircleBadge): move files into folder, add e2e tests.
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-dark-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-light-colorblind-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-light-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-dark-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-light-linux.png
  .playwright/snapshots/components/CircleBadge.test.ts-snapshots/CircleBadge-Playground-light-tritanopia-linux.png
  docs/content/CircleBadge.mdx
  e2e/components/CircleBadge.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/CircleBadge/CircleBadge.docs.json
  src/CircleBadge/CircleBadge.stories.tsx
  src/CircleBadge/CircleBadge.tsx
  src/CircleBadge/index.ts
Labels: skip changeset

#3122 refactor(FilterList): add files to folder, add storybook and e2e tests.
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-tritanopia-linux.png
  docs/content/FilterList.mdx
  e2e/components/FilterList.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/FilterList/FilterList.docs.json
  src/FilterList/FilterList.stories.tsx
  src/FilterList/FilterList.tsx
  src/FilterList/index.ts
Labels: skip changeset

#3125 Refactor(FilteredSearch): move files to folder, add storybook and e2e tests.
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-dark-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-light-colorblind-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-light-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-dark-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-light-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-light-tritanopia-linux.png
  docs/content/FilteredSearch.mdx
  e2e/components/FilteredSearch.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/FilteredSearch/FilteredSearch.docs.json
  src/FilteredSearch/FilteredSearch.stories.tsx
  src/FilteredSearch/FilteredSearch.tsx
  src/FilteredSearch/index.ts
Labels: skip changeset

#3131 Refactor(LabelGroup): add files to folder, add storybook and e2e tests.
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-dark-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-light-colorblind-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-light-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-dark-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-light-linux.png
  .playwright/snapshots/components/LabelGroup.test.ts-snapshots/LabelGroup-Playground-light-tritanopia-linux.png
  docs/content/LabelGroup.mdx
  e2e/components/LabelGroup.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/LabelGroup/LabelGroup.docs.json
  src/LabelGroup/LabelGroup.stories.tsx
  src/LabelGroup/LabelGroup.tsx
  src/LabelGroup/index.ts
Labels: skip changeset

#3130 test(e2e): update ActionMenu e2e test to remove custom contrast rules
  e2e/components/ActionMenu.test.ts
Labels: skip changeset

#3127 NavList SSR: use useIsomorphicLayoutEffect instead of useLayoutEffect
  .changeset/fast-panthers-refuse.md
  src/NavList/NavList.tsx
Labels: react

#3133 chore(project): update project to use Node.js v18 LTS
  .devcontainer/devcontainer.json
  .github/workflows/assign_release_conductor.yml
  .github/workflows/ci.yml
  .github/workflows/consumer_test.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/deploy_production.yml
  .github/workflows/docs_migration.yml
  .github/workflows/pull_request.yml
  .github/workflows/statuses.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/vrt.yml
  .nvmrc
  package.json
Labels: skip changeset

#3135 Refactor(Popover): move files into folder, add storybook and e2e tests.
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-dark-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-light-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-dark-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-light-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-Playground-light-tritanopia-linux.png
  docs/content/Popover.md
  e2e/components/Popover.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/Popover/Popover.docs.json
  src/Popover/Popover.stories.tsx
  src/Popover/Popover.tsx
  src/Popover/index.ts
Labels: skip changeset

#3074 Add npm workspaces structure to primer/react
  contributor-docs/adrs/adr-015-npm-workspaces.md
Labels: skip changeset, ADR

#3046 docs(adr): add internal modules ADR
  contributor-docs/adrs/adr-016-internal-modules.md
Labels: skip changeset, ADR

#3151 refactor(SubNav): move files, create storybook
  docs/content/SubNav.mdx
  generated/components.json
  src/SubNav/SubNav.docs.json
  src/SubNav/SubNav.features.stories.tsx
  src/SubNav/SubNav.stories.tsx
  src/SubNav/SubNav.tsx
  src/SubNav/index.ts
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#3153 Suggest disabling animations if VRT tests fail by a small amount.
  contributor-docs/testing.md
  docs/src/@primer/gatsby-theme-doctocat/components/live-preview-wrapper.js
Labels: skip changeset

#3169 Tooltip: Revert tooltip remediations until resolving breaking changes at dotcom
  .changeset/dirty-files-talk.md
  .changeset/flat-drinks-retire.md
  docs/content/Tooltip.mdx
  generated/components.json
  src/Tooltip.docs.json
  src/Tooltip.tsx
  src/Tooltip/Tooltip.features.stories.tsx
  src/Tooltip/Tooltip.tsx
  src/Tooltip/__tests__/Tooltip.test.tsx
  src/Tooltip/index.ts
  src/_TextInputInnerAction.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/Tooltip.test.tsx
  src/__tests__/Tooltip.types.test.tsx
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/Tooltip.test.tsx.snap
  src/index.ts
  src/stories/Tooltip.stories.tsx
Labels: skip changeset

#3187 Delete docs migration-related code
  .github/workflows/docs_migration.yml
  script/docs-migration.js
  script/props-mdx-to-json.mjs
Labels: skip changeset

#3175 Docs(Tooltip): Adds `defaultValue` of tooltip direction to documentation
  src/Tooltip.docs.json
Labels: skip changeset

#3183 chore(project): update test-e2e docker image
  script/test-e2e
Labels: skip changeset

#3191 Refactor(Overlay): move files to folder.
  docs/content/Overlay.mdx
  generated/components.json
  src/Overlay/Overlay.docs.json
  src/Overlay/Overlay.features.stories.tsx
  src/Overlay/Overlay.test.tsx
  src/Overlay/Overlay.tsx
  src/Overlay/Overlay.types.test.tsx
  src/Overlay/index.ts
Labels: skip changeset, update snapshots

#3189 Refactor(Text): move files to directory, add storybook and e2e tests.
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-dark-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-light-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-dark-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-light-linux.png
  .playwright/snapshots/components/Text.test.ts-snapshots/Text-Playground-light-tritanopia-linux.png
  docs/content/Text.mdx
  e2e/components/Text.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/Text/Text.docs.json
  src/Text/Text.stories.tsx
  src/Text/Text.test.tsx
  src/Text/Text.tsx
  src/Text/__snapshots__/Text.test.tsx.snap
  src/Text/index.ts
Labels: skip changeset

#2283 Reduce ❌ for forks
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/deploy_production.yml
  .github/workflows/stale.yml
  .github/workflows/statuses.yml
Labels: react, skip changeset

#3188 Refactor(Portal): move stories into Portal directory.
  generated/components.json
  src/Portal/Portal.features.stories.tsx
  src/Portal/Portal.stories.tsx
Labels: skip changeset

#3204 Add `Text`, `StyledOcticon` stories
  docs/content/StyledOcticon.mdx
  generated/components.json
  src/StyledOcticon/StyledOcticon.docs.json
  src/StyledOcticon/StyledOcticon.stories.tsx
  src/StyledOcticon/StyledOcticon.tsx
  src/StyledOcticon/index.ts
  src/Text/Text.features.stories.tsx
  src/Text/Text.stories.tsx
Labels: skip changeset

#3201 Fix Header examples that still used deprecated system props
  docs/content/Header.mdx
Labels: docs, skip changeset

#3210 Update RelativeTime.docs.json (fix docs typo)
  generated/components.json
  src/RelativeTime/RelativeTime.docs.json
Labels: docs, skip changeset

#3192 e2e PageLayout: Add await for `content.scrollIntoViewIfNeeded`
  e2e/components/PageLayout.test.ts
Labels: skip changeset

#3217 Refactor(SplitPageLayout): move additional story to features, add e2e tests.
  generated/components.json
  src/SplitPageLayout/SplitPageLayout.features.stories.tsx
  src/SplitPageLayout/SplitPageLayout.stories.tsx
Labels: skip changeset, update snapshots

#3205 Deprecate legacy slots implementation
  src/_CheckboxOrRadioGroup/slots.ts
  src/deprecated/ChoiceFieldset/ChoiceFieldset.tsx
  src/deprecated/InputField/slots.ts
  src/deprecated/utils/__snapshots__/createSlots.test.tsx.snap
  src/deprecated/utils/create-slots.tsx
  src/deprecated/utils/createSlots.test.tsx
Labels: skip changeset

#3223 Fix create-slots utils path in ActionList file
  src/ActionList/shared.ts
Labels: skip changeset

#3222 Refactor(UnderlineNav): move files to directory, add storybook stories and e2e tests.
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-dark-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-dark-dimmed-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-dark-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-dark-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-dark-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-light-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-light-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-light-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Actions-light-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-dark-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-light-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-light-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-dark-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-light-linux.png
  .playwright/snapshots/components/UnderlineNav--deprecated.test.ts-snapshots/UnderlineNav--deprecated-Playground-light-tritanopia-linux.png
  docs/content/UnderlineNav.mdx
  e2e/components/UnderlineNav--deprecated.test.ts
  generated/components.json
  script/generate-e2e-tests.js
  src/UnderlineNav/UnderlineNav.docs.json
  src/UnderlineNav/UnderlineNav.features.stories.tsx
  src/UnderlineNav/UnderlineNav.stories.tsx
  src/UnderlineNav/UnderlineNav.test.tsx
  src/UnderlineNav/UnderlineNav.tsx
  src/UnderlineNav/UnderlineNav.types.test.tsx
  src/UnderlineNav/__snapshots__/UnderlineNav.test.tsx.snap
  src/UnderlineNav/index.ts
Labels: skip changeset

#3113 Disable token interactions on disabled TextInputWithTokens.
  src/TextInputWithTokens/TextInputWithTokens.tsx
  src/Token/TokenBase.tsx
Labels: skip changeset
