Repository primer/react, pull requests merged in 2023-08, with the labels that each got.

#3568 Bump Doctocat to 4.6.1
  docs/package-lock.json
  docs/package.json
  docs/src/@primer/gatsby-theme-doctocat/primer-nav.yml
Labels: docs, skip changeset

#3556 ActionList item should have `border-radius` on hover with `full` variant
  .changeset/shaggy-insects-march.md
  src/ActionList/Item.tsx
Labels: major release

#3589 Revert #3389 (PageLayout.Pane: Undo deprecation for position prop)
  .changeset/nervous-dolls-dream.md
  docs/content/PageLayout.mdx
  docs/content/SplitPageLayout.mdx
  src/PageLayout/PageLayout.docs.json
  src/PageLayout/PageLayout.features.stories.tsx
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/PageLayout.test.tsx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/SplitPageLayout/SplitPageLayout.docs.json
  src/SplitPageLayout/SplitPageLayout.stories.tsx
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: patch release

#3590 Revert "Show underline on Link when hovered or focused."
  .changeset/lemon-spoons-warn.md
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-colorblind-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-dimmed-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-high-contrast-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-tritanopia-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-colorblind-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-colorblind-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-high-contrast-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-high-contrast-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-tritanopia-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-light-tritanopia-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-colorblind-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-dimmed-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-high-contrast-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-tritanopia-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-colorblind-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-colorblind-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-high-contrast-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-high-contrast-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-hover-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-tritanopia-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-tritanopia-hover-linux.png
  src/Link/Link.tsx
  src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/UnderlineNav2/__snapshots__/UnderlineNav.test.tsx.snap
  src/__tests__/__snapshots__/SideNav.test.tsx.snap
Labels: skip changeset

#3591 Bump `eslint-plugin-primer-react`
  docs/content/getting-started.md
  docs/src/@primer/gatsby-theme-doctocat/components/hero.js
  package-lock.json
  package.json
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
Labels: skip changeset

#3609 Expose `useSlots` from `drafts`
  .changeset/thin-laws-beam.md
  src/__tests__/__snapshots__/exports.test.ts.snap
  src/drafts/hooks/index.ts
Labels: react

#3615 Resolve remaining Storybook Axe violations
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-dark-colorblind-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-dark-dimmed-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-dark-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-dark-tritanopia-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-light-colorblind-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-light-high-contrast-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-light-linux.png
  .playwright/snapshots/components/drafts/Button2.test.ts-snapshots/Button-sx-prop-light-tritanopia-linux.png
  src/Button/Button.dev.stories.tsx
  src/PageHeader/PageHeader.examples.stories.tsx
  src/__tests__/deprecated/__snapshots__/ChoiceFieldset.test.tsx.snap
  src/drafts/Button2/Button.dev.stories.tsx
  src/drafts/MarkdownViewer/MarkdownViewer.stories.tsx
  src/internal/components/ValidationAnimationContainer.tsx
  src/stories/useAnchoredPosition.stories.tsx
Labels: skip changeset

#3617 docs: add scenario for changing the display property
  contributor-docs/versioning.md
Labels: skip changeset

#3611 NavList: Fix when subNav opens automatically and shows current indicator
  .changeset/tiny-numbers-sip.md
  src/NavList/NavList.stories.tsx
  src/NavList/NavList.tsx
Labels: bug, patch release, react

#3630 test: update playwright/test to 1.37
  .github/workflows/ci.yml
  package-lock.json
  package.json
  playwright.config.ts
  script/test-e2e
Labels: skip changeset

#3642 chore(build): update rollup config to ignore use client warnings
  rollup.config.js
Labels: skip changeset

#3643 ci: fix Add to inbox workflow
  .github/workflows/add_to_inbox.yml
Labels: skip changeset

#3637 Docs: Mark Blankslate as draft
  src/Blankslate/Blankslate.docs.json
Labels: react, skip changeset

#3579 Add aria-selected value to ActionList.Item.
  .changeset/late-bugs-battle.md
  src/ActionList/Item.tsx
  src/__tests__/ActionList.test.tsx
Labels: react

#3646 refactor(eslint): add pattern for importing from utils/ssr and move to useId
  .eslintrc.js
  src/Autocomplete/AutocompleteMenu.tsx
  src/FormControl/FormControl.tsx
  src/index.ts
  src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroup.tsx
Labels: skip changeset

#3600 Use the Primer GitHub App for auth instead of the GPR_AUTH_TOKEN_SHARED
  .github/workflows/add_to_inbox.yml
  .github/workflows/release.yml
Labels: skip changeset

#3655 ci(vrt): update docker image for VRT to v1.37
  .github/workflows/vrt.yml
Labels: skip changeset

#3654 Use `control` CSS var with fallback for form component border-color
  .changeset/lazy-eyes-bow.md
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/FilteredSearch.test.ts-snapshots/FilteredSearch-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/InlineAutocomplete.test.ts-snapshots/InlineAutocomplete-Custom-Rendering-dark-high-contrast-linux.png
  .playwright/snapshots/components/InlineAutocomplete.test.ts-snapshots/InlineAutocomplete-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/InlineAutocomplete.test.ts-snapshots/InlineAutocomplete-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/InlineAutocomplete.test.ts-snapshots/InlineAutocomplete-Single-Line-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Block-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Large-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-With-Caption-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-With-Option-Groups-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Block-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Large-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Small-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Caption-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Leading-Visual-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Icon-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInputWithTokens.test.ts-snapshots/TextInputWithTokens-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInputWithTokens.test.ts-snapshots/TextInputWithTokens-With-Leading-Visual-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInputWithTokens.test.ts-snapshots/TextInputWithTokens-With-Trailing-Visual-dark-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Block-dark-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-dark-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Warning-dark-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-With-Caption-dark-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-UnderlineNav-Interactions-dark-high-contrast-Keep-selected-item-visible-vrt-1-linux.png
  blob-report/report-1.zip
  blob-report/report-2.zip
  blob-report/report-3.zip
  blob-report/report-4.zip
  package-lock.json
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/__tests__/__snapshots__/Textarea.test.tsx.snap
  src/internal/components/TextInputWrapper.tsx
Labels: react

#3584 Added StyledOcticon story to testing
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-With-Avatars-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-With-Avatars-light-tritanopia-linux.png
  blob-report/report-1.zip
  blob-report/report-2.zip
  blob-report/report-3.zip
  blob-report/report-4.zip
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#3664 fix markdown syntax in adr-004-children-as-api.md
  contributor-docs/adrs/adr-004-children-as-api.md
Labels: skip changeset

#3668 Fix release action
  .github/workflows/release.yml
Labels: skip changeset

#3677 Use release_with_app shared workflow
  .github/workflows/release.yml
Labels: skip changeset

#3681 Fix duplicate heading to resolve duplicate IDs
  docs/content/PageLayout.mdx
Labels: skip changeset

#3684 Update PageLayout docs
  docs/content/PageLayout.mdx
  src/PageLayout/PageLayout.docs.json
Labels: skip changeset

#3663 ci(vrt): update snapshots workflow to use create-github-app-token
  .github/workflows/update-snapshots.yml
Labels: skip changeset

#3660 chore: update gitignore file groups and add pattern for Playwright
  .gitignore
  blob-report/report-1.zip
  blob-report/report-2.zip
  blob-report/report-3.zip
  blob-report/report-4.zip
Labels: skip changeset

#3657 Fix the add_to_inbox action
  .github/workflows/add_to_inbox.yml
Labels: skip changeset
