Repository primer/react, pull requests merged in 2023-10, with the labels that each got.

#3770 SelectPanel2: 3 tiny bug fixes
  src/drafts/SelectPanel2/SelectPanel.stories.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: skip changeset

#3764 Selectpanel2: Remove SelectPanel.ActionList API
  src/ActionList/ActionListContainerContext.tsx
  src/ActionList/Item.tsx
  src/drafts/SelectPanel2/SelectPanel.stories.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: skip changeset

#3778 Adds clear all button in header using the FilterRemoveIcon Octicon
  examples/nextjs/package-lock.json
  package-lock.json
  package.json
  src/drafts/SelectPanel2/SelectPanel.stories.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
  src/drafts/SelectPanel2/tmp-ClearIcon.tsx
Labels: skip changeset

#3566 Added AnchoredOverlay story
  src/AnchoredOverlay/AnchoredOverlay.features.stories.tsx
  src/AnchoredOverlay/AnchoredOverlay.stories.tsx
  src/__tests__/storybook.test.tsx
  src/stories/AnchoredOverlay.stories.tsx
Labels: skip changeset

#3793 Add aria-label to UnderlineNav default story
  src/UnderlineNav2/UnderlineNav2.stories.tsx
Labels: skip changeset

#3751 Docs/add Dialog stories
  src/ConfirmationDialog/ConfirmationDialog.features.stories.tsx
  src/ConfirmationDialog/ConfirmationDialog.stories.tsx
  src/ConfirmationDialog/ConfirmationDialog.test.tsx
  src/ConfirmationDialog/ConfirmationDialog.tsx
  src/ConfirmationDialog/__snapshots__/ConfirmationDialog.test.tsx.snap
  src/DataTable/ErrorDialog.tsx
  src/Dialog.stories.tsx
  src/Dialog/Dialog.features.stories.tsx
  src/Dialog/Dialog.stories.tsx
  src/Dialog/Dialog.test.tsx
  src/Dialog/Dialog.tsx
  src/Dialog/Dialog.types.test.tsx
  src/Dialog/__snapshots__/Dialog.test.tsx.snap
  src/TreeView/TreeView.tsx
  src/__tests__/storybook.test.tsx
  src/index.ts
Labels: skip changeset

#3810 Tooltip v2: Update tooltip draft id and add to the `primer.style/react` navigation
  docs/content/drafts/Tooltip.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
  src/drafts/Tooltip/Tooltip.docs.json
Labels: skip changeset

#3801 chore: restore default changeset behavior
  .github/workflows/changesets.yml
  .github/workflows/check_for_changeset.yml
  package-lock.json
  package.json
Labels: skip changeset

#3805 chore(deps): update eslint-plugin-github to v4.10
  package-lock.json
  package.json
  src/FilterList/FilterList.tsx
  src/PageLayout/PageLayout.tsx
  src/Select.tsx
  src/Select/Select.tsx
  src/ToggleSwitch/ToggleSwitch.tsx
  src/__tests__/__snapshots__/ToggleSwitch.test.tsx.snap
Labels: skip changeset

#3800 test(react): remove support for testing React 17
  .github/workflows/ci.yml
  jest.config.js
  src/ConfirmationDialog/ConfirmationDialog.test.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
Labels: skip changeset

#3802 Remove option large from ButtonGroup story
  src/ButtonGroup/ButtonGroup.stories.tsx
Labels: skip changeset

#3811 Refactor `default` stories to ignore Storybook controls
  src/AnchoredOverlay/AnchoredOverlay.features.stories.tsx
  src/AnchoredOverlay/AnchoredOverlay.stories.tsx
  src/Button/Button.stories.tsx
  src/Button/IconButton.stories.tsx
  src/Button/LinkButton.stories.tsx
  src/DataTable/DataTable.stories.tsx
  src/Dialog/Dialog.stories.tsx
  src/LabelGroup/LabelGroup.stories.tsx
  src/SegmentedControl/SegmentedControlButton.stories.tsx
  src/Token/Token.stories.tsx
Labels: skip changeset

#3834 Update assign_release_conductor.yml
  .github/workflows/assign_release_conductor.yml
Labels: skip changeset

#3817 PageHeader: Address general sign-off review feedback in storybook (missing href values, non-working menus)
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-dark-dimmed-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-dark-dimmed-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-dimmed-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-dimmed-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Description-Slot-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Description-Slot-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Description-Slot-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Description-Slot-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Description-Slot-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Description-Slot-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-dimmed-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-tritanopia-linux.png
  src/PageHeader/PageHeader.examples.stories.tsx
  src/PageHeader/PageHeader.features.stories.tsx
  src/PageHeader/PageHeader.stories.tsx
Labels: skip changeset, component: page header

#3832 docs(DataTable): add stories under drafts
  e2e/components/DataTable.test.ts
  src/DataTable/DataTable.docs.json
  src/DataTable/DataTable.features.stories.tsx
  src/DataTable/DataTable.stories.tsx
Labels: skip changeset

#3841 Remove eslint-disable-next-line jsx-a11y/anchor-has-content
  src/ActionList/ActionList.examples.stories.tsx
  src/Button/LinkButton.features.stories.tsx
  src/NavList/NavList.stories.tsx
  src/NavList/NavList.test.tsx
  src/stories/deprecated/ActionList.stories.tsx
Labels: skip changeset

#3808 Updates ActionList async filter example to be accessible
  src/ActionList/ActionList.examples.stories.tsx
Labels: skip changeset

#3842 chore(docs): update docs site to latest doctocat
  docs/package-lock.json
  docs/package.json
  examples/nextjs/package-lock.json
  package-lock.json
  package.json
  src/ConfirmationDialog/__snapshots__/ConfirmationDialog.test.tsx.snap
  src/Dialog/__snapshots__/Dialog.test.tsx.snap
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/SelectPanel/__snapshots__/SelectPanel.test.tsx.snap
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
  src/ToggleSwitch/__snapshots__/ToggleSwitch.test.tsx.snap
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  src/__tests__/__snapshots__/Box.test.tsx.snap
  src/__tests__/__snapshots__/CircleBadge.test.tsx.snap
  src/__tests__/__snapshots__/Dropdown.test.tsx.snap
  src/__tests__/__snapshots__/Popover.test.tsx.snap
  src/__tests__/__snapshots__/SelectMenu.test.tsx.snap
  src/__tests__/__snapshots__/SideNav.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ActionList.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/Button.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ChoiceFieldset.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/DropdownMenu.test.tsx.snap
Labels: skip changeset

#3855 ci: update release-schedule.yml
  .github/workflows/release-schedule.yml
Labels: skip changeset

#3783 SelectPanel2: Instant selection variant
  src/drafts/SelectPanel2/SelectPanel.stories.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
  src/drafts/SelectPanel2/mock-data.ts
Labels: skip changeset

#3857 Delete changeset/changelog for change in story file
  .changeset/ten-schools-provide.md
Labels: skip changeset

#3862 Add `aria-disabled` to inactive pagination buttons
  .changeset/grumpy-clocks-sell.md
  src/DataTable/Pagination.tsx
Labels: component: DataTable

#3768 SelectPanel2: Keyboard navigation for list
  src/drafts/SelectPanel2/SelectPanel.tsx
  src/drafts/SelectPanel2/work-log.md
Labels: skip changeset

#3865 revert: restore original PageLayout behavior
  .changeset/yellow-windows-accept.md
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-dimmed-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-tritanopia-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-dark-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-light-colorblind-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-light-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-dark-colorblind-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-dark-dimmed-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-dark-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-light-colorblind-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-light-high-contrast-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-light-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Pull-Request-light-tritanopia-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-dark-colorblind-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-dark-dimmed-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-dark-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-light-colorblind-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-light-high-contrast-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-light-linux.png
  .playwright/snapshots/components/PageLayout.test.ts-snapshots/PageLayout-Resizable-Pane-light-tritanopia-linux.png
  src/NavList/NavList.stories.tsx
  src/PageLayout/PageLayout.features.stories.tsx
  src/PageLayout/PageLayout.stories.tsx
  src/PageLayout/PageLayout.test.tsx
  src/PageLayout/PageLayout.tsx
  src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  src/SplitPageLayout/SplitPageLayout.features.stories.tsx
  src/SplitPageLayout/SplitPageLayout.stories.tsx
  src/SplitPageLayout/SplitPageLayout.tsx
  src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: skip changeset

#3868 Fix storybook preview for dark high contrast + css variables
  src/utils/story-helpers.tsx
Labels: skip changeset

#3863 SelectPanel2: Add description
  src/drafts/SelectPanel2/SelectPanel.stories.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: skip changeset

#3864 SelectPanel2: Implement aria-labelledby and aria-describedby
  src/drafts/SelectPanel2/SelectPanel.tsx
Labels: skip changeset

#3804 Added Autocomplete story to testing
  src/Autocomplete/Autocomplete.features.stories.tsx
  src/Autocomplete/Autocomplete.stories.tsx
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#3880 Added FormControl stories
  src/FormControl/FormControl.features.stories.tsx
  src/FormControl/FormControl.stories.tsx
  src/__tests__/storybook.test.tsx
Labels: skip changeset

#3881 Added Tooltip stories
  docs/content/Tooltip.mdx
  src/Tooltip/Tooltip.docs.json
  src/Tooltip/Tooltip.features.stories.tsx
  src/Tooltip/Tooltip.stories.tsx
  src/Tooltip/Tooltip.test.tsx
  src/Tooltip/Tooltip.tsx
  src/Tooltip/Tooltip.types.test.tsx
  src/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  src/Tooltip/index.ts
  src/__tests__/storybook.test.tsx
  src/index.ts
  src/internal/components/TextInputInnerAction.tsx
Labels: skip changeset

#3639 Added InlineAutocomplete stories
  docs/content/drafts/InlineAutocomplete.mdx
  e2e/components/InlineAutocomplete.test.ts
  src/InlineAutocomplete/InlineAutocomplete.docs.json
  src/InlineAutocomplete/InlineAutocomplete.features.stories.tsx
  src/InlineAutocomplete/InlineAutocomplete.stories.tsx
  src/InlineAutocomplete/InlineAutocomplete.test.tsx
  src/InlineAutocomplete/InlineAutocomplete.tsx
  src/InlineAutocomplete/_AutocompleteSuggestions.tsx
  src/InlineAutocomplete/index.ts
  src/InlineAutocomplete/types.ts
  src/InlineAutocomplete/utils.ts
  src/__tests__/storybook.test.tsx
  src/drafts/MarkdownEditor/_MarkdownInput.tsx
  src/drafts/MarkdownEditor/suggestions/_useEmojiSuggestions.tsx
  src/drafts/MarkdownEditor/suggestions/_useMentionSuggestions.tsx
  src/drafts/MarkdownEditor/suggestions/_useReferenceSuggestions.tsx
  src/drafts/MarkdownEditor/suggestions/index.ts
  src/drafts/index.ts
Labels: skip changeset
