Repository primer/react, pull requests merged in 2023-06, with the labels that each got.

#3351 Bump alt-text-bot: get alt text reminders on discussion comments
  .github/workflows/accessibility-alt-text-bot.yml
Labels: skip changeset

#3342 Update release schedule to run every Monday
  .github/workflows/release-schedule.yml
Labels: skip changeset

#3347 Add type-safety for classnames in vs code
  package-lock.json
  package.json
  src/global.d.ts
  tsconfig.json
Labels: react, skip changeset

#3263 3230 refactor internal components into internal folder
  src/CheckboxGroup/CheckboxGroup.tsx
  src/FormControl/FormControl.tsx
  src/RadioGroup/RadioGroup.tsx
  src/__tests__/CheckboxOrRadioGroup.test.tsx
  src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroup.tsx
  src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupCaption.tsx
  src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupLabel.tsx
  src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupValidation.tsx
  src/internal/components/CheckboxOrRadioGroup/index.ts
Labels: skip changeset

#3319 Remove support for for Breadcrumb, SubNav, TabNav, UnderlineNav
  .changeset/popular-rivers-warn.md
  docs/content/Breadcrumbs.mdx
  docs/content/SubNav.mdx
  docs/content/TabNav.mdx
  docs/content/UnderlineNav.mdx
  src/Breadcrumbs/Breadcrumbs.tsx
  src/Breadcrumbs/__tests__/BreadcrumbsItem.test.tsx
  src/Breadcrumbs/__tests__/__snapshots__/BreadcrumbsItem.test.tsx.snap
  src/SubNav/SubNav.tsx
  src/TabNav/TabNav.tsx
  src/UnderlineNav/UnderlineNav.tsx
  src/__tests__/SubNavLink.test.tsx
  src/__tests__/UnderlineNavLink.test.tsx
  src/__tests__/__snapshots__/SubNavLink.test.tsx.snap
  src/__tests__/__snapshots__/UnderlineNavLink.test.tsx.snap
Labels: major release

#3375 3230 Refactor internal components - TextInputWrapper
  src/Select.tsx
  src/Select/Select.tsx
  src/TextInput/TextInput.tsx
  src/TextInputWithTokens/TextInputWithTokens.tsx
  src/Textarea/Textarea.tsx
  src/internal/components/TextInputWrapper.tsx
Labels: skip changeset

#3382 Fix Storybook story control syntax
  src/Button/Button.stories.tsx
  src/Button/IconButton.stories.tsx
  src/Button/LinkButton.stories.tsx
  src/drafts/Button2/Button.stories.tsx
Labels: skip changeset

#3369 3230 Refactor internal components - InputCaption
  src/FormControl/_FormControlCaption.tsx
  src/deprecated/InputField/_InputFieldCaption.tsx
  src/internal/components/InputCaption.tsx
Labels: skip changeset

#3378 Allow ActionMenu in custom overlay props example to be dismissed via the escape key
  src/ActionMenu/ActionMenu.examples.stories.tsx
Labels: skip changeset

#3377 3230 Refactor internal components - ValidationAnimationContainer
  src/FormControl/FormControl.tsx
  src/deprecated/ChoiceFieldset/ChoiceFieldset.tsx
  src/deprecated/InputField/InputField.tsx
  src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroup.tsx
  src/internal/components/ValidationAnimationContainer.tsx
Labels: skip changeset

#3370 3230 Refactor internal components - InputLabel
  src/FormControl/_FormControlLabel.tsx
  src/deprecated/InputField/_InputFieldLabel.tsx
  src/drafts/MarkdownEditor/Label.tsx
  src/internal/components/InputLabel.tsx
Labels: skip changeset

#3349 Revert "Refactor FilteredActionList to address a11y violations and use new ActionList."
  .changeset/weak-jokes-chew.md
  docs/content/SelectPanel.mdx
  generated/components.json
  src/ActionList/List.tsx
  src/FilteredActionList/FilteredActionList.stories.tsx
  src/FilteredActionList/FilteredActionList.tsx
  src/FilteredActionList/index.ts
  src/SelectPanel/SelectPanel.features.stories.tsx
  src/SelectPanel/SelectPanel.stories.tsx
  src/SelectPanel/SelectPanel.test.tsx
  src/SelectPanel/SelectPanel.tsx
  src/drafts/MarkdownEditor/_SavedReplies.tsx
Labels: skip changeset

#3376 3230 Refactor internal components - UnstyledTextInput
  src/TextInput/TextInput.tsx
  src/TextInputWithTokens/TextInputWithTokens.tsx
  src/internal/components/UnstyledTextInput.tsx
Labels: skip changeset

#3371 3230 Refactor internal components - InputValidation
  src/FormControl/_FormControlValidation.tsx
  src/deprecated/ChoiceFieldset/ChoiceFieldset.tsx
  src/deprecated/InputField/InputField.tsx
  src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupValidation.tsx
  src/internal/components/InputValidation.tsx
Labels: skip changeset

#3379 3230 Refactor internal components - sharedCheckboxAndRadioStyles
  src/Checkbox/Checkbox.tsx
  src/Radio/Radio.tsx
  src/internal/utils/sharedCheckboxAndRadioStyles.ts
Labels: skip changeset

#3380 3230 Refactor internal components - getGlobalFocusStyles
  src/Button/types.ts
  src/Checkbox/Checkbox.tsx
  src/Pagination/Pagination.tsx
  src/Radio/Radio.tsx
  src/TabNav/TabNav.tsx
  src/UnderlineNav/UnderlineNav.tsx
  src/drafts/Button2/types.ts
  src/internal/utils/getGlobalFocusStyles.ts
Labels: skip changeset

#3381 Fix ToggleSwitch stories for Storybook 7
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-dark-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-light-colorblind-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-light-linux.png
  .playwright/snapshots/components/ToggleSwitch.test.ts-snapshots/ToggleSwitch-Default-light-tritanopia-linux.png
  generated/components.json
  src/ToggleSwitch/ToggleSwitch.features.stories.tsx
  src/ToggleSwitch/ToggleSwitch.stories.tsx
  src/ToggleSwitch/ToggleSwitchStoryWrapper.tsx
Labels: skip changeset

#3240 [v36 Release] Update minimum version of react and react-dom to v18
  .changeset/nasty-bottles-draw.md
  .github/workflows/ci.yml
  jest.config.js
  package-lock.json
  package.json
  script/set-react-version.js
  src/UnderlineNav2/UnderlineNav.test.tsx
  src/__tests__/ConfirmationDialog.test.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
Labels: major release

#3373 3230 Refactor internal components - TextInputInnerVisualSlot
  src/TextInput/TextInput.tsx
  src/TextInputWithTokens/TextInputWithTokens.tsx
  src/internal/components/TextInputInnerVisualSlot.tsx
Labels: skip changeset

#3285 Add FooterActionButton to MarkdownEditor
  docs/content/drafts/MarkdownEditor.mdx
  examples/nextjs/package-lock.json
  src/drafts/MarkdownEditor/Footer.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.stories.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
  src/drafts/MarkdownEditor/MarkdownEditor.tsx
  src/drafts/MarkdownEditor/_MarkdownEditorContext.ts
  src/drafts/MarkdownEditor/index.ts
Labels: skip changeset

#3416 Removes `label-has-for` from `ESLint` config
  .eslintrc.js
  src/PageLayout/PageLayout.tsx
  src/__tests__/Autocomplete.test.tsx
  src/__tests__/Select.test.tsx
  src/__tests__/TextInput.test.tsx
  src/__tests__/TextInputWithTokens.test.tsx
Labels: skip changeset

#3231 useFocusZone story style fix
  src/stories/useFocusZone.stories.tsx
Labels: skip changeset

#3395 ci: update concurrency for canary release workflow
  .github/workflows/release_canary.yml
Labels: skip changeset

#3427 Fix mode switcher
  src/BaseStyles.tsx
Labels: skip changeset

#3424 Update release-schedule.yml
  .github/workflows/release-schedule.yml
Labels: skip changeset

#3353 Remove as summary in filtered search component docs
  docs/content/FilteredSearch.mdx
Labels: skip changeset

#3398 chore(docs): update docs to React 18
  docs/package-lock.json
  docs/package.json
Labels: skip changeset

#3432 Add Storybook link for AvatarStack.mdx
  docs/content/AvatarStack.mdx
Labels: skip changeset

#3438 Add a link to a full list of possible values for the sx prop
  docs/content/overriding-styles.mdx
Labels: skip changeset

#3434 Update `ActionMenu.mdx` to have`a11yReviewed` as false to fix the mistake happened while resolving merge conflicts on #3408
  docs/content/ActionMenu.mdx
Labels: skip changeset

#3317 Accessibility engineering review for Link component.
  .changeset/curly-otters-repeat.md
  docs/content/Link.mdx
  generated/components.json
  src/ActionList/ActionList.docs.json
  src/ActionList/LinkItem.tsx
  src/Button/Button.docs.json
  src/Button/Button.stories.tsx
  src/Button/styles.ts
  src/Button/types.ts
  src/Link/Link.docs.json
  src/Link/Link.features.stories.tsx
  src/Link/Link.tsx
  src/Link/__tests__/Link.test.tsx
  src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  src/NavList/NavList.test.tsx
  src/NavList/__snapshots__/NavList.test.tsx.snap
  src/PageHeader/PageHeader.tsx
  src/__tests__/__snapshots__/SideNav.test.tsx.snap
Labels: update snapshots

#3454 docs: update actions call in Checkbox story
  src/Checkbox/Checkbox.examples.stories.tsx
Labels: skip changeset

#3352 replace `@changesets/cli` with `primer-changesets-cli`
  .github/workflows/changesets.yml
  .github/workflows/check_for_changeset.yml
  package-lock.json
  package.json
Labels: skip changeset

#3081 Release checklist: replace projects with dotcom and update the items to reflect recent practises
  .github/release_template.md
Labels: skip changeset
