Repository primer/react, pull requests merged in 2024-09, with the labels that each got.

#4905 refactor(storybook): update storybook to use postcss-preset-primer
  packages/react/.storybook/storybook.css
  packages/react/postcss.config.js
  packages/react/postcss.config.mjs
Labels: skip changeset, staff

#4916 Moving Link CSS modules to staff feature flag
  .changeset/cool-llamas-live.md
  e2e/components/Link.test.ts
  packages/react/src/Link/Link.tsx
Labels: staff

#4915 Move Heading component to staff feature flag
  .changeset/dull-dolphins-bake.md
  e2e/components/Heading.test.ts
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Heading/__tests__/Heading.test.tsx
Labels: staff

#4904 refactor(eslint): add lint rule for clsx
  .eslintrc.js
  packages/react/.storybook/preview.js
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/Banner/Banner.tsx
  packages/react/src/Blankslate/Blankslate.tsx
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
  packages/react/src/DataTable/Table.tsx
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Link/Link.tsx
  packages/react/src/Popover/Popover.tsx
  packages/react/src/SideNav.tsx
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/TabNav/TabNav.tsx
  packages/react/src/Text/Text.tsx
  packages/react/src/TextInput/TextInput.tsx
  packages/react/src/Timeline/Timeline.tsx
  packages/react/src/Tooltip/Tooltip.tsx
  packages/react/src/TreeView/TreeView.tsx
  packages/react/src/deprecated/UnderlineNav/UnderlineNav.tsx
  packages/react/src/drafts/CSSComponent/index.tsx
Labels: skip changeset, staff

#4873 TreeView: Add accessible names to `LeadingVisual`
  packages/react/src/TreeView/TreeView.features.stories.tsx
Labels: accessibility, skip changeset

#4911 SegmentedControl: Add context to `ariaLabel` prop
  .changeset/curvy-goats-sell.md
  packages/react/src/SegmentedControl/SegmentedControl.test.tsx
  packages/react/src/SegmentedControl/SegmentedControl.tsx
Labels: accessibility

#4917 fix(Text): update type cast to match styled-component type
  packages/react/src/Text/Text.tsx
Labels: skip changeset

#4923 Move the Blankslate css modules feature flag to ga
  .changeset/six-owls-walk.md
  e2e/components/Blankslate.test.ts
  packages/react/src/Blankslate/Blankslate.tsx
Labels: staff

#4926 Add cssnano to postcss-primer-preset package and move custom properties fallback
  package-lock.json
  packages/postcss-preset-primer/package.json
  packages/postcss-preset-primer/src/__tests__/__snapshots__/preset.test.ts.snap
  packages/postcss-preset-primer/src/index.js
  packages/react/package.json
  packages/react/rollup.config.mjs
Labels: skip changeset, staff

#4779 DialogV2: re-set focusTrap when footer content changes
  .changeset/thirty-pets-impress.md
  package-lock.json
  packages/react/package.json
  packages/react/src/Dialog/Dialog.features.stories.tsx
  packages/react/src/Dialog/Dialog.stories.tsx
Labels: accessibility

#4924 fix: IconButton dev stories - make target size 24x24 px
  packages/react/src/Button/IconButton.dev.stories.tsx
Labels: accessibility, skip changeset, area: storybook, component: IconButton

#4936 chore(deps): remove @storybook/test
  package-lock.json
  packages/react/package.json
Labels: skip changeset, staff

#4935 Release tracking Workflow: Narrow automated pull request URL
  .github/release_template.md
Labels: skip changeset, staff

#4944 Docs: Update broken link in testing.md
  contributor-docs/testing.md
Labels: docs, developer experience, contributor experience, skip changeset

#4945 docs: Update CONTRIBUTING.md
  contributor-docs/CONTRIBUTING.md
Labels: docs, developer experience, contributor experience, skip changeset

#4885 refactor(Avatar): Refactor Avatar component to use CSS modules behind feature flag
  .changeset/tame-boats-hide.md
  e2e/components/Avatar.test.ts
  packages/react/src/Avatar/Avatar.features.stories.tsx
  packages/react/src/Avatar/Avatar.module.css
  packages/react/src/Avatar/Avatar.tsx
Labels: staff

#4906 Select Panel: Functional adjustments
  .changeset/wicked-books-occur.md
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/deprecated/ActionList/List.tsx
Labels: no-breaking-changes: confirmed, staff

#4799 Token: Add text alternative to close control
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-dark-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-dark-dimmed-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-dark-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-dark-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-dark-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-light-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-light-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-light-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Issue-Label-Token-With-On-Remove-Fn-light-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-dark-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-dark-dimmed-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-dark-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-dark-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-dark-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-light-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-light-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-light-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Token-With-On-Remove-Fn-light-tritanopia-linux.png
  packages/react/src/Token/Token.features.stories.tsx
  packages/react/src/Token/Token.tsx
  packages/react/src/Token/__tests__/__snapshots__/Token.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
Labels: accessibility, skip changeset

#4950 docs: add support for css to storybook
  package-lock.json
  packages/react/.storybook/main.js
  packages/react/.storybook/main.ts
  packages/react/.storybook/manager.jsx
  packages/react/.storybook/preview.jsx
  packages/react/.storybook/src/accessibility-tool.tsx
  packages/react/package.json
  packages/react/postcss.config.mjs
  packages/react/src/drafts/MarkdownEditor/MarkdownEditor.features.stories.tsx
  packages/react/src/drafts/MarkdownEditor/MarkdownEditor.stories.tsx
  packages/react/src/drafts/MarkdownViewer/MarkdownViewer.features.stories.tsx
  packages/react/src/drafts/MarkdownViewer/MarkdownViewer.stories.tsx
  packages/react/src/utils/theme.ts
Labels: skip changeset, staff

#4955 ci: update ci workflow to increase aat-runner counts
  .github/workflows/ci.yml
Labels: skip changeset, staff

#4648 ActionMenu: Make sure event handlers on trigger are called
  .changeset/green-schools-smell.md
  packages/react/src/ActionMenu/ActionMenu.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
Labels: patch release, no-breaking-changes: confirmed, staff

#4867 Docs: update stories for internal/Overlay
  packages/react/src/Overlay/Overlay.docs.json
  packages/react/src/Overlay/Overlay.features.stories.tsx
Labels: docs, skip changeset, staff

#4954 fix(Banner): update alignment of actions when Banner is dismissible
  .changeset/spicy-eggs-melt.md
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-colorblind-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-dimmed-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-high-contrast-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-tritanopia-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-light-colorblind-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-light-high-contrast-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-light-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-light-tritanopia-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-primer-breakpoint-sm-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-primer-breakpoint-xs-linux.png
  e2e/components/Banner.test.ts
  packages/react/src/Banner/Banner.features.stories.tsx
  packages/react/src/Banner/Banner.tsx
Labels: staff

#4910 LabelGroup: Update "toggle" accessible name to include visual text
  .changeset/breezy-boxes-jog.md
  packages/react/src/LabelGroup/LabelGroup.tsx
Labels: accessibility

#4959 More a11y fixes for Storybook stories
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Danger-light-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Full-light-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Success-light-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-dimmed-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-dark-tritanopia-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-colorblind-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-high-contrast-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-linux.png
  .playwright/snapshots/components/Flash.test.ts-snapshots/Flash-Warning-light-tritanopia-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-dark-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-light-linux.png
  .playwright/snapshots/components/Pagehead.test.ts-snapshots/Pagehead-Default-light-tritanopia-linux.png
  packages/react/src/Flash/Flash.features.stories.tsx
  packages/react/src/Pagehead/Pagehead.stories.tsx
Labels: skip changeset

#4964 docs(storybook): add react plugin for fast refresh
  package-lock.json
  packages/react/.storybook/main.ts
  packages/react/package.json
Labels: skip changeset

#4952 Figma code connect
  packages/react/src/ActionMenu/ActionMenu.figma.tsx
  packages/react/src/Blankslate/Blankslate.figma.tsx
  packages/react/src/ButtonGroup/ButtonGroup.figma.tsx
  packages/react/src/Label/Label.figma.tsx
  packages/react/src/Popover/Popover.figma.tsx
  packages/react/src/Spinner/Spinner.figma.tsx
  packages/react/src/StateLabel/StateLabel.figma.tsx
  packages/react/src/drafts/Skeleton/SkeletonAvatar.figma.tsx
  packages/react/src/drafts/Skeleton/SkeletonBox.figma.tsx
  packages/react/src/drafts/Skeleton/SkeletonText.figma.tsx
Labels: skip changeset

#4948 docs(examples): add theming example
  examples/theming/.eslintrc.cjs
  examples/theming/next-env.d.ts
  examples/theming/package.json
  examples/theming/src/app/api/color-preference/route.ts
  examples/theming/src/app/components/PageHeader/PageHeader.module.css
  examples/theming/src/app/components/PageHeader/PageHeader.tsx
  examples/theming/src/app/components/PageHeader/index.ts
  examples/theming/src/app/components/ThemePreference/ThemePreference.module.css
  examples/theming/src/app/components/ThemePreference/ThemePreference.tsx
  examples/theming/src/app/components/ThemePreference/index.ts
  examples/theming/src/app/global.css
  examples/theming/src/app/layout.tsx
  examples/theming/src/app/page.tsx
  examples/theming/src/app/registry.tsx
  examples/theming/tsconfig.json
  package-lock.json
Labels: skip changeset, staff

#4974 fix: update experimental exports
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
Labels: skip changeset, staff

#4981 Removing the CSS modules feature flag from `Blankslate`
  .changeset/dull-turkeys-cheer.md
  e2e/components/Blankslate.test.ts
  packages/react/src/Blankslate/Blankslate.tsx
Labels: staff

#4913 feat(Banner): update Banner to use CSS Modules behind feature flag
  .changeset/odd-rings-applaud.md
  e2e/components/Banner.test.ts
  packages/react/src/Banner/Banner.docs.json
  packages/react/src/Banner/Banner.module.css
  packages/react/src/Banner/Banner.test.tsx
  packages/react/src/Banner/Banner.tsx
  packages/react/src/Link/Link.tsx
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: staff

#4975 Change the Link component feature flag from primer_react_css_modules_staff to primer_react_css_modules_ga
  .changeset/dirty-pianos-wash.md
  e2e/components/Link.test.ts
  packages/react/src/Link/Link.tsx
Labels: staff

#4970 fix(UnderlinePanels): add explicit type="button" to UnderlinePanels
  .changeset/selfish-carpets-breathe.md
  .eslintrc.js
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/UnderlineNav/UnderlineNav.test.tsx
  packages/react/src/__tests__/Dialog.test.tsx
  packages/react/src/__tests__/TextInputWithTokens.test.tsx
  packages/react/src/__tests__/ThemeProvider.test.tsx
  packages/react/src/__tests__/hooks/useMenuInitialFocus.test.tsx
  packages/react/src/__tests__/hooks/useMnemonics.test.tsx
  packages/react/src/__tests__/hooks/useOnOutsideClick.test.tsx
  packages/react/src/__tests__/hooks/useOpenAndCloseFocus.test.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
Labels: staff

#4982 Docs(Flash): Add aria-label to stories with icons
  packages/react/src/Flash/Flash.features.stories.tsx
Labels: status: review needed, skip changeset, staff

#4983 Textarea: Add "title" to story example
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-dark-colorblind-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-dark-dimmed-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-dark-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-dark-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-dark-tritanopia-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-light-colorblind-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-light-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-light-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Visually-Hidden-Label-light-tritanopia-linux.png
  packages/react/src/Textarea/Textarea.features.stories.tsx
Labels: skip changeset

#4966 SelectPanel: High contrast theme
  .changeset/ten-gifts-own.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-forced-colors-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-forced-colors-light-modern-action-list--true-linux.png
  e2e/components/SelectPanel.test.ts
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/Selection.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: accessibility, component: SelectPanel, staff

#4977 SelectPanel: add `role=combobox` to filter input
  .changeset/green-poems-play.md
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
Labels: accessibility, component: SelectPanel, staff

#4986 fix(Dialog): track mousedown event to prevent accidental closing
  .changeset/eighty-houses-beg.md
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
Labels: status: review needed, staff

#4996 TooltipV2: Remove Hyperlist story
  packages/react/src/TooltipV2/Tooltip.examples.stories.tsx
Labels: skip changeset

#4998 fix(docs): add title to visually hidden stories
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-dark-colorblind-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-dark-dimmed-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-dark-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-dark-tritanopia-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-light-colorblind-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-light-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-light-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Visually-Hidden-Label-light-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-dark-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-dark-dimmed-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-dark-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-dark-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-light-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-light-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-light-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Visually-Hidden-Label-light-tritanopia-linux.png
  packages/react/src/Select/Select.features.stories.tsx
  packages/react/src/TextInput/TextInput.features.stories.tsx
Labels: status: review needed, skip changeset, staff

#4968 WIP: Select panel custom screen reader announcements
  .changeset/selectpanel-announcements.md
  package-lock.json
  packages/react/package.json
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/FilteredActionList/useAnnouncements.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/live-region/__tests__/Announce.test.tsx
  packages/react/src/live-region/__tests__/AriaAlert.test.tsx
  packages/react/src/live-region/__tests__/AriaStatus.test.tsx
  packages/react/src/utils/testing.tsx
Labels: accessibility, component: SelectPanel, staff

#5000 Moving Label and Text to primer_react_css_modules_staff ship feature flag
  .changeset/big-pumas-sit.md
  .changeset/serious-sheep-love.md
  e2e/components/Label.test.ts
  e2e/components/Text.test.ts
  packages/react/src/Label/Label.tsx
  packages/react/src/Text/Text.tsx
Labels: staff

#5001 chore(ButtonGroup): Migrate ButtonGroup component to use CSS modules behind the primer_react_css_modules_team feature flag
  .changeset/orange-steaks-do.md
  e2e/components/ButtonGroup.test.ts
  packages/react/src/ButtonGroup/ButtonGroup.module.css
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: staff

#5002 chore(AvatarPair): Convert AvatarPair to CSS modules
  .changeset/twenty-spoons-give.md
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-linux.png
  .playwright/snapshots/components/AvatarPair.test.ts-snapshots/AvatarPair-Parent-Square-light-tritanopia-linux.png
  packages/react/src/AvatarPair/AvatarPair.module.css
  packages/react/src/AvatarPair/AvatarPair.tsx
Labels: staff

#4962 refactor(Checkbox): update Checkbox to use CSS Modules behind flag
  .changeset/light-chefs-bow.md
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Default-focus-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Default-focus-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Default-focus-dark-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Default-focus-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Default-focus-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Default-focus-light-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-dark-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-light-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-light-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-light-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Indeterminate-focus-light-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-light-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-light-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-light-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-light-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Leading-Visual-focus-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Leading-Visual-focus-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Leading-Visual-focus-dark-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Leading-Visual-focus-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Leading-Visual-focus-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Leading-Visual-focus-light-high-contrast-linux.png
  package-lock.json
  package.json
  packages/react/src/Avatar/Avatar.module.css
  packages/react/src/Checkbox/Checkbox.module.css
  packages/react/src/Checkbox/Checkbox.test.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/Checkbox/shared.module.css
Labels: staff

#4976 feat: add wildcard imports as exports
  .changeset/lucky-oranges-camp.md
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/Banner/Banner.tsx
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/DataTable/Pagination.tsx
  packages/react/src/FeatureFlags/index.ts
  packages/react/src/FilteredActionList/FilteredActionListWithDeprecatedActionList.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/Spinner/Spinner.examples.stories.tsx
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/Token/index.ts
  packages/react/src/VisuallyHidden/VisuallyHidden.tsx
  packages/react/src/VisuallyHidden/index.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/deprecated/ActionList/index.ts
  packages/react/src/deprecated/index.ts
  packages/react/src/experimental/Skeleton/Skeleton.examples.stories.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/index.ts
  packages/react/src/internal/components/LiveRegion.tsx
  packages/react/src/live-region/Announce.features.stories.tsx
  packages/react/src/live-region/AriaAlert.features.stories.tsx
  packages/react/src/live-region/AriaStatus.features.stories.tsx
Labels: staff

#5012 Update `AvatarStack` component to use CSS modules behind the feature flag primer_react_css_modules_team
  .changeset/hot-chicken-tickle.md
  e2e/components/AvatarStack.test.ts
  package-lock.json
  package.json
  packages/react/src/Avatar/Avatar.module.css
  packages/react/src/AvatarStack/AvatarStack.module.css
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/Banner/Banner.module.css
  packages/react/src/Blankslate/Blankslate.module.css
  packages/react/src/Button/ButtonBase.module.css
  packages/react/src/Checkbox/Checkbox.module.css
  packages/react/src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: staff

#5026 Banner: Fix alignment of secondary action without primary action
  .changeset/flat-weeks-battle.md
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-colorblind-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-dimmed-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-high-contrast-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-tritanopia-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-light-colorblind-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-light-high-contrast-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-light-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-light-tritanopia-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-primer-breakpoint-sm-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-primer-breakpoint-xs-linux.png
  e2e/components/Banner.test.ts
  packages/react/src/Banner/Banner.features.stories.tsx
  packages/react/src/Banner/Banner.module.css
  packages/react/src/Banner/Banner.tsx
Labels: staff

#5020 Move Text component feature flag from primer_react_css_modules_staff to primer_react_css_modules_ga
  .changeset/long-pans-travel.md
  e2e/components/Text.test.ts
  packages/react/src/Text/Text.tsx
Labels: staff

#5022 Move Label component feature flag from primer_react_css_modules_staff to primer_react_css_modules_ga
  .changeset/silent-planes-grab.md
  e2e/components/Label.test.ts
  packages/react/src/Label/Label.tsx
Labels: staff

#5023 Move Button component feature flag from primer_react_css_modules_team to primer_react_css_modules_staff
  .changeset/little-bats-approve.md
  e2e/components/Button.test.ts
  e2e/components/IconButton.test.ts
  e2e/components/LinkButton.test.ts
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/Button/__tests__/Button.test.tsx
Labels: staff

#4956 fix(PageHeader): add role prop and aria-label in top-level element
  .changeset/fifty-rockets-joke.md
  packages/react/src/Hidden/Hidden.examples.stories.tsx
  packages/react/src/PageHeader/PageHeader.dev.stories.tsx
  packages/react/src/PageHeader/PageHeader.docs.json
  packages/react/src/PageHeader/PageHeader.examples.stories.tsx
  packages/react/src/PageHeader/PageHeader.features.stories.tsx
  packages/react/src/PageHeader/PageHeader.stories.tsx
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/PageHeader/PageHeader.types.test.tsx
  packages/react/src/TooltipV2/Tooltip.examples.stories.tsx
Labels: status: review needed, component: PageHeader, staff

#5018 Remove the CSS modules feature flag from Heading
  .changeset/good-years-attack.md
  e2e/components/Heading.test.ts
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Heading/__tests__/Heading.test.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: staff

#4784 refactor: remove stub folders for TypeScript resolution
  .changeset/happy-fireants-mate.md
  packages/react/codemods/.eslintrc.js
  packages/react/codemods/__tests__/deprecateUtilityComponents.js
  packages/react/codemods/__tests__/removeSystemProps.js
  packages/react/codemods/__tests__/v1.js
  packages/react/codemods/__tests__/v12.js
  packages/react/codemods/__tests__/v2.js
  packages/react/codemods/__tests__/v3.js
  packages/react/codemods/__tests__/v4.js
  packages/react/codemods/deprecateUtilityComponents.js
  packages/react/codemods/lib/__tests__/changeImportSource.test.js
  packages/react/codemods/lib/changeImportSource.js
  packages/react/codemods/lib/format.js
  packages/react/codemods/lib/modifyProps.js
  packages/react/codemods/lib/preserveLeadingComments.js
  packages/react/codemods/lib/prettify.js
  packages/react/codemods/lib/renameImports.js
  packages/react/codemods/lib/replaceImportSource.js
  packages/react/codemods/removeSystemProps.js
  packages/react/codemods/v1.js
  packages/react/codemods/v12.js
  packages/react/codemods/v2.js
  packages/react/codemods/v3.js
  packages/react/codemods/v36/__testfixtures__/rename-action-menu-button-props.input.tsx
  packages/react/codemods/v36/__testfixtures__/rename-action-menu-button-props.output.tsx
  packages/react/codemods/v36/__testfixtures__/rename-button-props.input.tsx
  packages/react/codemods/v36/__testfixtures__/rename-button-props.output.tsx
  packages/react/codemods/v36/__testfixtures__/rename-link-button-props.input.tsx
  packages/react/codemods/v36/__testfixtures__/rename-link-button-props.output.tsx
  packages/react/codemods/v36/__testfixtures__/update-button-counter.input.tsx
  packages/react/codemods/v36/__testfixtures__/update-button-counter.output.tsx
  packages/react/codemods/v36/__testfixtures__/update-imports.input.tsx
  packages/react/codemods/v36/__testfixtures__/update-imports.output.tsx
  packages/react/codemods/v36/__testfixtures__/update-underline-nav.input.tsx
  packages/react/codemods/v36/__testfixtures__/update-underline-nav.output.tsx
  packages/react/codemods/v36/__tests__/rename-action-menu-button-props.test.js
  packages/react/codemods/v36/__tests__/rename-button-props.test.js
  packages/react/codemods/v36/__tests__/rename-link-button-props.test.js
  packages/react/codemods/v36/__tests__/update-button-counter.test.js
  packages/react/codemods/v36/__tests__/update-imports.test.js
  packages/react/codemods/v36/__tests__/update-underline-nav.test.js
  packages/react/codemods/v36/rename-action-menu-button-props.js
  packages/react/codemods/v36/rename-button-props.js
  packages/react/codemods/v36/rename-link-button-props.js
  packages/react/codemods/v36/update-button-counter.js
  packages/react/codemods/v36/update-imports.js
  packages/react/codemods/v36/update-underline-nav.js
  packages/react/codemods/v4.js
  packages/react/deprecated/package.json
  packages/react/experimental/package.json
  packages/react/next/package.json
Labels: staff

#5034 Revert "Update `AvatarStack` component to use CSS modules behind the feature flag primer_react_css_modules_team"
  .changeset/hot-chicken-tickle.md
  e2e/components/AvatarStack.test.ts
  package-lock.json
  package.json
  packages/react/src/Avatar/Avatar.module.css
  packages/react/src/AvatarStack/AvatarStack.module.css
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/Banner/Banner.module.css
  packages/react/src/Blankslate/Blankslate.module.css
  packages/react/src/Button/ButtonBase.module.css
  packages/react/src/Checkbox/Checkbox.module.css
  packages/react/src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
  packages/react/src/experimental/IssueLabel/IssueLabel.module.css
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: staff

#5028 refactor(BranchName): update BranchName to use CSS Modules
  .changeset/four-schools-grin.md
  e2e/components/BranchName.test.ts
  packages/react/src/BranchName/BranchName.module.css
  packages/react/src/BranchName/BranchName.tsx
Labels: staff

#5024 Move Avatar component feature flag from primer_react_css_modules_team to primer_react_css_modules_staff
  .changeset/three-scissors-hide.md
  e2e/components/Avatar.test.ts
  packages/react/src/Avatar/Avatar.tsx
Labels: staff

#5030 Docs(ActionList): add role menu to actionlist inside overlay story
  packages/react/src/ActionList/ActionList.features.stories.tsx
Labels: status: review needed, skip changeset, staff

#5036 ActionListGroup description style bug fix
  .changeset/angry-tigers-jump.md
  packages/react/src/ActionList/Group.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: UI mob pair

#5033 SelectPanel: Fix font weight from active styles for modern ActionList (behind feature flag)
  .changeset/thin-planes-grow.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-forced-colors-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-forced-colors-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-light-tritanopia-modern-action-list--true-linux.png
  packages/react/src/ActionList/Item.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/SelectPanel/SelectPanel.stories.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: component: SelectPanel, staff

#4992 feat(react): remove deprecated components from main entrypoint
  .changeset/dull-mirrors-dream.md
  e2e/components/Octicon.test.ts
  e2e/components/Pagehead.test.ts
  e2e/components/TabNav.test.ts
  e2e/components/Tooltip.test.ts
  packages/react/src/ActionBar/ActionBar.stories.tsx
  packages/react/src/Autocomplete/Autocomplete.features.stories.tsx
  packages/react/src/DialogV1/Dialog.docs.json
  packages/react/src/DialogV1/Dialog.stories.tsx
  packages/react/src/DialogV1/Dialog.test.tsx
  packages/react/src/DialogV1/Dialog.tsx
  packages/react/src/DialogV1/Dialog.types.test.tsx
  packages/react/src/DialogV1/index.ts
  packages/react/src/Octicon/Octicon.docs.json
  packages/react/src/Octicon/Octicon.stories.tsx
  packages/react/src/Octicon/Octicon.test.tsx
  packages/react/src/Octicon/Octicon.tsx
  packages/react/src/Octicon/Octicon.types.test.tsx
  packages/react/src/PageHeader/PageHeader.examples.stories.tsx
  packages/react/src/PageLayout/PageLayout.features.stories.tsx
  packages/react/src/Pagehead/Pagehead.docs.json
  packages/react/src/Pagehead/Pagehead.stories.tsx
  packages/react/src/Pagehead/Pagehead.test.tsx
  packages/react/src/Pagehead/Pagehead.tsx
  packages/react/src/Pagehead/Pagehead.types.test.tsx
  packages/react/src/TabNav/TabNav.docs.json
  packages/react/src/TabNav/TabNav.features.stories.tsx
  packages/react/src/TabNav/TabNav.stories.tsx
  packages/react/src/TabNav/TabNav.tsx
  packages/react/src/Tooltip/Tooltip.docs.json
  packages/react/src/Tooltip/Tooltip.features.stories.tsx
  packages/react/src/Tooltip/Tooltip.stories.tsx
  packages/react/src/Tooltip/Tooltip.tsx
  packages/react/src/TooltipV2/Tooltip.features.stories.tsx
  packages/react/src/UnderlineNav/UnderlineNav.examples.stories.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/deprecated/index.ts
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.tsx
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
  packages/react/src/index.ts
Labels: staff

#5051 TextInput: Add `autoComplete` to Storybook/docs
  packages/react/src/TextInput/TextInput.docs.json
  packages/react/src/TextInput/TextInput.features.stories.tsx
Labels: skip changeset
