Repository primer/react, pull requests merged in 2024-12, with the labels that each got.

#5324 feat(SelectPanel): Convert SelectPanel to CSS modules behind feature flag
  .changeset/cyan-buses-visit.md
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: failing

#5332 feat(PageHeader): Convert PageHeader to CSS modules behind feature flag
  .changeset/friendly-tomatoes-yell.md
  packages/react/src/PageHeader/PageHeader.module.css
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/utils/getBreakpointDeclarations.ts
Labels: integration-tests: failing

#5341 ActionMenu: Remove `eslint` disable from `ActionMenu` story
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
Labels: skip changeset

#5343 BugFix: Use first-of-type for buttongroup selector
  .changeset/big-jokes-jog.md
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-colorblind-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-dimmed-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-colorblind-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Nested-Overlays-dark-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Nested-Overlays-light-high-contrast-linux.png
  packages/react/src/ButtonGroup/ButtonGroup.module.css
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: integration-tests: recommended, staff

#5302 feat(Pagination): Convert Pagination to CSS module behind feature flag
  .changeset/quick-chairs-rule.md
  packages/react/src/Pagination/Pagination.module.css
  packages/react/src/Pagination/Pagination.tsx
Labels: integration-tests: failing

#5336 feat(SegmentedControl): convert to CSS modules behind feature flag
  .changeset/empty-crews-impress.md
  packages/react/src/SegmentedControl/SegmentedControl.module.css
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/SegmentedControl/SegmentedControlButton.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
  packages/react/src/SegmentedControl/getSegmentedControlStyles.ts
Labels: integration-tests: failing

#5347 test(FormControl): update to include disabled leading visuals
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-dark-colorblind-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-dark-dimmed-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-dark-high-contrast-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-dark-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-dark-tritanopia-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-light-colorblind-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-light-high-contrast-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-light-linux.png
  .playwright/snapshots/components/FormControl.test.ts-snapshots/FormControl-With-Leading-Visual-light-tritanopia-linux.png
  packages/react/src/FormControl/FormControl.features.stories.tsx
Labels: skip changeset, staff

#5346 chore(BaseStyles): Add vrt tests
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-dark-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-light-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-light-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-Default-light-tritanopia-linux.png
  e2e/components/BaseStyles.test.ts
  packages/react/src/BaseStyles.dev.stories.tsx
  packages/react/src/__tests__/BaseStyles.test.tsx
  packages/react/src/__tests__/__snapshots__/BaseStyles.test.tsx.snap
Labels: skip changeset, integration-tests: recommended

#5345 docs: fix *.docs.json stories
  .changeset/large-rats-film.md
  packages/react/src/ActionBar/ActionBar.docs.json
  packages/react/src/Banner/Banner.docs.json
  packages/react/src/Blankslate/Blankslate.docs.json
  packages/react/src/DataTable/DataTable.docs.json
  packages/react/src/Dialog/Dialog.docs.json
  packages/react/src/Overlay/Overlay.docs.json
  packages/react/src/PageHeader/PageHeader.docs.json
  packages/react/src/TabNav/TabNav.docs.json
  packages/react/src/experimental/Skeleton/SkeletonAvatar.docs.json
  packages/react/src/experimental/Skeleton/SkeletonBox.docs.json
  packages/react/src/experimental/Skeleton/SkeletonText.docs.json
Labels: status: wip, status: review needed, docs, staff

#5344 Include link to GitHub source in `generated/components.json`
  packages/react/script/components-json/build.ts
  packages/react/script/components-json/component.schema.json
Labels: skip changeset, integration-tests: recommended

#5342 refactor(FormControl): update existing code for sub-components to prep for migration
  .changeset/soft-bananas-behave.md
  package-lock.json
  package.json
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/FormControlLabel.tsx
  packages/react/src/FormControl/FormControlLeadingVisual.tsx
  packages/react/src/FormControl/_FormControlCaption.tsx
  packages/react/src/FormControl/_FormControlLeadingVisual.tsx
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
  packages/react/src/internal/components/InputCaption.tsx
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/InputValidation.tsx
Labels: staff, integration-tests: failing

#5271 feat(Token): Migrate to CSS modules behind feature flag Pt 2
  .changeset/slow-spoons-peel.md
  packages/react/src/Token/AvatarToken.module.css
  packages/react/src/Token/AvatarToken.tsx
  packages/react/src/Token/IssueLabelToken.module.css
  packages/react/src/Token/IssueLabelToken.tsx
  packages/react/src/Token/Token.module.css
  packages/react/src/Token/Token.tsx
  packages/react/src/Token/TokenBase.module.css
  packages/react/src/Token/TokenBase.tsx
Labels: integration-tests: passing

#5337 chore(CounterLabel): Remove the CSS modules feature flag from the CounterLabel component
  .changeset/large-grasshoppers-work.md
  packages/react/src/CounterLabel/CounterLabel.tsx
  packages/react/src/CounterLabel/__snapshots__/CounterLabel.test.tsx.snap
Labels: integration-tests: passing, staff

#5353 chore(deps): update typescript to 5.7.2
  examples/app-router/package.json
  examples/codesandbox/package.json
  examples/theming/package.json
  package-lock.json
  package.json
  packages/postcss-preset-primer/package.json
  packages/react/package.json
  packages/rollup-plugin-import-css/package.json
Labels: skip changeset, integration-tests: recommended, staff

#5354 chore(examples): remove consumer-test workspace
  .github/workflows/consumer_test.yml
  examples/consumer-test/App.tsx
  examples/consumer-test/README.md
  examples/consumer-test/package.json
  examples/consumer-test/tsconfig.json
  package-lock.json
Labels: skip changeset, staff

#5338 chore(Checkbox): Remove the CSS modules feature flag from Checkbox
  .changeset/stupid-elephants-work.md
  packages/react/src/Checkbox/Checkbox.test.tsx
  packages/react/src/Checkbox/Checkbox.tsx
Labels: integration-tests: passing, staff

#5339 chore(ButtonGroup): Remove the CSS modules feature flag from ButtonGroup
  .changeset/four-plants-thank.md
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-dimmed-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-tritanopia-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-tritanopia-linux.png
  e2e/components/ButtonGroup.test.ts
  packages/react/src/ButtonGroup/ButtonGroup.dev.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: integration-tests: passing, staff

#5282 chore(Banner): Remove the CSS modules feature flag from Banner
  .changeset/metal-steaks-unite.md
  packages/react/src/Banner/Banner.test.tsx
  packages/react/src/Banner/Banner.tsx
Labels: integration-tests: passing, staff

#5379 chore(Details): Move Details component css module feature flag to ga
  .changeset/nine-fishes-fry.md
  packages/react/src/Details/Details.tsx
Labels: staff

#5385 chore(Spinner): Move Spinner component css module feature flag to ga
  .changeset/shiny-ladybugs-own.md
  packages/react/src/Spinner/Spinner.tsx
Labels: staff

#5391 chore(Popover): Move Popover component css module feature flag to staff
  .changeset/soft-fishes-tell.md
  packages/react/src/Popover/Popover.tsx
Labels: staff

#5363 fix(Table): update invalid line-height value
  .changeset/healthy-humans-chew.md
  packages/react/src/DataTable/Table.tsx
Labels: integration-tests: recommended, staff

#5367 feat(ActionList.Heading): Convert to CSS Modules
  .changeset/new-pans-shout.md
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-dark-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-light-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-light-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Heading-with-Classname-light-tritanopia-linux.png
  e2e/components/ActionList.test.ts
  packages/react/src/ActionList/ActionList.dev.stories.tsx
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Heading.module.css
  packages/react/src/ActionList/Heading.test.tsx
  packages/react/src/ActionList/Heading.tsx
Labels: integration-tests: recommended

#5397 chore(SelectPanel): Move SelectPanel component css module feature flag to staff
  .changeset/fuzzy-owls-dance.md
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
Labels: staff

#5395 chore(DialogV1): Move DialogV1 component css module feature flag to staff
  .changeset/wicked-geckos-float.md
  packages/react/src/DialogV1/Dialog.tsx
Labels: staff

#5389 chore(Timeline): Move Timeline component css module feature flag to staff
  .changeset/spicy-foxes-switch.md
  packages/react/src/Timeline/Timeline.tsx
Labels: staff

#5383 chore(VisuallyHidden): Move VisuallyHidden component css module feature flag to ga
  .changeset/eighty-suits-pay.md
  packages/react/src/VisuallyHidden/VisuallyHidden.tsx
Labels: staff

#5377 chore(Radio): Move Radio component css module feature flag to ga
  .changeset/large-cars-repeat.md
  packages/react/src/Radio/Radio.tsx
Labels: staff

#5222 feat(ButtonBase): Remove css modules feature flag from ButtonBase
  .changeset/tender-queens-juggle.md
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: integration-tests: passing, staff

#5361 feat(BaseStyles): Convert BaseStyles to CSS modules behind team feature flag
  .changeset/grumpy-numbers-eat.md
  packages/react/src/BaseStyles.module.css
  packages/react/src/BaseStyles.tsx
  packages/react/src/__tests__/BaseStyles.test.tsx
Labels: integration-tests: passing, integration-tests: recommended

#5394 chore(Dialog): Move Dialog component css module feature flag to staff
  .changeset/few-elephants-double.md
  packages/react/src/Dialog/Dialog.tsx
Labels: staff

#5396 chore(Textarea): Move Textarea component css module feature flag to staff
  .changeset/soft-owls-flash.md
  packages/react/src/Textarea/Textarea.tsx
Labels: staff

#5392 chore(CheckboxOrRadioGroup): Move CheckboxOrRadioGroup component css module feature flag to staff
  .changeset/yellow-gifts-talk.md
  packages/react/src/internal/components/CheckboxOrRadioGroup/FeatureFlag.tsx
Labels: staff

#5393 chore(UnstyledTextInput): Move UnstyledTextInput component css module feature flag to staff
  .changeset/young-pans-stare.md
  packages/react/src/internal/components/UnstyledTextInput.tsx
Labels: staff

#5390 chore(ProgressBar): Move ProgressBar component css module feature flag to staff
  .changeset/witty-rocks-talk.md
  packages/react/src/ProgressBar/ProgressBar.tsx
Labels: staff

#5359 chore(ci): remove manual npm cli install
  .github/workflows/assign_release_conductor.yml
  .github/workflows/ci.yml
  .github/workflows/codescan.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/release-schedule.yml
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
  .github/workflows/vrt.yml
Labels: skip changeset, staff

#5400 chore(project): update packageManager to npm 10.9.2
  package.json
Labels: skip changeset, staff

#5355 chore(deps): update eslint-plugin-playwright to 2.x
  .eslintrc.js
  e2e/components/DataTable.test.ts
  package-lock.json
  package.json
Labels: skip changeset

#5375 feat(ActionList + ActionList.Divider) Convert to CSS Modules
  .changeset/twenty-dogs-sparkle.md
  packages/react/src/ActionList/ActionList.dev.stories.tsx
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Divider.tsx
  packages/react/src/ActionList/List.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: passing

#5406 Fix SelectPanel feature story
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-tritanopia-modern-action-list--true-linux.png
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
Labels: skip changeset

#5409 Fix `border-color` on ActionList Group header
  .changeset/popular-moose-end.md
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Group-With-Filled-Title-Old-Api-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Group-With-Filled-Title-Old-Api-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Group-With-Filled-Title-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Group-With-Filled-Title-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-high-contrast-modern-action-list--true-linux.png
  packages/react/src/ActionList/Group.tsx
Labels: integration-tests: recommended

#5412 Revert ButtonGroup changes from last release 37.7.0
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-dimmed-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-tritanopia-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-colorblind-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-dimmed-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-colorblind-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Nested-Overlays-dark-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Nested-Overlays-light-high-contrast-linux.png
  e2e/components/ButtonGroup.test.ts
  examples/app-router/package.json
  examples/codesandbox/package.json
  examples/theming/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/ButtonGroup/ButtonGroup.dev.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.module.css
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5357 feat(UnderlinePanels): Convert UnderlinePanels to CSS modules behind team feature flag
  .changeset/slimy-chefs-divide.md
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.module.css
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
  packages/react/src/hooks/useResizeObserver.ts
  packages/react/src/internal/components/UnderlineTabbedInterface.module.css
  packages/react/src/internal/components/UnderlineTabbedInterface.tsx
Labels: integration-tests: failing

#5349 refactor(Table): update to CSS Modules
  .changeset/selfish-flowers-approve.md
  packages/react/src/DataTable/Table.module.css
  packages/react/src/DataTable/Table.tsx
Labels: staff, integration-tests: failing

#5370 refactor(FormControl): update to CSS Modules behind feature flag
  .changeset/gentle-stingrays-search.md
  packages/react/src/FormControl/FormControl.module.css
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.module.css
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/__tests__/FormControl.test.tsx
  packages/react/src/FormControl/__tests__/useFormControlForwardedProps.test.tsx
  packages/react/src/FormControl/feature-flags.ts
  packages/react/src/internal/components/InputLabel.module.css
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/InputValidation.module.css
  packages/react/src/internal/components/InputValidation.tsx
Labels: staff, integration-tests: failing

#5405 chore(SideNav): Add VRT tests
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-dark-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-light-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-light-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-dark-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-dark-dimmed-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-dark-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-dark-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-dark-tritanopia-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-light-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-light-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-light-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Full-Variant-light-tritanopia-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-dark-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-dark-dimmed-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-dark-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-dark-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-dark-tritanopia-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-light-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-light-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-light-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Nested-Variant-light-tritanopia-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-dark-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-dark-dimmed-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-dark-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-dark-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-dark-tritanopia-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-light-colorblind-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-light-high-contrast-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-light-linux.png
  .playwright/snapshots/components/SideNav.test.ts-snapshots/SideNav-Lightweight-Variant-light-tritanopia-linux.png
  e2e/components/SideNav.test.ts
  packages/react/src/stories/deprecated/SideNav.dev.stories.tsx
Labels: skip changeset

#5414 Add `onPrimary` variant to `KeybindingHint`
  .changeset/flat-sheep-look.md
  packages/react/src/KeybindingHint/KeybindingHint.examples.stories.tsx
  packages/react/src/KeybindingHint/KeybindingHint.features.stories.tsx
  packages/react/src/KeybindingHint/components/Chord.tsx
  packages/react/src/KeybindingHint/props.ts
Labels: integration-tests: recommended

#5310 feat(Overlay): Convert Overlay to CSS modules behind team feature flag
  .changeset/nice-boxes-sell.md
  packages/react/src/Overlay/Overlay.module.css
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
Labels: integration-tests: passing

#5408 Fix broken link to superseding ADR adr-008-interaction-tests.md
  contributor-docs/adrs/adr-008-interaction-tests.md
Labels: skip changeset, staff, integration-tests: skipped manually

#5420 Add className back to TokenBase
  .changeset/dirty-wasps-behave.md
  packages/react/src/Token/AvatarToken.tsx
  packages/react/src/Token/IssueLabelToken.tsx
  packages/react/src/Token/Token.tsx
  packages/react/src/Token/TokenBase.tsx
  packages/react/src/Token/__tests__/Token.test.tsx
Labels: integration-tests: recommended

#5419 bugfix(Stack): Fix typo in custom media variable used in Stack component
  .changeset/chilled-nails-juggle.md
  packages/react/src/Stack/Stack.module.css
  packages/react/src/Stack/Stack.tsx
Labels: integration-tests: recommended, staff

#5427 chore: sync with v37.7.2
  .changeset/dirty-wasps-behave.md
  examples/app-router/package.json
  examples/codesandbox/package.json
  examples/theming/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: integration-tests: recommended, staff

#5428 refactor(Pagination): update syntax in media query
  .changeset/nervous-guests-cheer.md
  packages/react/src/Pagination/Pagination.module.css
Labels: integration-tests: recommended, staff

#5350 fix(TooltipV2): delay tooltip opening time by 50ms
  .changeset/five-mayflies-flash.md
  packages/react/src/Overlay/Overlay.test.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
Labels: enhancement, component: Tooltip, integration-tests: passing

#5434 Revert #5370, #5349 due to visual regressions
  .changeset/gentle-stingrays-search.md
  .changeset/healthy-eggs-pretend.md
  .changeset/selfish-flowers-approve.md
  packages/react/src/DataTable/Table.module.css
  packages/react/src/DataTable/Table.tsx
  packages/react/src/FormControl/FormControl.module.css
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.module.css
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/__tests__/useFormControlForwardedProps.test.tsx
  packages/react/src/FormControl/feature-flags.ts
  packages/react/src/__tests__/FormControl.test.tsx
  packages/react/src/internal/components/InputLabel.module.css
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/InputValidation.module.css
  packages/react/src/internal/components/InputValidation.tsx
Labels: status: review needed, integration-tests: passing, staff

#5432 chore(NavList) add e2e tests
  .changeset/tiny-mirrors-judge.md
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-dark-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-dark-dimmed-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-dark-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-dark-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-dark-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-light-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-light-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-light-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-Simple-light-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-dark-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-dark-dimmed-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-dark-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-dark-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-dark-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-light-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-light-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-light-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Group-light-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-dark-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-dark-dimmed-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-dark-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-dark-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-dark-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-light-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-light-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-light-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Sub-Items-light-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-dark-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-dark-dimmed-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-dark-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-dark-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-dark-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-light-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-light-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-light-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-Title-and-Heading-light-tritanopia-linux.png
  e2e/components/NavList.test.ts
  packages/react/src/ActionList/Group.tsx
  packages/react/src/NavList/NavList.dev.stories.tsx
  packages/react/src/NavList/NavList.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: passing

#5387 chore(Breadcrumbs): Move Breadcrumbs component css module feature flag to staff
  .changeset/shaggy-geese-smile.md
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
Labels: staff

#5382 chore(Skeleton): Move Skeleton component css module feature flag to ga
  .changeset/eight-guests-punch.md
  packages/react/src/experimental/Skeleton/FeatureFlag.tsx
Labels: staff

#5440 chore(deps): update @primer/primitives to 10.2.0
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-dark-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-dark-dimmed-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-dark-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-dark-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-dark-tritanopia-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-light-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-light-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-light-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Disabled-variants-light-tritanopia-linux.png
  e2e/components/Button.test.ts
  package-lock.json
  packages/react/.storybook/primitives-v8.css
  packages/react/src/Button/Button.dev.stories.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5384 chore(Stack): Move Stack component css module feature flag to ga
  .changeset/plenty-tools-count.md
  packages/react/src/Stack/Stack.tsx
Labels: staff

#5386 chore(Select): Move Select component css module feature flag to ga
  .changeset/kind-phones-drop.md
  packages/react/src/Select/Select.tsx
Labels: staff

#5424 feat(NavList) Convert to CSS Modules
  .changeset/quick-items-hunt.md
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/ActionList/Group.module.css
  packages/react/src/ActionList/Group.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/NavList/NavList.test.tsx
  packages/react/src/NavList/NavList.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: recommended

#5380 chore(Header): Move Header component css module feature flag to ga
  .changeset/shiny-horses-promise.md
  packages/react/src/Header/Header.tsx
Labels: staff

#5444 feat(BaseStyles): Fix Typography and Common props when CSS modules feature flag is enabled
  .changeset/polite-books-sneeze.md
  packages/react/src/BaseStyles.dev.stories.tsx
  packages/react/src/BaseStyles.tsx
  packages/react/src/Text/Text.tsx
  packages/react/src/__tests__/BaseStyles.test.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/BaseStyles.test.tsx.snap
  packages/react/src/utils/includeSystemProps.ts
Labels: integration-tests: passing

#5123 Bug fix: ButtonGroup with Tooltips
  .changeset/clean-camels-train.md
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-dark-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-dark-dimmed-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-dark-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-dark-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-dark-tritanopia-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-light-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-light-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-light-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-Overrides-light-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-colorblind-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-dimmed-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-dark-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-colorblind-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Memex-Nested-Overlays-light-tritanopia-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Nested-Overlays-dark-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-Nested-Overlays-light-high-contrast-linux.png
  e2e/components/ButtonGroup.test.ts
  packages/react/src/ButtonGroup/ButtonGroup.dev.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.features.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.module.css
  packages/react/src/ButtonGroup/ButtonGroup.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
Labels: integration-tests: passing

#5453 feat(Autocomplete): Convert to CSS modules behind feature flag
  .changeset/eight-donuts-enjoy.md
  packages/react/src/Autocomplete/AutocompleteOverlay.module.css
  packages/react/src/Autocomplete/AutocompleteOverlay.tsx
Labels: integration-tests: recommended

#5443 Deprecate use of sx prop by deprecating the SxProp type definition
  .changeset/few-coins-kick.md
  packages/react/src/sx.ts
Labels: integration-tests: passing, staff

#5459 Don't deprecate Box sx prop
  packages/react/src/Box/Box.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5456 chore(deps): update @primer/octicons-react to 19.13.0
  .changeset/proud-phones-repeat.md
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-dark-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-light-linux.png
  .playwright/snapshots/components/Header.test.ts-snapshots/Header-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Navigation-Slot-light-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-dark-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-dark-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-dark-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-dark-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-light-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-light-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-light-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-light-tritanopia-linux.png
  package-lock.json
  packages/react/package.json
  packages/react/src/PageHeader/PageHeader.examples.stories.tsx
  packages/react/src/PageHeader/PageHeader.features.stories.tsx
  packages/react/src/PageHeader/PageHeader.stories.tsx
  packages/react/src/UnderlineNav/UnderlineNav.examples.stories.tsx
Labels: integration-tests: recommended

#4849 Implement code connect for segmentedControl and heading
  packages/react/script/figma-connect-icons.ts
  packages/react/src/ActionBar/ActionBar.figma.tsx
  packages/react/src/ActionBar/disabled.ActionBar.Figma.tsx
  packages/react/src/ActionList/ActionList.figma.tsx
  packages/react/src/Banner/Banner.figma.tsx
  packages/react/src/Button/Button.figma.tsx
  packages/react/src/Heading/Heading.figma.tsx
  packages/react/src/Octicon/Octicon.figma.tsx
  packages/react/src/Popover/Popover.figma.tsx
  packages/react/src/SegmentedControl/SegmentedControl.figma.tsx
  packages/react/src/experimental/Skeleton/SkeletonAvatar.figma.tsx
  packages/react/src/experimental/Skeleton/SkeletonBox.figma.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.figma.tsx
Labels: skip changeset, integration-tests: recommended

#5438 refactor(FormControl): update FormControl to use CSS Modules behind flag
  .changeset/gentle-stingrays-search.md
  packages/react/src/FormControl/FormControl.module.css
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.module.css
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/__tests__/FormControl.test.tsx
  packages/react/src/FormControl/__tests__/useFormControlForwardedProps.test.tsx
  packages/react/src/FormControl/feature-flags.ts
  packages/react/src/internal/components/InputLabel.module.css
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/InputValidation.module.css
  packages/react/src/internal/components/InputValidation.tsx
Labels: integration-tests: passing, staff

#5244 Add stories for Octicon usage
  packages/react/.storybook/preview.jsx
  packages/react/src/stories/Icons.stories.tsx
Labels: skip changeset, integration-tests: recommended

#5451 feat(Autocomplete): Convert Box usage to CSS modules behind feature flag
  .changeset/purple-pants-sit.md
  packages/react/src/Autocomplete/AutocompleteMenu.module.css
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
Labels: integration-tests: recommended

#5465 Add `stylelint` extension to devcontainer
  .devcontainer/devcontainer.json
Labels: skip changeset

#5448 Corrects styling on `Button`s that only have a `count` and `icon`
  .changeset/brave-penguins-clap.md
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-dark-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-dark-dimmed-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-dark-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-dark-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-dark-tritanopia-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-light-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-light-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-light-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Trailing-Counter-No-Text-light-tritanopia-linux.png
  e2e/components/Button.test.ts
  packages/react/src/Button/Button.features.stories.tsx
  packages/react/src/Button/ButtonBase.module.css
  packages/react/src/Button/ButtonBase.tsx
Labels: integration-tests: recommended

#5464 chore(Select): Remove CSS modules feature flag from Select
  .changeset/violet-tables-eat.md
  packages/react/src/Select/Select.tsx
Labels: integration-tests: passing, staff

#5435 refactor(Table): update to CSS Modules
  .changeset/selfish-flowers-approve.md
  packages/react/src/DataTable/Table.module.css
  packages/react/src/DataTable/Table.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5461 chore(Skeleton): Remove the CSS module feature flag from Skeleton
  .changeset/thirty-wasps-sleep.md
  packages/react/src/experimental/Skeleton/FeatureFlag.tsx
  packages/react/src/experimental/Skeleton/SkeletonAvatar.tsx
  packages/react/src/experimental/Skeleton/SkeletonBox.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.tsx
Labels: integration-tests: passing, staff

#5460 chore(Header): Remove CSS modules feature flag from Header
  .changeset/shaggy-comics-whisper.md
  packages/react/src/Header/Header.tsx
  packages/react/src/__tests__/Header.test.tsx
Labels: integration-tests: passing, staff

#5476 ActionBar: Ensure overflow menu only exists if there is no space
  .changeset/thirty-apples-wave.md
  e2e/components/drafts/ActionBar.test.ts
  packages/react/src/ActionBar/ActionBar.examples.stories.tsx
  packages/react/src/ActionBar/ActionBar.stories.tsx
  packages/react/src/ActionBar/ActionBar.tsx
Labels: update snapshots, integration-tests: failing
