Repository primer/react, pull requests merged in 2024-08, with the labels that each got.

#4768 Header: add overflow
  .changeset/moody-rivers-impress.md
  packages/react/src/Header/Header.features.stories.tsx
  packages/react/src/Header/Header.tsx
Labels: accessibility, react, staff

#4805 feat(storybook): add support for feature flag toggle in toolbar
  packages/react/.storybook/manager.js
  packages/react/.storybook/preview.js
  packages/react/src/FeatureFlags/DefaultFeatureFlags.ts
Labels: skip changeset, staff

#4793 docs(components): update import path to experimental
  packages/react/src/drafts/Skeleton/SkeletonAvatar.docs.json
  packages/react/src/drafts/Skeleton/SkeletonBox.docs.json
  packages/react/src/drafts/Skeleton/SkeletonText.docs.json
Labels: skip changeset, staff

#4800 feat(react): enable support for CSS Modules and emitting *.css files in bundle
  .changeset/config.json
  .changeset/dry-trainers-protect.md
  .github/workflows/consumer_test.yml
  package-lock.json
  package.json
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/script/build
  packages/react/script/get-export-sizes.js
  packages/react/src/__tests__/exports.test.ts
  packages/rollup-plugin-import-css/src/index.ts
Labels: staff

#4817 ci: update release candidate for pre mode
  .github/workflows/release_candidate.yml
Labels: skip changeset, staff

#4818 ci: update hash generation for package
  .github/workflows/release_candidate.yml
Labels: skip changeset, staff

#4810 refactor(Blankslate): add support for css modules to Blankslate
  .changeset/tough-pans-punch.md
  .stylelintignore
  e2e/components/Blankslate.test.ts
  e2e/test-helpers/storybook.ts
  packages/react/script/get-export-sizes.js
  packages/react/src/Blankslate/Blankslate.module.css
  packages/react/src/Blankslate/Blankslate.tsx
Labels: staff

#4806 Add `variant` prop to Heading
  .changeset/clever-birds-press.md
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Large-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Medium-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Small-linux.png
  e2e/components/Heading.test.ts
  packages/react/src/Heading/Heading.docs.json
  packages/react/src/Heading/Heading.features.stories.tsx
  packages/react/src/Heading/Heading.stories.tsx
  packages/react/src/Heading/Heading.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: update snapshots, UI mob pair

#4826 document "Banner.hideTitle" prop
  packages/react/src/Banner/Banner.docs.json
Labels: skip changeset

#4816 export FilteredActionList
  .changeset/new-shirts-beam.md
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
Labels: staff

#4833 Adding a workflow for scanning component files for stats
  .github/workflows/codescan.yml
Labels: skip changeset, staff

#4820 Timeline: Add text alternatives to icons in `Timeline` stories
  packages/react/src/Timeline/Timeline.features.stories.tsx
  packages/react/src/Timeline/Timeline.stories.tsx
Labels: skip changeset

#4766 chore(deps): Bump eslint-plugin-primer-react to v5.4.0 and update the code accordingly
  .changeset/honest-ligers-fly.md
  .eslintrc.js
  docs/content/ActionMenu.mdx
  package-lock.json
  package.json
  packages/react/src/ActionList/ActionList.dev.stories.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionMenu/ActionMenu.features.stories.tsx
  packages/react/src/Button/IconButton.dev.stories.tsx
  packages/react/src/Button/IconButton.features.stories.tsx
  packages/react/src/Button/IconButton.stories.tsx
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/ButtonGroup/ButtonGroup.features.stories.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/PageHeader/PageHeader.examples.stories.tsx
  packages/react/src/PageLayout/PageLayout.features.stories.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/drafts/MarkdownEditor/_ToolbarButton.tsx
Labels: staff

#4838 feat(Banner): add support for custom icons when variant="upsell"
  .changeset/twelve-tables-leave.md
  packages/react/src/Banner/Banner.docs.json
  packages/react/src/Banner/Banner.features.stories.tsx
  packages/react/src/Banner/Banner.test.tsx
  packages/react/src/Banner/Banner.tsx
Labels: staff

#4848 fix(postcss): update preset to use correct plugin syntax
  package-lock.json
  package.json
  packages/postcss-preset-primer/package.json
  packages/postcss-preset-primer/src/index.js
  packages/react/package.json
  packages/react/src/Blankslate/Blankslate.module.css
  stylelint.config.mjs
Labels: skip changeset, staff

#4837 Adds code connect for more elements
  package-lock.json
  packages/react/package.json
  packages/react/src/Select/Select.figma.tsx
Labels: design, skip changeset

#4783 refactor: remove SSRProvider and useSSRSafeId
  .changeset/eleven-drinks-kiss.md
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ConfirmationDialog/ConfirmationDialog.test.tsx
  packages/react/src/NavList/NavList.test.tsx
  packages/react/src/SegmentedControl/SegmentedControl.test.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
  packages/react/src/__tests__/AnchoredOverlay.test.tsx
  packages/react/src/__tests__/Autocomplete.test.tsx
  packages/react/src/__tests__/CheckboxGroup.test.tsx
  packages/react/src/__tests__/CheckboxOrRadioGroup.test.tsx
  packages/react/src/__tests__/FormControl.test.tsx
  packages/react/src/__tests__/RadioGroup.test.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/__tests__/deprecated/ActionMenu.test.tsx
  packages/react/src/index.ts
  packages/react/src/utils/ssr.tsx
Labels: staff

#4828 Refactor Link component to use CSS modules
  .changeset/pre.json
  .changeset/quick-adults-buy.md
  .eslintrc.js
  contributor-docs/CONTRIBUTING.md
  e2e/components/Link.test.ts
  examples/nextjs/.gitignore
  examples/nextjs/next-env.d.ts
  examples/nextjs/next.config.js
  examples/nextjs/package.json
  examples/nextjs/src/components/Layout.js
  examples/nextjs/src/components/Navigation.js
  examples/nextjs/src/pages/_app.js
  examples/nextjs/src/pages/index.js
  examples/nextjs/src/pages/tabs/[tab].js
  examples/nextjs/tsconfig.json
  package-lock.json
  packages/react/src/Link/Link.module.css
  packages/react/src/Link/Link.tsx
Labels: staff

#4819 refactor(Heading): update component to CSS Modules
  .changeset/nervous-llamas-ring.md
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-dark-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-light-linux.png
  .playwright/snapshots/components/Heading.test.ts-snapshots/Heading-Default-light-tritanopia-linux.png
  e2e/components/Heading.test.ts
  packages/react/src/Heading/Heading.module.css
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Heading/__tests__/Heading.test.tsx
Labels: staff

#4795 ActionList: Enable focusZone for roles listbox and menu
  .changeset/lemon-candles-deny.md
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/List.tsx
  packages/react/src/ActionMenu/ActionMenu.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
Labels: react, no-breaking-changes: need to test, staff

#4853 [Storybook] Remove dev stories from build
  packages/react/.storybook/main.js
  packages/react/src/UnderlineNav/UnderlineNav.dev.stories.tsx
Labels: skip changeset

#4804 chore: remove TabPanels component
  .changeset/forty-ants-tell.md
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-dark-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-light-colorblind-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-light-linux.png
  .playwright/snapshots/components/TabPanels.test.ts-snapshots/TabPanels-Default-light-tritanopia-linux.png
  docs/content/drafts/TabPanels.mdx
  e2e/components/TabPanels.test.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/drafts/TabPanels/TabPanels.docs.json
  packages/react/src/drafts/TabPanels/TabPanels.features.stories.tsx
  packages/react/src/drafts/TabPanels/TabPanels.stories.tsx
  packages/react/src/drafts/TabPanels/TabPanels.tsx
  packages/react/src/drafts/TabPanels/__tests__/TabPanels.test.tsx
  packages/react/src/drafts/TabPanels/index.ts
  packages/react/src/drafts/index.ts
Labels: staff

#4781 refactor: remove deprecated FilterList component
  .changeset/pink-actors-cross.md
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-linux.png
  .playwright/snapshots/components/FilterList.test.ts-snapshots/FilterList-Playground-light-tritanopia-linux.png
  docs/content/FilterList.mdx
  e2e/components/FilterList.test.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/__tests__/deprecated/FilterList.test.tsx
  packages/react/src/__tests__/deprecated/FilterList.types.test.tsx
  packages/react/src/__tests__/deprecated/FilterListItem.test.tsx
  packages/react/src/__tests__/deprecated/__snapshots__/FilterListItem.test.tsx.snap
  packages/react/src/deprecated/FilterList/FilterList.docs.json
  packages/react/src/deprecated/FilterList/FilterList.stories.tsx
  packages/react/src/deprecated/FilterList/FilterList.tsx
  packages/react/src/deprecated/FilterList/index.ts
  packages/react/src/deprecated/index.ts
Labels: staff

#4852 feat(rollup-plugin): enable sourcemap output for css modules
  .changeset/thirty-tips-bow.md
  packages/rollup-plugin-import-css/src/index.ts
Labels: staff

#4856 feat(postcss): add support for mixins to postcss-preset-primer
  jest.config.js
  package-lock.json
  packages/postcss-preset-primer/config/transform/jsTransform.js
  packages/postcss-preset-primer/jest.config.cjs
  packages/postcss-preset-primer/package.json
  packages/postcss-preset-primer/src/__tests__/__snapshots__/preset.test.ts.snap
  packages/postcss-preset-primer/src/__tests__/preset.test.ts
  packages/postcss-preset-primer/src/index.js
  packages/postcss-preset-primer/src/mixins/focusOutline.css
  packages/postcss-preset-primer/src/mixins/focusOutlineOnEmphasis.css
Labels: skip changeset, staff

#4857 fix(Blankslate): Don't use Box to render heading when flag is enabled
  .changeset/soft-tips-chew.md
  packages/react/src/Blankslate/Blankslate.tsx
Labels: staff

#4854 [Storybook] Add Deprecating banners to Dialog and Tooltip
  .playwright/snapshots/components/Avatar.test.ts-snapshots/Avatar-Size-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-colorblind-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-dimmed-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-high-contrast-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-dark-tritanopia-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-colorblind-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-high-contrast-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-open-linux.png
  .playwright/snapshots/components/Tooltip.test.ts-snapshots/Tooltip-Default-light-tritanopia-open-linux.png
  packages/react/src/Dialog.stories.tsx
  packages/react/src/Tooltip/Tooltip.stories.tsx
Labels: skip changeset

#4831 Update TextInput.TrailingAction hover state
  .changeset/seven-scissors-explain.md
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-dark-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-dark-dimmed-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-dark-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-dark-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-light-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-light-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-light-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-With-Trailing-Action-light-tritanopia-linux.png
  packages/react/src/TextInput/TextInput.features.stories.tsx
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/internal/components/TextInputInnerAction.tsx
Labels: staff

#4859 Update figma_connect_publish.yml
  .github/workflows/figma_connect_publish.yml
Labels: skip changeset

#4858 Refactor Link, Blankslate, Heading to use :where css
  .changeset/early-lions-vanish.md
  packages/react/src/Blankslate/Blankslate.module.css
  packages/react/src/Heading/Heading.module.css
  packages/react/src/Link/Link.module.css
Labels: staff

#4870 fix: Add :where selector to classes that land on nodes that have a sx prop
  .changeset/blue-stingrays-decide.md
  packages/react/src/Heading/Heading.module.css
  packages/react/src/Link/Link.module.css
Labels: staff

#4871 Move CSS Module feature flags to lifecycle rules
  e2e/components/Blankslate.test.ts
  e2e/components/Heading.test.ts
  e2e/components/Link.test.ts
  packages/react/src/Blankslate/Blankslate.tsx
  packages/react/src/FeatureFlags/DefaultFeatureFlags.ts
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Heading/__tests__/Heading.test.tsx
  packages/react/src/Link/Link.tsx
Labels: skip changeset, staff

#4861 Figma code connect for multiple components
  package-lock.json
  packages/react/package.json
  packages/react/src/ActionBar/ActionBar.figma.tsx
  packages/react/src/ActionList/ActionList.figma.tsx
  packages/react/src/Autocomplete/Autocomplete.figma.tsx
  packages/react/src/Avatar/Avatar.figma.tsx
  packages/react/src/AvatarPair/AvatarPair.figma.tsx
  packages/react/src/AvatarStack/AvatarStack.figma.tsx
  packages/react/src/Banner/Banner.figma.tsx
  packages/react/src/BranchName/BranchName.figma.tsx
  packages/react/src/Breadcrumbs/Breadcrumbs.figma.tsx
  packages/react/src/Button/IconButton.figma.tsx
  packages/react/src/Checkbox/Checkbox.figma.tsx
  packages/react/src/CounterLabel/CounterLabel.figma.tsx
  packages/react/src/Link/Link.figma.tsx
  packages/react/src/NavList/NavList.figma.tsx
  packages/react/src/Overlay/Overlay.figma.tsx
  packages/react/src/Pagination/Pagination.figma.tsx
  packages/react/src/ProgressBar/ProgressBar.figma.tsx
  packages/react/src/Radio/Radio.figma.tsx
  packages/react/src/Select/Select.figma.tsx
  packages/react/src/TabNav/TabNav.figma.tsx
  packages/react/src/TextInput/TextInput.figma.tsx
  packages/react/src/Textarea/Textarea.figma.tsx
  packages/react/src/ToggleSwitch/ToggleSwitch.figma.tsx
  packages/react/src/TooltipV2/Tooltip.figma.tsx
  packages/react/src/TreeView/TreeViewItem.figma.tsx
  packages/react/src/UnderlineNav/UnderlineNav.figma.tsx
Labels: design, skip changeset

#4889 Add @primer/engineer-reviewers to snapshots
  CODEOWNERS
Labels: skip changeset, staff

#4845 FormControl: Fixes for `FormControl` stories
  packages/react/src/FormControl/FormControl.features.stories.tsx
Labels: skip changeset

#4890 Add clarity to Timeline, TreeView, and Truncate stories
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-dark-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-dark-dimmed-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-dark-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-dark-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-dark-tritanopia-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-light-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-light-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-light-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-Clip-Sidebar-light-tritanopia-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-dark-colorblind-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-dark-dimmed-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-dark-high-contrast-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-dark-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-dark-tritanopia-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-light-colorblind-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-light-high-contrast-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-light-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Expandable-light-tritanopia-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-dark-colorblind-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-dark-dimmed-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-dark-high-contrast-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-dark-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-dark-tritanopia-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-light-colorblind-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-light-high-contrast-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-light-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Inline-light-tritanopia-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-dark-colorblind-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-dark-dimmed-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-dark-high-contrast-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-dark-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-dark-tritanopia-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-light-colorblind-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-light-high-contrast-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-light-linux.png
  .playwright/snapshots/components/Truncate.test.ts-snapshots/Truncate-Max-Width-light-tritanopia-linux.png
  e2e/components/Truncate.test.ts
  packages/react/src/Timeline/Timeline.features.stories.tsx
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/Truncate/Truncate.features.stories.tsx
Labels: skip changeset

#4886 Preparatory refactor for snapshot testing for #4794
  e2e/components/SelectPanel.test.ts
Labels: skip changeset, staff

#4874 refactor(Text): Text component to use CSS modules behind primer_react_css_modules_team feature flag
  .changeset/tidy-clocks-marry.md
  e2e/components/Text.test.ts
  packages/react/src/Text/Text.module.css
  packages/react/src/Text/Text.stories.tsx
  packages/react/src/Text/Text.tsx
Labels: staff
