Repository primer/react, pull requests merged in 2024-05, with the labels that each got.

#4537 Fix: Ensure dynamically updated label is announced
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-dark-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-dark-dimmed-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-dark-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-dark-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-dark-tritanopia-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-light-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-light-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-light-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-Trailing-Counter-light-tritanopia-linux.png
  packages/react/src/Button/Button.features.stories.tsx
Labels: skip changeset

#4538 tests: add missing snapshot and axe coverage for ActionMenu
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Controlled-Menu-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Inactive-Items-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Links-And-Actions-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Multi-Select-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Single-Select-light-tritanopia-linux.png
  e2e/components/ActionMenu.test.ts
  package-lock.json
Labels: skip changeset, update snapshots

#4556 BranchName: Add style for span and add v8 tokens
  .changeset/thin-ligers-turn.md
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-colorblind-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-colorblind-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-high-contrast-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-tritanopia-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-light-tritanopia-linux.png
  packages/react/src/BranchName/BranchName.stories.tsx
  packages/react/src/BranchName/BranchName.tsx
Labels: react

#4551 Storybook: Autocomplete story should not submit the form
  packages/react/src/Autocomplete/Autocomplete.stories.tsx
Labels: skip changeset

#4544 deprecate title prop on ActionList.Group component on docs
  packages/react/src/ActionList/ActionList.docs.json
Labels: skip changeset

#4558 chore: add hydro analytics to storybook
  packages/react/.storybook/main.js
  script/build-docs
Labels: skip changeset

#4569 Sid/treeview leading action
  packages/react/src/TreeView/TreeView.docs.json
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/TreeView/TreeView.tsx
Labels: update snapshots

#4548 `TreeView`: Fix expanding/collapsing item when `Space` is pressed
  .changeset/quiet-lamps-kiss.md
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/TreeView/TreeView.tsx
  packages/react/src/TreeView/useTypeahead.ts
Labels: component: TreeView

#4578 Revert "Trigger onClose when Dialog backdrop is clicked (#4565)"
  .changeset/popular-jokes-kiss.md
  docs/content/drafts/Dialog.mdx
  packages/react/src/ConfirmationDialog/ConfirmationDialog.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
Labels: skip changeset

#4580 Create a release event datadog tracking workflow
  .github/workflows/release_tracking.yml
Labels: skip changeset

#4588 ci(release-conductor): remove previous conductor after assigning new one
  .github/workflows/assign_release_conductor.yml
Labels: skip changeset

#4571 Fix replacement URL for React getting started
  docs/content/getting-started.md
Labels: skip changeset

#4572 `TreeView`: Align tree item toggle and visual icons to top of item
  .changeset/rich-pans-press.md
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-tritanopia-linux.png
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/TreeView/TreeView.tsx
Labels: component: TreeView

#4607 PageHeader: mark PageHeader as it is signed off from accessibility
  docs/content/drafts/PageHeader.mdx
  packages/react/src/PageHeader/PageHeader.docs.json
Labels: skip changeset

#4614 NavList: Only render the group title if title exists
  packages/react/src/NavList/NavList.tsx
Labels: skip changeset

#4615 chore(eslint): add primer_react_ to list of allowed camelcase names
  .eslintrc.js
Labels: skip changeset

#4545 Work on implementing code connect to allow for realistic code preview in figma
  .github/workflows/figma_connect_publish.yml
  package-lock.json
  packages/react/figma.config.json
  packages/react/package.json
  packages/react/script/figma-connect-icons.ts
  packages/react/src/Avatar/Avatar.figma.tsx
  packages/react/src/BranchName/BranchName.figma.tsx
  packages/react/src/Button/Button.figma.tsx
  packages/react/src/Link/Link.figma.tsx
  packages/react/src/Octicon/Octicon.figma.tsx
  packages/react/tsconfig.build.json
Labels: design, skip changeset

#4631 Remove release event tracking branch check
  .github/workflows/release_tracking.yml
Labels: skip changeset

#4629 docs: add example with NavList.Group
  packages/react/src/NavList/NavList.stories.tsx
Labels: skip changeset
