Repository primer/react, pull requests merged in 2024-07, with the labels that each got.

#4708 docs(Banner): update banner docs after accessibility review
  packages/react/src/Banner/Banner.docs.json
Labels: skip changeset

#4681 Figma connect files
  package-lock.json
  packages/react/figma.config.json
  packages/react/package.json
  packages/react/src/Avatar/Avatar.figma.tsx
  packages/react/src/AvatarPair/AvatarPair.figma.tsx
  packages/react/src/AvatarStack/AvatarStack.figma.tsx
  packages/react/src/BranchName/BranchName.figma.tsx
  packages/react/src/Breadcrumbs/Breadcrumbs.figma.tsx
  packages/react/src/Button/Button.figma.tsx
  packages/react/src/Checkbox/Checkbox.figma.tsx
  packages/react/src/CounterLabel/CounterLabel.figma.tsx
  packages/react/src/FormControl/FormControl.figma.tsx
  packages/react/src/InlineMessage/InlineMessage.figma.tsx
  packages/react/src/Pagination/Pagination.figma.tsx
  packages/react/src/ProgressBar/ProgressBar.figma.tsx
  packages/react/src/Radio/Radio.figma.tsx
  packages/react/src/TextInput/TextInput.figma.tsx
  packages/react/src/ToggleSwitch/ToggleSwitch.figma.tsx
  packages/react/src/TooltipV2/Tooltip.figma.tsx
  packages/react/src/UnderlineNav/UnderlineNav.figma.tsx
Labels: skip changeset

#4716 feat: Adding custom property fallback plugin to postcss css module processing
  package-lock.json
  packages/react/package.json
  packages/react/rollup.config.mjs
Labels: skip changeset

#4720 docs: add template for ADRs
  contributor-docs/adrs/adr-000-template.md
  contributor-docs/adrs/adr-001-typescript.md
  contributor-docs/adrs/adr-002-behavior-isolation.md
  contributor-docs/adrs/adr-003-prop-norms.md
  contributor-docs/adrs/adr-004-children-as-api.md
  contributor-docs/adrs/adr-005-box-sx.md
  contributor-docs/adrs/adr-006-drafts.md
  contributor-docs/adrs/adr-007-experimental-components.md
  contributor-docs/adrs/adr-008-interaction-tests.md
  contributor-docs/adrs/adr-009-behavior-isolation.md
  contributor-docs/adrs/adr-010-drafts-are-experimental.md
  contributor-docs/adrs/adr-011-snapshot-tests.md
  contributor-docs/adrs/adr-012-development-warnings.md
  contributor-docs/adrs/adr-013-file-structure.md
  contributor-docs/adrs/adr-014-npm-workspaces.md
  contributor-docs/adrs/adr-015-internal-modules.md
  contributor-docs/adrs/adr-016-css.md
  contributor-docs/adrs/adr-017-interaction-tests-revisited.md
  contributor-docs/adrs/adr-018-responsive-values.md
  contributor-docs/adrs/adr-019-deprecating-props.md
  contributor-docs/adrs/adr-020-live-regions.md
Labels: skip changeset

#4724 test(e2e): update test-e2e script to read playwright version automatically
  script/test-e2e
Labels: skip changeset

#4726 Workflow: Add label "staff" to issues and PR to help prioritisation
  .github/workflows/add_staff_label.yml
Labels: skip changeset, staff

#4702 Update the default value of `unsafeDisableTooltip` to `false` and remove redundant props and wrappers
  .changeset/clean-fireants-type.md
  e2e/components/drafts/ActionBar.test.ts
  packages/react/src/ActionBar/ActionBar.tsx
  packages/react/src/ActionList/TrailingAction.tsx
  packages/react/src/Button/IconButton.tsx
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/ButtonGroup/ButtonGroup.features.stories.tsx
  packages/react/src/Dialog.tsx
  packages/react/src/__tests__/Dialog.test.tsx
  packages/react/src/drafts/MarkdownEditor/_ToolbarButton.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.tsx
Labels: react, no-breaking-changes: need to test

#4735 Fix border styles for `ActionList.Item`
  packages/react/src/ActionList/Item.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: skip changeset

#4737 docs(Banner): update status for Banner so storybook urls are generated correctly
  package-lock.json
  packages/react/src/Banner/Banner.docs.json
Labels: skip changeset

#4729 Add support for initial focus ref to Dialog 2
  .changeset/seven-phones-talk.md
  packages/react/src/Dialog/Dialog.docs.json
  packages/react/src/Dialog/Dialog.features.stories.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/__tests__/Dialog.test.tsx
Labels: staff

#4705 test(SelectPanel): update tests to account for more of API
  packages/react/src/SelectPanel/SelectPanel.test.tsx
Labels: skip changeset

#4742 fix(npm): update exports for UnderlinePanels
  .changeset/brave-shoes-search.md
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/drafts/UnderlinePanels/UnderlinePanels.test.tsx
  packages/react/src/drafts/UnderlinePanels/index.ts
  packages/react/src/drafts/index.ts
Labels: staff

#4743 docs: Indicate the DataTable component has been reviewed for accessibility
  docs/content/drafts/DataTable.mdx
Labels: skip changeset, staff

#4746 Wrap storybook previews in <Profiler> component
  packages/react/.storybook/preview.js
Labels: skip changeset, staff

#4748 feat(components-json): update parser to support StoryObj from storybook
  packages/react/script/components-json/build.ts
Labels: skip changeset, staff

#4749 [Storybook] Move FilteredSearch FilterList to deprecated folder
  e2e/components/FilterList.test.ts
  e2e/components/FilteredSearch.test.ts
  packages/react/src/deprecated/FilterList/FilterList.stories.tsx
  packages/react/src/deprecated/FilteredSearch/FilteredSearch.stories.tsx
Labels: skip changeset

#4736 Add missing displayName to PageHeader.TitleArea and PageHeader.ParentLink
  packages/react/src/PageHeader/PageHeader.tsx
Labels: skip changeset

#4754 Add Textinput, textarea and treeview
  packages/react/src/TabNav/TabNav.figma.tsx
  packages/react/src/TextInput/TextInput.figma.tsx
  packages/react/src/Textarea/Textarea.figma.tsx
  packages/react/src/TreeView/TreeViewItem.figma.tsx
Labels: skip changeset

#4738 PageHeader: Fix shrinking `Actions` sub component in Safari
  .changeset/slow-rivers-know.md
  packages/react/src/PageHeader/PageHeader.tsx
Labels: staff

#4763 Storybook: Add story with visual and count for Button
  packages/react/src/Button/Button.features.stories.tsx
Labels: skip changeset

#4757 experimental/SelectPanel v2: Fix heading color
  .changeset/real-bees-vanish.md
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-Default-dark-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-Default-dark-tritanopia-linux.png
  packages/react/src/drafts/SelectPanel2/SelectPanel.tsx
Labels: staff

#4733 TextInput: Refactor `TextInputInnerAction` to use the default icon button tooltip
  .changeset/modern-carrots-check.md
  packages/react/src/internal/components/TextInputInnerAction.tsx
Labels: staff

#4730 Update css properties postcss fallback plugin to inline color values
  packages/react/rollup.config.mjs
Labels: skip changeset, staff

#4752 Added className prop to AnchoredOverlay component for custom styling
  packages/react/src/AnchoredOverlay/AnchoredOverlay.docs.json
Labels: skip changeset

#4767 Storybook: Add alt text to Avatar examples
  packages/react/src/Avatar/Avatar.features.stories.tsx
  packages/react/src/Avatar/Avatar.stories.tsx
Labels: skip changeset, staff

#4764 StateLabel: Add labels to icon
  .changeset/wild-actors-jam.md
  packages/react/src/StateLabel/StateLabel.tsx
  packages/react/src/StateLabel/__tests__/StateLabel.test.tsx
  packages/react/src/StateLabel/__tests__/__snapshots__/StateLabel.test.tsx.snap
Labels: accessibility, no-breaking-changes: confirmed, staff

#4769 Autocomplete: Fix storybook issues
  packages/react/src/Autocomplete/Autocomplete.features.stories.tsx
Labels: skip changeset

#4777 chore(deps): update @primer/behaviors to ^1.7.0
  package-lock.json
  packages/react/package.json
Labels: skip changeset, staff

#4778 Bug fix: ActionList divider disappears on selected items
  .changeset/popular-apples-look.md
  packages/react/src/ActionList/Item.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: UI mob pair

#4747 Move `Stack` out of drafts
  e2e/components/Stack.test.ts
  packages/react/src/Stack/Stack.docs.json
  packages/react/src/Stack/Stack.stories.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/index.ts
Labels: skip changeset

#4789 chore(changeset): enter prerelease mode for v37
  .changeset/config.json
  .changeset/pre.json
  .github/workflows/release_canary.yml
Labels: skip changeset, staff

#4796 chore: add package version numbers
  .changeset/pre.json
  examples/app-router/package.json
  examples/consumer-test/package.json
Labels: skip changeset, staff

#4751 feat: add postcss-preset-primer
  package-lock.json
  packages/postcss-preset-primer/README.md
  packages/postcss-preset-primer/package.json
  packages/postcss-preset-primer/src/index.js
  packages/postcss-preset-primer/tsconfig.json
Labels: skip changeset, staff

#4798 refactor(react): move deprecated components to deprecated
  .changeset/four-tables-glow.md
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/deprecated/index.ts
Labels: staff

#4801 feat(project): add support for stylelint for linting CSS files
  .github/workflows/ci.yml
  .stylelintignore
  package-lock.json
  package.json
  packages/react/src/drafts/CSSComponent/component.module.css
  stylelint.config.mjs
Labels: skip changeset, staff
