Repository primer/react, pull requests merged in 2024-06, with the labels that each got.

#4643 Update TreeView default story to use prop `label` on TrailingVisual
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/TreeView/TreeView.stories.tsx
Labels: skip changeset

#4646 chore(deps): update react, react-dom, testing-library
  docs/package.json
  examples/app-router/package.json
  examples/codesandbox/package.json
  examples/nextjs/package.json
  package-lock.json
  packages/react/package.json
  packages/react/src/Header/Header.stories.tsx
  packages/react/src/drafts/InlineAutocomplete/InlineAutocomplete.tsx
  packages/react/src/hooks/__tests__/useMedia.test.tsx
Labels: skip changeset

#4627 ADR: Deprecating props in favor of a more accessible prop/API
  contributor-docs/adrs/adr-020-deprecating-props.md
Labels: skip changeset

#4650 feat: add rollup-plugin-import-css
  package-lock.json
  packages/rollup-plugin-import-css/README.md
  packages/rollup-plugin-import-css/package.json
  packages/rollup-plugin-import-css/rollup.config.js
  packages/rollup-plugin-import-css/src/index.ts
  packages/rollup-plugin-import-css/tsconfig.build.json
  packages/rollup-plugin-import-css/tsconfig.json
Labels: skip changeset

#4649 Bumps eslint-plugin-github and eliminates false positive a11y rule flag
  package-lock.json
  package.json
  packages/react/src/DataTable/Table.tsx
Labels: skip changeset

#4667 add classname prop support to PageHeader component and its children
  .changeset/two-snakes-brush.md
  packages/react/src/PageHeader/PageHeader.docs.json
  packages/react/src/PageHeader/PageHeader.tsx
Labels: minor release, component: PageHeader

#4272 Fixes for `ActionList` semantics
  .changeset/hot-mayflies-pump.md
  packages/react/.storybook/preview.js
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/LinkItem.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
  packages/react/src/NavList/NavList.tsx
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/drafts/InlineAutocomplete/_AutocompleteSuggestions.tsx
Labels: no-breaking-changes: need to test

#4680 chore: enable moduleResolution: Bundler
  examples/app-router/tsconfig.json
  examples/nextjs/tsconfig.json
  packages/react/src/drafts/MarkdownEditor/MarkdownEditor.test.tsx
  tsconfig.base.json
Labels: skip changeset

#4684 chore(deps): update @primer/live-region-element to 0.7.0
  package-lock.json
  packages/react/package.json
Labels: skip changeset

#4685 fix(Spinner): use aria-label when defined, falling back to srText
  packages/react/src/Spinner/Spinner.docs.json
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/__tests__/Spinner.test.tsx
Labels: skip changeset

#4689 fix(Spinner): update visually hidden container to span
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
Labels: skip changeset

#4692 fix(Spinner): update container to use span instead of div
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
Labels: skip changeset

#4688 docs(versioning): update guide with changes to event handlers
  contributor-docs/versioning.md
Labels: skip changeset

#4700 chore: Bump release event tracking to 2.1.1
  .github/workflows/release_tracking.yml
Labels: skip changeset

#4699 Overlay: Set style prop correctly
  .changeset/seven-cherries-serve.md
  packages/react/src/Overlay/Overlay.tsx
Labels: patch release, react

#4704 Fix remaining `Axe` errors in Storybook
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.stories.tsx
  packages/react/src/PageLayout/PageLayout.features.stories.tsx
  packages/react/src/stories/deprecated/ActionList.stories.tsx
Labels: skip changeset
