Repository primer/react, pull requests merged in 2024-10, with the labels that each got.

#5038 chore(project): update to Node.js v22 LTS
  .devcontainer/devcontainer.json
  .github/actions/pagerduty/action.yml
  .github/workflows/assign_release_conductor.yml
  .github/workflows/ci.yml
  .github/workflows/codescan.yml
  .github/workflows/consumer_test.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/figma_connect_publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/release-schedule.yml
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
  .github/workflows/statuses.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/vrt.yml
  .nvmrc
  packages/react/rollup.config.mjs
  packages/rollup-plugin-import-css/rollup.config.js
Labels: skip changeset, staff

#5021 feat: update stable and deprecated exports
  .changeset/sour-cycles-warn.md
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/deprecated/index.ts
  packages/react/src/index.ts
Labels: staff

#5053 Banner: Fix margin for inline actions
  .changeset/wet-otters-pull.md
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-colorblind-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-high-contrast-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-dark-tritanopia-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndActions-light-high-contrast-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-colorblind-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-high-contrast-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-dark-tritanopia-linux.png
  .playwright/snapshots/components/Banner.test.ts-snapshots/Banner-DismissibleWithHiddenTitleAndSecondaryAction-light-high-contrast-linux.png
  packages/react/src/Banner/Banner.module.css
  packages/react/src/Banner/Banner.tsx
Labels: staff

#5066 Use the IconButton for the close button on Dialog
  .changeset/tidy-impalas-remain.md
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-With-Custom-Renderers-dark-dimmed-linux.png
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: staff

#5068 bugFix: When the feature flag is enabled and sx prop is passed in use, Box
  .changeset/plenty-books-agree.md
  packages/react/src/internal/utils/__tests__/toggleStyledComponent.test.tsx
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: staff

#5069 Update popover-polyfill
  package-lock.json
  packages/react/package.json
Labels: skip changeset, staff

#5071 Update semver of data table pagination bug fix from major to patch
  .changeset/dry-pens-pay.md
Labels: skip changeset

#5074 feat(react): add useFeatureFlag to experimental entrypoint
  .changeset/silent-fireants-kneel.md
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
Labels: staff

#5077 Bug fix(Avatar): Changed rounded border calculation for the "square" Avatar to better align with existing border styles
  .changeset/large-plants-unite.md
  packages/react/src/Avatar/Avatar.module.css
Labels: staff

#5078 bugFix:(IconButton) Set the min-width of IconButton to unset
  .changeset/dull-beans-dance.md
  packages/react/src/Button/ButtonBase.module.css
Labels: staff

#5079 Bug Fix for Text component and styled system arguments
  .changeset/wet-apples-hide.md
  packages/react/src/Text/Text.tsx
Labels: staff

#5019 Remove the CSS modules feature flag from the Link component
  .changeset/breezy-windows-speak.md
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-dimmed-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-tritanopia-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-tritanopia-linux.png
  e2e/components/Link.test.ts
  packages/react/src/Link/Link.tsx
  packages/react/src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/Timeline/Timeline.features.stories.tsx
Labels: staff

#5070 Run all e2e/component vrt & aat tests a second time with all css module flags on
  .github/workflows/ci.yml
  e2e/components/Avatar.test.ts
  e2e/components/Banner.test.ts
  e2e/components/Button.test.ts
  e2e/components/ButtonGroup.test.ts
  e2e/components/Checkbox.test.ts
  e2e/components/CounterLabel.test.ts
  e2e/components/IconButton.test.ts
  e2e/components/Label.test.ts
  e2e/components/LinkButton.test.ts
  e2e/components/Text.test.ts
  packages/react/.storybook/preview.jsx
Labels: skip changeset, staff

#5064 Tooltip: Do not export all types publicly in the experimental bundle
  .changeset/eight-avocados-lick.md
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
Labels: staff

#5084 IconButton: Add tooltipDirection prop to prop docs
  packages/react/src/Button/IconButton.docs.json
Labels: skip changeset, staff

#5063 chore: Move CSS modules team feature flag to staff for Banner, ButtonGroup, Checkbox, CounterLabel components
  .changeset/tame-walls-travel.md
  packages/react/src/Banner/Banner.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/CounterLabel/CounterLabel.tsx
Labels: staff

#5062 chore(Avatar): Move CSS modules feature flag from staff to ga for Avatar component
  .changeset/five-seas-scream.md
  packages/react/src/Avatar/Avatar.tsx
Labels: staff

#5010 feat: promote Tooltip, Dialog, Stack to stable
  .changeset/khaki-dolls-reflect.md
  packages/react/src/TooltipV2/index.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/index.ts
  packages/react/src/next/index.ts
Labels: staff

#5073 SelectPanel: Fix items not being selected when defined within scope
  .changeset/stupid-monkeys-beg.md
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5065 Create recommend-integration-tests.yml
  .github/workflows/recommend-integration-tests.yml
Labels: skip changeset, staff

#5080 Update dependabot.yml
  .github/dependabot.yml
Labels: skip changeset, staff

#5083 Try running vrt and aat on 16 core runners
  .github/workflows/ci.yml
Labels: skip changeset, staff

#5085 Fix recommend-integration-pr.yml
  .github/workflows/recommend-integration-tests.yml
Labels: skip changeset, staff

#5055 fix(Banner): rewrite PrimaryAction & SecondaryAction types
  .changeset/modern-cooks-invite.md
  packages/react/src/Banner/Banner.tsx
Labels: status: review needed, component: Banner, integration-tests: passing, staff

#5017 Convert `Breadcrumbs` and `Breadcrumbs.Item` to CSS modules behind the primer_react_css_modules_team feature flag
  .changeset/mighty-buckets-push.md
  e2e/components/Breadcrumbs.test.ts
  packages/react/src/Banner/Banner.tsx
  packages/react/src/Breadcrumbs/Breadcrumbs.module.css
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
  packages/react/src/internal/utils/__tests__/toggleStyledComponent.test.tsx
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: integration-tests: recommended, staff

#5091 Bug fix IconButton width in style prop not working when feature flag is on
  .changeset/silver-cheetahs-compare.md
  packages/react/src/Button/ButtonBase.module.css
  packages/react/src/Button/IconButton.dev.stories.tsx
Labels: integration-tests: recommended, staff

#5092 Revert "Convert `Breadcrumbs` and `Breadcrumbs.Item` to CSS modules behind the primer_react_css_modules_team feature flag"
  .changeset/mighty-buckets-push.md
  e2e/components/Breadcrumbs.test.ts
  packages/react/src/Banner/Banner.tsx
  packages/react/src/Breadcrumbs/Breadcrumbs.module.css
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
  packages/react/src/internal/utils/__tests__/toggleStyledComponent.test.tsx
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: integration-tests: recommended, staff

#5093 Revert "Remove the CSS modules feature flag from the Link component (…
  .changeset/breezy-windows-speak.md
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-dimmed-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-tritanopia-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-light-tritanopia-linux.png
  packages/react/src/Link/Link.tsx
  packages/react/src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/Timeline/Timeline.features.stories.tsx
Labels: integration-tests: recommended, staff

#5094 Revert "chore: Move CSS modules team feature flag to staff for Banner, ButtonGroup, Checkbox, CounterLabel components"
  .changeset/tame-walls-travel.md
  packages/react/src/Banner/Banner.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/CounterLabel/CounterLabel.tsx
Labels: integration-tests: recommended, staff

#5029 fix(SegmentedControl): set global focus styles
  .changeset/itchy-paws-bake.md
  packages/react/src/SegmentedControl/SegmentedControlButton.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
Labels: status: review needed, component: SegmentedControl, integration-tests: passing, staff

#5056 fix(AnchoredOverlay): replace broken stories
  packages/react/src/AnchoredOverlay/AnchoredOverlay.features.stories.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.stories.tsx
Labels: status: review needed, skip changeset, staff

#5041 fix(TooltipV2): always add aria-hidden
  .changeset/perfect-fishes-camp.md
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: status: review needed, integration-tests: passing, staff

#4994 Support passing React.ReactElements for icons
  .changeset/shiny-otters-call.md
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/Button/__tests__/Button.types.test.tsx
  packages/react/src/Button/types.ts
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/SegmentedControl/SegmentedControl.types.test.tsx
  packages/react/src/SegmentedControl/SegmentedControlButton.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
  packages/react/src/__tests__/Autocomplete.types.test.tsx
Labels: integration-tests: recommended

#5099 feat: add ButtonBase to experimental
  .changeset/real-seahorses-grab.md
  packages/react/src/Button/index.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
Labels: integration-tests: recommended, staff

#5016 chore(deps): update @playwright/test to 1.47.2
  .github/workflows/ci.yml
  .github/workflows/vrt.yml
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-forced-colors-dark-modern-action-list--true-linux.png
  package-lock.json
  package.json
  script/test-e2e
Labels: skip changeset, staff

#4929 Select panel loading states
  .changeset/selfish-garlics-approve.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-tritanopia-modern-action-list--true-linux.png
  package-lock.json
  packages/react/package.json
  packages/react/src/FilteredActionList/FilteredActionListLoaders.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithDeprecatedActionList.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/TextInput/TextInput.tsx
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/experimental/Skeleton/SkeletonBox.tsx
  packages/react/src/internal/components/TextInputInnerVisualSlot.tsx
Labels: component: SelectPanel, integration-tests: recommended

#5105 ci: update playwright version for runner
  .github/workflows/ci.yml
Labels: skip changeset, staff

#5104 ci(vrt): update all flags check to read from correct runner
  .github/workflows/ci.yml
Labels: skip changeset, staff

#5096 Docs(ActionList): use internal AriaStatus to announce updates in example story
  packages/react/src/ActionList/ActionList.examples.stories.tsx
Labels: status: review needed, skip changeset, component: ActionList, staff

#5114 revert: set global focus styles
  .changeset/itchy-paws-bake.md
  packages/react/src/SegmentedControl/SegmentedControlButton.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5112 chore(project): update lint-staged
  package.json
Labels: skip changeset, staff

#5120 chore: update husky install step
  .husky/install.mjs
  package.json
Labels: skip changeset, staff

#5113 feat(FormControl.Label) add `className` prop
  .changeset/angry-pants-brush.md
  packages/react/src/FormControl/_FormControlLabel.tsx
  packages/react/src/internal/components/InputLabel.tsx
Labels: integration-tests: recommended

#5088 Update stylelint@latest and @primer/stylelint-config@latest
  package-lock.json
  package.json
  packages/react/src/Avatar/Avatar.module.css
  packages/react/src/Banner/Banner.module.css
  packages/react/src/Blankslate/Blankslate.module.css
  packages/react/src/Button/ButtonBase.module.css
  packages/react/src/Checkbox/Checkbox.module.css
  packages/react/src/Label/Label.module.css
  packages/react/src/experimental/IssueLabel/IssueLabel.module.css
Labels: skip changeset, integration-tests: recommended, staff

#5111 fix(CounterLabel): update styles to work with sx overrides
  .changeset/spicy-pants-breathe.md
  packages/react/src/CounterLabel/CounterLabel.module.css
  packages/react/src/CounterLabel/CounterLabel.tsx
  packages/react/src/CounterLabel/__snapshots__/CounterLabel.test.tsx.snap
Labels: integration-tests: recommended, staff

#5121 chore: update CSS Module name generation for storybook
  packages/react/.storybook/main.ts
Labels: skip changeset, integration-tests: recommended, staff

#5115 feat(Dialog) add `className` prop
  .changeset/thin-keys-move.md
  packages/react/src/Dialog/Dialog.docs.json
  packages/react/src/Dialog/Dialog.tsx
Labels: integration-tests: recommended

#5102 feat(ActionList.Description): Add support for className prop
  .changeset/lucky-lamps-invite.md
  packages/react/src/ActionList/ActionList.docs.json
  packages/react/src/ActionList/Description.tsx
Labels: integration-tests: recommended

#5133 chore: remove husky from project
  .husky/.gitignore
  .husky/install.mjs
  .husky/pre-commit
  package-lock.json
  package.json
Labels: skip changeset, staff

#5108 Docs(SplitPageLayout): add PageLayout props to .docs.json
  packages/react/src/SplitPageLayout/SplitPageLayout.docs.json
  packages/react/src/SplitPageLayout/SplitPageLayout.features.stories.tsx
  packages/react/src/SplitPageLayout/SplitPageLayout.stories.tsx
Labels: status: review needed, skip changeset, component: SplitPageLayout, staff

#5126 Add support for `aria-disabled` in `Button`
  .changeset/grumpy-hairs-look.md
  packages/react/src/Button/Button.stories.tsx
  packages/react/src/Button/ButtonBase.module.css
Labels: integration-tests: recommended

#5089 Docs(ActionList): focus last selected li on group clear in mixed selection story
  packages/react/src/ActionList/ActionList.examples.stories.tsx
Labels: status: review needed, skip changeset, staff

#5100 fix(ProgressBar): add aria-valuetext attribute
  .changeset/slimy-sloths-whisper.md
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/__tests__/__snapshots__/ProgressBar.test.tsx.snap
Labels: status: review needed, component: ProgressBar, integration-tests: recommended, staff

#5131 Add dropdown split example to button groups
  packages/react/src/ButtonGroup/ButtonGroup.features.stories.tsx
Labels: skip changeset, staff

#5128 Update confirmation dialog body to default color
  .changeset/odd-zoos-judge.md
  packages/react/src/ConfirmationDialog/ConfirmationDialog.tsx
Labels: integration-tests: recommended

#5090 Docs(TooltipV2): dialog trigger story: accessibility improvements
  packages/react/src/TooltipV2/Tooltip.examples.stories.tsx
Labels: status: review needed, skip changeset, staff

#5132 Bug fix: ActionList Group className prop
  .changeset/shiny-cheetahs-flash.md
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-dark-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-light-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-light-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/Group-Heading-with-Classname-light-tritanopia-linux.png
  e2e/components/ActionList.test.ts
  packages/react/.storybook/storybook.css
  packages/react/src/ActionList/ActionList.dev.stories.tsx
  packages/react/src/ActionList/Group.tsx
Labels: integration-tests: recommended

#5135 Docs for process for refactoring a Primer React Component to CSS modules
  .eslintrc.js
  contributor-docs/migrating-to-css-modules.md
Labels: skip changeset, staff

#5137 Add jest test for all components accepting className on outermost component
  .changeset/three-jokes-bow.md
  packages/react/src/Banner/Banner.test.tsx
  packages/react/src/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/Checkbox/Checkbox.test.tsx
  packages/react/src/CounterLabel/CounterLabel.test.tsx
  packages/react/src/Heading/__tests__/Heading.test.tsx
  packages/react/src/Link/__tests__/Link.test.tsx
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/__tests__/Avatar.test.tsx
  packages/react/src/__tests__/AvatarStack.test.tsx
  packages/react/src/__tests__/Box.test.tsx
  packages/react/src/__tests__/Label.test.tsx
  packages/react/src/__tests__/Popover.test.tsx
  packages/react/src/__tests__/ProgressBar.test.tsx
  packages/react/src/__tests__/Radio.test.tsx
  packages/react/src/__tests__/Select.test.tsx
  packages/react/src/__tests__/Spinner.test.tsx
  packages/react/src/__tests__/SubNav.test.tsx
  packages/react/src/__tests__/TextInput.test.tsx
  packages/react/src/__tests__/TextInputWithTokens.test.tsx
  packages/react/src/__tests__/Textarea.test.tsx
Labels: integration-tests: recommended, staff

#4939 TextInput: Add `LeadingVisual`/`TrailingVisual` to be part of the accessible description in `TextInput`
  .changeset/five-windows-invent.md
  packages/react/src/TextInput/TextInput.docs.json
  packages/react/src/TextInput/TextInput.features.stories.tsx
  packages/react/src/TextInput/TextInput.tsx
  packages/react/src/__tests__/TextInput.test.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/experimental/SelectPanel2/SelectPanel.stories.tsx
  packages/react/src/internal/components/TextInputInnerVisualSlot.tsx
Labels: status: review needed, integration-tests: passing

#5037 CSS Modules authoring guide
  contributor-docs/authoring-css.md
Labels: skip changeset, staff

#5075 refactor(react): remove wildcard imports
  .changeset/grumpy-maps-appear.md
  packages/react/package.json
  packages/react/rollup.config.mjs
Labels: integration-tests: recommended, staff

#5153 normalise classes to PascalCase
  packages/react/src/Button/ButtonBase.module.css
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/Checkbox/shared.module.css
  packages/react/src/experimental/CSSComponent/component.module.css
  packages/react/src/experimental/CSSComponent/index.tsx
Labels: skip changeset, integration-tests: recommended, staff

#4876 ActionList: Add more checks for `ActionList.Item` when using button semantics
  .changeset/dull-moons-repair.md
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Item.tsx
Labels: integration-tests: recommended

#5145 chore(Banner): Move Banner css modules feature flag from team to staff
  .changeset/swift-garlics-whisper.md
  packages/react/src/Banner/Banner.tsx
Labels: integration-tests: recommended, staff

#5086 chore(Button): Move Button CSS module feature flag from staff to ga
  .changeset/pink-lemons-clean.md
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/Button/__tests__/Button.test.tsx
Labels: integration-tests: recommended, staff

#5154 chore: remove reference to pre.json
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
Labels: skip changeset, staff

#5162 docs: update docs for drafts to experimental
  .changeset/young-cats-juggle.md
  packages/react/src/DataTable/DataTable.docs.json
  packages/react/src/Dialog/Dialog.docs.json
  packages/react/src/InlineMessage/InlineMessage.docs.json
  packages/react/src/experimental/SelectPanel2/SelectPanel.docs.json
Labels: staff

#5027 fix(FormControl): allow required check boxes
  .changeset/wild-maps-grow.md
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-dark-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-light-colorblind-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-light-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-light-tritanopia-linux.png
  packages/react/src/CheckboxGroup/CheckboxGroup.stories.tsx
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/__tests__/FormControl.test.tsx
Labels: status: review needed, component: FormControl, integration-tests: passing, staff

#5149 chore: Add defaultAs argument to toggleStyledComponent utility
  packages/react/src/Banner/Banner.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
  packages/react/src/internal/utils/__tests__/toggleStyledComponent.test.tsx
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5155 docs(Octicon): update deprecation notice for Octicon
  packages/react/src/Octicon/Octicon.tsx
Labels: skip changeset, integration-tests: recommended

#5106 Adds NavList.GroupHeading component
  .changeset/twelve-kings-confess.md
  packages/react/src/ActionList/Group.tsx
  packages/react/src/ActionList/index.ts
  packages/react/src/NavList/NavList.docs.json
  packages/react/src/NavList/NavList.stories.tsx
  packages/react/src/NavList/NavList.test.tsx
  packages/react/src/NavList/NavList.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: recommended

#5146 chore(Checkbox): Move Checkbox css module feature flag to staff
  .changeset/gold-items-shave.md
  packages/react/src/Checkbox/Checkbox.tsx
Labels: integration-tests: recommended, staff

#5147 chore(CounterLabel): Move CounterLabel css modules feature flag to staff
  .changeset/wise-llamas-exist.md
  packages/react/src/CounterLabel/CounterLabel.tsx
Labels: integration-tests: recommended, staff

#5167 feat(Details): Convert Details to css module behind feature flag
  .changeset/clean-mails-accept.md
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-colorblind-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-colorblind-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-dimmed-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-dimmed-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-high-contrast-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-high-contrast-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-tritanopia-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-dark-tritanopia-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-colorblind-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-colorblind-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-high-contrast-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-high-contrast-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-open-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-tritanopia-linux.png
  .playwright/snapshots/components/Details.test.ts-snapshots/Details-SX-Prop-Stress-Test-light-tritanopia-open-linux.png
  e2e/components/Details.test.ts
  packages/react/src/Details/Details.dev.stories.tsx
  packages/react/src/Details/Details.module.css
  packages/react/src/Details/Details.tsx
Labels: integration-tests: recommended, staff

#5060 chore(Label): Remove CSS modules feature flag from Label component
  .changeset/six-colts-admire.md
  packages/react/src/Label/Label.tsx
  packages/react/src/__tests__/Label.test.tsx
Labels: integration-tests: recommended, staff

#5181 AvatarStack: Adds back empty space in `AvatarStack`
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
Labels: skip changeset, integration-tests: recommended

#5175 Overlay: Add proper roles w/ keyboard expectations to stories
  packages/react/src/Overlay/Overlay.features.stories.tsx
Labels: skip changeset

#5182 fix(DataTable): export datatable utility types
  .changeset/old-plums-explode.md
  packages/react/src/DataTable/index.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
Labels: status: review needed, component: DataTable, integration-tests: recommended, staff

#5185 SelectPanel: Allow using SelectPanel in FormControl
  .changeset/slow-snails-swim.md
  packages/react/src/FormControl/FormControl.features.stories.tsx
  packages/react/src/FormControl/FormControl.tsx
Labels: integration-tests: recommended, staff

#5188 feat(Spinner): Convert Spinner to CSS module behind feature flag
  .changeset/hungry-avocados-remember.md
  packages/react/src/Spinner/Spinner.dev.stories.tsx
  packages/react/src/Spinner/Spinner.module.css
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
Labels: integration-tests: recommended

#5193 feat(VisuallyHidden): Convert VisuallyHidden to CSS module behind feature flag
  .changeset/loud-spoons-explode.md
  packages/react/src/DataTable/Pagination.tsx
  packages/react/src/VisuallyHidden/VisuallyHidden.dev.stories.tsx
  packages/react/src/VisuallyHidden/VisuallyHidden.module.css
  packages/react/src/VisuallyHidden/VisuallyHidden.tsx
Labels: integration-tests: recommended

#5184 docs(AnchoredOverlay): add role, aria-label and aria-modal to stories
  packages/react/src/AnchoredOverlay/AnchoredOverlay.features.stories.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.stories.tsx
Labels: status: review needed, docs, skip changeset, component: AnchoredOverlay, staff

#5187 feat(Radio): Convert Radio to css modules behind feature flag
  .changeset/fifty-suns-smoke.md
  packages/react/src/Radio/Radio.dev.stories.tsx
  packages/react/src/Radio/Radio.module.css
  packages/react/src/Radio/Radio.tsx
Labels: integration-tests: recommended, staff

#5148 chore(Link): Remove the CSS modules feature flag from the Link component
  .changeset/sour-flies-camp.md
  packages/react/src/Link/Link.tsx
  packages/react/src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: recommended, staff

#5192 feat(Header): Convert Header to CSS modules behind team feature flag
  .changeset/odd-frogs-listen.md
  packages/react/src/Header/Header.dev.module.css
  packages/react/src/Header/Header.dev.stories.tsx
  packages/react/src/Header/Header.module.css
  packages/react/src/Header/Header.tsx
  packages/react/src/__tests__/Header.test.tsx
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: integration-tests: recommended

#5171 Catch tooltip v2 errors in older browsers
  .changeset/grumpy-lamps-behave.md
  packages/react/src/TooltipV2/Tooltip.tsx
Labels: integration-tests: recommended

#5194 feat(Select): Convert `Select` component to CSS Modules behind feature flag
  .changeset/modern-icons-clean.md
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/Select/Select.dev.stories.tsx
  packages/react/src/Select/Select.features.stories.tsx
  packages/react/src/Select/Select.figma.tsx
  packages/react/src/Select/Select.module.css
  packages/react/src/Select/Select.stories.tsx
  packages/react/src/Select/Select.tsx
  packages/react/src/index.ts
Labels: integration-tests: recommended

#5040 refactor(BranchName): update BranchName to use CSS Modules
  .changeset/four-schools-grin.md
  e2e/components/BranchName.test.ts
  packages/react/src/BranchName/BranchName.module.css
  packages/react/src/BranchName/BranchName.tsx
  packages/react/src/BranchName/__tests__/BranchName.test.tsx
  packages/react/src/BranchName/__tests__/BranchName.types.test.tsx
  packages/react/src/utils/testing.tsx
Labels: integration-tests: recommended, staff

#5197 feat(Pagehead): Convert `Pagehead` component to CSS Modules behind feature flag
  .changeset/quiet-seahorses-yawn.md
  packages/react/src/Pagehead/Pagehead.dev.stories.tsx
  packages/react/src/Pagehead/Pagehead.module.css
  packages/react/src/Pagehead/Pagehead.tsx
  packages/react/src/Pagehead/Pagehead.types.test.tsx
Labels: integration-tests: recommended

#5129 Overlay: Add `min-width` to `Overlay` container
  .changeset/forty-olives-lay.md
  packages/react/src/AnchoredOverlay/AnchoredOverlay.tsx
  packages/react/src/FeatureFlags/DefaultFeatureFlags.ts
  packages/react/src/Overlay/Overlay.docs.json
  packages/react/src/Overlay/Overlay.features.stories.tsx
  packages/react/src/Overlay/Overlay.test.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
Labels: integration-tests: recommended

#5191 chore(deps): update typescript to 5.6.3
  examples/app-router/package.json
  examples/codesandbox/package.json
  examples/theming/package.json
  package-lock.json
  package.json
  packages/postcss-preset-primer/package.json
  packages/react/package.json
  packages/react/src/DataTable/DataTable.stories.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5199 Remove root `<Select>` component
  packages/react/src/Select.tsx
  packages/react/src/index.ts
Labels: integration-tests: recommended

#5087 feat(AvatarStack): Convert AvatarStack to CSS modules behind team feature flag
  .changeset/hot-chicken-tickle.md
  packages/react/src/AvatarStack/AvatarStack.module.css
  packages/react/src/AvatarStack/AvatarStack.tsx
Labels: integration-tests: recommended, staff

#5156 feat(LabelGroup): render as list by default
  .changeset/blue-eggs-suffer.md
  packages/react/src/LabelGroup/LabelGroup.docs.json
  packages/react/src/LabelGroup/LabelGroup.stories.tsx
  packages/react/src/LabelGroup/LabelGroup.tsx
  packages/react/src/__tests__/LabelGroup.test.tsx
Labels: status: review needed, component: LabelGroup, integration-tests: passing, staff

#5015 feat(Details): Add summary subcomponent
  .changeset/old-boxes-clap.md
  packages/react/src/Details/Details.docs.json
  packages/react/src/Details/Details.stories.tsx
  packages/react/src/Details/Details.tsx
  packages/react/src/Details/__tests__/Details.test.tsx
Labels: status: review needed, integration-tests: passing, staff
