Repository primer/react, pull requests merged in 2024-01, with the labels that each got.

#4119 docs(CONTRIBUTING): fix the link to good first issues
  contributor-docs/CONTRIBUTING.md
Labels: skip changeset

#4125 ci(deploy): update deploy production workflow to use latest hash from shared workflow
  .github/workflows/deploy_production.yml
Labels: skip changeset

#4127 Update Link `inline` prop description
  .changeset/nice-seals-decide.md
  src/Link/Link.docs.json
Labels: skip changeset

#4132 Fix broken theme file link
  docs/content/primer-theme.md
Labels: skip changeset

#4138 docs: update StyledOcticon references in docs
  docs/content/drafts/Tooltip.mdx
  docs/src/@primer/gatsby-theme-doctocat/nav.yml
Labels: skip changeset

#4126 ci(deploy): update deploy preview workflows to use latest artifact actions
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
Labels: skip changeset

#4113 fix: .eslint no-shadow rule
  .eslintrc.js
Labels: skip changeset

#4121 Point to new “getting started” page
  docs/content/index.md
Labels: skip changeset

#4159 Fix links to new docsite
  docs/content/ActionList.mdx
  docs/content/ActionMenu.mdx
  docs/content/AnchoredOverlay.mdx
  docs/content/Autocomplete.mdx
  docs/content/Avatar.mdx
  docs/content/AvatarPair.mdx
  docs/content/AvatarStack.mdx
  docs/content/Box.mdx
  docs/content/BranchName.mdx
  docs/content/Breadcrumbs.mdx
  docs/content/Button.mdx
  docs/content/ButtonGroup.mdx
  docs/content/Checkbox.mdx
  docs/content/CheckboxGroup.mdx
  docs/content/CircleBadge.mdx
  docs/content/CounterLabel.mdx
  docs/content/Details.mdx
  docs/content/Dialog.mdx
  docs/content/Flash.mdx
  docs/content/FormControl.mdx
  docs/content/Header.mdx
  docs/content/Heading.mdx
  docs/content/IconButton.mdx
  docs/content/Label.mdx
  docs/content/LabelGroup.mdx
  docs/content/Link.mdx
  docs/content/NavList.mdx
  docs/content/Overlay.mdx
  docs/content/PageLayout.mdx
  docs/content/Pagehead.md
  docs/content/Pagination.md
  docs/content/PointerBox.mdx
  docs/content/Popover.md
  docs/content/ProgressBar.mdx
  docs/content/Radio.mdx
  docs/content/RadioGroup.mdx
  docs/content/RelativeTime.mdx
  docs/content/SegmentedControl.mdx
  docs/content/Select.mdx
  docs/content/SelectPanel.mdx
  docs/content/Spinner.mdx
  docs/content/SplitPageLayout.mdx
  docs/content/StateLabel.mdx
  docs/content/SubNav.mdx
  docs/content/TabNav.mdx
  docs/content/Text.mdx
  docs/content/TextInput.mdx
  docs/content/Textarea.mdx
  docs/content/Timeline.mdx
  docs/content/ToggleSwitch.mdx
  docs/content/Token.mdx
  docs/content/Tooltip.mdx
  docs/content/TreeView.mdx
  docs/content/Truncate.mdx
  docs/content/UnderlineNav.mdx
  docs/content/deprecated/ActionList.mdx
  docs/content/deprecated/ActionMenu.mdx
  docs/content/deprecated/Buttons.mdx
  docs/content/deprecated/SideNav.md
  docs/content/deprecated/UnderlineNav.mdx
Labels: skip changeset

#4025 Add a storybook to simulate opening action menu using a shortcut
  src/ActionMenu/ActionMenu.examples.stories.tsx
Labels: skip changeset

#4131 SelectPanel2: Fix bug calling onCancel
  .changeset/modern-files-suffer.md
  src/drafts/SelectPanel2/SelectPanel.test.tsx
  src/drafts/SelectPanel2/SelectPanel.tsx
  src/utils/test-helpers.tsx
Labels: patch release, react

#4175 [Storybook] Refactor theme + prep for CSS vars
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inside-Overlay-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inside-Overlay-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inside-Overlay-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inside-Overlay-dark-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inside-Overlay-dark-tritanopia-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/BranchName.test.ts-snapshots/BranchName-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Muted-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Underline-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Underline-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Underline-dark-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Underline-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Underline-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-With-Inline-Links-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Tooltip--experimental.test.ts-snapshots/Tooltip--experimental-Label-Type-dark-colorblind-linux.png
  .playwright/snapshots/components/Tooltip--experimental.test.ts-snapshots/Tooltip--experimental-Label-Type-dark-dimmed-linux.png
  .playwright/snapshots/components/Tooltip--experimental.test.ts-snapshots/Tooltip--experimental-Label-Type-dark-high-contrast-linux.png
  .playwright/snapshots/components/Tooltip--experimental.test.ts-snapshots/Tooltip--experimental-Label-Type-dark-linux.png
  .playwright/snapshots/components/Tooltip--experimental.test.ts-snapshots/Tooltip--experimental-Label-Type-dark-tritanopia-linux.png
  .storybook/preview.js
  .storybook/primitives-v7.css
  .storybook/src/accessibility-tool.tsx
  .storybook/storybook.css
  src/utils/story-helpers.tsx
Labels: skip changeset

#4184 Add story for Flash with icon and action button
  src/Flash/Flash.features.stories.tsx
Labels: skip changeset

#4191 Improve aria-labels for example icon buttons and add guidance
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-dark-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-light-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Playground-light-tritanopia-linux.png
  src/Button/IconButton.docs.json
  src/Button/IconButton.features.stories.tsx
  src/Button/IconButton.stories.tsx
Labels: docs, skip changeset

#4154 test: remove snapshot from default test helper
  contributor-docs/testing.md
  package-lock.json
  src/ActionList/__snapshots__/ActionList.test.tsx.snap
  src/BranchName/__tests__/__snapshots__/BranchName.test.tsx.snap
  src/Breadcrumbs/__tests__/__snapshots__/Breadcrumbs.test.tsx.snap
  src/Breadcrumbs/__tests__/__snapshots__/BreadcrumbsItem.test.tsx.snap
  src/Button/__tests__/__snapshots__/Button.test.tsx.snap
  src/ConfirmationDialog/__snapshots__/ConfirmationDialog.test.tsx.snap
  src/CounterLabel/__snapshots__/CounterLabel.test.tsx.snap
  src/Details/__tests__/__snapshots__/Details.test.tsx.snap
  src/Flash/__tests__/__snapshots__/Flash.test.tsx.snap
  src/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  src/Hidden/__snapshots__/Hidden.test.tsx.snap
  src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  src/PageHeader/__snapshots__/PageHeader.test.tsx.snap
  src/SegmentedControl/__snapshots__/SegmentedControl.test.tsx.snap
  src/SelectPanel/__snapshots__/SelectPanel.test.tsx.snap
  src/StateLabel/__tests__/__snapshots__/StateLabel.test.tsx.snap
  src/TabNav/__tests__/__snapshots__/TabNav.test.tsx.snap
  src/Text/__snapshots__/Text.test.tsx.snap
  src/Timeline/__tests__/__snapshots__/Timeline.test.tsx.snap
  src/ToggleSwitch/__snapshots__/ToggleSwitch.test.tsx.snap
  src/Token/__tests__/__snapshots__/Token.test.tsx.snap
  src/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  src/Truncate/__snapshots__/Truncate.test.tsx.snap
  src/__tests__/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/__tests__/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  src/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
  src/__tests__/__snapshots__/Box.test.tsx.snap
  src/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/__tests__/__snapshots__/CheckboxGroup.test.tsx.snap
  src/__tests__/__snapshots__/CheckboxOrRadioGroup.test.tsx.snap
  src/__tests__/__snapshots__/CircleBadge.test.tsx.snap
  src/__tests__/__snapshots__/CircleOcticon.test.tsx.snap
  src/__tests__/__snapshots__/Dialog.test.tsx.snap
  src/__tests__/__snapshots__/Header.test.tsx.snap
  src/__tests__/__snapshots__/LabelGroup.test.tsx.snap
  src/__tests__/__snapshots__/Octicon.test.tsx.snap
  src/__tests__/__snapshots__/Pagehead.test.tsx.snap
  src/__tests__/__snapshots__/PointerBox.test.tsx.snap
  src/__tests__/__snapshots__/Popover.test.tsx.snap
  src/__tests__/__snapshots__/ProgressBar.test.tsx.snap
  src/__tests__/__snapshots__/Radio.test.tsx.snap
  src/__tests__/__snapshots__/RadioGroup.test.tsx.snap
  src/__tests__/__snapshots__/RelativeTime.test.tsx.snap
  src/__tests__/__snapshots__/SideNav.test.tsx.snap
  src/__tests__/__snapshots__/Spinner.test.tsx.snap
  src/__tests__/__snapshots__/SubNav.test.tsx.snap
  src/__tests__/__snapshots__/SubNavLink.test.tsx.snap
  src/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/__tests__/__snapshots__/Textarea.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ActionList.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/ActionMenu.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/Button.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/FilterList.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/FilterListItem.test.tsx.snap
  src/__tests__/deprecated/__snapshots__/FilteredSearch.test.tsx.snap
  src/utils/testing.tsx
Labels: skip changeset

#4181 test: remove expect.extend calls to toHaveNoViolations
  src/CounterLabel/CounterLabel.test.tsx
  src/Heading/__tests__/Heading.test.tsx
  src/SelectPanel/SelectPanel.test.tsx
  src/Text/Text.test.tsx
  src/Tooltip/Tooltip.test.tsx
  src/Truncate/Truncate.test.tsx
  src/__tests__/ActionMenu.test.tsx
  src/__tests__/AnchoredOverlay.test.tsx
  src/__tests__/Avatar.test.tsx
  src/__tests__/AvatarStack.test.tsx
  src/__tests__/Box.test.tsx
  src/__tests__/Caret.test.tsx
  src/__tests__/Checkbox.test.tsx
  src/__tests__/CircleOcticon.test.tsx
  src/__tests__/Dialog.test.tsx
  src/__tests__/FormControl.test.tsx
  src/__tests__/Header.test.tsx
  src/__tests__/Label.test.tsx
  src/__tests__/LabelGroup.test.tsx
  src/__tests__/Octicon.test.tsx
  src/__tests__/Pagehead.test.tsx
  src/__tests__/Pagination/Pagination.test.tsx
  src/__tests__/PointerBox.test.tsx
  src/__tests__/Popover.test.tsx
  src/__tests__/ProgressBar.test.tsx
  src/__tests__/Radio.test.tsx
  src/__tests__/RelativeTime.test.tsx
  src/__tests__/Select.test.tsx
  src/__tests__/Spinner.test.tsx
  src/__tests__/SubNavLink.test.tsx
  src/__tests__/Textarea.test.tsx
  src/__tests__/deprecated/ActionList.test.tsx
  src/__tests__/deprecated/ActionMenu.test.tsx
  src/__tests__/deprecated/Button.test.tsx
  src/__tests__/deprecated/FilterList.test.tsx
  src/__tests__/deprecated/FilterListItem.test.tsx
  src/__tests__/deprecated/FilteredSearch.test.tsx
  src/deprecated/UnderlineNav/UnderlineNavLink.test.tsx
Labels: skip changeset
