Repository primer/react, pull requests merged in 2024-11, with the labels that each got.

#5205 Update CSS Module contribution doc to include adding new VRT
  contributor-docs/migrating-to-css-modules.md
Labels: skip changeset

#5195 feat(SkeletonBox): Convert SkeletonBox to CSS modules behind the feature flag
  .changeset/few-zebras-drive.md
  packages/react/src/experimental/Skeleton/SkeletonAvatar.module.css
  packages/react/src/experimental/Skeleton/SkeletonAvatar.stories.tsx
  packages/react/src/experimental/Skeleton/SkeletonAvatar.tsx
  packages/react/src/experimental/Skeleton/SkeletonBox.module.css
  packages/react/src/experimental/Skeleton/SkeletonBox.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.module.css
  packages/react/src/experimental/Skeleton/SkeletonText.tsx
  packages/react/src/experimental/Skeleton/__tests__/SkeletonBox.test.tsx
  packages/react/src/experimental/Skeleton/__tests__/SkeletonText.test.tsx
Labels: integration-tests: recommended, staff

#5206 test(e2e): Add vrt tests for SubNav
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-dark-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-light-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-light-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Default-light-tritanopia-linux.png
  e2e/components/SubNav.test.ts
Labels: skip changeset

#5211 Revert "feat(AvatarStack): Convert AvatarStack to CSS modules behind team feature flag"
  .changeset/hot-chicken-tickle.md
  packages/react/src/AvatarStack/AvatarStack.module.css
  packages/react/src/AvatarStack/AvatarStack.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5214 feat(Stack): Convert Stack to CSS modules behind feature flag
  .changeset/gentle-doors-sell.md
  packages/react/src/Stack/Stack.module.css
  packages/react/src/Stack/Stack.tsx
  packages/react/src/Stack/__tests__/Stack.test.tsx
  packages/react/src/Stack/__tests__/StackItem.test.tsx
Labels: integration-tests: recommended, staff

#5213 Bug fix: `ButtonBase` sx base styles leaking into CSS modules feat flag
  .changeset/chilly-phones-explode.md
  packages/react/src/Button/ButtonBase.tsx
Labels: integration-tests: recommended

#4878 ProgressBar: Adjust `ProgressBar.Item` for accessibility
  .changeset/lucky-horses-kiss.md
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/__tests__/ProgressBar.test.tsx
  packages/react/src/__tests__/__snapshots__/ProgressBar.test.tsx.snap
Labels: status: review needed, integration-tests: recommended

#5168 TreeView: Add indication of empty directory
  .changeset/lovely-shirts-hope.md
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/TreeView/TreeView.tsx
Labels: integration-tests: passing

#5202 feat(SubNav): Convert SubNav to CSS modules behind team feature flag
  .changeset/shiny-chefs-matter.md
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-dark-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-dark-dimmed-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-dark-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-dark-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-dark-tritanopia-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-light-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-light-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-light-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithCSS-light-tritanopia-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-dark-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-dark-dimmed-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-dark-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-dark-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-dark-tritanopia-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-light-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-light-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-light-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSx-light-tritanopia-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-dark-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-dark-dimmed-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-dark-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-dark-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-dark-tritanopia-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-light-colorblind-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-light-high-contrast-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-light-linux.png
  .playwright/snapshots/components/SubNav.test.ts-snapshots/SubNav-Dev-WithSxAndCSS-light-tritanopia-linux.png
  e2e/components/SubNav.test.ts
  packages/react/src/SubNav/SubNav.dev.module.css
  packages/react/src/SubNav/SubNav.dev.stories.tsx
  packages/react/src/SubNav/SubNav.module.css
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/__tests__/__snapshots__/SubNavLink.test.tsx.snap
Labels: integration-tests: recommended

#5220 chore(InlineMessage): add vrt tests
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-dark-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-light-colorblind-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-light-linux.png
  .playwright/snapshots/components/InlineMessage.test.ts-snapshots/InlineMessage-Dev-Default-light-tritanopia-linux.png
  e2e/components/InlineMessage.test.ts
  packages/react/src/InlineMessage/InlineMessage.dev.stories.tsx
Labels: skip changeset

#5224 chore(TextInput): Add dev stories and vrt tests
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-dark-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-dark-dimmed-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-dark-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-dark-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-light-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-light-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-light-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithCSS-light-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-dark-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-dark-dimmed-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-dark-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-dark-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-light-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-light-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-light-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSx-light-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-dark-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-dark-dimmed-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-dark-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-dark-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-light-colorblind-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-light-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-light-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Dev-WithSxAndCSS-light-tritanopia-linux.png
  e2e/components/TextInput.test.ts
  packages/react/src/TextInput/TextInput.dev.stories.tsx
Labels: skip changeset

#5177 Allow primitives dep to be if version 9 OR 10 and add it to peerDep
  .changeset/spotty-rice-explain.md
  package-lock.json
  packages/react/package.json
Labels: integration-tests: recommended

#5225 chore(Banner): Move Banner CSS module flag from staff to ga
  .changeset/odd-ways-jog.md
  packages/react/src/Banner/Banner.tsx
Labels: staff, integration-tests: skip

#5229 fix(Blankslate): update styles to center description text
  .changeset/odd-singers-hammer.md
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-dark-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-light-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-primer-breakpoint-sm-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-primer-breakpoint-xs-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-dark-colorblind-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-dark-dimmed-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-dark-high-contrast-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-dark-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-dark-tritanopia-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-light-colorblind-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-light-high-contrast-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-light-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-light-tritanopia-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-primer-breakpoint-sm-linux.png
  packages/react/src/Blankslate/Blankslate.module.css
Labels: integration-tests: recommended, staff

#5196 fix(Treevieew):do not add aria-describedby attribute when empty leading/trailing visual
  .changeset/tender-dodos-walk.md
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/TreeView/TreeView.tsx
Labels: accessibility, component: TreeView, integration-tests: passing, staff

#5144 chore(ButtonGroup): Move ButtonGroup css module feature flag to staff
  .changeset/thirty-worms-accept.md
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: integration-tests: recommended, staff

#5189 Add missing ActionBar and ActionMenu stories
  packages/react/src/ActionBar/ActionBar.stories.tsx
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
Labels: skip changeset

#5204 feat(InlineMessage): Convert `InlineMessage` component to CSS Modules behind feature flag
  .changeset/silent-cherries-behave.md
  packages/react/src/InlineMessage/InlineMessage.dev.stories.tsx
  packages/react/src/InlineMessage/InlineMessage.module.css
  packages/react/src/InlineMessage/InlineMessage.tsx
Labels: integration-tests: recommended

#5122 TreeView: Add `truncate` prop
  .changeset/slow-shoes-wait.md
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-light-tritanopia-linux.png
  packages/react/src/TreeView/TreeView.docs.json
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/TreeView/TreeView.tsx
Labels: integration-tests: recommended

#5233 workflow: Check for integration result comment
  .github/workflows/check-for-integration-result-comment.yml
Labels: skip changeset, integration-tests: passing, staff

#5236 bugfix(Spinner): Spinner component size get's large when passing sx and size props
  .changeset/forty-rats-jog.md
  packages/react/src/Spinner/Spinner.dev.stories.tsx
  packages/react/src/Spinner/Spinner.tsx
Labels: integration-tests: recommended, staff

#5172 docs(Dialog): add explicit stories for dialog
  packages/react/script/components-json/build.ts
  packages/react/src/Dialog/Dialog.docs.json
Labels: skip changeset, integration-tests: recommended, staff

#5243 fix(TextInput): Fix font size for small text inputs
  .changeset/fuzzy-kiwis-greet.md
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-dark-colorblind-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-dark-dimmed-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-dark-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-dark-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-dark-tritanopia-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-light-colorblind-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-light-high-contrast-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-light-linux.png
  .playwright/snapshots/components/Select.test.ts-snapshots/Select-Small-light-tritanopia-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Small-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInput.test.ts-snapshots/TextInput-Small-light-high-contrast-linux.png
  .playwright/snapshots/components/TextInputWithTokens.test.ts-snapshots/TextInputWithTokens-Size-dark-high-contrast-linux.png
  .playwright/snapshots/components/TextInputWithTokens.test.ts-snapshots/TextInputWithTokens-Size-light-high-contrast-linux.png
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputWrapper.tsx
Labels: integration-tests: recommended

#5241 Add changelog.md to prettierignore
  .prettierignore
Labels: skip changeset, staff

#5221 feat(Avatar): Remove the CSS modules feature flag from Avatar
  .changeset/dirty-dodos-applaud.md
  packages/react/src/Avatar/Avatar.stories.tsx
  packages/react/src/Avatar/Avatar.tsx
  packages/react/src/Token/__tests__/__snapshots__/Token.test.tsx.snap
  packages/react/src/__tests__/Avatar.test.tsx
Labels: integration-tests: recommended, staff

#5248 Refactor Tooltip e2e tests and add sx prop story
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-dark-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-light-colorblind-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-light-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Dev-SX-Props-light-tritanopia-linux.png
  e2e/components/TooltipV2.test.ts
  packages/react/src/TooltipV2/Tooltip.dev.stories.tsx
Labels: skip changeset, staff

#5228 feat(Tooltip): Convert Tooltip to CSS modules behind team flag
  .changeset/lazy-mugs-care.md
  packages/react/src/TooltipV2/Tooltip.module.css
  packages/react/src/TooltipV2/Tooltip.tsx
Labels: integration-tests: passing, staff

#5250 Chore(AvatarToken): Add missing snapshots for the AvatarToken component
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-dark-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-light-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-dark-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-dark-dimmed-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-dark-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-dark-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-dark-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-light-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-light-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-light-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-Interactive-light-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-dark-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-dark-dimmed-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-dark-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-dark-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-dark-tritanopia-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-light-colorblind-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-light-high-contrast-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-light-linux.png
  .playwright/snapshots/components/Token.test.ts-snapshots/Token-Default-AvatarToken-On-Remove-Fn-light-tritanopia-linux.png
  e2e/components/Token.test.ts
  packages/react/src/Token/AvatarToken.stories.tsx
Labels: skip changeset

#5230 SelectPanel: Prepare for non-anchored variants
  .changeset/fluffy-days-brake.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5200 fix(ButtonGroup): add toolbar interactions for role toolbar
  .changeset/slow-news-love.md
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-dark-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-dark-dimmed-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-dark-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-dark-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-dark-tritanopia-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-light-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-light-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-light-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-As-Toolbar-light-tritanopia-linux.png
  e2e/components/ButtonGroup.test.ts
  packages/react/src/ButtonGroup/ButtonGroup.features.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.test.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: status: review needed, component: ButtonGroup, integration-tests: passing, staff

#5242 feat(TextInput): Update TextInput to use data attributes for styling
  .changeset/real-fans-tap.md
  packages/react/src/TextInputWithTokens/TextInputWithTokens.tsx
  packages/react/src/__tests__/Textarea.test.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputWrapper.tsx
  packages/react/src/utils/testing.tsx
Labels: integration-tests: failing

#5255 Revert "SelectPanel: Prepare for non-anchored variants"
  .changeset/fluffy-days-brake.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: skip changeset, integration-tests: failing

#5256 Revert "feat(TextInput): Update TextInput to use data attributes for styling"
  .changeset/real-fans-tap.md
  packages/react/src/TextInputWithTokens/TextInputWithTokens.tsx
  packages/react/src/__tests__/Textarea.test.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputWrapper.tsx
  packages/react/src/utils/testing.tsx
Labels: integration-tests: passing

#5262 Bring back #5255 "SelectPanel: Prepare for non-anchored variants"
  .changeset/fluffy-days-brake.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5254 feat(TextInput): Convert UnstyledTextInput to use CSS modules behind feature flag
  .changeset/late-swans-knock.md
  packages/react/src/TextInputWithTokens/TextInputWithTokens.module.css
  packages/react/src/TextInputWithTokens/TextInputWithTokens.tsx
  packages/react/src/internal/components/UnstyledTextInput.module.css
  packages/react/src/internal/components/UnstyledTextInput.tsx
Labels: integration-tests: passing

#5169 fix(ActionList): do not truncate description by default
  .changeset/cyan-lions-itch.md
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-dark-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-light-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-light-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Text-Wrap-And-Truncation-light-tritanopia-linux.png
  packages/react/src/ActionList/ActionList.docs.json
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Description.tsx
  packages/react/src/ActionList/Item.tsx
Labels: status: review needed, component: ActionList, integration-tests: passing, staff

#5251 feat(Token): Migrate to CSS modules behind feature flag Pt 1
  packages/react/src/Token/_RemoveTokenButton.module.css
  packages/react/src/Token/_RemoveTokenButton.tsx
  packages/react/src/Token/_TokenTextContainer.module.css
  packages/react/src/Token/_TokenTextContainer.tsx
  packages/react/src/Token/__tests__/__snapshots__/Token.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
Labels: skip changeset, integration-tests: passing

#5264 Workflow: Recommend integration tests again if there are new commits
  .github/workflows/recommend-integration-tests.yml
Labels: skip changeset, staff

#5272 Revert "Bring back #5255 "SelectPanel: Prepare for non-anchored variants""
  .changeset/fluffy-days-brake.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: skip changeset, integration-tests: recommended, staff, integration-tests: skipped manually

#5253 feat(TextInput): Convert TextInput (Part 1) - Deprecate width props
  .changeset/clean-ligers-approve.md
  packages/react/src/internal/components/TextInputWrapper.tsx
Labels: integration-tests: failing

#5277 Update `TreeView` VRT snapshots
  .changeset/clean-coats-lie.md
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-light-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-tritanopia-linux.png
  packages/react/src/legacy-theme/ts/colors/dark.ts
  packages/react/src/legacy-theme/ts/colors/dark_colorblind.ts
  packages/react/src/legacy-theme/ts/colors/dark_dimmed.ts
  packages/react/src/legacy-theme/ts/colors/dark_high_contrast.ts
  packages/react/src/legacy-theme/ts/colors/dark_tritanopia.ts
  packages/react/src/legacy-theme/ts/colors/light.ts
  packages/react/src/legacy-theme/ts/colors/light_colorblind.ts
  packages/react/src/legacy-theme/ts/colors/light_high_contrast.ts
  packages/react/src/legacy-theme/ts/colors/light_tritanopia.ts
Labels: integration-tests: recommended

#5280 chore(Checkbox): Move Checkbox CSS module feature flag from staff to ga
  .changeset/tricky-ways-tan.md
  packages/react/src/Checkbox/Checkbox.tsx
Labels: integration-tests: recommended, staff

#5283 chore(VisuallyHidden): Move VisuallyHidden component from team to staff flag
  .changeset/five-hornets-agree.md
  packages/react/src/VisuallyHidden/VisuallyHidden.tsx
Labels: integration-tests: recommended, staff

#5246 migrate DialogV1 to css modules
  .changeset/new-donkeys-attend.md
  packages/react/src/DialogV1/Dialog.module.css
  packages/react/src/DialogV1/Dialog.test.tsx
  packages/react/src/DialogV1/Dialog.tsx
  packages/react/src/DialogV1/Dialog.types.test.tsx
Labels: component: Dialog, javascript, integration-tests: passing, staff

#5292 chore(Stack): Move Stack component from team to staff flag
  .changeset/fluffy-files-join.md
  packages/react/src/Stack/Stack.tsx
Labels: integration-tests: recommended, staff

#5278 chore(TextArea): add VRT to prep for CSS Module Migration
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-dark-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-light-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-light-tritanopia-linux.png
  e2e/components/Textarea.test.ts
  packages/react/src/Textarea/Textarea.dev.stories.tsx
Labels: skip changeset

#5285 chore(Select): Move Select component from team to staff flag
  .changeset/brave-cheetahs-prove.md
  packages/react/src/Select/Select.tsx
Labels: integration-tests: recommended, staff

#5286 chore(Spinner): Move Spinner component from team to staff flag
  .changeset/chilled-goats-visit.md
  packages/react/src/Spinner/Spinner.tsx
Labels: integration-tests: recommended, staff

#5290 chore(Details): Move Details component from team to staff flag
  .changeset/grumpy-cherries-deny.md
  packages/react/src/Details/Details.tsx
Labels: integration-tests: recommended, staff

#5284 chore(Header): Move Header component from team to staff flag
  .changeset/honest-plums-approve.md
  packages/react/src/Header/Header.tsx
Labels: integration-tests: recommended, staff

#5281 chore(ButtonGroup): Move ButtonGroup CSS module feature flag from staff to ga
  .changeset/polite-ligers-exercise.md
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: integration-tests: recommended, staff

#5279 chore(CounterLabel): Move CounterLabel CSS module feature flag from staff to ga
  .changeset/calm-meals-impress.md
  packages/react/src/CounterLabel/CounterLabel.tsx
Labels: integration-tests: recommended, staff

#5267 migrate TreeView to CSS modules
  .changeset/gentle-yaks-shake.md
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Empty-Directories-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-Changed-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Files-dark-high-contrast-linux.png
  contributor-docs/migrating-to-css-modules.md
  packages/react/src/TreeView/TreeView.module.css
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/TreeView/TreeView.tsx
  packages/react/src/legacy-theme/ts/color-schemes.ts
Labels: component: TreeView, staff, integration-tests: failing

#5291 chore(Pagehead): Move Pagehead component from team to staff flag
  .changeset/fast-hats-drum.md
  packages/react/src/Pagehead/Pagehead.tsx
Labels: integration-tests: recommended, staff

#5289 chore(Skeleton): Move Skeleton component from team to staff flag
  .changeset/old-weeks-matter.md
  packages/react/src/experimental/Skeleton/FeatureFlag.tsx
  packages/react/src/experimental/Skeleton/SkeletonAvatar.tsx
  packages/react/src/experimental/Skeleton/SkeletonBox.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.tsx
Labels: integration-tests: recommended, staff

#5288 chore(Radio): Move Radio component from team to staff flag
  .changeset/curly-bikes-burn.md
  packages/react/src/Radio/Radio.tsx
Labels: integration-tests: recommended, staff

#5287 chore(BranchName): Move BranchName component from team to staff flag
  .changeset/odd-seas-study.md
  packages/react/src/BranchName/BranchName.tsx
Labels: integration-tests: recommended, staff

#5257 feat(TextInput): Convert TextInput (Part 2) - Update CSS to use data attributes
  .changeset/real-fans-tap.md
  packages/react/src/Select/Select.tsx
  packages/react/src/TextInputWithTokens/TextInputWithTokens.tsx
  packages/react/src/__tests__/Select.test.tsx
  packages/react/src/__tests__/Textarea.test.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputWrapper.tsx
  packages/react/src/utils/testing.tsx
Labels: integration-tests: failing

#5245 Docs(Overlay): Add default and playground story
  packages/react/.storybook/preview.jsx
  packages/react/src/Overlay/Overlay.stories.tsx
Labels: status: review needed, skip changeset, component: Overlay, staff, integration-tests: skipped manually

#5295 Remove "draft_" prefix from docs ids
  packages/react/src/Hidden/Hidden.docs.json
  packages/react/src/PageHeader/PageHeader.docs.json
Labels: skip changeset

#5227 feat(TextInput): Convert TextInput (Part 3) - Update TextInputWrapper and TextInputWithTokens
  .changeset/dry-seals-count.md
  packages/react/src/TextInputWithTokens/TextInputWithTokens.module.css
  packages/react/src/TextInputWithTokens/TextInputWithTokens.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputWrapper.module.css
  packages/react/src/internal/components/TextInputWrapper.tsx
Labels: integration-tests: failing

#5275 feat(CheckBoxOrRadioGroup): Convert CheckBoxOrRadioGroup to CSS modules behind feature flag
  .changeset/lovely-stingrays-jog.md
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-dark-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-light-colorblind-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-light-linux.png
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-SX-Props-light-tritanopia-linux.png
  e2e/components/CheckboxGroup.test.ts
  packages/react/src/CheckboxGroup/CheckboxGroup.dev.stories.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroup.module.css
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroup.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupCaption.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupLabel.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/FeatureFlag.tsx
Labels: staff, integration-tests: failing

#5150 feat(Breadcrumbs): Convert Breadcrumbs to css module behind feature flag
  .changeset/fair-wolves-attack.md
  packages/react/src/Breadcrumbs/Breadcrumbs.module.css
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
  packages/react/src/Breadcrumbs/__tests__/__snapshots__/BreadcrumbsItem.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended, staff

#5276 feat(TextInput): Convert TextInput (Part 4) - TextInputAction & TextInputInnerVisualSlot
  .changeset/tall-cameras-unite.md
  packages/react/src/internal/components/TextInputInnerAction.module.css
  packages/react/src/internal/components/TextInputInnerAction.tsx
  packages/react/src/internal/components/TextInputInnerVisualSlot.module.css
  packages/react/src/internal/components/TextInputInnerVisualSlot.tsx
Labels: integration-tests: failing

#5305 chore(Dialog): Add stories and vrt tests for Dialog
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-And-Css-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-light-tritanopia-linux.png
  e2e/components/Dialog.test.ts
  packages/react/.storybook/storybook.css
  packages/react/src/Dialog/Dialog.dev.stories.tsx
Labels: integration-tests: recommended

#5294 feat(Textarea): Convert Textarea to CSS module behind feature flag
  .changeset/dirty-fans-tap.md
  packages/react/src/Textarea/TextArea.module.css
  packages/react/src/Textarea/Textarea.tsx
Labels: integration-tests: failing

#5308 chore(ActionMenu): Add css modules tests to ActionMenu
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Css-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-And-Css-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Dev-With-Sx-light-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-dark-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-light-colorblind-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-light-linux.png
  .playwright/snapshots/components/ActionMenu.test.ts-snapshots/ActionMenu-Loading-Items-light-tritanopia-linux.png
  e2e/components/ActionMenu.test.ts
  packages/react/src/ActionMenu/ActionMenu.dev.stories.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
Labels: integration-tests: recommended

#5300 feat(Popover): Convert Popover to CSS modules behind team feature flag
  .changeset/three-falcons-compete.md
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-dark-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-light-colorblind-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-light-linux.png
  .playwright/snapshots/components/Popover.test.ts-snapshots/Popover-SX-Props-light-tritanopia-linux.png
  e2e/components/Popover.test.ts
  packages/react/src/Popover/Popover.dev.stories.tsx
  packages/react/src/Popover/Popover.module.css
  packages/react/src/Popover/Popover.tsx
Labels: status: review needed, component: Popover, integration-tests: passing, integration-tests: recommended, staff

#5304 feat(ProgressBar): Convert ProgressBar to CSS modules behind team feature flag
  .changeset/small-foxes-tan.md
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-dark-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-light-colorblind-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-light-linux.png
  .playwright/snapshots/components/ProgressBar.test.ts-snapshots/ProgressBar-Dev-SX-Props-light-tritanopia-linux.png
  e2e/components/ProgressBar.test.ts
  packages/react/src/ProgressBar/ProgressBar.dev.stories.tsx
  packages/react/src/ProgressBar/ProgressBar.module.css
  packages/react/src/ProgressBar/ProgressBar.tsx
Labels: integration-tests: failing

#5209 Fix HMR errors
  .changeset/tidy-turtles-protect.md
  packages/react/src/ActionMenu/ActionMenu.tsx
  packages/react/src/hooks/useMenuInitialFocus.ts
  packages/react/src/hooks/useMenuKeyboardNavigation.ts
Labels: integration-tests: recommended

#5313 AvatarStack: Created DEV stories and update snapshots for CSS modules
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-dark-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-light-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-SX-Prop-light-tritanopia-linux.png
  e2e/components/AvatarStack.test.ts
  packages/react/src/AvatarStack/AvatarStack.dev.stories.tsx
Labels: skip changeset, staff

#5319 fix(Link): Do not pass through hoverColor prop in Link
  .changeset/quiet-garlics-compare.md
  packages/react/src/Link/Link.tsx
  packages/react/src/Link/__tests__/__snapshots__/Link.test.tsx.snap
Labels: integration-tests: failing

#5320 fix(Popover): Update component to forward ref
  .changeset/hot-jobs-marry.md
  packages/react/src/Popover/Popover.tsx
Labels: integration-tests: recommended

#5321 Update lit labs imports
  .changeset/fluffy-crabs-rhyme.md
  package-lock.json
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/utils/create-component.ts
Labels: integration-tests: recommended

#5306 feat(PageLayout): Convert PageLayout to CSS modules behind feature flag
  .changeset/lovely-hats-guess.md
  packages/react/src/PageLayout/PageLayout.module.css
  packages/react/src/PageLayout/PageLayout.tsx
  packages/react/src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  packages/react/src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended

#5252 Tooltip keybinding hints
  .changeset/cyan-glasses-sit.md
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-dark-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-dark-dimmed-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-dark-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-dark-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-dark-tritanopia-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-light-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-light-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-light-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-light-tritanopia-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-dark-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-dark-dimmed-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-dark-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-dark-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-dark-tritanopia-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-light-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-light-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-light-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-on-Description-light-tritanopia-linux.png
  e2e/components/IconButton.test.ts
  packages/react/src/Button/IconButton.docs.json
  packages/react/src/Button/IconButton.features.stories.tsx
  packages/react/src/Button/IconButton.tsx
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/Button/types.ts
  packages/react/src/KeybindingHint/KeybindingHint.docs.json
  packages/react/src/KeybindingHint/KeybindingHint.features.stories.tsx
  packages/react/src/KeybindingHint/components/Chord.tsx
  packages/react/src/KeybindingHint/components/Sequence.tsx
  packages/react/src/KeybindingHint/props.ts
  packages/react/src/TooltipV2/Tooltip.docs.json
  packages/react/src/TooltipV2/Tooltip.features.stories.tsx
  packages/react/src/TooltipV2/Tooltip.module.css
  packages/react/src/TooltipV2/Tooltip.playground.stories.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
Labels: integration-tests: recommended

#5190 Improve the click area for horizontal FormControls (checkboxes and radios)
  .changeset/few-baboons-pump.md
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-dark-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-dark-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-light-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-light-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-light-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-focus-light-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-light-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-light-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-light-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-Visually-Hidden-light-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-dark-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-dark-dimmed-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-dark-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-dark-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-dark-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-light-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-light-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-light-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-focus-light-tritanopia-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-light-colorblind-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-light-high-contrast-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-light-linux.png
  .playwright/snapshots/components/Checkbox.test.ts-snapshots/Checkbox-With-Caption-light-tritanopia-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-dark-colorblind-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-dark-dimmed-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-dark-high-contrast-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-dark-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-dark-tritanopia-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-light-colorblind-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-light-high-contrast-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-light-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-With-Caption-light-tritanopia-linux.png
  packages/react/src/FormControl/FormControl.tsx
Labels: integration-tests: recommended

#5325 feat(SelectPanel2): Convert SelectPanel2 to CSS modules
  .changeset/cyan-boxes-peel.md
  packages/react/src/experimental/SelectPanel2/SelectPanel.module.css
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
Labels: integration-tests: passing

#5329 feat(Timeline): Convert Timeline to CSS modules behind team feature flag
  .changeset/rotten-teachers-brush.md
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-dark-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-light-colorblind-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-light-linux.png
  .playwright/snapshots/components/Timeline.test.ts-snapshots/Timeline-SX-Props-light-tritanopia-linux.png
  e2e/components/Timeline.test.ts
  packages/react/src/Timeline/Timeline.dev.stories.tsx
  packages/react/src/Timeline/Timeline.module.css
  packages/react/src/Timeline/Timeline.tsx
  packages/react/src/Timeline/__tests__/Timeline.test.tsx
  packages/react/src/Timeline/index.ts
Labels: status: review needed, component: Timeline, component: TimelineItem, integration-tests: passing, staff

#5334 chore(SegmentedControl): Add dev stories and update e2e tests
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-dark-colorblind-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-dark-dimmed-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-dark-high-contrast-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-dark-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-dark-tritanopia-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-light-colorblind-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-light-high-contrast-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-light-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Css-light-tritanopia-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-dark-colorblind-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-dark-dimmed-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-dark-high-contrast-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-dark-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-dark-tritanopia-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-light-colorblind-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-light-high-contrast-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-light-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-And-Css-light-tritanopia-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-dark-colorblind-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-dark-dimmed-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-dark-high-contrast-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-dark-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-dark-tritanopia-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-light-colorblind-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-light-high-contrast-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-light-linux.png
  .playwright/snapshots/components/SegmentedControl.test.ts-snapshots/SegmentedControl-Dev-With-Sx-light-tritanopia-linux.png
  e2e/components/SegmentedControl.test.ts
  packages/react/src/SegmentedControl/SegmentedControl.dev.stories.tsx
  packages/react/src/SegmentedControl/SegmentedControl.tsx
Labels: integration-tests: recommended

#5326 feat(KeybindingHint): Convert to CSS modules behind feature flag
  .changeset/gentle-apes-do.md
  packages/react/src/KeybindingHint/KeybindingHint.module.css
  packages/react/src/KeybindingHint/KeybindingHint.tsx
  packages/react/src/KeybindingHint/props.ts
  packages/react/src/__tests__/KeybindingHint.test.tsx
Labels: integration-tests: failing

#5299 feat(AvatarStack): Convert AvatarStack to CSS modules behind team feature flag
  .changeset/hot-chicken-tickle.md
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-dark-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-dark-dimmed-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-dark-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-dark-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-dark-tritanopia-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-light-colorblind-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-light-high-contrast-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-light-linux.png
  .playwright/snapshots/components/AvatarStack.test.ts-snapshots/AvatarStack-With-Link-Wrappers-light-tritanopia-linux.png
  e2e/components/AvatarStack.test.ts
  packages/react/src/AvatarStack/AvatarStack.dev.stories.tsx
  packages/react/src/AvatarStack/AvatarStack.module.css
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
  packages/react/src/experimental/Skeleton/SkeletonAvatar.module.css
Labels: staff, integration-tests: failing
