Repository primer/react, pull requests merged in 2024-02, with the labels that each got.

#4158 Adds tests for Dialog v2
  src/Dialog/Dialog.test.tsx
Labels: skip changeset

#4235 ci: update deploy_preview_forks workflows
  .github/workflows/deploy_preview_forks.yml
Labels: skip changeset

#4173 SelectPanel2: Update docs
  packages/react/script/components-json/build.ts
  packages/react/src/PageLayout/PageLayout.stories.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.docs.json
  packages/react/src/drafts/SelectPanel2/SelectPanel.examples.stories.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.features.stories.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.playground.stories.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.stories.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.test.tsx
  packages/react/src/drafts/SelectPanel2/mock-story-data.ts
Labels: docs, skip changeset

#4259 ActionList: Prevent scroll when an item is selected with Space
  .changeset/slow-owls-report.md
  packages/react/src/ActionList/Item.tsx
Labels: patch release, backward-compatible

#4265 SelectPanel2: Submit panel when an item is selected with Enter
  .changeset/polite-rockets-yawn.md
  packages/react/src/ActionList/Item.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.tsx
Labels: patch release

#4266 ci: update release, release_candidate workflows
  .github/workflows/release.yml
  .github/workflows/release_candidate.yml
Labels: skip changeset

#4267 ci(release): update names for secrets used in workflows
  .github/workflows/release.yml
  .github/workflows/release_candidate.yml
Labels: skip changeset

#4268 Fix PointerBox storybook
  packages/react/src/PointerBox/PointerBox.stories.tsx
Labels: skip changeset

#4261 chore(deps): update @typescript-eslint deps to v6.21
  package-lock.json
  package.json
  packages/react/src/ActionList/Item.tsx
  packages/react/src/LabelGroup/LabelGroup.tsx
  packages/react/src/drafts/MarkdownEditor/_MarkdownInput.tsx
Labels: skip changeset

#4273 ci(release): update release step to use GitHub App for credentials
  .github/workflows/release.yml
Labels: skip changeset

#4238 docs(examples): add vite template for codesandbox
  .eslintrc.js
  examples/codesandbox/.codesandbox/tasks.json
  examples/codesandbox/.eslintrc.cjs
  examples/codesandbox/.gitignore
  examples/codesandbox/README.md
  examples/codesandbox/index.html
  examples/codesandbox/package.json
  examples/codesandbox/src/App.tsx
  examples/codesandbox/src/index.css
  examples/codesandbox/src/main.tsx
  examples/codesandbox/src/vite-env.d.ts
  examples/codesandbox/tsconfig.json
  examples/codesandbox/tsconfig.node.json
  examples/codesandbox/vite.config.ts
  package-lock.json
Labels: skip changeset

#4298 Update CONTRIBUTING.md to fix path for SSR example
  contributor-docs/CONTRIBUTING.md
Labels: skip changeset

#4300 Adjust HCM styles in ActionList
  packages/react/src/ActionList/Item.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: skip changeset

#4312 Correct link to getting-started guide
  docs/content/index.md
Labels: docs, skip changeset

#4319 Fix naming of tests in generate-e2e-tests.js
  script/generate-e2e-tests.js
Labels: skip changeset

#4326 test(e2e): remove threshold from tooltip
  .github/workflows/ci.yml
  .github/workflows/vrt.yml
  .playwright/snapshots/components/CheckboxGroup.test.ts-snapshots/CheckboxGroup-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Anchor-Has-Margin-dark-colorblind-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Anchor-Has-Margin-dark-high-contrast-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Anchor-Has-Margin-dark-tritanopia-linux.png
  .playwright/snapshots/components/TooltipV2.test.ts-snapshots/TooltipV2-Anchor-Has-Margin-light-linux.png
  e2e/components/TooltipV2.test.ts
  package-lock.json
  package.json
  script/test-e2e
Labels: skip changeset

#4310 docs: fix typos
  contributor-docs/deprecating-components.md
  contributor-docs/testing.md
  contributor-docs/versioning.md
Labels: skip changeset
