Repository primer/react, pull requests merged in 2024-04, with the labels that each got.

#4465 RelativeTime: prefer children if passed (fix #4305)
  packages/react/src/RelativeTime/RelativeTime.tsx
  packages/react/src/__tests__/RelativeTime.test.tsx
Labels: skip changeset

#4458 Update Tooltip v1 and v2 docs.json to make it work with the way primer/design works
  packages/react/script/components-json/component.schema.json
  packages/react/src/Tooltip/Tooltip.docs.json
  packages/react/src/TooltipV2/Tooltip.docs.json
Labels: skip changeset

#4470 Use `dist` for Primitives in Storybook
  packages/react/.storybook/primitives-v8.css
Labels: skip changeset

#4472 Revert "Add support for nested submenus to `ActionMenu`"
  .changeset/wild-students-bow.md
  packages/react/src/ActionList/ActionListContainerContext.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionMenu/ActionMenu.features.stories.tsx
  packages/react/src/ActionMenu/ActionMenu.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
  packages/react/src/hooks/useMenuKeyboardNavigation.ts
Labels: skip changeset

#4444 npm package: Add changelog.md to files published
  packages/react/package.json
Labels: skip changeset

#4482 ci: update npm cli to latest version
  .github/workflows/assign_release_conductor.yml
  .github/workflows/ci.yml
  .github/workflows/consumer_test.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/release-schedule.yml
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
  .github/workflows/vrt.yml
Labels: skip changeset

#4425 Dialog v2: Add support for returnFocusRef
  .changeset/young-countries-confess.md
  packages/react/src/Dialog/Dialog.docs.json
  packages/react/src/Dialog/Dialog.features.stories.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/hooks/useFocusTrap.ts
Labels: minor release, component: Dialog

#4473 Remove unused postcss plugin for fallback vars
  package-lock.json
  packages/react/package.json
  packages/react/postcss.config.js
Labels: skip changeset

#4439 chore(deps): update typescript-eslint deps to latest
  examples/codesandbox/package.json
  package-lock.json
  package.json
Labels: skip changeset

#4477 ThemeProvider + SSR: Fix incorrect theme with multiple ThemeProviders on page
  .changeset/two-ravens-prove.md
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/ThemeProvider.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: patch release, no-breaking-changes: confirmed

#4491 Bump `primer/primitives`
  package-lock.json
  packages/react/package.json
Labels: skip changeset

#4428 Update Getting Started url
  docs/content/index.md
Labels: skip changeset

#4430 Fixes broken Styled System Reference Table url
  docs/content/theming.md
Labels: skip changeset

#4492 chore(actions): Disable npm package publishing for canary versions (temporarily)
  .github/workflows/release_canary.yml
Labels: skip changeset

#4494 Update release.yml to use tagged dependency
  .github/workflows/release.yml
Labels: skip changeset

#4495 Update release.yml to use tagged dependency
  .github/workflows/release_candidate.yml
Labels: skip changeset

#4489 ActionBar: Add roving tab focus
  packages/react/src/drafts/ActionBar/ActionBar.tsx
Labels: skip changeset

#4499 Revert "chore(actions): Disable npm package publishing for canary versions (temporarily) "
  .github/workflows/release_canary.yml
Labels: skip changeset

#4420 ci: use v4 of download and upload-artifact actions
  .github/workflows/ci.yml
Labels: skip changeset

#4496 Docs: publish docs for SelectPanel v2 and Dialog v2
  packages/react/src/Dialog.docs.json
  packages/react/src/Dialog/Dialog.docs.json
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/drafts/SelectPanel2/SelectPanel.docs.json
Labels: docs, skip changeset

#4508 ActionBar: Add minwidth=0 to toolbar flexbox to make sure contents don't leak
  packages/react/src/drafts/ActionBar/ActionBar.tsx
Labels: skip changeset

#4483 Generate the component name in the story id based on import path
  packages/react/script/components-json/build.ts
  packages/react/src/TooltipV2/Tooltip.docs.json
Labels: skip changeset

#4449 docs: add adr for responsive values
  contributor-docs/adrs/adr-019-responsive-values.md
  packages/react/src/internal/utils/__tests__/getResponsiveAttributes.test.ts
  packages/react/src/internal/utils/getResponsiveAttributes.ts
  packages/react/src/internal/utils/getResponsiveControlValues.ts
Labels: skip changeset

#4510 Fix up manually published 36.14.0 (accidently)
  .changeset/dirty-pots-rule.md
  .changeset/light-zebras-mix.md
  .changeset/smart-chefs-fail.md
  .changeset/stale-ties-cover.md
  .changeset/ten-candles-melt.md
  .changeset/thick-bats-cough.md
  .changeset/two-ravens-prove.md
  .changeset/young-countries-confess.md
  examples/nextjs/package.json
  package-lock.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: skip changeset

#4517 Fix `Stack` direction prop
  packages/react/src/Stack/Stack.stories.tsx
  packages/react/src/Stack/Stack.tsx
Labels: skip changeset

#4523 docs(Button): add missing props to Button docs
  packages/react/src/Button/Button.docs.json
Labels: skip changeset

#4521 docs(NavList): update Next.js example for NavList
  docs/content/NavList.mdx
Labels: skip changeset

#4528 Updates `Button` dev stories related to `sx` prop text color contrast
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-dimmed-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-tritanopia-linux.png
  packages/react/src/Button/Button.dev.stories.tsx
Labels: skip changeset

#4389 Adds FormControl's "Auto-Wiring" to SelectPanel v2 Component
  .changeset/afraid-beds-lick.md
  packages/react/src/drafts/SelectPanel2/SelectPanel.examples.stories.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.test.tsx
  packages/react/src/drafts/SelectPanel2/SelectPanel.tsx
Labels: no-breaking-changes: need to test

#4529 Update button background color to ensure storybook examples meet contrast
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-colorblind-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-dimmed-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-linux.png
  .playwright/snapshots/components/Button.test.ts-snapshots/Button-sx-prop-dark-tritanopia-linux.png
  contributor-docs/testing.md
  packages/react/src/Button/Button.dev.stories.tsx
Labels: skip changeset
