Repository primer/react, pull requests merged in 2025-10, with the labels that each got.

#6889 Add delay functionality to tooltips
  .changeset/famous-jobs-applaud.md
  packages/react/src/Button/IconButton.features.stories.tsx
  packages/react/src/TooltipV2/Tooltip.examples.stories.tsx
  packages/react/src/TooltipV2/Tooltip.features.stories.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
Labels: integration-tests: recommended, staff

#6931 forward Underline.Tab, Underline.Panels from @primer/react
  .changeset/chilly-lemons-promise.md
  .changeset/rude-windows-bathe.md
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
  packages/styled-react/src/__tests__/primer-react-experimental.browser.test.tsx
  packages/styled-react/src/components/UnderlinePanels.tsx
  packages/styled-react/src/experimental.tsx
Labels: staff, integration-tests: failing

#6927 Adjust text-decoration-offset for Link component
  .changeset/tender-dodos-create.md
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-colorblind-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-dimmed-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-high-contrast-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-tritanopia-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-colorblind-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-colorblind-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-high-contrast-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-high-contrast-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-tritanopia-focus-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-tritanopia-hover-linux.png
  .playwright/snapshots/components/Link.test.ts-snapshots/Link-Default-light-tritanopia-linux.png
  packages/react/src/Link/Link.module.css
  packages/react/src/Link/Link.stories.tsx
Labels: integration-tests: recommended

#6729 Remove support for `sx` and `Box` usage from the `Text` component
  .changeset/olive-rats-serve.md
  packages/react/src/AnchoredOverlay/AnchoredOverlay.stories.module.css
  packages/react/src/AnchoredOverlay/AnchoredOverlay.stories.tsx
  packages/react/src/Button/Button.dev.stories.module.css
  packages/react/src/Button/Button.dev.stories.tsx
  packages/react/src/DataTable/Table.module.css
  packages/react/src/DataTable/Table.tsx
  packages/react/src/Dialog/Dialog.dev.stories.tsx
  packages/react/src/Dialog/Dialog.features.stories.tsx
  packages/react/src/Dialog/Dialog.stories.module.css
  packages/react/src/Dialog/Dialog.stories.tsx
  packages/react/src/Hidden/Hidden.examples.stories.module.css
  packages/react/src/Hidden/Hidden.examples.stories.tsx
  packages/react/src/KeybindingHint/components/Chord.module.css
  packages/react/src/KeybindingHint/components/Chord.tsx
  packages/react/src/Overlay/Overlay.features.stories.module.css
  packages/react/src/Overlay/Overlay.features.stories.tsx
  packages/react/src/SegmentedControl/SegmentedControl.features.stories.module.css
  packages/react/src/SegmentedControl/SegmentedControl.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.dev.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.features.stories.module.css
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.stories.module.css
  packages/react/src/Text/Text.docs.json
  packages/react/src/Text/Text.stories.tsx
  packages/react/src/Text/Text.test.module.css
  packages/react/src/Text/Text.test.tsx
  packages/react/src/Text/Text.tsx
  packages/react/src/TextInputWithTokens/TextInputWithTokens.module.css
  packages/react/src/TextInputWithTokens/TextInputWithTokens.tsx
  packages/react/src/TextInputWithTokens/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/ToggleSwitch/ToggleSwitch.stories.module.css
  packages/react/src/ToggleSwitch/ToggleSwitch.stories.tsx
  packages/react/src/__tests__/ThemeProvider.test.tsx
  packages/react/src/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.module.css
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupCaption.tsx
  packages/react/src/internal/components/InputValidation.tsx
  packages/styled-react/src/components/Text.tsx
  packages/styled-react/src/components/Token.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing

#6939 revert: Remove support for sx from FormControl component (#6681)
  .changeset/grumpy-lobsters-obey.md
  packages/react/src/FormControl/FormControl.docs.json
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/FormControlLabel.tsx
  packages/react/src/FormControl/FormControlLeadingVisual.module.css
  packages/react/src/FormControl/FormControlLeadingVisual.tsx
  packages/react/src/FormControl/index.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.module.css
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.tsx
  packages/react/src/index.ts
  packages/styled-react/src/components/FormControl.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: recommended, staff

#6930 Remove BoxWithFallback usage and `sx` prop from DataTable.Container
  .changeset/fruity-monkeys-cover.md
  packages/react/src/DataTable/Table.tsx
  packages/react/src/DataTable/__tests__/Table.test.tsx
  packages/styled-react/src/__tests__/primer-react-experimental.browser.test.tsx
  packages/styled-react/src/components/DataTable.tsx
  packages/styled-react/src/experimental.tsx
Labels: integration-tests: passing

#6897 Replace `theme=useTheme()` instances with default `theme`
  .changeset/replace-usetheme-with-theme.md
  packages/react/src/ConfirmationDialog/ConfirmationDialog.features.stories.tsx
  packages/react/src/LabelGroup/LabelGroup.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/UnderlineNav/UnderlineNav.tsx
  packages/react/src/UnderlineNav/UnderlineNavContext.tsx
  packages/react/src/UnderlineNav/styles.ts
  packages/react/src/stories/useFocusZone.stories.tsx
Labels: major release, integration-tests: passing

#6953 Add 'prereleased' condition to unlock step in the toggle release lock workflow
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#6921 Remove support for `sx` from `ActionList` component and sub-components
  .changeset/eleven-cameras-hammer.md
  packages/react/src/ActionList/ActionList.docs.json
  packages/react/src/ActionList/Description.tsx
  packages/react/src/ActionList/Divider.tsx
  packages/react/src/ActionList/Group.tsx
  packages/react/src/ActionList/Heading.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/LinkItem.tsx
  packages/react/src/ActionList/List.tsx
  packages/react/src/ActionList/TrailingAction.tsx
  packages/react/src/ActionList/Visuals.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/FilteredActionList/types.ts
  packages/react/src/KeybindingHint/KeybindingHint.examples.stories.module.css
  packages/react/src/KeybindingHint/KeybindingHint.examples.stories.tsx
  packages/react/src/UnderlineNav/UnderlineNav.test.tsx
  packages/react/src/UnderlineNav/UnderlineNav.tsx
  packages/react/src/UnderlineNav/styles.ts
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.module.css
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.tsx
  packages/styled-react/src/components/ActionList.tsx
  packages/styled-react/src/components/NavList.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6945 chore(Octicon): remove sx
  .changeset/tame-eggs-taste.md
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-light-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-dark-colorblind-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-dark-dimmed-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-dark-high-contrast-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-dark-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-dark-tritanopia-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-light-colorblind-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-light-high-contrast-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-light-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Small-light-tritanopia-linux.png
  packages/react/src/AnchoredOverlay/AnchoredOverlay.features.stories.module.css
  packages/react/src/AnchoredOverlay/AnchoredOverlay.features.stories.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.stories.module.css
  packages/react/src/AnchoredOverlay/AnchoredOverlay.stories.tsx
  packages/react/src/Octicon/Octicon.docs.json
  packages/react/src/Octicon/Octicon.stories.tsx
  packages/react/src/Octicon/Octicon.test.tsx
  packages/react/src/Octicon/Octicon.tsx
  packages/react/src/StateLabel/StateLabel.module.css
  packages/react/src/StateLabel/StateLabel.tsx
  packages/react/src/StateLabel/__tests__/__snapshots__/StateLabel.test.tsx.snap
  packages/react/src/Timeline/Timeline.features.stories.module.css
  packages/react/src/Timeline/Timeline.features.stories.tsx
  packages/react/src/TreeView/TreeView.features.stories.module.css
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/TreeView/TreeView.stories.tsx
  packages/react/src/TreeView/TreeView.stress.dev.stories.tsx
  packages/react/src/TreeView/TreeViewStories.module.css
  packages/react/src/TreeView/TreeViewWithLeadingAction.stories.tsx
  packages/react/src/TreeView/Treeview.stress.dev.stories.module.css
  packages/react/src/stories/deprecated/SideNav.dev.stories.module.css
  packages/react/src/stories/deprecated/SideNav.dev.stories.tsx
  packages/styled-react/src/__tests__/primer-react-deprecated.browser.test.tsx
  packages/styled-react/src/components/Octicon.tsx
  packages/styled-react/src/deprecated.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6954 Adjust ConfirmationDialog heading styling
  .changeset/rare-otters-deliver.md
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-dark-colorblind-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-dark-dimmed-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-dark-high-contrast-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-dark-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-dark-tritanopia-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-dark-colorblind-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-dark-dimmed-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-dark-high-contrast-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-dark-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-dark-tritanopia-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-light-colorblind-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-light-high-contrast-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-light-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-focus-light-tritanopia-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-light-colorblind-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-light-high-contrast-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-light-linux.png
  .playwright/snapshots/components/ConfirmationDialog.test.ts-snapshots/ConfirmationDialog-Playground-light-tritanopia-linux.png
  packages/react/src/ConfirmationDialog/ConfirmationDialog.module.css
  packages/react/src/ConfirmationDialog/ConfirmationDialog.tsx
Labels: integration-tests: recommended

#6944 Remove support for sx from the ActionList component in @primer/react/deprecated
  .changeset/afraid-teams-throw.md
  packages/react/src/FilteredActionList/FilteredActionList.module.css
  packages/react/src/FilteredActionList/FilteredActionList.tsx
  packages/react/src/deprecated/ActionList/Divider.module.css
  packages/react/src/deprecated/ActionList/Divider.tsx
  packages/react/src/deprecated/ActionList/Group.tsx
  packages/react/src/deprecated/ActionList/Header.module.css
  packages/react/src/deprecated/ActionList/Header.tsx
  packages/react/src/deprecated/ActionList/Item.module.css
  packages/react/src/deprecated/ActionList/Item.tsx
  packages/react/src/deprecated/ActionList/List.module.css
  packages/react/src/deprecated/ActionList/List.tsx
  packages/react/src/stories/deprecated/ActionList.stories.tsx
  packages/react/src/stories/deprecated/ActionListStories.module.css
  packages/styled-react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/components/Tooltip.tsx
  packages/styled-react/src/components/deprecated/ActionList.tsx
  packages/styled-react/src/components/deprecated/DialogV1.tsx
  packages/styled-react/src/components/deprecated/Octicon.tsx
  packages/styled-react/src/components/deprecated/TabNav.tsx
  packages/styled-react/src/components/deprecated/Tooltip.tsx
  packages/styled-react/src/deprecated.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6935 [Action Bar] Fix warning with menu items
  .changeset/smart-hornets-happen.md
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Keybinding-Hint-light-tritanopia-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-colorblind-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-dimmed-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-high-contrast-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-tritanopia-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-colorblind-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-high-contrast-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-tritanopia-linux.png
  e2e/components/drafts/ActionBar.test.ts
  packages/react/src/ActionBar/ActionBar.examples.stories.module.css
  packages/react/src/ActionBar/ActionBar.examples.stories.tsx
  packages/react/src/ActionBar/ActionBar.tsx
Labels: integration-tests: failing, integration-tests: skipped manually

#6964 Revert "Chore: remove styled system components"
  .changeset/chilled-spoons-roll.md
  packages/react/src/DialogV1/Dialog.test.tsx
  packages/react/src/FormControl/FormControlLeadingVisual.tsx
  packages/react/src/LabelGroup/LabelGroup.module.css
  packages/react/src/LabelGroup/LabelGroup.tsx
  packages/react/src/PageLayout/PageLayout.examples.stories.tsx
  packages/react/src/SegmentedControl/SegmentedControl.features.stories.tsx
  packages/react/src/Skeleton/SkeletonBox.tsx
  packages/react/src/SkeletonAvatar/SkeletonAvatar.tsx
  packages/react/src/Text/Text.tsx
  packages/react/src/TextInput/TextInput.docs.json
  packages/react/src/TextInput/TextInput.tsx
  packages/react/src/Tooltip/Tooltip.module.css
  packages/react/src/Tooltip/Tooltip.tsx
  packages/react/src/Truncate/Truncate.tsx
  packages/react/src/UnderlineNav/UnderlineNav.tsx
  packages/react/src/deprecated/ActionList/Item.tsx
  packages/react/src/deprecated/UnderlineNav/UnderlineNav.module.css
  packages/react/src/deprecated/UnderlineNav/UnderlineNav.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
  packages/react/src/internal/components/TextInputWrapper.tsx
  packages/react/src/internal/components/ValidationAnimationContainer.module.css
  packages/react/src/internal/components/ValidationAnimationContainer.tsx
  packages/react/src/internal/utils/sharedCheckboxAndRadioStyles.ts
Labels: integration-tests: recommended, staff

#6967 sync versions
  .changeset/pre.json
  package-lock.json
  packages/styled-react/CHANGELOG.md
  packages/styled-react/package.json
Labels: skip changeset, staff
