Repository primer/react, pull requests merged in 2025-02, with the labels that each got.

#5621 Add accessible names to icon stories
  packages/react/src/AvatarPair/AvatarPair.features.stories.tsx
  packages/react/src/AvatarPair/AvatarPair.stories.tsx
  packages/react/src/CircleOcticon/CircleOcticon.stories.tsx
Labels: skip changeset

#5648 [Draft] Remove @aat tests that our duplicated by axe.test.ts
  contributor-docs/migrating-to-css-modules.md
  e2e/components/ActionList.test.ts
  e2e/components/ActionMenu.test.ts
  e2e/components/Banner.test.ts
  e2e/components/BaseStyles.test.ts
  e2e/components/Blankslate.test.ts
  e2e/components/BranchName.test.ts
  e2e/components/ButtonGroup.test.ts
  e2e/components/CircleBadge.test.ts
  e2e/components/CircleOcticon.test.ts
  e2e/components/CounterLabel.test.ts
  e2e/components/DataTable.test.ts
  e2e/components/Dialog.test.ts
  e2e/components/Dialogv1.test.ts
  e2e/components/FilteredSearch.test.ts
  e2e/components/FormControl.test.ts
  e2e/components/Heading.test.ts
  e2e/components/Hidden.test.ts
  e2e/components/InlineMessage.test.ts
  e2e/components/IssueLabel.test.ts
  e2e/components/LabelGroup.test.ts
  e2e/components/Link.test.ts
  e2e/components/NavList.test.ts
  e2e/components/Octicon.test.ts
  e2e/components/PageLayout.test.ts
  e2e/components/Pagehead.test.ts
  e2e/components/Pagination.test.ts
  e2e/components/Popover.test.ts
  e2e/components/ProgressBar.test.ts
  e2e/components/RadioGroup.test.ts
  e2e/components/SegmentedControl.test.ts
  e2e/components/SideNav.test.ts
  e2e/components/TabNav.test.ts
  e2e/components/Text.test.ts
  e2e/components/TextInput.test.ts
  e2e/components/Token.test.ts
  e2e/components/Tooltip.test.ts
  e2e/components/TooltipV2.test.ts
  e2e/components/Truncate.test.ts
  e2e/components/UnderlineNav--deprecated.test.ts
  e2e/components/drafts/ActionBar.test.ts
  script/generate-e2e-tests.js
Labels: skip changeset

#5652 ci: remove continue-on-error from workflows
  .github/workflows/aat-reports.yml
  .github/workflows/vrt-reports.yml
Labels: skip changeset, integration-tests: recommended, staff

#5653 Remove axe e2e tests that are duplicated in axe.test.ts
  e2e/components/CheckboxGroup.test.ts
  e2e/components/Details.test.ts
  e2e/components/PageHeader.test.ts
  e2e/components/Radio.test.ts
  e2e/components/StateLabel.test.ts
  e2e/components/ToggleSwitch.test.ts
Labels: skip changeset

#5657 bugfix(ActionList.Item): Remove `styles` from `enabled` ActionList.Item
  .changeset/giant-lizards-clap.md
  packages/react/src/ActionList/Item.tsx
Labels: integration-tests: recommended

#5663 Update contribution guidelines for CSS Modules
  contributor-docs/CONTRIBUTING.md
  contributor-docs/adrs/adr-016-css.md
Labels: skip changeset

#5660 [TreeView] Mark leading action as private and add high-risk warning
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-tritanopia-linux.png
  e2e/components/TreeView.test.ts
  packages/react/src/TreeView/TreeView.docs.json
  packages/react/src/TreeView/TreeView.features.stories.tsx
  packages/react/src/TreeView/TreeViewWithLeadingAction.stories.tsx
Labels: skip changeset

#5662 [Accessibility][Autocomplete] Announce "no selectable options"
  .changeset/chilled-rules-yell.md
  package-lock.json
  package.json
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
Labels: integration-tests: recommended

#5656 Enable color-contrast Axe check for all stories by default
  e2e/components/Button.test.ts
  e2e/components/ButtonGroup.test.ts
  e2e/components/IconButton.test.ts
  e2e/components/Link.test.ts
  e2e/components/NavList.test.ts
  e2e/components/PageHeader.test.ts
  e2e/components/SelectPanel.test.ts
  e2e/matchers/toHaveNoViolations.ts
  packages/react/.storybook/preview.jsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.features.stories.tsx
  packages/react/src/Button/Button.dev.stories.tsx
  packages/react/src/Button/IconButton.dev.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.dev.stories.tsx
  packages/react/src/Link/Link.dev.stories.tsx
  packages/react/src/NavList/NavList.dev.stories.tsx
  packages/react/src/PageHeader/PageHeader.dev.stories.tsx
  packages/react/src/PageLayout/PageLayout.features.stories.tsx
  packages/react/src/stories/useFocusZone.stories.tsx
  script/generate-e2e-tests.js
Labels: skip changeset, integration-tests: recommended

#4481 ActionList: Allow items to remain focusable when disabled
  .changeset/tall-ravens-hope.md
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionMenu/ActionMenu.features.stories.tsx
Labels: integration-tests: failing

#5667 Update motion tokens
  .changeset/seven-hounds-refuse.md
  package-lock.json
  packages/react/src/Spinner/Spinner.module.css
  packages/react/src/experimental/Skeleton/SkeletonBox.module.css
Labels: integration-tests: recommended

#5659 Remove 100+ tests duplicated by axe.test.ts when color-contrast rule is enabled
  e2e/components/Avatar.test.ts
  e2e/components/AvatarPair.test.ts
  e2e/components/Breadcrumbs.test.ts
  e2e/components/Button.test.ts
  e2e/components/Flash.test.ts
  e2e/components/Header.test.ts
  e2e/components/IconButton.test.ts
  e2e/components/Label.test.ts
  e2e/components/LinkButton.test.ts
  e2e/components/PageHeader.test.ts
  e2e/components/Radio.test.ts
  e2e/components/Select.test.ts
  e2e/components/Skeletons.test.ts
  e2e/components/SubNav.test.ts
  e2e/components/TextInputWithTokens.test.ts
  e2e/components/Textarea.test.ts
  e2e/components/Timeline.test.ts
  e2e/components/ToggleSwitch.test.ts
  e2e/components/TreeView.test.ts
  e2e/components/UnderlineNav.test.ts
  e2e/components/UnderlinePanels.test.ts
Labels: skip changeset, integration-tests: recommended

#5669 chore(FormControl): Move FormControl css modules feature flag from team to staff
  .changeset/lucky-camels-compete.md
  packages/react/src/FormControl/feature-flags.ts
Labels: integration-tests: recommended, staff

#5636 Overlay: only prevent focus on open when component is open
  .changeset/bright-terms-listen.md
  packages/react/src/Overlay/Overlay.dev.stories.tsx
  packages/react/src/Overlay/Overlay.test.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/__tests__/hooks/useOpenAndCloseFocus.test.tsx
  packages/react/src/hooks/useOpenAndCloseFocus.ts
Labels: integration-tests: passing

#5683 Remove the CSS modules feature flag from the Hidden component
  .changeset/violet-ladybugs-melt.md
  packages/react/src/Hidden/Hidden.test.tsx
  packages/react/src/Hidden/Hidden.tsx
  packages/react/src/Hidden/__snapshots__/Hidden.test.tsx.snap
Labels: integration-tests: passing, staff

#5679 feat: Introduce Tooltip to SegmentedControlIconButton
  .changeset/sharp-flowers-repair.md
  packages/react/src/FeatureFlags/DefaultFeatureFlags.ts
  packages/react/src/SegmentedControl/SegmentedControl.docs.json
  packages/react/src/SegmentedControl/SegmentedControl.test.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
Labels: integration-tests: recommended

#5686 chore(UnderlinePanels): Adding the option to pass in className
  .changeset/fifty-deers-applaud.md
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.test.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
Labels: integration-tests: recommended, staff

#5654 ActionMenu: Ensure custom overlay is responsive
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
  packages/react/src/Overlay/Overlay.docs.json
Labels: skip changeset

#5661 SubNav: Add `aria-current` to `SubNav`
  .changeset/khaki-pillows-change.md
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/__tests__/SubNav.test.tsx
  packages/react/src/__tests__/__snapshots__/SubNavLink.test.tsx.snap
Labels: integration-tests: recommended

#5655 Fix LinkButton types
  .changeset/tidy-hounds-change.md
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/Button/LinkButton.features.stories.tsx
  packages/react/src/Button/LinkButton.stories.tsx
  packages/react/src/Button/LinkButton.tsx
  packages/react/src/Button/index.ts
Labels: integration-tests: recommended

#5510 chore(Header): Remove CSS modules feature flag from Header
  .changeset/shaggy-comics-whisper.md
  packages/react/src/Header/Header.tsx
  packages/react/src/__tests__/Header.test.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5562 fix(SelectPanel): Correctly recalculate position on overflow
  .changeset/silent-cameras-care.md
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-SX-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/Overlay.test.ts-snapshots/Overlay-SX-Props-light-high-contrast-linux.png
  packages/react/src/AnchoredOverlay/AnchoredOverlay.dev.stories.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.docs.json
  packages/react/src/AnchoredOverlay/AnchoredOverlay.tsx
  packages/react/src/Overlay/Overlay.module.css
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/hooks/useAnchoredPosition.ts
  packages/react/src/hooks/useResizeObserver.ts
Labels: status: review needed, integration-tests: passing, staff

#5712 bugfix(SelectPanel): Set border-top-color on selectpanel footer
  .changeset/clean-planets-sleep.md
  packages/react/src/SelectPanel/SelectPanel.module.css
Labels: integration-tests: recommended, staff

#5708 Remove 'outline' from IconButton variants docs
  packages/react/src/Button/IconButton.docs.json
Labels: skip changeset

#5710 chore: Move components from staff CSS modules feature flag to ga
  .changeset/strong-cobras-refuse-1.md
  .changeset/strong-cobras-refuse-10.md
  .changeset/strong-cobras-refuse-11.md
  .changeset/strong-cobras-refuse-12.md
  .changeset/strong-cobras-refuse-13.md
  .changeset/strong-cobras-refuse-14.md
  .changeset/strong-cobras-refuse-15.md
  .changeset/strong-cobras-refuse-16.md
  .changeset/strong-cobras-refuse-17.md
  .changeset/strong-cobras-refuse-18.md
  .changeset/strong-cobras-refuse-2.md
  .changeset/strong-cobras-refuse-3.md
  .changeset/strong-cobras-refuse-4.md
  .changeset/strong-cobras-refuse-5.md
  .changeset/strong-cobras-refuse-6.md
  .changeset/strong-cobras-refuse-7.md
  .changeset/strong-cobras-refuse-8.md
  .changeset/strong-cobras-refuse-9.md
  .changeset/strong-cobras-refuse.md
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
  packages/react/src/Autocomplete/AutocompleteOverlay.tsx
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/BaseStyles.tsx
  packages/react/src/ConfirmationDialog/ConfirmationDialog.tsx
  packages/react/src/DataTable/Table.tsx
  packages/react/src/InlineMessage/InlineMessage.tsx
  packages/react/src/KeybindingHint/KeybindingHint.tsx
  packages/react/src/NavList/NavList.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/PageLayout/PageLayout.tsx
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/SegmentedControl/getSegmentedControlStyles.ts
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/SideNav.tsx
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/Token/AvatarToken.tsx
  packages/react/src/Token/IssueLabelToken.tsx
  packages/react/src/Token/Token.tsx
  packages/react/src/Token/TokenBase.tsx
  packages/react/src/Token/_RemoveTokenButton.tsx
  packages/react/src/Token/_TokenTextContainer.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
  packages/react/src/internal/components/UnderlineTabbedInterface.tsx
Labels: integration-tests: recommended, staff

#5695 Autocomplete: Add `preventOverflow` to another story
  packages/react/src/Autocomplete/Autocomplete.features.stories.tsx
Labels: skip changeset

#5704 Code connect radio group and check group
  package-lock.json
  packages/react/package.json
  packages/react/src/CheckboxGroup/CheckboxGroup.figma.tsx
  packages/react/src/Radio/Radio.figma.tsx
  packages/react/src/RadioGroup/RadioGroup.figma.tsx
Labels: skip changeset

#4686 Add expand to `NavList`
  .changeset/many-rivers-deny.md
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-dark-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-dark-dimmed-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-dark-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-dark-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-dark-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-light-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-light-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-light-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-expand-light-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-dark-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-dark-dimmed-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-dark-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-dark-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-dark-tritanopia-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-light-colorblind-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-light-high-contrast-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-light-linux.png
  .playwright/snapshots/components/NavList.test.ts-snapshots/NavList-With-group-expand-light-tritanopia-linux.png
  e2e/components/NavList.test.ts
  packages/react/src/NavList/NavList.docs.json
  packages/react/src/NavList/NavList.stories.tsx
  packages/react/src/NavList/NavList.test.tsx
  packages/react/src/NavList/NavList.tsx
  script/generate-e2e-tests.js
Labels: integration-tests: passing

#5715 Code connect add UnderlinePanels
  packages/react/figma.config.json
  packages/react/src/ConfirmationDialog/ConfirmationDialog.figma.tsx
  packages/react/src/DataTable/DataTable.figma.tsx
  packages/react/src/Dialog/Dialog.figma.tsx
  packages/react/src/Header/Header.figma.tsx
  packages/react/src/PageHeader/PageHeader.figma.tsx
  packages/react/src/SelectPanel/SelectPanel.figma.tsx
  packages/react/src/UnderlineNav/UnderlineNav.figma.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.figma.tsx
Labels: skip changeset, integration-tests: recommended

#5707 Improve typing for figma code connect files
  packages/react/src/Banner/Banner.figma.tsx
  packages/react/src/BranchName/BranchName.figma.tsx
  packages/react/src/Button/Button.figma.tsx
  packages/react/src/Button/IconButton.figma.tsx
  packages/react/src/Overlay/Overlay.figma.tsx
  packages/react/src/SegmentedControl/SegmentedControl.figma.tsx
Labels: skip changeset, integration-tests: recommended

#5705 Wrap `AvatarStack` avatars in `isolation: isolate` to create a new stacking context
  .changeset/strange-pets-stare.md
  packages/react/src/AvatarStack/AvatarStack.module.css
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
Labels: integration-tests: recommended

#5709 chore: add reset script for development
  package.json
  script/reset
Labels: skip changeset, staff
