Repository primer/react, pull requests merged in 2025-07, with the labels that each got.

#6259 SelectPanel: Add focus indicator SelectPanel items
  .changeset/puny-yaks-bake.md
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
Labels: integration-tests: recommended, staff

#6254 Contributing Guides: create feature request templates depending on audience
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: skip changeset

#6257 refactor(Truncate): update Truncate to CSS Modules
  .changeset/stale-cats-wonder.md
  packages/react/src/CircleBadge/__snapshots__/CircleBadge.test.tsx.snap
  packages/react/src/Truncate/Truncate.module.css
  packages/react/src/Truncate/Truncate.tsx
Labels: integration-tests: passing, staff

#6266 bugfix(Dialog): Fixing issue where page shifts when dialog is open
  .changeset/empty-experts-glow.md
  packages/react/jest.config.js
  packages/react/src/Dialog/Dialog.dev.stories.tsx
  packages/react/src/Dialog/Dialog.module.css
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/vitest.config.browser.mts
Labels: integration-tests: recommended, staff

#6176 Migrate the TabNav component to use CSS modules
  .changeset/thin-bears-change.md
  packages/react/src/TabNav/TabNav.module.css
  packages/react/src/TabNav/TabNav.tsx
  packages/react/src/TabNav/__tests__/TabNav.test.tsx
  packages/react/src/TabNav/__tests__/TabNav.types.test.tsx
Labels: integration-tests: passing, staff

#6283 Changing vrt and aat runners to use separate runners to allow for more concurrency
  .github/workflows/aat-reports.yml
  .github/workflows/vrt-reports.yml
Labels: skip changeset, staff

#6284 Add overflow property to the overlay
  .changeset/purple-pants-pay.md
  packages/react/src/Overlay/Overlay.tsx
Labels: integration-tests: recommended

#6295 chore(FormControl): remove sx props
  .changeset/odd-bikes-march.md
  packages/react/src/FormControl/FormControl.tsx
Labels: integration-tests: passing, staff

#6300 Remove `major` changeset
  .changeset/chubby-sides-rescue.md
Labels: skip changeset, staff

#6278 chore: Refactor components to use BoxWithFallback instead of custom Box if statements and remove defaultSxProp references
  .changeset/thick-rules-shout.md
  packages/react/src/ActionList/Description.tsx
  packages/react/src/ActionList/Divider.tsx
  packages/react/src/ActionList/Group.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/LinkItem.tsx
  packages/react/src/ActionList/List.tsx
  packages/react/src/ActionList/Visuals.tsx
  packages/react/src/Avatar/Avatar.tsx
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
  packages/react/src/CircleBadge/__snapshots__/CircleBadge.test.tsx.snap
  packages/react/src/CounterLabel/CounterLabel.tsx
  packages/react/src/DataTable/Table.tsx
  packages/react/src/Details/Details.tsx
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/Header/Header.tsx
  packages/react/src/InlineMessage/InlineMessage.tsx
  packages/react/src/PageLayout/PageLayout.tsx
  packages/react/src/Pagehead/Pagehead.tsx
  packages/react/src/Radio/Radio.tsx
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/SegmentedControl/SegmentedControlButton.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
  packages/react/src/SideNav.tsx
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/Timeline/Timeline.tsx
  packages/react/src/Token/Token.tsx
  packages/react/src/VisuallyHidden/VisuallyHidden.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
  packages/react/src/internal/components/UnderlineTabbedInterface.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6308 chore: Delete the toggleStyledComponent utility we used for CSS modules feature flags
  packages/react/src/internal/utils/__tests__/toggleStyledComponent.test.tsx
  packages/react/src/internal/utils/toggleStyledComponent.tsx
Labels: skip changeset, integration-tests: recommended, staff

#6310 Move tests for SplitPageLayout and PageLayout to vitest
  packages/react/jest.config.js
  packages/react/src/PageLayout/PageLayout.test.tsx
  packages/react/src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  packages/react/src/SplitPageLayout/SplitPageLayout.test.tsx
  packages/react/src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
  packages/react/vitest.config.browser.mts
Labels: skip changeset, integration-tests: recommended

#6273 chore(DataTable.Pagination): Convert DataTable.Pagination to CSS modules
  .changeset/polite-pandas-tie.md
  packages/react/src/DataTable/Pagination.module.css
  packages/react/src/DataTable/Pagination.tsx
  packages/react/src/internal/components/ButtonReset.module.css
  packages/react/src/internal/components/ButtonReset.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6301 Migrate Label.test.tsx from Jest to Vitest
  packages/react/jest.config.js
  packages/react/src/Label/Label.test.tsx
  packages/react/vitest.config.browser.mts
Labels: skip changeset, integration-tests: recommended

#6277 Fix Button styles while dragging inactive variants
  .changeset/cuddly-frogs-bow.md
  packages/react/src/Button/ButtonBase.module.css
Labels: integration-tests: passing

#6314 Add basic link styles to BaseStyles
  .changeset/tidy-drinks-speak.md
  packages/react/src/BaseStyles.module.css
Labels: integration-tests: passing

#6324 refactor: move typed-css-modules to build step in react package
  package-lock.json
  package.json
  packages/react/package.json
  packages/react/script/build
Labels: skip changeset, integration-tests: recommended, staff

#6337 Add vscode task for `test-e2e`
  .vscode/tasks.json
Labels: skip changeset

#6362 docs: enable strict mode for storybook
  packages/react/.storybook/main.ts
Labels: skip changeset, integration-tests: recommended, staff

#6346 SelectPanel: Add default empty message to announcement
  .changeset/fresh-lines-guess.md
  packages/react/src/FilteredActionList/FilteredActionListWithDeprecatedActionList.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/FilteredActionList/useAnnouncements.tsx
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: recommended, staff

#6373 update SelectPanel default empty state message
  .changeset/curvy-badgers-care.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-forced-colors-dark-modern-action-list--true-linux.png
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/SelectPanel/SelectPanel.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6371 Update package.json to modify react-is dependency
  .changeset/tall-pets-obey.md
  package-lock.json
  packages/react/package.json
Labels: integration-tests: passing

#6348 Refactor component tests from Jest to Vitest
  packages/react/jest.config.js
  packages/react/src/CounterLabel/CounterLabel.test.tsx
  packages/react/src/CounterLabel/__snapshots__/CounterLabel.test.tsx.snap
  packages/react/src/Details/__tests__/Details.test.tsx
  packages/react/src/Token/__tests__/Token.test.tsx
  packages/react/src/Token/__tests__/__snapshots__/Token.test.tsx.snap
  packages/react/vitest.config.browser.mts
Labels: skip changeset, integration-tests: recommended, staff

#6375 chore(npm): add test:vitest script
  package.json
Labels: skip changeset, staff

#6377 Add `update-snapshot` VScode task
  .vscode/tasks.json
  e2e/components/IconButton.test.ts
Labels: skip changeset

#6376 Add comments explaining dual close button implementation
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: skip changeset, integration-tests: recommended, integration-tests: skipped manually

#6363 SelectPanel: Remove `FormControl.Label` link with SelectPanel
  .changeset/mean-trains-ring.md
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlLabel.tsx
  packages/react/src/FormControl/_FormControlContext.tsx
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.stories.tsx
Labels: integration-tests: recommended, staff

#6361 Adds 'as' and 'href' to Button+IconButton prop docs
  packages/react/src/Button/Button.docs.json
  packages/react/src/Button/IconButton.docs.json
Labels: skip changeset

#6378 Add `size` prop to `ActionList.Item`
  .changeset/yellow-sheep-dress.md
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-dark-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-light-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-light-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Large-Item-light-tritanopia-linux.png
  e2e/components/ActionList.test.ts
  packages/react/src/ActionList/ActionList.docs.json
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/ActionList/ActionList.stories.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: recommended

#6404 [SelectPanel] Announce loading prop changes
  .changeset/thin-badgers-struggle.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: recommended

#6415 chore: remove all references to css_moduels_ga FF in codebase
  packages/react/.storybook/preview.jsx
  packages/react/src/FeatureFlags/DefaultFeatureFlags.ts
Labels: skip changeset, integration-tests: recommended, staff

#6421 Update ActionList.features.stories.tsx stories to no longer use styled-components
  packages/react/src/ActionList/ActionList.features.stories.module.css
  packages/react/src/ActionList/ActionList.features.stories.tsx
Labels: skip changeset, integration-tests: failing

#6427 Update ActionMenu.features.stories.tsx stories to no longer use styled-components
  packages/react/src/ActionMenu/ActionMenu.features.stories.module.css
  packages/react/src/ActionMenu/ActionMenu.features.stories.tsx
Labels: skip changeset, integration-tests: recommended
