Repository primer/react, pull requests merged in 2025-06, with the labels that each got.

#6150 refactor: update hooks tests from Jest to Vitest
  packages/react/jest.config.js
  packages/react/src/hooks/__tests__/useAnchoredPosition.test.tsx
  packages/react/src/hooks/__tests__/useControllableState.test.tsx
  packages/react/src/hooks/__tests__/useMedia.test.tsx
  packages/react/src/hooks/__tests__/useMenuInitialFocus.test.tsx
  packages/react/src/hooks/__tests__/useMnemonics.test.tsx
  packages/react/src/hooks/__tests__/useOnEscapePress.test.tsx
  packages/react/src/hooks/__tests__/useOnOutsideClick.test.tsx
  packages/react/src/hooks/__tests__/useOpenAndCloseFocus.test.tsx
  packages/react/src/hooks/__tests__/useProvidedStateOrCreate.test.tsx
  packages/react/src/hooks/__tests__/useResponsiveValue.test.tsx
  packages/react/src/hooks/__tests__/useResponsiveValues.types.test.tsx
  packages/react/src/hooks/__tests__/useSlots.test.tsx
  packages/react/src/hooks/__tests__/useSyncedState.test.tsx
  packages/react/vitest.config.mts
Labels: skip changeset, integration-tests: recommended

#6134 SelectPanel: Add example of `inactiveText` usage
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
Labels: skip changeset, staff

#6157 refactor: update live-region and utils tests from Jest to Vitest
  packages/react/jest.config.js
  packages/react/src/live-region/__tests__/Announce.test.tsx
  packages/react/src/live-region/__tests__/AriaAlert.test.tsx
  packages/react/src/live-region/__tests__/AriaStatus.test.tsx
  packages/react/src/live-region/__tests__/test-helpers.ts
  packages/react/src/utils/__tests__/invariant.test.ts
  packages/react/src/utils/__tests__/warning.test.ts
  packages/react/vitest.config.mts
  script/class-name-test-status.mts
Labels: skip changeset, integration-tests: recommended

#6158 ci: add styled-components migration report
  .github/workflows/migration-status.yml
  script/styled-components-migration-status.mts
Labels: skip changeset

#6166 chore: update script to use migrated
  script/styled-components-migration-status.mts
Labels: skip changeset, staff

#6183 SelectPanel: Add new prop `align` to `SelectPanel`
  .changeset/fluffy-baboons-sip.md
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: recommended, staff

#6170 Llastflowers/5118/select panel unhide footer
  .changeset/dull-pots-appear.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-responsive-width-light-modern-action-list--true-full-screen-on-narrow--true-linux.png
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: react, component: SelectPanel, integration-tests: passing, integration-tests: recommended, primer-quality

#6193 Update lock release to include 100 items and output numbers
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#6186 Fix some accessibility Storybook issues
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-dark-colorblind-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-dark-dimmed-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-dark-high-contrast-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-dark-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-dark-tritanopia-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-light-colorblind-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-light-high-contrast-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-light-linux.png
  .playwright/snapshots/components/Autocomplete.test.ts-snapshots/Autocomplete-Custom-Overlay-Menu-Anchor-light-tritanopia-linux.png
  packages/react/src/Autocomplete/Autocomplete.features.stories.tsx
  packages/react/src/Hidden/Hidden.examples.stories.tsx
Labels: skip changeset, staff

#6191 Fix typos in documentation and test comments
  contributor-docs/adrs/adr-021-css-layers.md
  e2e/components/PageHeader.test.ts
Labels: skip changeset

#6200 Fixes issue with Tooltip description id overriding existing description ids
  .changeset/two-aliens-wait.md
  packages/react/src/TooltipV2/Tooltip.features.stories.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
Labels: integration-tests: recommended

#5829 feat(UnderlineNav): Support `inset` and `flush` variants
  .changeset/fair-cooks-obey.md
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-dark-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-dark-dimmed-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-dark-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-dark-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-dark-tritanopia-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-light-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-light-high-contrast-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-light-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-VariantFlush-light-tritanopia-linux.png
  e2e/components/UnderlineNav.test.ts
  packages/react/src/UnderlineNav/UnderlineNav.docs.json
  packages/react/src/UnderlineNav/UnderlineNav.features.stories.tsx
  packages/react/src/UnderlineNav/UnderlineNav.stories.tsx
  packages/react/src/UnderlineNav/UnderlineNav.tsx
  packages/react/src/internal/components/UnderlineTabbedInterface.module.css
Labels: integration-tests: passing

#6199 Fix typos in documentation and comments
  packages/react/src/TooltipV2/Tooltip.docs.json
  packages/react/src/utils/polymorphic.ts
Labels: skip changeset

#6214 refactor: update tests from Jest to Vitest
  packages/react/jest.config.js
  packages/react/src/FormControl/__tests__/FormControl.Validation.test.tsx
  packages/react/src/Pagehead/Pagehead.test.tsx
  packages/react/src/__tests__/BaseStyles.test.tsx
  packages/react/src/__tests__/Caret.test.tsx
  packages/react/src/__tests__/CheckboxOrRadioGroup.test.tsx
  packages/react/src/__tests__/SideNav.test.tsx
  packages/react/src/__tests__/SubNavLink.test.tsx
  packages/react/src/__tests__/ThemeProvider.test.tsx
  packages/react/src/__tests__/__snapshots__/BaseStyles.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/Caret.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/SubNavLink.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react/src/__tests__/filterObject.test.ts
  packages/react/src/__tests__/theme.test.ts
  packages/react/src/__tests__/themeGet.test.ts
  packages/react/src/__tests__/useSafeTimeout.test.tsx
  packages/react/src/experimental/Skeleton/__tests__/SkeletonText.test.tsx
  packages/react/src/hooks/__tests__/useSafeTimeout.test.tsx
  packages/react/vitest.config.browser.mts
Labels: skip changeset, integration-tests: recommended, staff

#6216 docs(SelectPanel): add cancel gesture to onOpenChange docs
  packages/react/src/SelectPanel/SelectPanel.docs.json
Labels: skip changeset, staff

#6108 chore(ActionMenu): Add fullscreen capabilities
  .changeset/pink-trees-work.md
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
  packages/react/src/ActionMenu/ActionMenu.module.css
  packages/react/src/ActionMenu/ActionMenu.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.docs.json
  packages/react/src/AnchoredOverlay/AnchoredOverlay.module.css
  packages/react/src/AnchoredOverlay/AnchoredOverlay.tsx
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#6221 fix: Fix typo in comment - "regarless" to "regardless"
  packages/react/src/LabelGroup/LabelGroup.tsx
  packages/react/src/TreeView/useRovingTabIndex.ts
Labels: skip changeset

#6230 Chore: Fix typos in NavList tests
  packages/react/src/NavList/NavList.test.tsx
Labels: skip changeset

#6211 feat: add support for react compiler
  .changeset/clean-ends-end.md
  .github/workflows/migration-status.yml
  package-lock.json
  packages/react/.storybook/main.ts
  packages/react/babel.config.js
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/script/react-compiler.mjs
  packages/react/src/SegmentedControl/SegmentedControl.test.tsx
  packages/react/vitest.config.mts
  script/react-compiler-migration-status.mts
Labels: integration-tests: passing, integration-tests: recommended, staff

#6224 chore: Remove unnecessary theme providers
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/NavList/NavList.test.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/PageLayout/PageLayout.test.tsx
  packages/react/src/SplitPageLayout/SplitPageLayout.test.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/__tests__/deprecated/ActionList.test.tsx
  packages/react/src/experimental/SelectPanel2/SelectPanel.test.tsx
Labels: skip changeset, integration-tests: recommended, staff

#6238 chore: add @vitest/eslint-plugin recommended rules to config
  eslint.config.mjs
  package-lock.json
  package.json
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.test.tsx
Labels: skip changeset, integration-tests: recommended, staff

#6235 Prevent ActionList crash when selected prop is used without selectionVariant
  .changeset/true-lines-find.md
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Selection.tsx
Labels: integration-tests: passing

#6177 Add gap between ActionList label and `trailingVisual`
  .changeset/soft-walls-help.md
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/ActionList/Item.tsx
  packages/react/src/Autocomplete/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: recommended

#6256 Fix PageHeader context bar `font-weight`
  .changeset/angry-boats-poke.md
  packages/react/src/PageHeader/PageHeader.module.css
Labels: integration-tests: recommended
