Repository primer/react, pull requests merged in 2025-09, with the labels that each got.

#6691 fix(mcp): update url for component ids
  packages/mcp/src/primer.ts
Labels: skip changeset, staff

#6652 Remove support for `sx` from `AvatarStack` component
  .changeset/few-mails-sing.md
  e2e/components/AvatarStack.test.ts
  packages/react/src/AvatarStack/AvatarStack.dev.stories.tsx
  packages/react/src/AvatarStack/AvatarStack.docs.json
  packages/react/src/AvatarStack/AvatarStack.stories.tsx
  packages/react/src/AvatarStack/AvatarStack.tsx
Labels: integration-tests: skipped manually

#6703 Export theming utilities from styled-react
  .changeset/seven-forks-join.md
  packages/styled-react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/index.ts
Labels: staff, integration-tests: skipped manually

#6701 Banner: Should prefer aria-labelled-by over aria-label
  .changeset/hot-melons-jump.md
  packages/react/src/Banner/Banner.test.tsx
  packages/react/src/Banner/Banner.tsx
Labels: integration-tests: recommended

#6676 Remove styled-system usage - misc components
  .changeset/pretty-women-sing.md
  packages/react/src/ProgressBar/ProgressBar.module.css
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/StateLabel/StateLabel.module.css
  packages/react/src/StateLabel/StateLabel.stories.tsx
  packages/react/src/StateLabel/StateLabel.tsx
  packages/react/src/StateLabel/__tests__/__snapshots__/StateLabel.test.tsx.snap
  packages/react/src/TextInputWithTokens/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/ToggleSwitch/ToggleSwitch.module.css
  packages/react/src/ToggleSwitch/ToggleSwitch.tsx
  packages/react/src/Token/IssueLabelToken.module.css
  packages/react/src/Token/IssueLabelToken.tsx
  packages/react/src/__tests__/__snapshots__/Caret.test.tsx.snap
  packages/react/src/deprecated/ActionList/List.tsx
  packages/react/src/internal/components/Caret.module.css
  packages/react/src/internal/components/Caret.tsx
Labels: integration-tests: recommended

#6725 Aria-disabled and disabled
  packages/react/src/SegmentedControl/SegmentedControl.dev.stories.tsx
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/SegmentedControl/SegmentedControlButton.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.stories.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
Labels: integration-tests: recommended

#6704 v38: Deprecate PointerBox component
  .changeset/big-lizards-study.md
  packages/react/src/PointerBox/PointerBox.docs.json
  packages/react/src/PointerBox/PointerBox.stories.tsx
  packages/react/src/PointerBox/PointerBox.test.tsx
  packages/react/src/PointerBox/PointerBox.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/deprecated/index.ts
  packages/react/src/index.ts
Labels: integration-tests: recommended

#6625 Remove support for `sx` from `BranchName` component
  .changeset/strange-peas-kiss.md
  packages/react/src/BranchName/BranchName.docs.json
  packages/react/src/BranchName/BranchName.tsx
Labels: integration-tests: recommended

#6734 docs: add devault values for 'overflow' and 'maxHeight' in Overlay
  packages/react/src/Overlay/Overlay.docs.json
Labels: skip changeset, staff

#6738 Revert "v38: Deprecate PointerBox component (#6704)"
  .changeset/big-lizards-study.md
  packages/react/src/PointerBox/PointerBox.docs.json
  packages/react/src/PointerBox/PointerBox.stories.tsx
  packages/react/src/PointerBox/PointerBox.test.tsx
  packages/react/src/PointerBox/PointerBox.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/deprecated/index.ts
  packages/react/src/index.ts
Labels: skip changeset, integration-tests: recommended, staff

#6739 Revert "v38: Move Banner to main export (#6720)"
  .changeset/fast-countries-remain.md
  e2e/components/Banner.test.ts
  packages/react/src/Banner/Banner.docs.json
  packages/react/src/Banner/Banner.examples.stories.tsx
  packages/react/src/Banner/Banner.features.stories.tsx
  packages/react/src/Banner/Banner.figma.tsx
  packages/react/src/Banner/Banner.stories.tsx
  packages/react/src/Button/Button.examples.stories.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
  packages/react/src/index.ts
Labels: skip changeset, integration-tests: recommended, staff

#6740 chore(project): update to Node.js v24 LTS
  .devcontainer/devcontainer.json
  .github/workflows/aat-reports.yml
  .github/workflows/assign_release_conductor.yml
  .github/workflows/ci.yml
  .github/workflows/codescan.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/figma_connect_publish.yml
  .github/workflows/migration-status.yml
  .github/workflows/pull_request.yml
  .github/workflows/recommend-integration-tests.yml
  .github/workflows/release-schedule.yml
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
  .github/workflows/statuses.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/stress-tests.yml
  .github/workflows/vrt-reports.yml
  .github/workflows/vrt.yml
  .nvmrc
Labels: skip changeset, staff

#6680 Remove support for `sx` from `Details` component
  .changeset/strange-knives-study.md
  e2e/components/Details.test.ts
  packages/react/src/Details/Details.dev.stories.tsx
  packages/react/src/Details/Details.docs.json
  packages/react/src/Details/Details.tsx
Labels: integration-tests: passing

#6728 Breadcrumb overflow styling
  .changeset/hot-bears-cry.md
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-colorblind-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-dimmed-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-high-contrast-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-dark-tritanopia-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-colorblind-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-high-contrast-focus-linux.png
  .playwright/snapshots/components/Breadcrumbs.test.ts-snapshots/Breadcrumbs-Default-light-tritanopia-focus-linux.png
  packages/react/src/Breadcrumbs/Breadcrumbs.dev.stories.tsx
  packages/react/src/Breadcrumbs/Breadcrumbs.features.stories.tsx
  packages/react/src/Breadcrumbs/Breadcrumbs.module.css
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
  packages/react/src/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  packages/react/src/Breadcrumbs/__tests__/__snapshots__/BreadcrumbsItem.test.tsx.snap
Labels: integration-tests: recommended

#6722 docs(adr): add adr for @primer/styled-react
  contributor-docs/adrs/adr-022-styled-react.md
Labels: skip changeset, staff

#6843 Allow changing initially focused button in `ConfirmationDialog`
  .changeset/wet-terms-argue.md
  packages/react/src/ConfirmationDialog/ConfirmationDialog.docs.json
  packages/react/src/ConfirmationDialog/ConfirmationDialog.test.tsx
  packages/react/src/ConfirmationDialog/ConfirmationDialog.tsx
  packages/react/src/ConfirmationDialog/useConfirm.hookDocs.json
Labels: integration-tests: recommended

#6425 feat: only publish esm bundles from @primer/react
  .changeset/slick-months-cry.md
  .github/workflows/ci.yml
  .github/workflows/size.yml
  package-lock.json
  packages/react/babel-defines.cjs
  packages/react/babel.config.cjs
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/script/build
  packages/react/script/components-json/build.ts
  packages/react/script/get-export-sizes.cjs
  packages/react/script/precompile-color-schemes.ts
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
Labels: integration-tests: passing, staff

#6654 Remove support for `sx` from `Checkbox` component
  .changeset/tasty-cheetahs-pay.md
  packages/react/src/Checkbox/Checkbox.docs.json
  packages/react/src/Checkbox/Checkbox.stories.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing

#6655 Remove support for `sx` from `CheckboxGroup` component
  .changeset/tame-ducks-ring.md
  e2e/components/CheckboxGroup.test.ts
  packages/react/src/CheckboxGroup/CheckboxGroup.dev.stories.tsx
  packages/react/src/CheckboxGroup/CheckboxGroup.docs.json
  packages/react/src/CheckboxGroup/CheckboxGroup.tsx
Labels: integration-tests: passing

#6876 Remove support for `sx` from `FilteredActionList` component
  .changeset/mighty-lizards-lick.md
  packages/react/src/FilteredActionList/FilteredActionList.module.css
  packages/react/src/FilteredActionList/FilteredActionList.tsx
  packages/react/src/FilteredActionList/FilteredActionListLoaders.module.css
  packages/react/src/FilteredActionList/FilteredActionListLoaders.tsx
Labels: integration-tests: passing

#6879 chore(FilteredActionList): fix className override
  .changeset/giant-impalas-occur.md
  packages/react/src/FilteredActionList/FilteredActionList.tsx
Labels: integration-tests: recommended, staff

#6882 Delete unused DropdownStyles file
  packages/react/src/DropdownStyles.ts
Labels: skip changeset, integration-tests: passing, integration-tests: recommended, staff

#6881 Implement forced colors for progress bar
  .changeset/smooth-singers-thank.md
  packages/react/src/ProgressBar/ProgressBar.module.css
Labels: integration-tests: recommended

#6848 feat(styled-react): Add an automatic generation of a components.json file to be used in the `primer-react/use-styled-react-import` eslint plugin
  .changeset/silent-wasps-warn.md
  packages/styled-react/README.md
  packages/styled-react/package.json
  packages/styled-react/script/build
  packages/styled-react/script/generate-components-json
Labels: staff

#6863 Remove Banner from experimental
  .changeset/wicked-starfishes-shout.md
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/index.ts
Labels: integration-tests: recommended

#6854 Breadcrumbs: Fix esc button not being able to focus on the menubuttonRef
  .changeset/ten-jobs-attack.md
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
Labels: integration-tests: recommended

#6866 chore(LinkButton): remove sx from LinkButton
  .changeset/stale-avocados-enjoy.md
  eslint.config.mjs
  packages/react/src/Button/LinkButton.tsx
  packages/react/src/Button/index.ts
  packages/react/src/ButtonGroup/ButtonGroup.dev.stories.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/components/LinkButton.tsx
  packages/styled-react/src/index.tsx
  packages/styled-react/src/polymorphic.ts
Labels: integration-tests: passing, integration-tests: recommended, staff

#6679 Remove support for `sx` from `CounterLabel` component
  .changeset/sharp-papayas-destroy.md
  packages/react/src/CounterLabel/CounterLabel.docs.json
  packages/react/src/CounterLabel/CounterLabel.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6835 feat(ButtonGroup): remove support for sx
  .changeset/light-colts-burn.md
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-dimmed-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-tritanopia-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-tritanopia-linux.png
  e2e/components/ButtonGroup.test.ts
  packages/react/src/ButtonGroup/ButtonGroup.dev.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.docs.json
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6685 remove sx from RadioGroup and Truncate
  .changeset/rude-cycles-scream.md
  packages/react/src/ActionList/Description.tsx
  packages/react/src/Banner/Banner.examples.stories.module.css
  packages/react/src/Banner/Banner.examples.stories.tsx
  packages/react/src/RadioGroup/RadioGroup.tsx
  packages/react/src/RadioGroup/index.ts
  packages/react/src/Truncate/Truncate.stories.tsx
  packages/react/src/Truncate/Truncate.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/index.ts
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing

#6813 feat(InlineMessage): remove support for sx prop
  .changeset/shy-flies-marry.md
  packages/react/src/InlineMessage/InlineMessage.tsx
Labels: integration-tests: passing, staff

#6841 feat(Pagehead): remove support for sx
  .changeset/fifty-walls-yawn.md
  packages/react/src/Pagehead/Pagehead.dev.stories.tsx
  packages/react/src/Pagehead/Pagehead.docs.json
  packages/react/src/Pagehead/Pagehead.test.tsx
  packages/react/src/Pagehead/Pagehead.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6837 ProgressBar: Remove `sx`
  .changeset/three-vans-join.md
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/styled-react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/__tests__/primer-react.browser.test.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, staff

#6893 fix: update PR selection criteria in lock-release workflow to look for PRs that are BEHIND instead of mergable
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#6896 Fix PageHeader type issues
  .changeset/nasty-seals-carry.md
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/index.ts
  packages/styled-react/src/components/PageHeader.tsx
Labels: integration-tests: passing

#6861 refactor(styled-react): update structure to reduce merge conflicts
  packages/styled-react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/components/Checkbox.tsx
  packages/styled-react/src/components/CounterLabel.tsx
  packages/styled-react/src/components/PageHeader.tsx
  packages/styled-react/src/components/RadioGroup.tsx
  packages/styled-react/src/components/RelativeTime.tsx
  packages/styled-react/src/components/SegmentedControl.tsx
  packages/styled-react/src/components/Spinner.tsx
  packages/styled-react/src/components/StateLabel.tsx
  packages/styled-react/src/components/StateLabelProps.tsx
  packages/styled-react/src/components/SubNav.tsx
  packages/styled-react/src/components/Timeline.tsx
  packages/styled-react/src/components/ToggleSwitch.tsx
  packages/styled-react/src/components/Truncate.tsx
  packages/styled-react/src/components/UnderlineNav.tsx
  packages/styled-react/src/index.tsx
  packages/styled-react/src/styled-props.ts
Labels: skip changeset, integration-tests: passing, staff

#6894 Liuliu/formcontrol sx removal
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/FormControlLeadingVisual.tsx
  packages/react/src/FormControl/index.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.module.css
  packages/react/src/experimental/SelectPanel2/SelectPanel.examples.stories.tsx
  packages/react/src/index.ts
  packages/styled-react/src/components/FormControl.tsx
  packages/styled-react/src/index.tsx
Labels: skip changeset, integration-tests: passing

#6864 feat(TabNav): remove support for sx prop
  .changeset/lucky-wasps-nail.md
  packages/react/src/TabNav/TabNav.tsx
  packages/styled-react/src/__tests__/primer-react-deprecated.browser.test.tsx
  packages/styled-react/src/components/TabNav.tsx
  packages/styled-react/src/deprecated.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6812 feat(Dialog): remove support for sx
  .changeset/sweet-results-smell.md
  e2e/components/Dialog.test.ts
  packages/react/src/Dialog/Dialog.dev.stories.tsx
  packages/react/src/Dialog/Dialog.features.stories.tsx
  packages/react/src/Dialog/Dialog.module.css
  packages/react/src/Dialog/Dialog.tsx
  packages/styled-react/src/__tests__/primer-react.browser.test.tsx
  packages/styled-react/src/components/Dialog.tsx
  packages/styled-react/src/experimental.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, staff

#6872 Remove Box usage and `sx` prop from PageLayout
  .changeset/gold-geckos-send.md
  packages/react/src/PageLayout/PageLayout.dev.stories.module.css
  packages/react/src/PageLayout/PageLayout.dev.stories.tsx
  packages/react/src/PageLayout/PageLayout.module.css
  packages/react/src/PageLayout/PageLayout.stories.tsx
  packages/react/src/PageLayout/PageLayout.tsx
  packages/styled-react/src/components/PageLayout.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6868 Remove Box usage and `sx` prop from NavList and related components
  .changeset/cool-clubs-think.md
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/List.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
  packages/react/src/NavList/NavList.docs.json
  packages/react/src/NavList/NavList.tsx
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/index.ts
  packages/react/src/utils/modern-polymorphic.ts
  packages/styled-react/src/__tests__/primer-react.browser.test.tsx
  packages/styled-react/src/components/NavList.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6920 chore: add test qrapg QL query workflow
  .github/workflows/graphql-test.yml
Labels: skip changeset, staff

#6673 Remove support for `sx` from `CircleBadge` component
  .changeset/cool-apricots-sneeze.md
  .changeset/lazy-elephants-shave.md
  packages/react/src/CircleBadge/CircleBadge.docs.json
  packages/react/src/CircleBadge/CircleBadge.module.css
  packages/react/src/CircleBadge/CircleBadge.stories.tsx
  packages/react/src/CircleBadge/CircleBadge.tsx
  packages/react/src/CircleBadge/__snapshots__/CircleBadge.test.tsx.snap
  packages/styled-react/src/components/CircleBadge.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6860 feat(Heading): remove support for sx prop
  .changeset/weak-papers-drive.md
  packages/react/src/Header/Header.dev.module.css
  packages/react/src/Heading/Heading.docs.json
  packages/react/src/Heading/Heading.features.stories.tsx
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Heading/__tests__/Heading.test.tsx
  packages/styled-react/src/components/Heading.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6865 chore: remove sx from Overlay
  .changeset/lazy-gifts-join.md
  e2e/components/Overlay.test.ts
  packages/react/src/Overlay/Overlay.dev.stories.tsx
  packages/react/src/Overlay/Overlay.docs.json
  packages/react/src/Overlay/Overlay.features.stories.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/styled-react/src/components/ActionMenu.tsx
  packages/styled-react/src/components/Autocomplete.tsx
  packages/styled-react/src/components/Overlay.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6874 Remove sx from UnderlinePanels
  .changeset/chilly-lemons-promise.md
  packages/react/src/UnderlineNav/UnderlineNav.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
  packages/react/src/internal/components/UnderlineTabbedInterface.tsx
  packages/styled-react/src/components/TabNav.tsx
  packages/styled-react/src/components/UnderlinePanels.tsx
  packages/styled-react/src/experimental.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6924 chore: unskip tests
  packages/styled-react/src/__tests__/primer-react-deprecated.browser.test.tsx
  packages/styled-react/src/__tests__/primer-react.browser.test.tsx
Labels: skip changeset, staff

#6910 chore: use forwardedAs prop in styled-react
  .changeset/afraid-eyes-serve.md
  packages/styled-react/src/__tests__/primer-react-deprecated.browser.test.tsx
  packages/styled-react/src/__tests__/primer-react-experimental.browser.test.tsx
  packages/styled-react/src/__tests__/primer-react.browser.test.tsx
  packages/styled-react/src/components/Breadcrumbs.tsx
  packages/styled-react/src/components/Header.tsx
  packages/styled-react/src/components/Label.tsx
  packages/styled-react/src/components/Link.tsx
  packages/styled-react/src/components/PageHeader.tsx
  packages/styled-react/src/components/StateLabelProps.tsx
  packages/styled-react/src/components/TabNav.tsx
  packages/styled-react/src/components/UnderlineNav.tsx
Labels: integration-tests: passing, staff

#6690 Remove sx prop support from the `Token` component
  .changeset/chubby-buses-greet.md
  packages/react/src/TextInputWithTokens/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/Token/Token.dev.stories.tsx
  packages/react/src/Token/Token.docs.json
  packages/react/src/Token/Token.tsx
  packages/react/src/Token/TokenBase.tsx
  packages/react/src/Token/_RemoveTokenButton.tsx
  packages/react/src/Token/_TokenTextContainer.tsx
  packages/react/src/Token/__tests__/Token.types.test.tsx
  packages/styled-react/src/components/Token.tsx
  packages/styled-react/src/index.tsx
Labels: integration-tests: passing
