Repository primer/react, pull requests merged in 2025-01, with the labels that each got.

#5487 fix: Set static date in DataTable feature stories
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-dark-colorblind-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-dark-dimmed-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-dark-high-contrast-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-dark-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-dark-tritanopia-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-light-colorblind-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-light-high-contrast-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-light-linux.png
  .playwright/snapshots/components/DataTable.test.ts-snapshots/DataTable-With-Overflow-light-tritanopia-linux.png
  packages/react/src/DataTable/DataTable.features.stories.tsx
Labels: status: review needed, skip changeset, staff

#5441 test: add check for story ids in generated docs
  .changeset/hungry-mugs-stare.md
  .github/workflows/ci.yml
  package-lock.json
  packages/react/package.json
  packages/react/script/components-json/build.ts
  packages/react/src/Button/IconButton.docs.json
  packages/react/src/Button/IconButton.features.stories.tsx
  packages/react/src/Hidden/Hidden.docs.json
  packages/react/src/InlineMessage/InlineMessage.docs.json
  packages/react/src/Portal/Portal.docs.json
  packages/react/src/TooltipV2/Tooltip.docs.json
Labels: status: review needed, skip changeset, integration-tests: recommended, staff

#5454 update figma code connect dependency
  package-lock.json
  package.json
  packages/react/package.json
Labels: skip changeset, integration-tests: recommended

#5496 Revert "chore(Skeleton): Remove the CSS module feature flag from Skeleton"
  .changeset/thirty-wasps-sleep.md
  packages/react/src/experimental/Skeleton/FeatureFlag.tsx
  packages/react/src/experimental/Skeleton/SkeletonAvatar.tsx
  packages/react/src/experimental/Skeleton/SkeletonBox.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.tsx
Labels: integration-tests: recommended, staff

#5497 Revert "chore(Select): Remove CSS modules feature flag from Select"
  .changeset/violet-tables-eat.md
  packages/react/src/Select/Select.tsx
Labels: integration-tests: recommended, staff

#5495 Revert "chore(Header): Remove CSS modules feature flag from Header"
  .changeset/shaggy-comics-whisper.md
  packages/react/src/Header/Header.tsx
  packages/react/src/__tests__/Header.test.tsx
Labels: integration-tests: recommended, staff

#5493 chore(npm): update cli in corepack to 11.0.0
  package.json
Labels: skip changeset, staff

#5488 Pagination: Accessibility enhancements
  .changeset/eighty-carpets-rush.md
  packages/react/src/Pagination/Pagination.stories.tsx
  packages/react/src/Pagination/model.tsx
Labels: integration-tests: recommended

#5503 Update accessibility-alt-text-bot.yml
  .github/workflows/accessibility-alt-text-bot.yml
Labels: skip changeset

#5508 Revert "chore(npm): update cli in corepack to 11.0.0"
  package.json
Labels: skip changeset

#5458 chore(Details): Remove CSS modules feature flag from Details
  .changeset/mean-plants-cover.md
  packages/react/src/Details/Details.tsx
  packages/react/src/Details/__tests__/Details.test.tsx
Labels: integration-tests: passing, staff

#5462 chore(Pagehead): Remove the CSS module feature flag from Pagehead
  .changeset/two-jokes-compete.md
  packages/react/src/Pagehead/Pagehead.stories.tsx
  packages/react/src/Pagehead/Pagehead.test.tsx
  packages/react/src/Pagehead/Pagehead.tsx
  packages/react/src/Pagehead/Pagehead.types.test.tsx
Labels: integration-tests: passing, staff

#5457 chore(ButtonGroup): Remove CSS modules feature flag from ButtonGroup
  .changeset/lemon-files-complain.md
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-dimmed-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-dark-tritanopia-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-colorblind-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-high-contrast-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-linux.png
  .playwright/snapshots/components/ButtonGroup.test.ts-snapshots/ButtonGroup-SX-Prop-light-tritanopia-linux.png
  e2e/components/ButtonGroup.test.ts
  packages/react/src/ButtonGroup/ButtonGroup.dev.stories.tsx
  packages/react/src/ButtonGroup/ButtonGroup.tsx
Labels: integration-tests: passing, staff

#5463 chore(Radio): Remove CSS modules feature flag from Radio
  .changeset/two-apples-juggle.md
  packages/react/src/Radio/Radio.tsx
  packages/react/src/__tests__/Radio.test.tsx
Labels: integration-tests: passing, staff

#5507 chore(deps): update storybook dependencies together
  .github/dependabot.yml
  package-lock.json
  packages/react/package.json
Labels: skip changeset, integration-tests: recommended, staff

#5517 fix: ActionList.LinkItem duplicate classes
  .changeset/little-shrimps-hug.md
  packages/react/src/ActionList/Item.tsx
Labels: integration-tests: recommended, staff

#5518 Update dependabot.yml
  .github/dependabot.yml
Labels: skip changeset, staff

#5522 chore: sync with v37.9.1
  .changeset/little-shrimps-hug.md
  examples/app-router/package.json
  examples/codesandbox/package.json
  examples/theming/package.json
  package-lock.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: integration-tests: recommended, staff

#5422 chore(deps): update @primer/octicons-react to 19.14.0
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Pull-Request-Page-on-Narrow-Viewport-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-With-Page-Layout-light-colorblind-linux.png
  .playwright/snapshots/components/UnderlineNav.test.ts-snapshots/UnderlineNav-Pull-Request-Page-light-colorblind-linux.png
  examples/theming/package.json
  package-lock.json
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/Octicon/Octicon.tsx
  packages/react/src/StateLabel/__tests__/__snapshots__/StateLabel.test.tsx.snap
  packages/react/src/Token/__tests__/__snapshots__/Token.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
Labels: skip changeset, do not merge, integration-tests: recommended, staff

#5499 Add landing page and upload vrt/aat reports to GitHub Pages
  .github/workflows/ci.yml
  .github/workflows/deploy_preview.yml
  packages/react/.storybook/index.html
  script/build-storybook
Labels: integration-tests: recommended

#5523 Fix `deploy_preview.yml` workflow
  .github/workflows/deploy_preview.yml
Labels: skip changeset, integration-tests: recommended

#5526 Fixing deploy_preview workflow
  .github/workflows/deploy_preview.yml
  packages/react/.storybook/storybook.css
Labels: integration-tests: recommended

#5535 Fix Prod Storybook deployment
  package.json
  script/build-docs
  script/build-storybook
Labels: skip changeset

#5536 revert: restore deploy preview behavior
  .github/workflows/ci.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_with_reports.yml
  package.json
  packages/react/.storybook/index.html
  packages/react/.storybook/index_with_reports.html
  script/build-docs
  script/build-storybook
Labels: skip changeset, integration-tests: recommended, staff

#5538 Update adr-010-drafts-are-experimental.md
  contributor-docs/adrs/adr-010-drafts-are-experimental.md
Labels: skip changeset, staff

#5537 Deploy preview with VRT/AAT reports (Take Two)
  .github/workflows/ci.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_with_reports.yml
  package.json
  packages/react/.storybook/index.html
  packages/react/.storybook/index_with_reports.html
  packages/react/package.json
  script/build-docs
  script/build-storybook
Labels: integration-tests: recommended

#5543 Revert "Deploy preview with VRT/AAT reports (Take Two)"
  .github/workflows/ci.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_with_reports.yml
  package.json
  packages/react/.storybook/index.html
  packages/react/.storybook/index_with_reports.html
  packages/react/package.json
  script/build-docs
  script/build-storybook
Labels: integration-tests: recommended

#5547 Add eslint-plugin-clsx
  .eslintrc.js
  package-lock.json
  package.json
Labels: integration-tests: recommended

#5504 Pagination algorithm enhancements
  .changeset/serious-melons-own.md
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-tritanopia-linux.png
  packages/react/src/Pagination/Pagination.module.css
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/Pagination/model.tsx
  packages/react/src/__tests__/Pagination/PaginationModel.test.tsx
Labels: integration-tests: recommended

#5550 [Accessibility][Storybook] Add an aria-label to the TextInput's calendar icon in the storybook loading example
  packages/react/src/TextInput/TextInput.features.stories.tsx
Labels: skip changeset

#5554 Adds data for hooks APIs
  .github/workflows/ci.yml
  package.json
  packages/react/package.json
  packages/react/script/hooks-json/build.ts
  packages/react/script/hooks-json/hook.schema.json
  packages/react/script/hooks-json/output.schema.json
  packages/react/src/ConfirmationDialog/useConfirm.hookDocs.json
  packages/react/src/FeatureFlags/useFeatureFlag.hookDocs.json
  packages/react/src/FormControl/useFormControlForwardedProps.hookDocs.json
  packages/react/src/hooks/useDetails.hookDocs.json
  packages/react/src/hooks/useFocusTrap.hookDocs.json
  packages/react/src/hooks/useFocusZone.hookDocs.json
  packages/react/src/hooks/useOnEscapePress.hookDocs.json
  packages/react/src/hooks/useOnOutsideClick.hookDocs.json
  packages/react/src/hooks/useOpenAndCloseFocus.hookDocs.json
  packages/react/src/hooks/useOverflow.hookDocs.json
  packages/react/src/hooks/useOverlay.hookDocs.json
  packages/react/src/hooks/useProvidedRefOrCreate.hookDocs.json
  packages/react/src/hooks/useRefObjectAsForwardedRef.hookDocs.json
  packages/react/src/hooks/useResizeObserver.hookDocs.json
  packages/react/src/hooks/useResponsiveValue.hookDocs.json
  packages/react/src/hooks/useSafeTimeout.hookDocs.json
  packages/react/src/useColorSchemeVar.hookDocs.json
  packages/react/src/utils/useIsomorphicLayoutEffect.hookDocs.json
  packages/react/src/utils/useTheme.hookDocs.json
Labels: skip changeset, integration-tests: recommended

#5560 Revert "Pagination algorithm enhancements"
  .changeset/serious-melons-own.md
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-tritanopia-linux.png
  packages/react/src/Pagination/Pagination.module.css
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/Pagination/model.tsx
  packages/react/src/__tests__/Pagination/PaginationModel.test.tsx
Labels: integration-tests: recommended

#5551 Avoid `TypeError` in useAnnouncements
  .changeset/giant-bees-impress.md
  packages/react/src/FilteredActionList/useAnnouncements.tsx
Labels: integration-tests: failing

#5548 docs: update dynamic button examples to use AriaAlert
  packages/react/src/Banner/Banner.docs.json
  packages/react/src/Banner/Banner.examples.stories.tsx
  packages/react/src/Button/Button.examples.stories.tsx
Labels: skip changeset

#5467 Add `flex-shrink` to IconButton + tests
  .changeset/short-fireants-jog.md
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-tritanopia-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-dark-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-dark-dimmed-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-dark-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-dark-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-dark-tritanopia-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-light-colorblind-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-light-high-contrast-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-light-linux.png
  .playwright/snapshots/components/IconButton.test.ts-snapshots/IconButton-Flex-light-tritanopia-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-colorblind-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-dimmed-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-high-contrast-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-tritanopia-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-colorblind-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-high-contrast-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-tritanopia-linux.png
  e2e/components/IconButton.test.ts
  e2e/components/drafts/ActionBar.test.ts
  packages/react/src/Button/ButtonBase.module.css
  packages/react/src/Button/IconButton.dev.stories.tsx
  packages/react/src/TreeView/TreeView.module.css
  packages/react/src/TreeView/TreeView.tsx
Labels: integration-tests: passing

#5579 Fix building components.json
  .github/workflows/ci.yml
Labels: skip changeset

#5567 Hide NavList sub items if collapsed
  .changeset/swift-baboons-compare.md
  packages/react/src/ActionList/ActionList.module.css
Labels: integration-tests: recommended

#5585 Promote ActionList to staff
  .changeset/selfish-taxis-notice.md
  packages/react/src/ActionList/featureflag.ts
Labels: integration-tests: recommended

#5578 refactor(FormControl): update FormControl to use CSS Modules behind flag
  .changeset/gentle-stingrays-search.md
  package-lock.json
  packages/react/src/FormControl/FormControl.module.css
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.module.css
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/__tests__/FormControl.test.tsx
  packages/react/src/FormControl/__tests__/useFormControlForwardedProps.test.tsx
  packages/react/src/FormControl/feature-flags.ts
  packages/react/src/internal/components/InputLabel.module.css
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/InputValidation.module.css
  packages/react/src/internal/components/InputValidation.tsx
Labels: integration-tests: failing

#5540 ActionBar: convert to CSS Modules + add new `flush` prop to adjust padding
  .changeset/shy-carpets-relax.md
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-colorblind-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-dimmed-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-high-contrast-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-dark-tritanopia-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-colorblind-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-high-contrast-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-linux.png
  .playwright/snapshots/components/drafts/ActionBar.test.ts-snapshots/drafts-ActionBar-CommentBox-light-tritanopia-linux.png
  packages/react/src/ActionBar/ActionBar.docs.json
  packages/react/src/ActionBar/ActionBar.module.css
  packages/react/src/ActionBar/ActionBar.stories.tsx
  packages/react/src/ActionBar/ActionBar.tsx
Labels: integration-tests: failing

#5564 docs: drop chevron example
  packages/react/src/Button/Button.features.stories.tsx
Labels: skip changeset

#5568 bug: ensure Announce components work without pre-existing text node
  .changeset/afraid-pianos-invent.md
  packages/react/src/live-region/Announce.tsx
  packages/react/src/live-region/__tests__/AriaAlert.test.tsx
  packages/react/src/live-region/__tests__/AriaStatus.test.tsx
Labels: integration-tests: recommended

#5584 refactor(ButtonBase): update selector to have specificty 0,1,0
  .changeset/slow-nails-reflect.md
  packages/react/src/Button/ButtonBase.module.css
Labels: staff, integration-tests: failing

#5589 Fix reflow issue in storybook example
  packages/react/src/Button/Button.features.stories.tsx
Labels: skip changeset

#5549 fix(SelectPanel): pass anchorId to AnchoredOverlay
  .changeset/tricky-ducks-pretend.md
  packages/react/src/FormControl/FormControl.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5527 Improve programmatic state management of UnderlinePanels
  .changeset/tasty-experts-fix.md
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.dev.stories.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.docs.json
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.stories.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.test.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
Labels: integration-tests: passing, integration-tests: recommended

#5591 Move multiple component's feature flags from primer_react_css_modules_staff to primer_react_css_modules_ga
  .changeset/cyan-gorillas-carry.md
  .changeset/dirty-moles-own.md
  .changeset/few-rockets-retire.md
  .changeset/flat-candles-burn.md
  .changeset/large-socks-clean.md
  .changeset/late-humans-guess.md
  .changeset/lucky-snakes-jump.md
  .changeset/pink-bats-grow.md
  .changeset/tough-tigers-vanish.md
  .changeset/tricky-avocados-live.md
  .changeset/wicked-zoos-bake.md
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/DialogV1/Dialog.tsx
  packages/react/src/Popover/Popover.tsx
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/Textarea/Textarea.tsx
  packages/react/src/Timeline/Timeline.tsx
  packages/react/src/TreeView/TreeView.tsx
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/FeatureFlag.tsx
  packages/react/src/internal/components/UnstyledTextInput.tsx
Labels: integration-tests: recommended, staff

#5574 Update Dialog import
  packages/react/src/Dialog/Dialog.docs.json
Labels: skip changeset

#5559 [Accessibility][Storybook] Add aria-labels to the multiple item progress bar + enforce aria-label in progressbar.item
  .changeset/orange-roses-give.md
  packages/react/src/ProgressBar/ProgressBar.features.stories.tsx
  packages/react/src/ProgressBar/ProgressBar.figma.tsx
  packages/react/src/ProgressBar/ProgressBar.stories.tsx
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/__tests__/ProgressBar.test.tsx
Labels: integration-tests: failing

#5466 chore(Spinner): Remove CSS modules feature flag from Spinner
  .changeset/brave-dolls-sparkle.md
  packages/react/src/Spinner/Spinner.tsx
  packages/react/src/__tests__/Spinner.test.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
Labels: integration-tests: passing, staff

#5520 chore(nextjs): rename app-router to nextjs and update to v15
  examples/nextjs/.eslintrc.cjs
  examples/nextjs/next-env.d.ts
  examples/nextjs/package.json
  examples/nextjs/src/app/global.css
  examples/nextjs/src/app/layout.tsx
  examples/nextjs/src/app/page.tsx
  examples/nextjs/src/app/registry.tsx
  examples/nextjs/tsconfig.json
  package-lock.json
Labels: skip changeset, staff

#5492 feat(react): update range to include support for 19.x
  .changeset/great-boxes-clap.md
  package-lock.json
  packages/react/package.json
Labels: staff, integration-tests: failing

#5594 Remove drag and drop in action list example
  package-lock.json
  packages/react/package.json
  packages/react/src/ActionList/ActionList.examples.stories.tsx
Labels: skip changeset, integration-tests: failing

#5609 Add landing page and upload vrt/aat reports to GitHub Pages
  .github/workflows/aat-reports.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/vrt-reports.yml
  packages/react/.storybook/index.html
  script/build-storybook
Labels: skip changeset, integration-tests: recommended

#5610 Moving CSS component feature flag for multiple components from `team` to `staff`
  .changeset/giant-rocks-carry-1.md
  .changeset/giant-rocks-carry-10.md
  .changeset/giant-rocks-carry-11.md
  .changeset/giant-rocks-carry-12.md
  .changeset/giant-rocks-carry-13.md
  .changeset/giant-rocks-carry-14.md
  .changeset/giant-rocks-carry-15.md
  .changeset/giant-rocks-carry-16.md
  .changeset/giant-rocks-carry-17.md
  .changeset/giant-rocks-carry-18.md
  .changeset/giant-rocks-carry-19.md
  .changeset/giant-rocks-carry-2.md
  .changeset/giant-rocks-carry-20.md
  .changeset/giant-rocks-carry-21.md
  .changeset/giant-rocks-carry-3.md
  .changeset/giant-rocks-carry-4.md
  .changeset/giant-rocks-carry-5.md
  .changeset/giant-rocks-carry-6.md
  .changeset/giant-rocks-carry-7.md
  .changeset/giant-rocks-carry-8.md
  .changeset/giant-rocks-carry-9.md
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
  packages/react/src/Autocomplete/AutocompleteOverlay.tsx
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/BaseStyles.tsx
  packages/react/src/ConfirmationDialog/ConfirmationDialog.tsx
  packages/react/src/DataTable/Table.tsx
  packages/react/src/Hidden/Hidden.tsx
  packages/react/src/InlineMessage/InlineMessage.tsx
  packages/react/src/KeybindingHint/KeybindingHint.tsx
  packages/react/src/NavList/NavList.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/PageLayout/PageLayout.tsx
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/SegmentedControl/getSegmentedControlStyles.ts
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/SideNav.tsx
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/Token/AvatarToken.tsx
  packages/react/src/Token/IssueLabelToken.tsx
  packages/react/src/Token/Token.tsx
  packages/react/src/Token/TokenBase.tsx
  packages/react/src/Token/_RemoveTokenButton.tsx
  packages/react/src/Token/_TokenTextContainer.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.tsx
  packages/react/src/internal/components/UnderlineTabbedInterface.tsx
Labels: integration-tests: recommended, staff

#5607 Add hooks.json build to build script
  packages/react/script/build
Labels: skip changeset, integration-tests: recommended

#5611 Revert "Add landing page and upload vrt/aat reports to GitHub Pages"
  .github/workflows/aat-reports.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/vrt-reports.yml
  packages/react/.storybook/index.html
  script/build-storybook
Labels: skip changeset, integration-tests: recommended, staff

#5608 feat(AvatarStack): add style prop
  .changeset/nervous-planets-kneel.md
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/__tests__/AvatarStack.test.tsx
Labels: integration-tests: recommended

#5613 Add landing page and upload vrt/aat reports to GitHub Pages
  .github/workflows/aat-reports.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/reports.yml
  .github/workflows/vrt-reports.yml
  packages/react/.storybook/index.html
  script/build-storybook
Labels: skip changeset, integration-tests: recommended

#5606 fix(BaseStyles): remove unknown props from fallback when feature flag is enabled
  .changeset/angry-ties-push.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Css-light-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-and-Css-light-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Sx-light-tritanopia-modern-action-list--true-linux.png
  packages/react/.storybook/preview.jsx
  packages/react/src/BaseStyles.module.css
  packages/react/src/BaseStyles.tsx
  packages/react/src/FeatureFlags/FeatureFlags.tsx
Labels: integration-tests: recommended, staff

#5604 chore(deps): update @playwright/test to 1.50.0
  .github/workflows/aat-reports.yml
  .github/workflows/vrt-reports.yml
  .github/workflows/vrt.yml
  package-lock.json
  package.json
Labels: skip changeset, staff

#5174 TreeView: Add `aria-label` to `TreeView` subtree
  .changeset/ten-mirrors-refuse.md
  packages/react/src/TreeView/TreeView.docs.json
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/TreeView/TreeView.tsx
Labels: integration-tests: recommended

#5612 Revert "[Accessibility][Storybook] Add aria-labels to the multiple item progress bar + enforce aria-label in progressbar.item"
  .changeset/orange-roses-give.md
  packages/react/src/ProgressBar/ProgressBar.features.stories.tsx
  packages/react/src/ProgressBar/ProgressBar.figma.tsx
  packages/react/src/ProgressBar/ProgressBar.stories.tsx
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/__tests__/ProgressBar.test.tsx
Labels: integration-tests: passing, staff

#5595 fix(useResizeObserver): undefined variable alternative
  .changeset/cyan-shirts-drive.md
  packages/react/src/hooks/useResizeObserver.ts
Labels: integration-tests: passing, staff

#5618 fix(FormControl): fix spacing in vertical layouts
  .changeset/sour-snakes-clap.md
  packages/react/src/FormControl/FormControl.tsx
Labels: integration-tests: recommended

#5619 Update sour-snakes-clap.md from minor to patch
  .changeset/sour-snakes-clap.md
Labels: skip changeset, staff

#5593 [SelectPanel] Fix experimental SelectPanel anchoring behavior
  .changeset/gentle-planets-grab.md
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
Labels: integration-tests: passing, integration-tests: recommended

#5590 Reintroduce Pagination algorithm enhancements
  .changeset/serious-melons-own.md
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Default-light-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Dev-Default-light-tritanopia-linux.png
  packages/react/src/Pagination/Pagination.module.css
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/Pagination/model.tsx
  packages/react/src/__tests__/Pagination/PaginationModel.test.tsx
Labels: integration-tests: passing

#5630 Bump upload-artifact from v3 to v4
  .github/workflows/vrt.yml
Labels: skip changeset

#5139 [Select panel] Loading states re-submission
  .changeset/selfish-garlics-approve.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Initial-with-Underflowing-Items-After-Fetch-light-tritanopia-modern-action-list--true-linux.png
  packages/react/src/FilteredActionList/FilteredActionListLoaders.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithDeprecatedActionList.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/FilteredActionList/useAnnouncements.tsx
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/TextInput/TextInput.tsx
  packages/react/src/experimental/Skeleton/SkeletonBox.tsx
Labels: staff, integration-tests: failing

#5592 [Axe] Run axe across all stories
  e2e/components/Axe.test.ts
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
  packages/react/src/ActionMenu/ActionMenu.tsx
  packages/react/src/Banner/Banner.stories.tsx
  packages/react/src/Button/ButtonBase.tsx
  packages/react/src/ButtonGroup/ButtonGroup.features.stories.tsx
  packages/react/src/FilteredActionList/FilteredActionList.stories.tsx
  packages/react/src/Header/Header.dev.module.css
  packages/react/src/Header/Header.dev.stories.tsx
  packages/react/src/ProgressBar/ProgressBar.features.stories.tsx
  packages/react/src/UnderlineNav/UnderlineNav.dev.stories.tsx
  packages/react/src/__tests__/ActionMenu.types.test.tsx
  packages/react/src/__tests__/storybook.test.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.stories.tsx
  packages/react/src/stories/deprecated/ActionMenu.stories.tsx
Labels: skip changeset, integration-tests: recommended

#5627 chore: sync with v37.11.2
  .changeset/sour-snakes-clap.md
  examples/codesandbox/package.json
  examples/nextjs/package.json
  examples/theming/package.json
  package-lock.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: skip changeset, integration-tests: recommended, staff
