Repository primer/react, pull requests merged in 2025-04, with the labels that each got.

#5860 Correct Markdown in `FormControl` component API docs
  packages/react/src/FormControl/FormControl.docs.json
Labels: skip changeset

#5858 chore(SelectPanel): do not show selected items in search results unless included by the query
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-high-contrast-linux.png
  packages/react/src/SelectPanel/SelectPanel.dev.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.stories.tsx
Labels: skip changeset, staff

#5693 chore(SkeletonBox): promote to Alpha
  .changeset/dirty-squids-train.md
  e2e/components/Skeletons.test.ts
  packages/react/src/FilteredActionList/FilteredActionListLoaders.module.css
  packages/react/src/FilteredActionList/FilteredActionListLoaders.tsx
  packages/react/src/Skeleton/SkeletonBox.docs.json
  packages/react/src/Skeleton/SkeletonBox.features.stories.tsx
  packages/react/src/Skeleton/SkeletonBox.figma.tsx
  packages/react/src/Skeleton/SkeletonBox.module.css
  packages/react/src/Skeleton/SkeletonBox.stories.tsx
  packages/react/src/Skeleton/SkeletonBox.tsx
  packages/react/src/Skeleton/__tests__/SkeletonBox.test.tsx
  packages/react/src/Skeleton/index.ts
  packages/react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/react/src/experimental/Skeleton/SkeletonAvatar.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.tsx
  packages/react/src/experimental/Skeleton/index.ts
  packages/react/src/index.ts
Labels: update snapshots, integration-tests: passing, integration-tests: recommended, staff

#5864 Update dirty-squids-train.md
  .changeset/dirty-squids-train.md
Labels: staff

#5861 Simplify arguments for toggle component helper function
  .changeset/old-lemons-film.md
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/UnderlineTabbedInterface.tsx
  packages/react/src/internal/utils/__tests__/toggleSxComponent.test.tsx
  packages/react/src/internal/utils/toggleSxComponent.tsx
Labels: integration-tests: recommended

#5830 Hide tooltips on `touchend` event
  .changeset/chilly-jars-jog.md
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended

#5871 chore(AvatarStack): Remove the CSS modules feature flag from the AvatarStack component
  .changeset/famous-emus-chew.md
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
  packages/react/src/internal/utils/toggleSxComponent.tsx
Labels: integration-tests: passing, staff

#5876 chore(SideNav): Remove the CSS modules feature flag from the SideNav component
  .changeset/fluffy-moments-move.md
  packages/react/src/SideNav.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5873 chore(TextArea): Remove the CSS modules feature flag for the TextArea component
  .changeset/chubby-coats-knock.md
  packages/react/src/Textarea/TextArea.module.css
  packages/react/src/Textarea/Textarea.tsx
  packages/react/src/__tests__/Textarea.test.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5879 TEST: Revert "chore(AvatarStack): Remove the CSS modules feature flag from the AvatarStack component"
  .changeset/famous-emus-chew.md
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/__tests__/__snapshots__/AvatarStack.test.tsx.snap
  packages/react/src/internal/utils/toggleSxComponent.tsx
Labels: skip changeset, integration-tests: passing, staff

#5881 Adding margin around notice styles
  .changeset/twenty-crabs-try.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-features--with-notice-light-modern-action-list--true-linux.png
  e2e/components/SelectPanel.test.ts
  packages/react/src/SelectPanel/SelectPanel.module.css
Labels: integration-tests: recommended

#5882 chore(SelectPanel): remove css modules feature flag
  .changeset/funny-toys-agree.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5900 chore(ActionList.Heading): Remove the CSS modules feature flag from the ActionList.Heading component
  .changeset/beige-bags-look.md
  packages/react/src/ActionList/Heading.test.tsx
  packages/react/src/ActionList/Heading.tsx
Labels: integration-tests: passing, staff

#5904 fix(SelectPanel): disable body scroll on full screen
  .changeset/tasty-games-trade.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5757 Add Figma Code connect PageHeader
  packages/react/src/Button/IconButton.figma.tsx
  packages/react/src/PageHeader/PageHeader.figma.tsx
Labels: skip changeset, integration-tests: recommended

#5908 fix(SelectPanel): differentiate onCancel gesture from escape
  .changeset/olive-kangaroos-wonder.md
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5866 Correct inactive ActionList.Item behavior in NavList and SelectPanel contexts
  .changeset/floppy-peaches-obey.md
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-dark-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-dark-dimmed-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-dark-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-dark-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-dark-tritanopia-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-light-colorblind-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-light-high-contrast-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-light-linux.png
  .playwright/snapshots/components/ActionList.test.ts-snapshots/ActionList-Inactive-Multiselect-light-tritanopia-linux.png
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Item.test.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/Visuals.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: integration-tests: failing

#5912 fix(SelectPanel): always show x button on single select
  .changeset/light-snakes-deny.md
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5875 chore(BranchName): Remove the CSS modules feature flag from the BranchName component
  .changeset/fancy-webs-hear.md
  packages/react/src/BranchName/BranchName.tsx
Labels: integration-tests: passing, staff

#5788 chore(Table): Remove the CSS modules feature flag from the Table component
  .changeset/dull-kangaroos-relax.md
  packages/react/src/DataTable/Table.tsx
  packages/react/src/DataTable/__tests__/Table.test.tsx
Labels: integration-tests: passing, staff

#5868 chore(Text): Remove the CSS modules feature flag from the Text component
  .changeset/ripe-paws-wave.md
  packages/react/src/Text/Text.tsx
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/ThemeProvider.test.tsx.snap
  packages/react/src/internal/utils/toggleSxComponent.tsx
Labels: integration-tests: passing, staff

#5870 chore(Stack): Remove the CSS modules feature flag from the Stack component
  .changeset/slick-chicken-marry.md
  packages/react/src/Stack/Stack.tsx
  packages/react/src/Stack/__tests__/Stack.test.tsx
Labels: integration-tests: passing, staff

#5874 chore(Breadcrumbs): Remove the CSS modules feature flag from the Breadcrumbs component
  .changeset/long-numbers-vanish.md
  packages/react/src/Breadcrumbs/Breadcrumbs.tsx
  packages/react/src/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  packages/react/src/Breadcrumbs/__tests__/__snapshots__/BreadcrumbsItem.test.tsx.snap
Labels: integration-tests: passing, staff

#5925 chore: Cleanup test feature flag calls from already shipped components
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Description.test.tsx
  packages/react/src/ActionList/Group.test.tsx
  packages/react/src/ActionList/Item.test.tsx
  packages/react/src/ActionMenu/ActionMenu.dev.stories.tsx
  packages/react/src/Banner/Banner.test.tsx
  packages/react/src/BranchName/__tests__/BranchName.test.tsx
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/ButtonGroup/ButtonGroup.test.tsx
  packages/react/src/Checkbox/Checkbox.test.tsx
  packages/react/src/CounterLabel/CounterLabel.test.tsx
  packages/react/src/Dialog/Dialog.dev.stories.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/DialogV1/Dialog.test.tsx
  packages/react/src/Header/Header.dev.stories.tsx
  packages/react/src/Heading/__tests__/Heading.test.tsx
  packages/react/src/Link/__tests__/Link.test.tsx
  packages/react/src/SelectPanel/SelectPanel.dev.stories.tsx
  packages/react/src/Stack/__tests__/StackItem.test.tsx
  packages/react/src/TextInput/TextInput.dev.stories.tsx
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/__tests__/Autocomplete.test.tsx
  packages/react/src/__tests__/Avatar.test.tsx
  packages/react/src/__tests__/AvatarStack.test.tsx
  packages/react/src/__tests__/Box.test.tsx
  packages/react/src/__tests__/Label.test.tsx
  packages/react/src/__tests__/Popover.test.tsx
  packages/react/src/__tests__/ProgressBar.test.tsx
  packages/react/src/__tests__/Radio.test.tsx
  packages/react/src/__tests__/Select.test.tsx
  packages/react/src/__tests__/TextInput.test.tsx
  packages/react/src/__tests__/TextInputWithTokens.test.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.test.tsx
Labels: skip changeset, integration-tests: recommended

#5913 Update data table pagination pageEnd to handle zero based index
  .changeset/weak-spiders-love.md
  packages/react/src/DataTable/Pagination.tsx
  packages/react/src/DataTable/__tests__/Pagination.test.tsx
Labels: update snapshots, integration-tests: passing, integration-tests: recommended

#5919 refactor: add BoxWithFallback component to use with sx
  packages/react/src/BranchName/BranchName.tsx
  packages/react/src/DataTable/Table.tsx
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/SideNav.tsx
  packages/react/src/internal/components/BoxWithFallback.tsx
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/UnderlineTabbedInterface.tsx
Labels: skip changeset, integration-tests: recommended, staff

#5931 Adds className prop to UnderlineNav component.
  .changeset/yummy-files-look.md
  packages/react/src/UnderlineNav/UnderlineNav.test.tsx
  packages/react/src/UnderlineNav/UnderlineNav.tsx
Labels: integration-tests: recommended

#5930 fix(SelectPanel): use dvh units for full screen when available
  .changeset/few-papayas-promise.md
  packages/react/src/Overlay/Overlay.module.css
Labels: integration-tests: passing, staff

#5883 Add Modal variant with declarative buttons to PRC SelectPanel
  .changeset/selectpanel-modal.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-responsive-width-light-modern-action-list--true-full-screen-on-narrow--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-light-colorblind-linux.png
  e2e/components/SelectPanel.test.ts
  packages/react/src/ActionList/Selection.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/AnchoredOverlay/AnchoredOverlay.tsx
  packages/react/src/Overlay/Overlay.docs.json
  packages/react/src/Overlay/Overlay.module.css
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/Radio/Radio.tsx
  packages/react/src/SelectPanel/SelectPanel.dev.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/deprecated/ActionList/Item.tsx
  packages/react/src/deprecated/ActionList/List.tsx
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
Labels: integration-tests: passing, integration-tests: recommended

#5937 version `@primer/react` to `v37.19.1`
  .changeset/weak-spiders-love.md
  examples/codesandbox/package.json
  examples/nextjs/package.json
  examples/theming/package.json
  package-lock.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Labels: integration-tests: recommended, staff

#5950 Update snapshots
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-high-contrast-linux.png
Labels: skip changeset, staff

#5951 test(e2e): remove flaky e2e test
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-colorblind-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-dimmed-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-high-contrast-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-tritanopia-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-light-colorblind-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-light-high-contrast-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-light-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-light-tritanopia-linux.png
  e2e/components/drafts/SelectPanel.test.ts
Labels: skip changeset, staff

#5940 Update browserslist
  package-lock.json
Labels: skip changeset

#5929 Add the framework required to run component stress tests
  .changeset/eleven-crabs-achieved.md
  .github/workflows/stress-tests.yml
  e2e/components/StressTests.test.ts
  e2e/stress-test-reporter.ts
  package-lock.json
  packages/react/package.json
  packages/react/src/ActionList/ActionList.stress.dev.stories.tsx
  packages/react/src/Button/Button.stress.dev.stories.tsx
  packages/react/src/Pagination/Pagination.stress.dev.stories.tsx
  packages/react/src/TreeView/TreeView.stress.dev.stories.tsx
  packages/react/src/utils/StressTest.module.css
  packages/react/src/utils/StressTest.tsx
  playwright.config.ts
Labels: integration-tests: recommended

#5953 chore(lock-release): add step to the Lock/Unlock workflow to update PRs with toggled merge when ready
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#5958 fix(LinkItem): pass through variant prop when flag is disabled
  .changeset/mighty-shrimps-shake.md
  packages/react/src/ActionList/LinkItem.tsx
Labels: integration-tests: recommended, staff

#5956 Introduce Save and close on SelectPanel
  .changeset/small-dog-bark.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-responsive-width-light-modern-action-list--true-full-screen-on-narrow--true-linux.png
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: recommended

#5962 Fix spacing for SelectPanel header on modal to better align with x button
  .changeset/long-boats-swim.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Multi-Select-Modal-light-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-Modal-light-tritanopia-modern-action-list--true-linux.png
  packages/react/src/SelectPanel/SelectPanel.module.css
Labels: integration-tests: recommended

#5965 fix Workflow for unlocking release, add the repo argument to gh cli command
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#5957 Improve adr-000-template.md
  contributor-docs/adrs/adr-000-template.md
Labels: skip changeset, staff

#5970 chore(TextInput): Remove the CSS modules feature flag from the TextInput component
  .changeset/empty-cooks-love.md
  packages/react/src/TextInputWithTokens/TextInputWithTokens.module.css
  packages/react/src/TextInputWithTokens/TextInputWithTokens.tsx
  packages/react/src/__tests__/TextInput.test.tsx
  packages/react/src/__tests__/TextInputWithTokens.test.tsx
  packages/react/src/__tests__/Textarea.test.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputInnerAction.module.css
  packages/react/src/internal/components/TextInputInnerAction.tsx
  packages/react/src/internal/components/TextInputInnerVisualSlot.module.css
  packages/react/src/internal/components/TextInputInnerVisualSlot.tsx
  packages/react/src/internal/components/TextInputWrapper.tsx
  packages/react/src/internal/components/UnstyledTextInput.tsx
Labels: integration-tests: passing, staff

#5872 chore(TooltipV2): Remove the CSS modules feature flag from the TooltipV2 component
  .changeset/petite-women-notice.md
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended, staff

#5969 chore(Dialog): Remove the CSS modules feature flag from the Dialog component
  .changeset/open-bananas-smile.md
  packages/react/src/Dialog/Dialog.dev.stories.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/DialogV1/Dialog.module.css
  packages/react/src/DialogV1/Dialog.test.tsx
  packages/react/src/DialogV1/Dialog.tsx
Labels: integration-tests: passing, staff

#5968 chore: Cleanup the primer_react_css_modules_staff flag from the codebase
  .changeset/heavy-mangos-stay.md
  .github/workflows/aat-reports.yml
  .github/workflows/vrt-reports.yml
  packages/react/.storybook/preview.jsx
  packages/react/src/FeatureFlags/DefaultFeatureFlags.ts
  packages/react/src/NavList/NavList.tsx
Labels: skip changeset, staff, integration-tests: skipped manually

#5934 chore(TreeView): Remove the CSS modules feature flag from the TreeView component
  .changeset/thick-teams-taste.md
  packages/react/src/TreeView/TreeView.test.tsx
  packages/react/src/TreeView/TreeView.tsx
Labels: integration-tests: passing, staff

#5959 Fix buttonbase props documentation
  packages/react/src/Button/types.ts
Labels: skip changeset, integration-tests: recommended

#5947 Remove deleted components from e2e generation script
  script/generate-e2e-tests.js
Labels: skip changeset

#5973 feat: add automatic transform for jsx runtime
  .changeset/wise-gifts-see.md
  packages/react/babel.config.js
  packages/react/rollup.config.mjs
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/__tests__/Pagination/Pagination.test.tsx
Labels: integration-tests: passing, staff

#5983 chore(ProgressBar): Remove the CSS modules feature flag from the ProgressBar component
  .changeset/tough-radios-burn.md
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/__tests__/ProgressBar.test.tsx
  packages/react/src/__tests__/__snapshots__/ProgressBar.test.tsx.snap
Labels: integration-tests: passing, staff

#5982 chore(Overlay): Remove the CSS modules feature flag from the Overlay component
  .changeset/modern-doodles-learn.md
  packages/react/src/Overlay/Overlay.test.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
Labels: integration-tests: passing, staff

#5981 chore(BaseStyles): Remove the CSS modules feature flag from the BaseStyles component
  .changeset/cuddly-facts-speak.md
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-dark-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-light-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-light-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Style-Props-light-tritanopia-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-dark-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-light-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-light-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-Sx-Props-light-tritanopia-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-dark-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-dark-dimmed-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-dark-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-dark-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-dark-tritanopia-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-light-colorblind-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-light-high-contrast-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-light-linux.png
  .playwright/snapshots/components/BaseStyles.test.ts-snapshots/BaseStyles-Dev-With-System-Props-light-tritanopia-linux.png
  e2e/components/BaseStyles.test.ts
  packages/react/src/BaseStyles.dev.stories.tsx
  packages/react/src/BaseStyles.tsx
  packages/react/src/__tests__/BaseStyles.test.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/BaseStyles.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended, staff

#5869 Fix extra padding on SelectPanel with groups
  .changeset/fresh-lights-wink.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-high-contrast-linux.png
  packages/react/src/ActionList/ActionList.docs.json
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/ActionList/ActionList.stories.tsx
  packages/react/src/ActionList/Heading.module.css
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/deprecated/ActionList/List.tsx
Labels: status: review needed, integration-tests: passing

#5916 docs: add css layers adr
  contributor-docs/adrs/adr-021-css-layers.md
Labels: skip changeset, staff
