Repository primer/react, pull requests merged in 2025-08, with the labels that each got.

#6435 Migrate ActionMenu tests to vitest
  packages/react/jest.config.js
  packages/react/src/ActionMenu/ActionMenu.test.tsx
  packages/react/vitest.config.browser.mts
Labels: skip changeset, integration-tests: recommended

#6428 Update AnchoredOverlay.features.stories.tsx stories to no longer use styled-components
  packages/react/src/AnchoredOverlay/AnchoredOverlay.features.stories.module.css
  packages/react/src/AnchoredOverlay/AnchoredOverlay.features.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6440 Update Checkbox stories to no longer use styled-components
  packages/react/src/Checkbox/Checkbox.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6441 chore(deps): update storybook to v9.1.0
  package-lock.json
  packages/react/package.json
  packages/react/src/DataTable/storyHelpers.ts
  packages/react/src/Link/__tests__/__snapshots__/Link.test.tsx.snap
  packages/react/src/Popover/__snapshots__/Popover.test.tsx.snap
  packages/react/src/Stack/Stack.stories.tsx
  packages/react/src/utils/form-story-helpers.tsx
  packages/react/src/utils/story-helpers.tsx
Labels: skip changeset, integration-tests: recommended, staff

#4744 Accessibility fixes for ToggleSwitch
  .changeset/honest-gorillas-drive.md
  packages/react/src/ToggleSwitch/ToggleSwitch.docs.json
  packages/react/src/ToggleSwitch/ToggleSwitch.features.stories.tsx
  packages/react/src/ToggleSwitch/ToggleSwitch.figma.tsx
  packages/react/src/ToggleSwitch/ToggleSwitch.test.tsx
  packages/react/src/ToggleSwitch/ToggleSwitch.tsx
  packages/react/src/live-region/Announce.tsx
  src/ToggleSwitch/__snapshots__/ToggleSwitch.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended

#6449 Update ConfirmationDialog.features.stories.tsx to no longer use styled-components
  packages/react/src/ConfirmationDialog/ConfirmationDialog.features.stories.module.css
  packages/react/src/ConfirmationDialog/ConfirmationDialog.features.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6448 Update CheckboxGroup.features.stories.tsx to no longer use styled-components
  packages/react/src/CheckboxGroup/CheckboxGroup.features.stories.module.css
  packages/react/src/CheckboxGroup/CheckboxGroup.features.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6452 refactor(project): remove support for jest
  .github/workflows/ci.yml
  .github/workflows/migration-status.yml
  contributor-docs/CONTRIBUTING.md
  contributor-docs/testing.md
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
  packages/postcss-preset-primer/config/transform/jsTransform.js
  packages/postcss-preset-primer/package.json
  packages/react/@types/jest-styled-components/index.d.ts
  packages/react/config/vitest/setup.ts
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/DataTable/__tests__/DataTable.test.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Overlay/Overlay.test.tsx
  packages/react/src/__tests__/BaseStyles.test.tsx
  packages/react/src/experimental/UnderlinePanels/UnderlinePanels.test.tsx
  packages/react/src/utils/test-deprecations.tsx
  packages/react/src/utils/test-helpers.tsx
  packages/react/src/utils/test-matchers.tsx
  packages/react/src/utils/testing.tsx
  packages/react/vitest.config.browser.mts
  packages/react/vitest.config.mts
  script/vitest-migration-status.mts
  src/ToggleSwitch/__snapshots__/ToggleSwitch.test.tsx.snap
Labels: skip changeset, integration-tests: recommended, staff

#6454 Update FormControl.features.stories.tsx to no longer use styled-components
  packages/react/src/FormControl/FormControl.features.stories.module.css
  packages/react/src/FormControl/FormControl.features.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6457 Update PageHeader stories to no longer use styled-components
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Files-Page-on-Narrow-Viewport-light-high-contrast-linux.png
  packages/react/src/PageHeader/PageHeader.examples.stories.module.css
  packages/react/src/PageHeader/PageHeader.examples.stories.tsx
  packages/react/src/PageHeader/PageHeader.features.stories.module.css
  packages/react/src/PageHeader/PageHeader.features.stories.tsx
  packages/react/src/PageHeader/PageHeader.stories.module.css
  packages/react/src/PageHeader/PageHeader.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6463 Update PageLayout stories to no longer use styled-components
  packages/react/src/PageLayout/PageLayout.examples.stories.module.css
  packages/react/src/PageLayout/PageLayout.examples.stories.tsx
  packages/react/src/PageLayout/PageLayout.features.stories.module.css
  packages/react/src/PageLayout/PageLayout.features.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6471 Fix CodeSandbox link in bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: skip changeset, staff

#6467 Update RadioGroup.features.stories.tsx to no longer use styled-components
  packages/react/src/RadioGroup/RadioGroup.features.stories.module.css
  packages/react/src/RadioGroup/RadioGroup.features.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6481 chore: update mcp package with changes from published package
  packages/mcp/README.md
  packages/mcp/bin/mcp.js
  packages/mcp/package.json
Labels: skip changeset, staff

#6479 chore: update changeset option
  .changeset/config.json
Labels: skip changeset, staff

#6476 Update SelectPanel.examples stories to no longer use styled-components
  packages/react/src/SelectPanel/SelectPanel.examples.stories.module.css
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
Labels: skip changeset, integration-tests: recommended, integration-tests: skipped manually

#6509 fix(Banner): update layout to only create explicit row when actions are defined
  .changeset/bright-dolls-dance.md
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-dimmed-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-dark-tritanopia-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-colorblind-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-high-contrast-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-linux.png
  .playwright/snapshots/components/TreeView.test.ts-snapshots/TreeView-Leading-Action-light-tritanopia-linux.png
  package-lock.json
  packages/react/src/Banner/Banner.module.css
Labels: integration-tests: recommended, staff

#6552 Bump `eslint-plugin-primer-react` to v8
  package-lock.json
  package.json
Labels: skip changeset, staff

#6485 Update Skeleton.examples.stories.tsx to no longer use styled-components
  packages/react/src/Skeleton/Skeleton.examples.stories.module.css
  packages/react/src/Skeleton/Skeleton.examples.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6550 chore: remove semver
  package-lock.json
  packages/react/package.json
Labels: skip changeset

#6584 Update FormControl.stories.tsx to no longer use styled-components
  packages/react/src/FormControl/FormControl.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6515 Update TextInput stories to no longer use styled-components
  packages/react/src/TextInput/TextInput.features.stories.module.css
  packages/react/src/TextInput/TextInput.features.stories.tsx
  packages/react/src/TextInput/TextInput.stories.module.css
  packages/react/src/TextInput/TextInput.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6512 Update Text.features.stories.tsx to no longer use styled-components
  packages/react/src/Text/Text.features.stories.module.css
  packages/react/src/Text/Text.features.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6513 Update Textarea stories to no longer use styled-components
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Textarea.test.ts-snapshots/Textarea-Dev-Default-light-tritanopia-linux.png
  packages/react/src/Textarea/Textarea.dev.stories.module.css
  packages/react/src/Textarea/Textarea.dev.stories.tsx
  packages/react/src/Textarea/Textarea.features.stories.tsx
  packages/react/src/Textarea/Textarea.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6583 Update CheckboxGroup.dev.stories.tsx to no longer use styled-components
  e2e/components/CheckboxGroup.test.ts
  packages/react/src/CheckboxGroup/CheckboxGroup.dev.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6598 Delete .changeset/fast-ways-return.md
  .changeset/fast-ways-return.md
Labels: skip changeset, integration-tests: skipped manually

#6600 chore(release): enter pre-release mode for v38
  .changeset/pre.json
  .github/workflows/release_canary.yml
Labels: skip changeset, staff

#6605 ci(migration-status): update styled-components migration status report
  package-lock.json
  script/styled-components-migration-status.mts
Labels: skip changeset, staff

#6604 fix: add mini-throttle as dep to packages/react
  .changeset/stale-wasps-smell.md
  package-lock.json
  packages/react/package.json
Labels: integration-tests: recommended, staff

#6606 chore(mcp): update package to be private
  package-lock.json
  packages/mcp/package.json
Labels: skip changeset, staff

#6602 refactor(SubNav): Remove sx support from SubNav component
  .changeset/proud-chairs-study.md
  e2e/components/SubNav.test.ts
  packages/react/src/SubNav/SubNav.dev.stories.tsx
  packages/react/src/SubNav/SubNav.tsx
Labels: integration-tests: passing, staff

#6603 Only show focus outline for `Radio` if `focus-visible`
  .changeset/soft-islands-warn.md
  packages/react/src/Radio/Radio.module.css
Labels: integration-tests: recommended

#6635 Update paths in package.json exports
  packages/styled-react/package.json
Labels: skip changeset, staff

#6607 chore(VisuallyHidden): Remove sx prop support and refactor VisuallyHidden component
  .changeset/icy-pianos-say.md
  packages/react/src/VisuallyHidden/VisuallyHidden.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6610 refactor(Stack): Remove sx prop support from the Stack component
  .changeset/young-dots-heal.md
  packages/react/src/Stack/Stack.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6640 chore(migration): update styled-components migration script
  script/styled-components-migration-status.mts
Labels: skip changeset, staff

#6612 feat(styled-react): add all components as exports
  .changeset/gentle-rockets-go.md
  packages/styled-react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/deprecated.ts
  packages/styled-react/src/experimental.ts
  packages/styled-react/src/index.ts
Labels: staff

#6638 chore(deps): update playwright to 1.55.0
  .github/workflows/aat-reports.yml
  .github/workflows/ci.yml
  .github/workflows/stress-tests.yml
  .github/workflows/vrt-reports.yml
  .github/workflows/vrt.yml
  package-lock.json
  package.json
Labels: skip changeset, staff

#6472 Remove TypeScript ESLint plugins from package.json
  eslint.config.mjs
  examples/codesandbox/.eslintrc.cjs
  examples/codesandbox/package.json
  examples/nextjs/.eslintrc.cjs
  examples/nextjs/next-env.d.ts
  examples/nextjs/package.json
  examples/theming/.eslintrc.cjs
  examples/theming/next-env.d.ts
  examples/theming/package.json
  examples/theming/src/app/layout.tsx
  examples/theming/tsconfig.json
  package-lock.json
  package.json
Labels: skip changeset, staff

#6626 Remove support for `sx` from `ActionMenu` component
  e2e/components/ActionMenu.test.ts
  packages/react/src/ActionMenu/ActionMenu.dev.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6613 Remove sx support from SplitPageLayout component
  .changeset/young-timers-accept.md
  packages/react/src/SplitPageLayout/SplitPageLayout.docs.json
  packages/react/src/SplitPageLayout/SplitPageLayout.stories.tsx
  packages/react/src/SplitPageLayout/SplitPageLayout.tsx
Labels: integration-tests: passing

#6629 Remove support for `sx` from `Autocomplete` component
  e2e/components/Autocomplete.test.ts
  packages/react/src/Autocomplete/Autocomplete.dev.stories.tsx
  packages/react/src/Autocomplete/Autocomplete.features.stories.tsx
  packages/react/src/Autocomplete/Autocomplete.stories.tsx
Labels: skip changeset, integration-tests: skipped manually

#6650 test(e2e): skip flaky test
  e2e/components/SelectPanel.test.ts
Labels: skip changeset, staff

#6599 feat(mcp): add better primitives output, add coding guidelines tool
  packages/mcp/src/primitives.ts
  packages/mcp/src/server.ts
Labels: skip changeset, staff

#6653 Remove sxProp support from deprecated `UnderlineNav`
  packages/react/src/deprecated/UnderlineNav/UnderlineNav.docs.json
  packages/react/src/deprecated/UnderlineNav/UnderlineNav.tsx
Labels: skip changeset, integration-tests: recommended

#6627 Remove `sx` prop support from `ToggleSwitch`
  .changeset/bright-parents-flow.md
  packages/react/src/ToggleSwitch/ToggleSwitch.module.css
  packages/react/src/ToggleSwitch/ToggleSwitch.tsx
  packages/react/src/ToggleSwitch/ToggleSwitchStoryWrapper.module.css
  packages/react/src/ToggleSwitch/ToggleSwitchStoryWrapper.tsx
  packages/styled-react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/index.ts
Labels: integration-tests: failing

#6656 Remove sxProp support from `StateLabel` component
  .changeset/tricky-eggs-cross.md
  packages/react/src/StateLabel/StateLabel.docs.json
  packages/react/src/StateLabel/StateLabel.module.css
  packages/react/src/StateLabel/StateLabel.stories.tsx
  packages/react/src/StateLabel/StateLabel.tsx
  packages/react/src/StateLabel/__tests__/__snapshots__/StateLabel.test.tsx.snap
Labels: integration-tests: recommended

#6646 FilteredActionList: Replace Box with BoxWithFallback
  packages/react/src/FilteredActionList/FilteredActionList.module.css
  packages/react/src/FilteredActionList/FilteredActionList.tsx
Labels: skip changeset, integration-tests: recommended, staff

#6683 Revert "Remove sx props and Box from `Truncate` (#6632)"
  .changeset/lucky-facts-obey.md
  packages/react/src/ActionList/Description.tsx
  packages/react/src/Truncate/Truncate.docs.json
  packages/react/src/Truncate/Truncate.stories.tsx
  packages/react/src/Truncate/Truncate.tsx
  packages/styled-react/src/__tests__/__snapshots__/exports.test.ts.snap
  packages/styled-react/src/index.ts
Labels: skip changeset, integration-tests: recommended, staff
