Repository primer/react, pull requests merged in 2025-03, with the labels that each got.

#5716 chore: Ensure class names conform to PascalCase
  .changeset/seven-falcons-fry.md
  .gitignore
  examples/theming/src/app/components/PageHeader/PageHeader.module.css
  examples/theming/src/app/components/PageHeader/PageHeader.tsx
  examples/theming/src/app/components/ThemePreference/ThemePreference.module.css
  examples/theming/src/app/components/ThemePreference/ThemePreference.tsx
  package-lock.json
  package.json
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/BaseStyles.module.css
  packages/react/src/Select/Select.module.css
  packages/react/src/SideNav.module.css
  packages/react/src/SideNav.tsx
  packages/react/src/TooltipV2/Tooltip.module.css
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TreeView/TreeView.module.css
  packages/react/src/TreeView/TreeView.tsx
  packages/react/src/experimental/SelectPanel2/SelectPanel.module.css
  packages/react/src/internal/components/TextInputWrapper.module.css
  stylelint.config.mjs
Labels: integration-tests: recommended

#5733 fix(TextInput): use cursor text on wrapper
  .changeset/swift-ravens-join.md
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputWrapper.module.css
  packages/react/src/internal/components/TextInputWrapper.tsx
Labels: status: review needed, integration-tests: passing, staff

#5726 feat: Support `className` prop in `FormControl.Caption` component
  .changeset/pink-hotels-rescue.md
  packages/react/src/FormControl/FormControlCaption.tsx
Labels: integration-tests: recommended, staff

#5737 fix(SplitPageLayout): add className prop
  .changeset/three-lobsters-wonder.md
  packages/react/src/SplitPageLayout/SplitPageLayout.test.tsx
  packages/react/src/SplitPageLayout/SplitPageLayout.tsx
Labels: integration-tests: recommended

#5666 ActionBar: Add `disabled` support to `ActionBar`
  .changeset/sixty-otters-lie.md
  packages/react/src/ActionBar/ActionBar.docs.json
  packages/react/src/ActionBar/ActionBar.examples.stories.tsx
  packages/react/src/ActionBar/ActionBar.test.tsx
  packages/react/src/ActionBar/ActionBar.tsx
Labels: integration-tests: recommended

#5743 Move `ActionList` feature flag to GA
  .changeset/stupid-moons-admire.md
  packages/react/src/ActionList/featureflag.ts
Labels: integration-tests: recommended

#5740 DialogV2: Reduce the buttons in Storybook story
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-tritanopia-linux.png
  packages/react/src/Dialog/Dialog.features.stories.tsx
Labels: skip changeset, staff

#5706 DialogV2: Add `alpha` status to docs
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-colorblind-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-linux.png
  .playwright/snapshots/components/Dialogv1.test.ts-snapshots/Dialogv1-Default-light-tritanopia-linux.png
  e2e/components/Dialogv1.test.ts
  packages/react/src/Dialog/Dialog.docs.json
  packages/react/src/DialogV1/Dialog.stories.tsx
Labels: skip changeset

#5738 feat(FormControl): Promote FormControl to CSS modules GA feature flag
  .changeset/rare-experts-beg.md
  packages/react/src/FormControl/feature-flags.ts
Labels: integration-tests: recommended

#5742 fix: user red focus state for inputs when in error state
  .changeset/seven-chairs-act.md
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/__tests__/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/internal/components/TextInputWrapper.module.css
  packages/react/src/internal/components/TextInputWrapper.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5756 feat: Add workflow to toggle release lock status
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#5768 Add `--` prefix to CSS Custom Property for SkeletonBox
  .changeset/fuzzy-walls-tap.md
  packages/react/src/experimental/Skeleton/SkeletonBox.module.css
Labels: integration-tests: recommended, staff

#5745 chore(deps): update typescript to 5.8, enable erasableSyntaxOnly
  examples/codesandbox/package.json
  examples/nextjs/package.json
  examples/theming/package.json
  package-lock.json
  package.json
  packages/postcss-preset-primer/package.json
  packages/react/package.json
  packages/react/src/utils/testing.tsx
  packages/rollup-plugin-import-css/package.json
  tsconfig.base.json
Labels: skip changeset, integration-tests: recommended, staff

#5762 docs(readme): update @primer/react readme
  packages/react/README.md
Labels: skip changeset, integration-tests: recommended, staff

#5767 Bumps tab-container-element version to 4.8.2
  .changeset/wild-sheep-press.md
  package-lock.json
  packages/react/package.json
Labels: integration-tests: recommended

#5759 AnchoredOverlay: Add responsive variant prop
  .changeset/responsive-anchored-overlay.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-responsive-width-light-modern-action-list--true-linux.png
  e2e/components/SelectPanel.test.ts
  packages/react/src/AnchoredOverlay/AnchoredOverlay.docs.json
  packages/react/src/AnchoredOverlay/AnchoredOverlay.tsx
  packages/react/src/ConfirmationDialog/ConfirmationDialog.test.tsx
  packages/react/src/Overlay/Overlay.module.css
  packages/react/src/Overlay/Overlay.test.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
  packages/react/src/__tests__/AnchoredOverlay.test.tsx
  packages/react/src/__tests__/LabelGroup.test.tsx
  packages/react/src/__tests__/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/__tests__/deprecated/ActionMenu.test.tsx
  packages/react/src/utils/test-helpers.tsx
Labels: integration-tests: passing, staff

#5649 fix(BaseStyles): set data-color-mode to auto when auto color mode
  .changeset/strong-walls-approve.md
  packages/react/src/BaseStyles.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5760 Radio: Remove `aria-required` and `aria-invalid`
  .changeset/red-lies-vanish.md
  packages/react/src/Radio/Radio.tsx
  packages/react/src/__tests__/Radio.test.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#5764 fix: update CheckboxOrRadioGroup to spread empty object instead of false-y value
  .changeset/perfect-plants-trade.md
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroup.tsx
Labels: integration-tests: recommended, staff

#5773 Blankslate: Reverting icon color to `fgColor-muted`
  .changeset/many-toys-prove.md
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Default-primer-breakpoint-xs-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Narrow-primer-breakpoint-xs-linux.png
  .playwright/snapshots/components/Blankslate.test.ts-snapshots/Blankslate-Spacious-primer-breakpoint-xs-linux.png
  packages/react/src/Blankslate/Blankslate.module.css
Labels: integration-tests: recommended

#5765 fix(Radio): update ordering of selectors for checked options
  .changeset/serious-jars-sing.md
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-dark-colorblind-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-dark-dimmed-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-dark-high-contrast-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-dark-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-dark-tritanopia-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-light-colorblind-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-light-high-contrast-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-light-linux.png
  .playwright/snapshots/components/Radio.test.ts-snapshots/Radio-Checked-light-tritanopia-linux.png
  e2e/components/Radio.test.ts
  packages/react/src/Radio/Radio.tsx
Labels: integration-tests: recommended, staff

#5744 Remove outdated roadmap links in README.md
  README.md
Labels: skip changeset, staff

#5774 FIx UnderlineNav docs formatting causing MDX parser to fail
  packages/react/src/UnderlineNav/UnderlineNav.docs.json
Labels: skip changeset

#5784 Update adr-020-live-regions.md
  contributor-docs/adrs/adr-020-live-regions.md
Labels: skip changeset, staff, integration-tests: skipped manually

#5782 Update adr-019-deprecating-props.md
  contributor-docs/adrs/adr-019-deprecating-props.md
Labels: skip changeset, staff, integration-tests: skipped manually

#5785 Remove CSS modules feature flag from VisuallyHidden
  .changeset/gold-ducks-grin.md
  packages/react/src/CounterLabel/__snapshots__/CounterLabel.test.tsx.snap
  packages/react/src/VisuallyHidden/VisuallyHidden.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: integration-tests: passing, staff

#5772 Remove CSS modules feature flag from SubNav
  .changeset/gentle-sloths-march.md
  packages/react/src/SubNav/SubNav.dev.stories.tsx
  packages/react/src/SubNav/SubNav.tsx
  packages/react/src/__tests__/SubNav.test.tsx
  packages/react/src/__tests__/SubNavLink.test.tsx
  packages/react/src/__tests__/__snapshots__/SubNavLink.test.tsx.snap
Labels: integration-tests: passing, staff

#5761 SelectPanel: Make panel full screen on narrow screens with Save and optional Cancel button
  .changeset/responsive-selectpanel.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-responsive-width-light-modern-action-list--true-linux.png
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#5436 Dialog: Show `Tooltip` on "close" button
  .changeset/chilled-walls-cheer.md
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-bottom-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-fullscreen-light-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Position-sidesheet-light-tritanopia-linux.png
  packages/react/.storybook/storybook.css
  packages/react/src/Dialog/Dialog.dev.stories.tsx
  packages/react/src/Dialog/Dialog.module.css
  packages/react/src/Dialog/Dialog.tsx
Labels: integration-tests: recommended

#5795 Remove the CSS modules feature flag from the ConfirmationDialog component
  .changeset/tiny-peaches-tease.md
  packages/react/src/ConfirmationDialog/ConfirmationDialog.tsx
Labels: integration-tests: passing, staff

#5787 Remove the CSS module feature flag from SkeletonAvatar SkeletonBox and SkeletonText
  .changeset/young-months-peel.md
  packages/react/src/experimental/Skeleton/FeatureFlag.tsx
  packages/react/src/experimental/Skeleton/SkeletonAvatar.tsx
  packages/react/src/experimental/Skeleton/SkeletonBox.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.module.css
  packages/react/src/experimental/Skeleton/SkeletonText.tsx
  packages/react/src/experimental/Skeleton/__tests__/SkeletonBox.test.tsx
  packages/react/src/experimental/Skeleton/__tests__/SkeletonText.test.tsx
Labels: integration-tests: passing, staff

#5792 Remove the CSS modules feature flag from the KeybindingHint Component
  .changeset/rotten-rings-confess.md
  packages/react/src/KeybindingHint/KeybindingHint.tsx
Labels: integration-tests: passing, staff

#5793 Remove the CSS modules feature flag from the Autocomplete component
  .changeset/long-suns-type.md
  packages/react/src/Autocomplete/AutocompleteMenu.tsx
  packages/react/src/Autocomplete/AutocompleteOverlay.tsx
  packages/react/src/__tests__/__snapshots__/Autocomplete.test.tsx.snap
Labels: integration-tests: passing, staff

#5786 Remove the CSS modules feature flag from the Timeline component
  .changeset/lazy-hotels-brake.md
  packages/react/src/Timeline/Timeline.tsx
  packages/react/src/Timeline/__tests__/Timeline.test.tsx
  packages/react/src/Timeline/__tests__/__snapshots__/Timeline.test.tsx.snap
Labels: integration-tests: passing, staff

#5797 SubNav: Update selected styles to only apply to `data-selected='true'`
  .changeset/strong-lemons-rescue.md
  packages/react/src/SubNav/SubNav.module.css
Labels: integration-tests: recommended, staff

#5790 Add Notice to SelectPanel
  .changeset/slick-teams-check.md
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: recommended

#5810 add missing className props and update behavesAsComponent test check
  .changeset/rare-words-sin.md
  packages/react/src/ActionBar/ActionBar.test.tsx
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Description.tsx
  packages/react/src/ActionList/Divider.tsx
  packages/react/src/ActionList/Group.test.tsx
  packages/react/src/ActionList/Group.tsx
  packages/react/src/ActionList/Heading.test.tsx
  packages/react/src/ActionList/Item.test.tsx
  packages/react/src/ActionList/LinkItem.tsx
  packages/react/src/ActionList/TrailingAction.tsx
  packages/react/src/ActionList/Visuals.tsx
  packages/react/src/ConfirmationDialog/ConfirmationDialog.test.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/DialogV1/Dialog.test.tsx
  packages/react/src/LabelGroup/LabelGroup.tsx
  packages/react/src/__tests__/ActionMenu.test.tsx
  packages/react/src/__tests__/AnchoredOverlay.test.tsx
  packages/react/src/__tests__/LabelGroup.test.tsx
  packages/react/src/__tests__/deprecated/ActionMenu.test.tsx
  packages/react/src/utils/testing.tsx
Labels: integration-tests: recommended

#5816 Bug fix: `className` passed to PageLayout twice
  .changeset/metal-carrots-compare.md
  packages/react/src/PageLayout/PageLayout.tsx
Labels: integration-tests: recommended

#5808 Fix Markdown UnderlineNav component API docs
  packages/react/src/UnderlineNav/UnderlineNav.docs.json
Labels: skip changeset

#5741 Add prop to PageHeader to allow a bottom border
  .changeset/pink-windows-add.md
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-dark-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-dark-dimmed-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-dark-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-dark-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-dark-tritanopia-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-light-colorblind-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-light-high-contrast-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-light-linux.png
  .playwright/snapshots/components/PageHeader.test.ts-snapshots/PageHeader-Has-Border-light-tritanopia-linux.png
  e2e/components/PageHeader.test.ts
  packages/react/src/PageHeader/PageHeader.docs.json
  packages/react/src/PageHeader/PageHeader.features.stories.tsx
  packages/react/src/PageHeader/PageHeader.module.css
  packages/react/src/PageHeader/PageHeader.stories.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Labels: integration-tests: recommended

#5780 refactor(ci): update actions to use sha instead of tag
  .github/workflows/aat-reports.yml
  .github/workflows/accessibility-alt-text-bot.yml
  .github/workflows/add_to_inbox.yml
  .github/workflows/assign_release_conductor.yml
  .github/workflows/check-for-integration-result-comment.yml
  .github/workflows/check_for_changeset.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/codescan.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/deploy_production.yml
  .github/workflows/environment.yml
  .github/workflows/figma_connect_publish.yml
  .github/workflows/lock-release.yml
  .github/workflows/pull_request.yml
  .github/workflows/recommend-integration-tests.yml
  .github/workflows/release-schedule.yml
  .github/workflows/release.yml
  .github/workflows/release_canary.yml
  .github/workflows/release_candidate.yml
  .github/workflows/size.yml
  .github/workflows/stale.yml
  .github/workflows/statuses.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/update-snapshots.yml
  .github/workflows/vrt-reports.yml
  .github/workflows/vrt.yml
Labels: skip changeset, staff

#5804 Remove CSS modules feature flag from the InlineMessage component
  .changeset/calm-tigers-complain.md
  packages/react/src/InlineMessage/InlineMessage.tsx
Labels: integration-tests: passing, staff

#5821 Adds util function to account for SX dependent components
  .changeset/spotty-streets-flash.md
  packages/react/src/internal/utils/__tests__/toggleSxComponent.test.tsx
  packages/react/src/internal/utils/toggleSxComponent.tsx
Labels: integration-tests: recommended

#5142 SelectPanel: Implement empty state
  .changeset/new-mangos-fold.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-tritanopia-modern-action-list--true-linux.png
  e2e/components/SelectPanel.test.ts
  packages/react/src/FilteredActionList/FilteredActionList.module.css
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/SelectPanel/SelectPanel.dev.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/SelectPanel/SelectPanelMessage.tsx
  script/generate-e2e-tests.js
Labels: status: review needed, integration-tests: passing, integration-tests: recommended, staff

#5811 DialogV2: Move `DialogOverflowWrapper` class
  .changeset/brown-ducks-lick.md
  packages/react/src/Dialog/Dialog.module.css
  packages/react/src/Dialog/Dialog.tsx
Labels: integration-tests: recommended, staff

#5832 chore(SelectPanel): put fullscreen functionality behind FF
  .changeset/fuzzy-beans-push.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-responsive-width-light-modern-action-list--true-full-screen-on-narrow--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Default-responsive-width-light-modern-action-list--true-linux.png
  e2e/components/SelectPanel.test.ts
  packages/react/src/FeatureFlags/DefaultFeatureFlags.ts
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: recommended, staff

#5828 Update the sxprop deprecation message to be more clear
  packages/react/src/sx.ts
Labels: skip changeset, integration-tests: recommended, staff

#5818 Add workaround for Chrome bug where `KeybindingHint` in combination with `aria-labelledby` results in incorrect label
  .changeset/curvy-ties-breathe.md
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/KeybindingHint/KeybindingHint.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: integration-tests: recommended

#5826 Feat/select panel empty state
  .changeset/new-mangos-fold.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Height-Variations-and-Scroll-light-tritanopia-modern-action-list--true-linux.png
  e2e/components/SelectPanel.test.ts
  packages/react/src/FilteredActionList/FilteredActionList.module.css
  packages/react/src/FilteredActionList/FilteredActionListWithDeprecatedActionList.tsx
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/FilteredActionList/useAnnouncements.tsx
  packages/react/src/SelectPanel/SelectPanel.dev.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/SelectPanel/SelectPanel.examples.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.module.css
  packages/react/src/SelectPanel/SelectPanel.stories.tsx
  packages/react/src/SelectPanel/SelectPanel.test.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/SelectPanel/SelectPanelMessage.tsx
  script/generate-e2e-tests.js
Labels: integration-tests: passing, staff

#5820 feat(Pagination): add renderPage prop to Pagination
  .changeset/cyan-lights-try.md
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-dark-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-dark-dimmed-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-dark-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-dark-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-dark-tritanopia-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-light-colorblind-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-light-high-contrast-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-light-linux.png
  .playwright/snapshots/components/Pagination.test.ts-snapshots/Pagehead-Render-Links-light-tritanopia-linux.png
  e2e/components/Pagination.test.ts
  packages/react/src/ActionList/ActionList.examples.stories.tsx
  packages/react/src/Button/LinkButton.features.stories.tsx
  packages/react/src/NavList/NavList.stories.tsx
  packages/react/src/NavList/NavList.test.tsx
  packages/react/src/Pagination/Pagination.docs.json
  packages/react/src/Pagination/Pagination.features.stories.tsx
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/Pagination/model.tsx
  packages/react/src/__tests__/Pagination/Pagination.test.tsx
  packages/react/src/__tests__/mocks/ReactRouterLink.tsx
  packages/react/src/stories/deprecated/ActionList.stories.tsx
  packages/react/tsconfig.json
Labels: integration-tests: failing

#5833 In the lock-release workflow only toggle the Release Conductor ruleset instead of the merge queue and update rule also
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#5807 Remove the CSS modules feature flag from the FormControl component
  .changeset/hungry-pumas-poke.md
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/feature-flags.ts
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/InputValidation.tsx
  packages/react/src/internal/utils/toggleSxComponent.tsx
Labels: integration-tests: recommended

#5629 Make Dialog footer scrollable on very short viewports
  .changeset/little-papayas-knock.md
  .changeset/rich-berries-argue.md
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Css-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Dev-With-Sx-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-dimmed-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-dark-tritanopia-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-colorblind-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-high-contrast-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-linux.png
  .playwright/snapshots/components/Dialog.test.ts-snapshots/Dialog-Stress-Test-light-tritanopia-linux.png
  packages/react/src/Dialog/Dialog.features.stories.tsx
  packages/react/src/Dialog/Dialog.module.css
  packages/react/src/Dialog/Dialog.tsx
Labels: integration-tests: recommended

#5837 Toggling who can bypass the merge queue with the deployment lock
  .devcontainer/devcontainer.json
  .github/workflows/lock-release.yml
Labels: skip changeset, staff

#5838 Revert "Remove the CSS modules feature flag from the FormControl component"
  .changeset/hungry-pumas-poke.md
  packages/react/src/FormControl/FormControl.tsx
  packages/react/src/FormControl/FormControlCaption.tsx
  packages/react/src/FormControl/feature-flags.ts
  packages/react/src/internal/components/InputLabel.tsx
  packages/react/src/internal/components/InputValidation.tsx
  packages/react/src/internal/utils/toggleSxComponent.tsx
Labels: skip changeset, staff, integration-tests: failing

#5839 Revert "Add workaround for Chrome bug where `KeybindingHint` in combination with `aria-labelledby` results in incorrect label"
  .changeset/curvy-ties-breathe.md
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/KeybindingHint/KeybindingHint.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/src/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: skip changeset, staff, integration-tests: failing

#5803 StateLabel: Add `open` and `closed` states for no icon cases
  .changeset/nine-apes-change.md
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-dark-colorblind-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-dark-dimmed-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-dark-high-contrast-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-dark-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-dark-tritanopia-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-light-colorblind-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-light-high-contrast-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-light-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Closed-light-tritanopia-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-dark-colorblind-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-dark-dimmed-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-dark-high-contrast-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-dark-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-dark-tritanopia-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-light-colorblind-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-light-high-contrast-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-light-linux.png
  .playwright/snapshots/components/StateLabel.test.ts-snapshots/StateLabel-Open-light-tritanopia-linux.png
  e2e/components/StateLabel.test.ts
  e2e/matchers/toHaveNoViolations.ts
  packages/react/src/StateLabel/StateLabel.docs.json
  packages/react/src/StateLabel/StateLabel.features.stories.tsx
  packages/react/src/StateLabel/StateLabel.tsx
  packages/react/src/StateLabel/__tests__/StateLabel.test.tsx
  script/generate-e2e-tests.js
Labels: integration-tests: recommended, staff

#5755 Code Connect for NavList
  packages/react/src/NavList/NavList.figma.tsx
Labels: skip changeset, integration-tests: recommended

#5854 Remove `save-exact` from `.npmrc`
  .npmrc
Labels: skip changeset, staff

#5853 Revert "Revert "Add workaround for Chrome bug where `KeybindingHint` in combination with `aria-labelledby` results in incorrect label""
  .changeset/curvy-ties-breathe.md
  packages/react/src/Button/__tests__/Button.test.tsx
  packages/react/src/KeybindingHint/KeybindingHint.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
Labels: integration-tests: passing

#5855 Add error handling to pagerduty action
  .github/actions/pagerduty/action.yml
Labels: skip changeset, staff
