Repository primer/react, pull requests merged in 2025-05, with the labels that each got.

#5996 Fix(Dialog): set height limit of 35% to DialogHeader
  .changeset/tame-pumpkins-jump.md
  packages/react/src/Dialog/Dialog.module.css
Labels: integration-tests: passing, staff

#5992 Temporarily disable stress tests alert commit comment
  .github/workflows/stress-tests.yml
Labels: skip changeset

#5994 Use `SecondaryActionButton` and `SecondaryActionLink` in the SelectPanel docs
  packages/react/src/SelectPanel/SelectPanel.docs.json
  packages/react/src/SelectPanel/SelectPanel.features.stories.tsx
Labels: skip changeset

#5995 fix(TextArea): only add class name to outermost element
  .changeset/three-boxes-help.md
  packages/react/src/Textarea/Textarea.tsx
Labels: integration-tests: recommended, staff

#5989 test(project): add support for vitest browser tests
  .github/workflows/ci.yml
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  packages/postcss-preset-primer/jest.config.cjs
  packages/postcss-preset-primer/src/__tests__/__snapshots__/preset.test.ts.snap
  packages/postcss-preset-primer/src/__tests__/preset.test.ts
  packages/postcss-preset-primer/tsconfig.json
  packages/postcss-preset-primer/vitest.config.ts
  packages/react/config/vitest/setup.ts
  packages/react/jest.config.js
  packages/react/src/Banner/Banner.test.tsx
  packages/react/src/Banner/__snapshots__/Banner.test.tsx.snap
  packages/react/src/DataTable/__tests__/DataTable.test.tsx
  packages/react/src/DataTable/__tests__/ErrorDialog.test.tsx
  packages/react/src/DataTable/__tests__/Pagination.test.tsx
  packages/react/src/DataTable/__tests__/Table.test.tsx
  packages/react/src/DataTable/__tests__/sorting.test.ts
  packages/react/src/FeatureFlags/__tests__/FeatureFlags.test.tsx
  packages/react/src/Stack/__tests__/Stack.test.tsx
  packages/react/src/Stack/__tests__/StackItem.test.tsx
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  packages/react/vitest.config.mts
  tsconfig.base.json
  vitest.config.mts
Labels: skip changeset, integration-tests: recommended

#5914 Bump `primer/primitives` v10 or v11
  .changeset/spotty-scissors-listen.md
  package-lock.json
  packages/react/package.json
Labels: integration-tests: recommended

#5991 feat: Add support for onToggleSort to DataTable
  .changeset/salty-bikes-learn.md
  packages/react/src/DataTable/DataTable.docs.json
  packages/react/src/DataTable/DataTable.features.stories.tsx
  packages/react/src/DataTable/DataTable.tsx
  packages/react/src/DataTable/__tests__/DataTable.test.tsx
Labels: integration-tests: passing, integration-tests: recommended

#6007 refactor(Flash): update sx usage to CSS Modules
  .changeset/giant-bushes-matter.md
  packages/react/src/Flash/Flash.module.css
  packages/react/src/Flash/Flash.tsx
  packages/react/src/Flash/__tests__/Flash.test.tsx
Labels: integration-tests: recommended, staff

#5987 docs: add style guide docs
  contributor-docs/style.md
Labels: skip changeset, staff

#6012 SelectPanel: Fix typo with FF name
  packages/react/.storybook/preview.jsx
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: skip changeset, integration-tests: recommended, staff

#6013 chore(CheckboxOrRadioGroup): Remove the CSS modules feature flag from the CheckboxOrRadioGroup component
  .changeset/afraid-pens-return.md
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroup.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupCaption.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/CheckboxOrRadioGroupLabel.tsx
  packages/react/src/internal/components/CheckboxOrRadioGroup/FeatureFlag.tsx
Labels: integration-tests: passing, staff

#6015 chore(Select): Remove the CSS modules feature flag from the Select component
  .changeset/loose-planes-mix.md
  packages/react/src/Select/Select.tsx
  packages/react/src/__tests__/Select.test.tsx
Labels: integration-tests: passing, staff

#6016 Remove the extra VRT runs with the CSS module flags enabled
  .github/workflows/aat-reports.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/deploy_preview_forks.yml
  .github/workflows/vrt-reports.yml
  packages/react/.storybook/index.html
Labels: skip changeset, integration-tests: recommended, staff

#6009 Fix extra padding on SelectPanel with groups
  .changeset/fresh-lights-wink.md
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-Single-Select-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-colorblind-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-dimmed-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-tritanopia-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-light-high-contrast-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Footer-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-dimmed-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-dark-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-colorblind-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-high-contrast-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-modern-action-list--true-linux.png
  .playwright/snapshots/components/SelectPanel.test.ts-snapshots/SelectPanel-With-Groups-light-tritanopia-modern-action-list--true-linux.png
  .playwright/snapshots/components/drafts/SelectPanel.test.ts-snapshots/drafts-SelectPanel-With-Warning-dark-high-contrast-linux.png
  packages/react/src/ActionList/ActionList.docs.json
  packages/react/src/ActionList/ActionList.module.css
  packages/react/src/ActionList/ActionList.stories.tsx
  packages/react/src/ActionList/Heading.module.css
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionList/List.tsx
  packages/react/src/ActionList/shared.ts
  packages/react/src/SelectPanel/SelectPanel.tsx
  packages/react/src/deprecated/ActionList/List.tsx
Labels: update snapshots, integration-tests: recommended, staff

#6018 refactor: update tests to vitest, move all component tests to folders
  package-lock.json
  packages/react/jest.config.js
  packages/react/src/ActionBar/ActionBar.test.tsx
  packages/react/src/ActionMenu/ActionMenu.test.tsx
  packages/react/src/ActionMenu/ActionMenu.types.test.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.test.tsx
  packages/react/src/AnchoredOverlay/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/Autocomplete/Autocomplete.test.tsx
  packages/react/src/Autocomplete/Autocomplete.types.test.tsx
  packages/react/src/Autocomplete/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/AvatarStack/AvatarStack.test.tsx
  packages/react/src/AvatarStack/__snapshots__/AvatarStack.test.tsx.snap
  packages/react/src/Box/Box.test.tsx
  packages/react/src/Box/__snapshots__/Box.test.tsx.snap
  packages/react/src/CheckboxGroup/CheckboxGroup.test.tsx
  packages/react/src/CircleBadge/CircleBadge.test.tsx
  packages/react/src/CircleBadge/CircleBadge.types.test.tsx
  packages/react/src/CircleBadge/__snapshots__/CircleBadge.test.tsx.snap
  packages/react/src/CircleOcticon/CircleOcticon.test.tsx
  packages/react/src/CounterLabel/CounterLabel.types.test.tsx
  packages/react/src/Header/Header.test.tsx
  packages/react/src/Header/Header.types.test.tsx
  packages/react/src/KeybindingHint/KeybindingHint.test.tsx
  packages/react/src/Label/Label.test.tsx
  packages/react/src/LabelGroup/LabelGroup.test.tsx
  packages/react/src/LabelGroup/LabelGroup.types.test.tsx
  packages/react/src/Pagination/Pagination.types.test.tsx
  packages/react/src/PointerBox/PointerBox.test.tsx
  packages/react/src/PointerBox/__snapshots__/PointerBox.test.tsx.snap
  packages/react/src/Popover/Popover.test.tsx
  packages/react/src/Popover/Popover.types.test.tsx
  packages/react/src/Popover/__snapshots__/Popover.test.tsx.snap
  packages/react/src/Portal/Portal.test.tsx
  packages/react/src/ProgressBar/ProgressBar.test.tsx
  packages/react/src/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
  packages/react/src/Radio/Radio.test.tsx
  packages/react/src/RadioGroup/RadioGroup.test.tsx
  packages/react/src/RelativeTime/RelativeTime.test.tsx
  packages/react/src/Select/Select.test.tsx
  packages/react/src/SelectPanel/SelectPanel.types.test.tsx
  packages/react/src/Spinner/Spinner.test.tsx
  packages/react/src/SubNav/SubNav.test.tsx
  packages/react/src/SubNav/SubNav.types.test.tsx
  packages/react/src/TextInput/TextInput.test.tsx
  packages/react/src/TextInput/TextInput.types.test.tsx
  packages/react/src/TextInput/__snapshots__/TextInput.test.tsx.snap
  packages/react/src/TextInputWithTokens/TextInputWithTokens.test.tsx
  packages/react/src/TextInputWithTokens/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/Textarea/Textarea.test.tsx
  packages/react/src/ToggleSwitch/ToggleSwitch.test.tsx
  packages/react/src/Truncate/Truncate.test.tsx
  packages/react/src/UnderlineNav/UnderlineNav.test.tsx
  packages/react/src/__tests__/CounterLabel.types.test.tsx
  packages/react/vitest.config.mts
Labels: skip changeset, integration-tests: recommended, staff

#6021 chore(ActionList): Remove the CSS modules feature flag from the ActionList.TrailingAction component
  .changeset/quiet-weeks-play.md
  packages/react/src/ActionList/TrailingAction.tsx
Labels: integration-tests: passing, integration-tests: recommended, staff

#6022 chore(ActionList): Remove the CSS modules feature flag from the ActionList.Divider component
  .changeset/curvy-lions-buy.md
  packages/react/src/ActionList/Divider.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended, staff

#5997 Remove the CSS modules feature flag from Pagination component
  .changeset/nasty-nails-appear.md
  packages/react/src/Pagination/Pagination.tsx
Labels: integration-tests: passing

#6014 chore(Token): Remove the CSS modules feature flag from the Token component
  .changeset/tame-trains-hide.md
  packages/react/src/TextInputWithTokens/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/Token/AvatarToken.tsx
  packages/react/src/Token/IssueLabelToken.tsx
  packages/react/src/Token/Token.module.css
  packages/react/src/Token/Token.tsx
  packages/react/src/Token/TokenBase.tsx
  packages/react/src/Token/_RemoveTokenButton.tsx
  packages/react/src/Token/_TokenTextContainer.tsx
  packages/react/src/Token/__tests__/__snapshots__/Token.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended, staff

#6019 chore(ActionList): Remove the CSS modules feature flag from the ActionList/List component
  .changeset/shaggy-states-travel.md
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/List.tsx
  packages/react/src/Autocomplete/__snapshots__/Autocomplete.test.tsx.snap
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended, staff

#6023 chore(ActionList): Remove the CSS modules feature flag from the ActionList.Group component
  .changeset/fair-hands-glow.md
  packages/react/src/ActionList/Group.module.css
  packages/react/src/ActionList/Group.tsx
  packages/react/src/NavList/__snapshots__/NavList.test.tsx.snap
Labels: integration-tests: passing, integration-tests: recommended, staff

#6033 chore: Cleanup some of the unused feature flags left behind in tests
  packages/react/src/ActionMenu/ActionMenu.dev.stories.tsx
  packages/react/src/Radio/Radio.test.tsx
  packages/react/src/TextInput/TextInput.dev.stories.tsx
Labels: skip changeset, integration-tests: recommended, staff

#6031 refactor: update tests to vitest
  package-lock.json
  packages/react/jest.config.js
  packages/react/src/Select/Select.test.tsx
  packages/react/src/Skeleton/__tests__/SkeletonBox.test.tsx
  packages/react/src/Spinner/Spinner.test.tsx
  packages/react/src/StateLabel/__tests__/StateLabel.test.tsx
  packages/react/src/StateLabel/__tests__/__snapshots__/StateLabel.test.tsx.snap
  packages/react/src/SubNav/SubNav.test.tsx
  packages/react/src/TabNav/__tests__/TabNav.test.tsx
  packages/react/src/TextInputWithTokens/TextInputWithTokens.test.tsx
  packages/react/src/TextInputWithTokens/__snapshots__/TextInputWithTokens.test.tsx.snap
  packages/react/src/Timeline/__tests__/Timeline.test.tsx
  packages/react/src/Timeline/__tests__/__snapshots__/Timeline.test.tsx.snap
  packages/react/src/Tooltip/Tooltip.test.tsx
  packages/react/src/TooltipV2/__tests__/Tooltip.test.tsx
  packages/react/vitest.config.mts
Labels: skip changeset, integration-tests: recommended

#5933 chore(SegmentedControl): Remove the CSS modules feature flag from the SegmentedControl component
  .changeset/chilled-camels-obey.md
  packages/react/src/SegmentedControl/SegmentedControl.module.css
  packages/react/src/SegmentedControl/SegmentedControl.tsx
  packages/react/src/SegmentedControl/SegmentedControlButton.tsx
  packages/react/src/SegmentedControl/SegmentedControlIconButton.tsx
  packages/react/src/SegmentedControl/getSegmentedControlStyles.ts
Labels: integration-tests: passing, staff

#6032 fix(Table): update TableContainer to place `className` on outermost element
  .changeset/silent-comics-knock.md
  packages/react/src/DataTable/Table.tsx
  packages/react/src/DataTable/__tests__/Table.test.tsx
Labels: integration-tests: recommended, staff

#6034 test(Blankslate): add tests for Blankslate to vitest
  packages/react/jest.config.js
  packages/react/src/Blankslate/Blankslate.test.tsx
  packages/react/vitest.config.mts
Labels: skip changeset, integration-tests: recommended, staff

#5910 ActionMenu: Add position callback as prop
  .changeset/orange-eels-rule.md
  packages/react/.storybook/storybook.css
  packages/react/src/ActionMenu/ActionMenu.docs.json
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
  packages/react/src/ActionMenu/ActionMenu.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.test.tsx
  packages/react/src/AnchoredOverlay/AnchoredOverlay.tsx
  packages/react/src/hooks/useAnchoredPosition.ts
Labels: integration-tests: recommended, staff

#6044 refactor(test): update BranchName, Breadcrumbs, ButtonGroup, CheckboxGroup, CircleBadge, CircleOcticon tests to vitest
  packages/react/jest.config.js
  packages/react/src/BranchName/__tests__/BranchName.test.tsx
  packages/react/src/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  packages/react/src/Breadcrumbs/__tests__/BreadcrumbsItem.test.tsx
  packages/react/src/Breadcrumbs/__tests__/__snapshots__/BreadcrumbsItem.test.tsx.snap
  packages/react/src/ButtonGroup/ButtonGroup.test.tsx
  packages/react/src/CheckboxGroup/CheckboxGroup.test.tsx
  packages/react/src/CircleBadge/CircleBadge.test.tsx
  packages/react/src/CircleBadge/__snapshots__/CircleBadge.test.tsx.snap
  packages/react/src/CircleOcticon/CircleOcticon.test.tsx
  packages/react/vitest.config.mts
Labels: skip changeset, integration-tests: recommended

#6036 fix(Overlay): reset maxheight and maxwidth values when on fullscreen
  .changeset/chilly-candles-flash.md
  packages/react/src/AnchoredOverlay/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/Overlay/Overlay.module.css
Labels: integration-tests: passing, staff

#6053 chore(deps): update @oddbird/popover-polyfill to v0.5.2
  package-lock.json
  packages/react/jest.config.js
  packages/react/package.json
Labels: skip changeset, integration-tests: recommended, staff

#6054 Add support for aria-label on ActionList.Group
  .changeset/funny-pans-sneeze.md
  packages/react/src/ActionList/ActionList.stories.tsx
  packages/react/src/ActionList/Group.test.tsx
  packages/react/src/ActionList/Group.tsx
Labels: integration-tests: failing

#6070 Create copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Labels: skip changeset, staff

#6049 ActionList: Add `role="option"` if `role="listbox"` is present
  .changeset/soft-webs-study.md
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionList.test.tsx
  packages/react/src/ActionList/Item.test.tsx
  packages/react/src/ActionList/Item.tsx
Labels: staff, integration-tests: failing

#6071 docs: add copilot instruction files
  .github/copilot-instructions.md
  .github/instructions/css.instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/typescript-react.instructions.md
Labels: skip changeset, staff

#6075 Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Labels: skip changeset, staff

#6077 Fix `Skeleton` background color
  .changeset/five-pandas-join.md
  packages/react/src/Skeleton/SkeletonBox.module.css
Labels: integration-tests: recommended

#6050 Switch to a CSS based solution for the PageLayout sticky pane
  .changeset/warm-seals-obey.md
  packages/react/src/PageLayout/PageLayout.module.css
  packages/react/src/PageLayout/PageLayout.tsx
  packages/react/src/PageLayout/__snapshots__/PageLayout.test.tsx.snap
  packages/react/src/PageLayout/useStickyPaneHeight.ts
  packages/react/src/SplitPageLayout/__snapshots__/SplitPageLayout.test.tsx.snap
Labels: integration-tests: recommended

#6087 chore: Update devcontainer to allow running vitest
  .devcontainer/devcontainer.json
  package.json
  script/setup
Labels: skip changeset, staff

#6079 chore(deps): add additional groups to dependabot
  .github/dependabot.yml
Labels: skip changeset

#6052 chore(AvatarStack): Remove the CSS module feature flag from the AvatarStack component
  .changeset/loose-adults-thank.md
  packages/react/src/AvatarStack/AvatarStack.tsx
  packages/react/src/AvatarStack/__snapshots__/AvatarStack.test.tsx.snap
  packages/react/src/CircleBadge/__snapshots__/CircleBadge.test.tsx.snap
Labels: integration-tests: passing, staff

#6051 chore(SelectPanel2): Remove the css modules feature flag from the SelectPanel2 experimental component
  .changeset/famous-olives-smoke.md
  packages/react/src/experimental/SelectPanel2/SelectPanel.tsx
Labels: integration-tests: passing, staff

#6100 chore: Remove unused getBreakpointDeclarations function and any related code.
  .changeset/tangy-facts-guess.md
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/utils/getBreakpointDeclarations.ts
  packages/react/src/utils/layout.ts
Labels: integration-tests: recommended, staff

#6095 fix(Button): correct loading alignment
  .changeset/light-pants-listen.md
  packages/react/src/AnchoredOverlay/__snapshots__/AnchoredOverlay.test.tsx.snap
  packages/react/src/Button/ButtonBase.module.css
Labels: integration-tests: passing, integration-tests: recommended, staff

#6096 Addinng more properties to playground story for token & skeletonText
  packages/react/src/Token/Token.features.stories.tsx
  packages/react/src/Token/Token.stories.tsx
  packages/react/src/experimental/Skeleton/SkeletonAvatar.stories.tsx
  packages/react/src/experimental/Skeleton/SkeletonText.stories.tsx
Labels: skip changeset

#6055 DataTable: Add `outline-offset` to `DataTable` pagination buttons
  .changeset/fine-impalas-eat.md
  packages/react/src/DataTable/Pagination.tsx
Labels: integration-tests: recommended, staff

#6114 Improvement to storybook stories
  packages/react/src/Banner/Banner.stories.tsx
  packages/react/src/Label/Label.stories.tsx
  packages/react/src/experimental/IssueLabel/IssueLabel.stories.tsx
Labels: skip changeset

#6112 Update tests from Jest to Vitest
  packages/react/config/vitest/setup.ts
  packages/react/jest.config.js
  packages/react/src/ProgressBar/ProgressBar.test.tsx
  packages/react/src/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
  packages/react/src/Radio/Radio.test.tsx
  packages/react/src/RadioGroup/RadioGroup.test.tsx
  packages/react/src/RelativeTime/RelativeTime.test.tsx
  packages/react/src/ScrollableRegion/ScrollableRegion.test.tsx
  packages/react/src/Textarea/Textarea.test.tsx
  packages/react/vitest.config.mts
Labels: skip changeset, integration-tests: recommended, staff

#6113 add new line of CSS to separate underline from hover event
  .changeset/clean-dolls-build.md
  packages/react/src/internal/components/UnderlineTabbedInterface.module.css
Labels: integration-tests: passing, integration-tests: recommended

#6126 chore(deps): update eslint and related deps to v9
  .eslintignore
  .eslintrc.js
  e2e/components/ActionList.test.ts
  eslint.config.mjs
  examples/nextjs/package.json
  examples/theming/package.json
  package-lock.json
  package.json
  packages/postcss-preset-primer/src/index.js
  packages/react/.storybook/main.ts
  packages/react/.storybook/src/accessibility-tool.tsx
  packages/react/.storybook/theme.js
  packages/react/src/ActionBar/ActionBar.examples.stories.tsx
  packages/react/src/ActionBar/ActionBar.tsx
  packages/react/src/ActionList/ActionList.dev.stories.tsx
  packages/react/src/ActionList/ActionList.features.stories.tsx
  packages/react/src/ActionList/ActionListContainerContext.tsx
  packages/react/src/ActionList/Item.tsx
  packages/react/src/ActionMenu/ActionMenu.examples.stories.tsx
  packages/react/src/BranchName/BranchName.tsx
  packages/react/src/BranchName/__tests__/BranchName.types.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/NavList/NavList.tsx
  packages/react/src/Overlay/Overlay.tsx
  packages/react/src/PageLayout/PageLayout.tsx
  packages/react/src/ProgressBar/ProgressBar.tsx
  packages/react/src/ThemeProvider.tsx
  packages/react/src/TooltipV2/Tooltip.tsx
  packages/react/src/TreeView/TreeView.tsx
  packages/react/src/__tests__/deprecated/ActionMenu.test.tsx
  packages/react/src/__tests__/storybook.test.tsx
  packages/react/src/experimental/Skeleton/Skeleton.examples.stories.tsx
  packages/react/src/polyfills/eventListenerSignal.ts
  packages/react/src/utils/create-component.ts
  packages/react/src/utils/test-deprecations.tsx
  packages/react/src/utils/test-helpers.tsx
  packages/react/src/utils/testing.tsx
  packages/react/src/utils/types/Merge.ts
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
Labels: skip changeset, integration-tests: recommended

#6143 fix(Select): passthrough defaultValue
  packages/react/src/Select/Select.tsx
Labels: skip changeset, integration-tests: passing

#6139 fix(SelectPanel): update input fontSize to 16 on small viewports on iOS
  .changeset/mean-parrots-heal.md
  package-lock.json
  packages/react/src/FilteredActionList/FilteredActionList.module.css
  packages/react/src/FilteredActionList/FilteredActionListWithModernActionList.tsx
  packages/react/src/SelectPanel/SelectPanel.tsx
Labels: integration-tests: passing, staff

#6125 fix(DataTable): fix page number bug
  .changeset/thick-days-fly.md
  packages/react/src/DataTable/Pagination.tsx
  packages/react/src/DataTable/__tests__/Pagination.test.tsx
Labels: integration-tests: passing, staff

#6141 Remove explicit npm version from package.json
  package.json
Labels: skip changeset, staff

#6136 docs: update testing docs for vrt
  contributor-docs/storybook-tests.md
  contributor-docs/testing.md
Labels: skip changeset

#6142 chore: update storybook config to work with local dev
  package-lock.json
  packages/react/.storybook/main.ts
Labels: skip changeset, integration-tests: recommended

#6146 ActionList: Add `aria-describedby` back to `ActionList.Item`
  .changeset/hip-snakes-pay.md
  packages/react/src/ActionList/Item.test.tsx
  packages/react/src/ActionList/Item.tsx
Labels: integration-tests: recommended, staff
